.share-dialog-with-qr-code {
  height: auto;
  max-width: 652px;
}

.share-dialog-with-qr-code .share-item {
  width: calc(100% - 198px);
  padding: 0 16px;
  border-right: 1px solid #e9ecef;
}

.share-dialog-with-qr-code .share-item .share-item-inner {
  display: flex;
  height: 60px;
  line-height: 60px;
  align-items: center;
}

.share-dialog-with-qr-code .share-item .share-item-inner-icon {
  font-size: 20px;
  color: #999;
}

.share-dialog-with-qr-code .share-item .share-copy-link {
  width: 100%;
  border: 1px solid #e0e1e4;
  background-color: #FAFAFA;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.share-dialog-with-qr-code .share-item .share-link-text {
  display: inline-block;
  width: 100%;
}

.share-dialog-with-qr-code .share-qrcode {
  height: 100%;
  width: 198px;
  padding: 30px 10px;
}

.share-dialog-with-qr-code .share-qrcode .share-qrcode-content {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #e9ecef;
  padding: 9px;
}

@media (max-width: 767px) {
  .share-dialog-with-qr-code .share-qrcode {
    width: 100%;
    padding: 1rem;
  }

  .share-dialog-with-qr-code .share-qrcode .share-qrcode-content {
    height: 200px;
    width: 200px;
  }

  .share-dialog-with-qr-code .modal-title {
    display: flex;
    align-items: center;
    max-width: calc(100% - 30px);
  }

  .share-dialog-with-qr-code .modal-title .dtable-font {
    color: #999;
    font-size: 24px;
  }

  .share-dialog-with-qr-code .modal-header .close {
    padding: 24px 1rem;
  }

  .share-dialog-with-qr-code .share-qrcode-qrtext {
    color: #999;
  }

  .share-dialog-with-qr-code .share-qrcode-name {
    color: #666;
  }
}
