.seaqa-ai-chat-attachment {
  height: 36px;
  max-width: 240px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 8px;
  background-color: #F7F7F5;
  flex-shrink: 0;
  cursor: pointer;
}

.seaqa-ai-chat-attachment.seaqa-ai-chat-attachment-remove-able {
  padding-right: 6px;
}

.seaqa-ai-chat-attachment .seaqa-project-ai-attachment-icon {
  color: var(--bs-icon-color);
}

.seaqa-ai-chat-attachment .seaqa-project-ai-attachment-icon.seaqa-project-ticket-state-circle-check-icon {
  color: var(--ticket-open-color);
}

.seaqa-ai-chat-attachment .seaqa-project-ai-attachment-icon.seaqa-project-ticket-state-circle-dot-icon {
  color: var(--ticket-close-color);
}

.seaqa-ai-chat-attachment .seaqa-ai-chat-attachment-remove-btn {
  display: flex;
  margin-left: 10px;
}

.seaqa-ai-chat-attachment .seaqa-ai-chat-attachment-remove-btn .seaqa-icon-svg,
.seaqa-ai-chat-attachment .seaqa-ai-chat-attachment-remove-btn:hover .seaqa-icon-svg {
  color: var(--bs-icon-color) !important;
}

.seaqa-ai-chat-attachment .seaqa-ai-chat-attachment-remove-btn:hover {
  background-color: var(--option-bg-color);
}

.seaqa-ai-chat-attachment .seaqa-ai-chat-attachment-remove-btn .seaqa-icon-svg {
  margin-top: 0;
}
