.seaqa-customize-select.seaqa-ai-chat-selector-display {
  height: 36px;
  max-width: 100%;
  width: fit-content;
  padding: 0 0.75rem;
  background-image: none;
  border-radius: 8px;
  color: var(--bs-body-color);
}

.seaqa-customize-select.seaqa-ai-chat-selector-display:not(.border) {
  border: none;
}

.seaqa-customize-select.seaqa-ai-chat-selector-display.bg-color {
  background-color: var(--bs-body-third-bg);
}

.seaqa-customize-select.seaqa-ai-chat-selector-display:hover {
  background-color: var(--option-bg-color);
}

.seaqa-customize-select.seaqa-ai-chat-selector-display:not(.border):hover {
  background-color: #EDEDEB;
}

.seaqa-customize-select.seaqa-ai-chat-selector-display.highlight {
  max-height: unset;
  min-height: unset;
  margin: 0;
  background-color: rgba(237, 113, 9, 0.05);
  border-color: var(--bs-sf-orange) !important;
  color: var(--bs-sf-orange);
}

.seaqa-customize-select.seaqa-ai-chat-selector-display.highlight .seaqa-icon-svg {
  color: inherit !important;
}

.seaqa-customize-select.seaqa-ai-chat-selector-display .selected-option {
  background-color: transparent;
  gap: 8px;
}

.seaqa-customize-select.seaqa-ai-chat-selector-display .selected-option .seaqa-icon-svg {
  height: 14px !important;
  width: 14px !important;
  color: var(--bs-icon-color);
}

.seaqa-customize-select.seaqa-ai-chat-selector-display .selected-option .selected-option-show {
  font-size: 14px;
}
