.dtable-am-list-header .mobile-common-view-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.dtable-am-list-header .mobile-common-view-header .mobile-common-view-header-btn {
  min-width: 75px;
  padding: 13px 16px;
  line-height: 24px;
}

.dtable-am-list-header .mobile-common-view-header .mobile-common-view-header-btn:first-child {
  text-align: left;
}

.dtable-am-list-header .mobile-common-view-header .mobile-common-view-header-btn:last-child {
  text-align: right;
}

.dtable-am-list-header .mobile-common-view-header .mobile-common-view-header-title {
  margin-bottom: 0;
  color: #212529;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* right ... popover */
.dtable-antd-mobile.am-popover .am-popover-item .am-popover-item-container {
  height: 2.75rem;
  padding: 0 0.5rem;
  display: block;
  line-height: 44px;
}

.dtable-antd-mobile.am-popover .am-popover-item .am-popover-item-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #666;
  line-height: 44px;
}

.dtable-antd-mobile.am-popover .am-popover-item .am-popover-item-content {
  color: #212529;
  font-size: 16px;
}

.dtable-antd-mobile.am-popover .am-popover-item .am-popover-item-container {
  height: 2.75rem;
  padding: 0 0.5rem;
  display: block;
  line-height: 44px;
}

.mobile-common-view-header-btn .mobile-header-tools-icon .am-icon {
  fill: #666666;
}
