.project-center .project-org-title {
  width: 100%;
  min-height: 38px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: row;
}

.project-center .project-org-title.project-mobile-org-title {
  padding: 0 16px;
}

.project-center .project-org-title .project-org-icon {
  color: #999;
}

.project-center .project-org-title .project-org-name {
  max-width: calc(100% - 36px);
  margin: 0 8px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline;
  font-size: 20px;
}
