.project-center .project-org-title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid var(--bs-border-secondary-color);
  min-height: 56px;
}

.project-center .project-org-title.project-mobile-org-title {
  padding: 0 16px;
}

.project-center .project-org-title .project-org-icon {
  color: #999;
}

.project-center .project-org-title .project-org-name {
  max-width: calc(100% - 36px);
  margin: 0;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline;
  font-size: 18px;
}

.project-org-title-btn {
  color: #ED7109;
  font-weight: 400;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

.project-org-title-btn:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
