.seaqa-ai-side-panel-chat {
  overflow-y: hidden;
  flex: unset;
  height: 100%;
  background-color: var(--bs-body-bg);
  border-left: 1px solid var(--bs-border-secondary-color);
}

.seaqa-ai-side-panel-chat .seaqa-ai-ask-chats-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 0 0 16px ;
  border-bottom: 1px solid var(--bs-border-secondary-color);
  gap: 16px;
}

.seaqa-ai-side-panel-chat .seaqa-ai-ask-chats-header .chat-header-title-content {
  font-weight: 400;
}

.seaqa-ai-side-panel-chat.s .seaqa-ai-ask-chats {
  width: 100%;
  padding: 16px;
}

.seaqa-ai-side-panel-chat .resize-bar {
  position: absolute;
  top: 0;
  height: 100%;
}

.seaqa-ai-side-panel-chat .resize-bar-content {
  background-color: inherit;
}
