.seaqa-customize-tabs {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 40px;
  flex-shrink: 0;
}

.seaqa-customize-tabs .seaqa-customize-tab {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}

.seaqa-customize-tabs .seaqa-customize-tab.active {
  color: var(--bs-sf-orange);
  font-weight: 500;
  position: relative;
}

.seaqa-customize-tabs .seaqa-customize-tab.active::before {
  background-color: var(--bs-sf-orange-light);
  bottom: -5px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
