.sea-tickets-customize-tabs {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 40px;
  padding: 0px 8px;
}

.sea-tickets-customize-tabs .sea-tickets-customize-tab {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 14px;
  padding: 0px 8px;
  cursor: pointer;
}

.sea-tickets-customize-tabs .sea-tickets-customize-tab:not(.active):hover {
  background-color: var(--option-bg-color);
  border-radius: 4px;
}

.sea-tickets-customize-tabs .sea-tickets-customize-tab.active {
  color: #ed7109;
  font-weight: 500;
  position: relative;
}

.sea-tickets-customize-tabs .sea-tickets-customize-tab.active::before {
  background-color: #ff8000;
  bottom: -5px;
  content: "";
  height: 2px;
  left: 8px;
  position: absolute;
  width: calc(100% - 16px);
}
