.sea-qa-icon-svg-down {
  height: 12px !important;
  width: 12px !important;
}

.sea-qa-dropdown-menu .toggle-icon {
  color: #999;
}

.sea-qa-dropdown-menu .toggle-icon:hover {
  color: #555;
}

.sea-qa-dropdown-menu .dropdown-item {
  cursor: pointer;
  height: 32px;
  line-height: 1.5;
  min-width: 200px;
  padding: .25rem 1rem;
  pointer-events: unset;
}

.sea-qa-dropdown-menu .dropdown-item .item-icon {
  color: #8c8c8c;
  font-size: 14px;
  margin-right: 10px;
}

.sea-qa-dropdown-menu .dropdown-item svg.item-icon {
  height: 14px;
  width: 14px;
  margin-top: -2px;
}

.sea-qa-dropdown-menu .dropdown-item:focus .item-icon,
.sea-qa-dropdown-menu .dropdown-item:hover .item-icon {
  color: #fff;
}

.sea-qa-sub-dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sea-qa-dropdown-menu .dropdown-toggle .item-text,
.sea-qa-sub-dropdown-toggle .item-text {
  display: inline-block;
  width: calc(100% - 30px);
}

.sea-qa-dropdown-menu .dropdown-toggle:after {
  color: #8c8c8c;
}

.sea-qa-dropdown-menu .dropdown-toggle:hover:after {
  color: #fff;
}

.sea-qa-dropdown-menu .dropdown-item.disabled,
.sea-qa-dropdown-menu .dropdown-item.disabled .item-icon,
.sea-qa-dropdown-menu .dropdown-item.disabled .sea-qa-icon-svg,
.sea-qa-dropdown-menu .dropdown-item.disabled:hover .item-icon {
  color: #c2c2c2;
}

.sea-qa-dropdown-menu .dropdown-item.disabled:hover,
.sea-qa-dropdown-menu .dropdown-item.disabled:hover .sea-qa-icon-svg {
  background-color: unset;
  color: #c2c2c2;
  cursor: default;
}

.sea-qa-dropdown-menu .no-options {
  color: #c2c2c2;
  min-height: 32px;
}

.sea-qa-icon-btn {
  align-items: center;
  border-radius: 3px;
  color: #666;
  display: flex;
  font-size: 14px;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.sea-qa-icon-btn:not(.disabled):not(.no-hover-bg):hover {
  background-color: var(--bs-hover-bg);
  cursor: pointer;
}

.sea-qa-icon-btn.bg-color-deep.bg-color-deep-keep,
.sea-qa-icon-btn.bg-color-deep:not(.disabled):hover {
  background-color: #e5e5e5;
}

.sea-qa-icon-btn .sea-qa-icon,
.sea-qa-icon-btn .sea-qa-icon-svg {
  color: #666;
}

.sea-qa-icon-btn.disabled .sea-qa-icon,
.sea-qa-icon-btn.disabled .sea-qa-icon-svg {
  color: #bdbdbd;
}

.sea-qa-tip-default {
  color: #666;
  font-size: 13px;
}

.sea-qa-tip-large {
  color: #666;
  font-size: 14px;
}

.sea-qa-tip-danger {
  color: #f25041;
  font-size: 13px;
}

.am-action-sheet-button-list-item .my-am-action.disabled,
.am-action-sheet-button-list-item .my-am-action.disabled .sea-qa-icon-svg {
  color: #c2c2c2;
}

.sea-qa-icon-orange {
  color: #ed7109 !important;
  fill: #ed7109 !important;
}

.sea-qa-text-orange {
  color: #ed7109 !important;
}

.sea-qa-bg-orange {
  background-color: #ed7109 !important;
}

.sea-qa-border-color-orange {
  border: #ed7109 !important;
}

.sea-qa-table-header-sm {
  font-size: 13px;
}

.sea-qa-input-subtitle {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.sea-qa-log-new-value {
  background-color: #cef5d2;
}

.sea-qa-log-old-value {
  background-color: #ffd4df;
  text-decoration: line-through .5px;
}

.icon-color-white {
  color: #ffffff !important;
}

.tip-default {
  color: #666;
  font-size: 13px;
}

.form-control {
  color: #212529;
  height: 38px;
}

.flex-1 {
  flex: 1;
}

.d-center-middle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate-icon-90 .sea-qa-icon-svg {
  transform: rotate(90deg);
}

.rotate-icon-180 .sea-qa-icon-svg {
  transform: rotate(180deg);
}

.rotate-icon-270 .sea-qa-icon-svg {
  transform: rotate(270deg);
}

.sea-qa-icon-svg.sea-qa-icon-svg-priority-01 {
  color: #ff8000 !important;
}

.sea-qa-icon-svg.sea-qa-icon-svg-priority-02,
.sea-qa-icon-svg.sea-qa-icon-svg-priority-03,
.sea-qa-icon-svg.sea-qa-icon-svg-priority-04 {
  color: var(--bs-body-color) !important;
}
