.sea-qa-icon-svg-arrow-down-b,
.sea-qa-icon-svg-arrow-down {
  height: 12px !important;
  width: 12px !important;
}

.sea-qa-dropdown-menu {
  margin-top: 8px;
}

.sea-qa-dropdown-menu .toggle-icon {
  color: #999;
}

.sea-qa-dropdown-menu .toggle-icon:hover {
  color: #555;
}

.sea-qa-dropdown-menu .dropdown-item svg.item-icon {
  height: 14px;
  width: 14px;
  margin-top: -2px;
  margin-left: 4px;
}

.sea-qa-sub-dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sea-qa-dropdown-menu .dropdown-toggle .item-text,
.sea-qa-sub-dropdown-toggle .item-text {
  display: inline-block;
  width: calc(100% - 30px);
}

.sea-qa-dropdown-menu .dropdown-toggle:hover:after {
  color: #fff;
}

.sea-qa-dropdown-menu .dropdown-item.disabled,
.sea-qa-dropdown-menu .dropdown-item.disabled .item-icon,
.sea-qa-dropdown-menu .dropdown-item.disabled .sea-qa-icon-svg,
.sea-qa-dropdown-menu .dropdown-item.disabled:hover .item-icon {
  color: #c2c2c2;
}

.sea-qa-dropdown-menu .dropdown-item.disabled:hover,
.sea-qa-dropdown-menu .dropdown-item.disabled:hover .sea-qa-icon-svg {
  background-color: unset;
  color: #c2c2c2;
  cursor: default;
}

.sea-qa-dropdown-menu .no-options {
  color: #c2c2c2;
  min-height: 32px;
}

.sea-qa-icon-btn {
  font-size: 14px;
  width: 24px;
  height: 24px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #666;
}

.sea-qa-icon-btn:not(.disabled):not(.no-hover-bg).active,
.sea-qa-icon-btn:not(.disabled):not(.no-hover-bg):active,
.sea-qa-icon-btn:not(.disabled):not(.no-hover-bg):hover {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
}

.sea-qa-icon-btn.bg-color-deep.bg-color-deep-keep,
.sea-qa-icon-btn.bg-color-deep:not(.disabled):hover {
  background-color: #e5e5e5;
}

.sea-qa-icon-btn .sea-qa-icon,
.sea-qa-icon-btn .sea-qa-icon-svg {
  color: var(--bs-icon-color);
}

.sea-qa-icon-btn.disabled .sea-qa-icon,
.sea-qa-icon-btn.disabled .sea-qa-icon-svg {
  color: #bdbdbd;
}

.sea-qa-tip-default {
  color: #666;
  font-size: 13px;
}

.sea-qa-tip-large {
  color: #666;
  font-size: 14px;
}

.sea-qa-tip-danger {
  color: #f25041;
  font-size: 13px;
}

.am-action-sheet-button-list-item .my-am-action.disabled,
.am-action-sheet-button-list-item .my-am-action.disabled .sea-qa-icon-svg {
  color: #c2c2c2;
}

.sea-qa-icon-orange {
  color: #ed7109 !important;
  fill: #ed7109 !important;
}

.sea-qa-text-orange {
  color: #ed7109 !important;
}

.sea-qa-bg-orange {
  background-color: #ed7109 !important;
}
 
.sea-qa-bg-grey {
  background-color: #ededea !important;
}

.sea-qa-border-color-orange {
  border: #ed7109 !important;
}

.sea-qa-table-header-sm {
  font-size: 13px;
}

.sea-qa-input-subtitle {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.sea-qa-log-new-value {
  background-color: #cef5d2;
}

.sea-qa-log-old-value {
  background-color: #ffd4df;
  text-decoration: line-through .5px;
}

.icon-color-white {
  color: #ffffff !important;
}

.tip-default {
  color: #666;
  font-size: 13px;
}

.form-control {
  color: var(--bs-body-color);
  border: 1px solid var(--bs-border-color);
  height: 38px;
}

.flex-1 {
  flex: 1;
}

.d-center-middle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate-icon-90 .sea-qa-icon-svg,
.rotate-90 {
  transform: rotate(90deg);
}

.rotate-icon-180 .sea-qa-icon-svg,
.rotate-180 {
  transform: rotate(180deg);
}

.rotate-icon-270 .sea-qa-icon-svg,
.rotate-270 {
  transform: rotate(270deg);
}

.sea-qa-icon-svg.sea-qa-icon-svg-priority-01 {
  color: #ff8000 !important;
}

.sea-qa-icon-svg.sea-qa-icon-svg-priority-02,
.sea-qa-icon-svg.sea-qa-icon-svg-priority-03,
.sea-qa-icon-svg.sea-qa-icon-svg-priority-04 {
  color: var(--bs-body-color) !important;
}

.submit-btn {
  display: flex;
  align-items: center;
}

.submit-btn .sea-qa-loading-tip {
  height: 14px;
  width: 14px;
}

/* scrollbar style */
* {
  scrollbar-color: #C1C1C1 rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A1A1A1;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/* cover seafile-calendar default style */
.sea-ticket-calendar.rc-calendar {
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
}

.sea-ticket-calendar .rc-calendar-day-select:hover {
  cursor: pointer;
  color: #FF8000;
}
.sea-ticket-calendar .rc-calendar-selected-date .rc-calendar-date {
  background: #FF8000;
  border-radius: 50%;
  color: #fff;
}

.sea-ticket-calendar .rc-calendar-selected-date .rc-calendar-date:hover {
  background: #FF8000;
  border-radius: 50%;
}

.sea-ticket-calendar .rc-calendar-today .rc-calendar-date {
  border: 1px solid #FF8000;
  border-radius: 50%;
}

.sea-ticket-calendar .rc-calendar-right-panel-item-selected,
.sea-ticket-calendar .rc-calendar-right-panel-item-selected:hover {
  background: #FF8000;
  border-radius: 4px;
  color: #fff;
}

.sea-ticket-calendar .rc-calendar-time-picker-btn:hover {
  cursor: pointer;
  color: #FF8000;
}

.sea-ticket-calendar .rc-calendar-month-panel-year-select:hover,
.sea-ticket-calendar .rc-calendar-year-panel-decade-select:hover {
  color: #FF8000;
}

.sea-ticket-calendar .rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade:hover,
.sea-ticket-calendar .rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade,
.sea-ticket-calendar .rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month:hover,
.sea-ticket-calendar .rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month,
.sea-ticket-calendar .rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year:hover,
.sea-ticket-calendar .rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year {
  background: #FF8000;
  color: #fff;
}

.sea-ticket-calendar .rc-calendar-today-btn,
.sea-ticket-calendar .rc-calendar-right-panel-header,
.sea-ticket-calendar .rc-calendar-header > a,
.sea-ticket-calendar .rc-calendar-year-select,
.sea-ticket-calendar .rc-calendar-month-select,
.sea-ticket-calendar .rc-calendar-day-select {
  font-family: var(--bs-body-font-family);
  font-weight: 500;
}

.sea-ticket-calendar .rc-calendar-year-select:hover,
.sea-ticket-calendar .rc-calendar-month-select:hover,
.sea-ticket-calendar .rc-calendar-day-select:hover {
  color: #E16B09;
}

body {
  --option-bg-color: rgba(0, 0, 0, 0.04);
  --btn-hover-bg-color: rgba(0, 0, 0, 0.04);
}

.popover {
  filter: none !important;
  background-color: #fff !important;
  border: 1px solid var(--bs-border-secondary-color) !important;
  border-radius: 8px !important;
  box-shadow: 0 6px 14px rgba(000, 000, 000, 0.1) !important;
}

.popover-radius-4 .popover {
  border-radius: 4px !important;
}
