.seaqa-icon-svg-arrow-down-b,
.seaqa-icon-svg-arrow-down {
  height: 12px !important;
  width: 12px !important;
}

.seaqa-icon-btn {
  font-size: 14px;
  width: 24px;
  height: 24px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #666;
}

.seaqa-icon-btn:not(.disabled):not(.no-hover-bg).active,
.seaqa-icon-btn:not(.disabled):not(.no-hover-bg):active,
.seaqa-icon-btn:not(.disabled):not(.no-hover-bg):hover {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
}

.seaqa-icon-btn.bg-color-deep.bg-color-deep-keep,
.seaqa-icon-btn.bg-color-deep:not(.disabled):hover {
  background-color: #e5e5e5;
}

.seaqa-icon-btn .seaqa-icon,
.seaqa-icon-btn .seaqa-icon-svg {
  color: var(--bs-icon-color);
}

.seaqa-icon-btn.disabled .seaqa-icon,
.seaqa-icon-btn.disabled .seaqa-icon-svg {
  color: #bdbdbd;
}

.seaqa-table-header-sm {
  font-size: 13px;
}

.seaqa-input-subtitle {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.seaqa-log-new-value {
  background-color: #cef5d2;
}

.seaqa-log-old-value {
  background-color: #ffd4df;
  text-decoration: line-through .5px;
}

.seaqa-icon-svg.seaqa-icon-svg-priority-01 {
  color: #ff8000 !important;
}

.seaqa-icon-svg.seaqa-icon-svg-priority-02,
.seaqa-icon-svg.seaqa-icon-svg-priority-03,
.seaqa-icon-svg.seaqa-icon-svg-priority-04 {
  color: var(--bs-body-color) !important;
}

.submit-btn {
  display: flex;
  align-items: center;
}

.submit-btn .seaqa-loading-tip {
  height: 14px;
  width: 14px;
}

/* scrollbar style */
* {
  scrollbar-color: #C1C1C1 rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A1A1A1;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/* cover seafile-calendar default style */
.sea-ticket-calendar.rc-calendar {
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
}

.sea-ticket-calendar .rc-calendar-day-select:hover {
  cursor: pointer;
  color: #FF8000;
}
.sea-ticket-calendar .rc-calendar-selected-date .rc-calendar-date {
  background: #FF8000;
  border-radius: 50%;
  color: #fff;
}

.sea-ticket-calendar .rc-calendar-selected-date .rc-calendar-date:hover {
  background: #FF8000;
  border-radius: 50%;
}

.sea-ticket-calendar .rc-calendar-today .rc-calendar-date {
  border: 1px solid #FF8000;
  border-radius: 50%;
}

.sea-ticket-calendar .rc-calendar-right-panel-item-selected,
.sea-ticket-calendar .rc-calendar-right-panel-item-selected:hover {
  background: #FF8000;
  border-radius: 4px;
  color: #fff;
}

.sea-ticket-calendar .rc-calendar-time-picker-btn:hover {
  cursor: pointer;
  color: #FF8000;
}

.sea-ticket-calendar .rc-calendar-month-panel-year-select:hover,
.sea-ticket-calendar .rc-calendar-year-panel-decade-select:hover {
  color: #FF8000;
}

.sea-ticket-calendar .rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade:hover,
.sea-ticket-calendar .rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade,
.sea-ticket-calendar .rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month:hover,
.sea-ticket-calendar .rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month,
.sea-ticket-calendar .rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year:hover,
.sea-ticket-calendar .rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year {
  background: #FF8000;
  color: #fff;
}

.sea-ticket-calendar .rc-calendar-today-btn,
.sea-ticket-calendar .rc-calendar-right-panel-header,
.sea-ticket-calendar .rc-calendar-header > a,
.sea-ticket-calendar .rc-calendar-year-select,
.sea-ticket-calendar .rc-calendar-month-select,
.sea-ticket-calendar .rc-calendar-day-select {
  font-family: var(--bs-body-font-family);
  font-weight: 500;
}

.sea-ticket-calendar .rc-calendar-year-select:hover,
.sea-ticket-calendar .rc-calendar-month-select:hover,
.sea-ticket-calendar .rc-calendar-day-select:hover {
  color: #E16B09;
}

body {
  --option-bg-color: rgba(0, 0, 0, 0.04);
  --btn-hover-bg-color: rgba(0, 0, 0, 0.04);
}
