@import url('./seatable-ui.css');
@import url('./dtable-font.css');
@import url('./print-cell-value-formatter.css');

* {
  -webkit-print-color-adjust: exact;
}

@page {
  size: unset !important;
  margin: 0.5in !important;
}

.dtable-print-row-container {
  height: 100%;
  width: 100%;
}

.dtable-print-row-container .print-row-compact-table {
  font-size: 18px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-top: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
}

.dtable-print-row-container .border-bottom {
  border-bottom: 1px solid #b2b2b2 !important;
}

.dtable-print-row-container .border-left {
  border-left: 1px solid #b2b2b2 !important;
}

.dtable-print-row-container .text-blod {
  font-weight: 600;
}

.dtable-print-row-container thead th {
  padding: 0;
}

.dtable-print-row-container th,
.dtable-print-row-container td {
  padding: 4px 8px;
}

.dtable-print-row-container .column-name {
  background-color: #f5f5f5;
}

.dtable-print-row-container .column-name-content {
  display: inline-block;
  width: calc(100% - 16px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dtable-print-row-container .dtable-print-react-grid-Cell .grid-cell-type-number,
.dtable-print-row-container .dtable-print-react-grid-Cell .grid-cell-type-date {
  text-align: left;
}

.dtable-print-row-container .dtable-print-react-grid-Cell .checkbox {
  margin-left: 12px;
}

.dtable-print-row-container .links-formatter .formatter-show,
.dtable-print-row-container .multiple-selects-formatter .formatter-show,
.dtable-print-row-container .file-editor-formatter,
.dtable-print-row-container .image-formatter,
.dtable-print-row-container .collaborators-formatter .formatter-show {
  flex-wrap: wrap;
}

.dtable-print-row-container .links-formatter .link,
.dtable-print-row-container .multiple-selects-formatter .multiple-select,
.dtable-print-row-container .file-editor-formatter img,
.dtable-print-row-container .image-formatter img,
.dtable-print-row-container .collaborators-formatter .collaborator {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dtable-print-row-container .longtext-formatter {
  max-width: 100% !important;
}

.dtable-print-row-container .grid_cell_type_single-select {
  line-height: 20px;
}

.dtable-print-row-container .link-name {
  font-size: 14px;
}