@import url('./seatable-ui.css');
@import url('./print-cell-value-formatter.css');
@import url('./dtable-font.css');

* {
  -webkit-print-color-adjust: exact;
}

.print-view-item {
  margin-top: 16px;
}

.print-view-item:first-child {
  margin-top: 0px;
}

.dtable-print-container {
  margin: 0 2px;
}

.dtable-print-container .print-view-name {
  margin-bottom: 24px !important;
}

.dtable-print-container .border-bottom {
  border-bottom: 1px solid #b2b2b2 !important;
}

.dtable-print-container .border-left {
  border-left: 1px solid #b2b2b2 !important;
}

.dtable-print-container .text-bold {
  font-weight: 600;
}

.dtable-print-container .dtable-print-react-grid-Cell {
  display: flex;
  width: 100%;
  font-size: inherit !important;
}

.dtable-print.row-height-32 .dtable-print-react-grid-Cell {
  align-items: center;
}

.dtable-print.row-height-56 .dtable-print-react-grid-Cell,
.dtable-print.row-height-88 .dtable-print-react-grid-Cell,
.dtable-print.row-height-128 .dtable-print-react-grid-Cell {
  align-items: flex-start;
}

.dtable-print-container .dtable-print-th,
.dtable-print-container .dtable-print-th .dtable-font {
  font-weight: 400;
  font-size: inherit !important;
}

.dtable-print-container .dtable-print-ellipsis,
.dtable-print-container .dtable-print-ellipsis div[class^="grid_cell_type_"],
.dtable-print-container .dtable-print-ellipsis div[class^="grid-cell-type-"],
.dtable-print-container .dtable-print-ellipsis .longtext-formatter {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dtable-print-container.row-height-56 .dtable-print-ellipsis .longtext-formatter,
.dtable-print-container.row-height-88 .dtable-print-ellipsis .longtext-formatter,
.dtable-print-container.row-height-128 .dtable-print-ellipsis .longtext-formatter {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.dtable-print-container.row-height-56 .dtable-print-ellipsis .longtext-formatter {
  line-height: 1.5;
  -webkit-line-clamp: 2;
}

.dtable-print-container.row-height-88 .dtable-print-ellipsis .longtext-formatter {
  line-height: 1.4;
  -webkit-line-clamp: 4;
}

.dtable-print-container.row-height-128 .dtable-print-ellipsis .longtext-formatter {
  line-height: 1.4;
  -webkit-line-clamp: 6;
}


.dtable-print-container .dtable-print-nowrap {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}

.dtable-print-container .dtable-print-nowrap .collaborator-name,
.dtable-print-container .dtable-print-nowrap .grid_cell_type_single-select,
.dtable-print-container .dtable-print-nowrap .multiple-select {
  white-space: nowrap;
}

.dtable-print-container .dtable-print-nowrap .multiple-selects-formatter .formatter-show,
.dtable-print-container .dtable-print-nowrap .collaborators-formatter .formatter-show,
.dtable-print-container .dtable-print-nowrap .links-formatter .formatter-show {
  max-height: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.dtable-print-container .dtable-print-nowrap .multiple-select,
.dtable-print-container .dtable-print-nowrap .collaborator,
.dtable-print-container .dtable-print-nowrap .link {
  margin-top: 3px;
  margin-bottom: 3px;
}

.dtable-print-container .dtable-print-nowrap .multiple-select:last-child,
.dtable-print-container .dtable-print-nowrap .collaborator:last-child,
.dtable-print-container .dtable-print-nowrap .link:last-child {
  margin-bottom: 0;
}

/* table */
.dtable-print-container .print-table {
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
}

.dtable-print-container th, 
.dtable-print-container td {
  padding: 0 8px;
}

.dtable-print-container .dtable-header-tr {
  display: table-row;
  justify-content: flex-start;
  align-items: center;
}

.dtable-print-container .dtable-print-th.fit-to-width {
  flex: 1;
}

/* group header */
.dtable-print-container .dtable-print-group-header {
  background-color: #f3f3f3;
}

.dtable-print-container .dtable-print-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dtable-print-container .dtable-print-group-title {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dtable-print-container .dtable-print-group-title .checkbox {
  margin-left: 0;
  margin-top: 3px;
  transform: translate(1px);
}

.dtable-print-container .dtable-print-group-title .grid_cell_type_single-select {
  width: fit-content;
}

.dtable-print-container .dtable-print-group-title .multiple-selects-formatter .formatter-show,
.dtable-print-container .dtable-print-group-title .collaborators-formatter .formatter-show,
.dtable-print-container .dtable-print-group-title .links-formatter .formatter-show {
  flex-wrap: nowrap !important;
}

.dtable-print-container .dtable-print-group-column-name {
  max-width: 110px;
}

.dtable-print-container .dtable-print-group-count {
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
}

.dtable-print-container .dtable-print-checkbox-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dtable-print-container .dtable-print-checkbox-container .dtable-print-grid-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dtable-print-container .dtable-print-checkbox-check-mark {
  font-size: 14px;
  color: #20C933;
  font-weight: 600;
}
