/******* tags **********/
html,
body {
  overflow: hidden;
  height: 100%;
}

body,
ul,
ol,
li,
dl,
dt,
dd,
pre,
blockquote,
form,
input,
textarea,
select,
button,
img {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
button,
select {
  font-size: 13px;
  line-height: 1.5;
  word-wrap: break-word;
  color: var(--bs-body-color);
}

input,
button,
select {
  line-height: 19px;
  /*for ff*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  /* overwrite bootstrap */
}

h1 {
  font-size: 1.9em;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  color: var(--bs-body-color);
}

h4 {
  font-size: 1.1em;
  font-weight: normal;
  color: var(--bs-body-color);
}

h5,
h6 {
  font-size: 1em;
}

ul {
  list-style: none;
}

dl {
  margin: 1.5em 0;
}

dt {
  margin: 24px 0 2px;
  font-weight: normal;
  color: var(--bs-sf-grey-text);
}

dd {
  margin-bottom: 0.8em;
  color: var(--bs-body-color);
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--bs-sf-orange);
}

a.normal {
  font-weight: normal;
}

a:focus,
a:hover {
  color: var(--bs-sf-orange);
}

img {
  border: none;
}

textarea {
  overflow: auto;
  /* rm default vertical scrollbar in ie */
  resize: vertical;
  /* for drag */
  outline: 0;
}

textarea,
input {
  border: 1px solid #ccc;
}

input,
button {
  display: inline-block;
  /*for ie*/
}

select,
button {
  box-sizing: border-box;
}

button,
input[type="submit"],
input[type="button"],
input.submit,
select {
  padding: 5px 6px;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
}

input[type="radio"] {
  border: 0;
  /*for ie*/
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  border-color: #66afe9;
  outline: none;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: #66afe9 auto 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /*for input type="number" in chrome: to hide up/download arrow*/
  margin: 0;
  -webkit-appearance: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  /*Remove button padding in FF*/
  padding: 0;
  border: 0;
}

input[type="submit"],
input.submit,
button.submit {
  margin-top: 8px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
  background: #fff;
  cursor: pointer;
}

input[type="file"] {
  height: 24px;
  border: none;
  line-height: 24px;
}

label {
  display: inline-block;
  margin: 4px 0px;
}

iframe {
  display: block;
  width: 100%;
}

pre,
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

table {
  width: 100%;
  margin: 8px 0 40px;
}

caption {
  margin-bottom: 0.6em;
  font-size: 1.1em;
  font-weight: bold;
}

th {
  font-weight: normal;
  text-align: left;
  color: var(--bs-sf-grey-text);
}

th,
td {
  padding: 5px 3px;
  border-bottom: 1px solid #eee;
}

td {
  font-size: 14px;
  word-break: break-all;
  color: var(--bs-body-color);
  /* mainly for lib/folder/file name */
}

table img {
  vertical-align: middle;
}

/* common */
.show {
  display: block;
}

.errorlist {
  color: red;
}

.tip {
  font-size: 12px;
  color: var(--bs-sf-grey-text);
}

/** for input, textarea in form **/
/* e.g repo-create */
.input,
.textarea {
  width: 260px;
  margin-bottom: 5px;
  padding: 2px 3px;
  border-radius: 2px;
}

input.short-input {
  height: 18px;
  width: 50px;
  margin: 0;
}

.textarea {
  height: 70px;
}

.big-btn-link {
  padding: 6px 20px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

#lang {
  margin-top: 12px;
  font-size: 13px;
  font-weight: normal;
}

#lang-context-selector {
  position: absolute;
  top: 23px;
  min-width: 12rem;
  width: auto;
  padding: 0.5rem 0;
  background-color: #fff;
  font-size: .875rem;
  white-space: nowrap;
}

#lang-context-selector .sf-popover-con {
  padding: 0 8px;
}

#lang-context-selector li {
  min-height: 32px;
  padding: 0px 8px;
  line-height: 32px;
}

#lang-context-selector li:hover {
  background-color: var(--option-bg-color);
  border-radius: 4px;
  cursor: pointer;
}

#lang-context-selector a {
  display: block;
  font-weight: normal;
  text-decoration: none;
  color: var(--bs-body-color);
}

#lang-context-selector .un-check-mark {
  display: none;
}

#lang-context {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px !important;
  line-height: 22px;
  color: var(--bs-body-color);
  user-select: none;
  gap: 4px;
}

#lang-context:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

#lang-context .seaqa-html-icon-svg svg {
  height: 12px;
  width: 12px;
  margin-top: -2px;
}

/* seaqa-html-icon-svg style */
.seaqa-html-icon-svg svg {
  height: 14px;
  width: 14px;
}

.seaqa-html-icon-svg svg path {
  fill: var(--bs-icon-color);
}

/* layout */
#header {
  height: 53px;
  width: 100%;
  padding: 8px 16px 4px;
  background: #f4f4f7;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  /* display: flex; */
  flex-shrink: 0;
  justify-content: space-between;
}

#wide-panel-noframe {
  padding-top: 16px;
}

.text-panel {
  padding-top: 7em;
  font-size: 16px;
  text-align: center;
}

/* account */
#account {
  position: relative;
  margin-left: 8px;
}

#account .avatar {
  border-radius: 1000px;
  vertical-align: middle;
}

#my-info {
  display: inline-block;
  color: #d6d6d6;
}

#my-info .seaqa-icon-svg-arrow-down {
  height: 12px;
  width: 12px;
}

@media (max-width: 767px) {
  #account {
    margin: 5px 0 0 10px;
  }

  .account-toggle {
    margin-top: 8px;
    font-size: 18px;
    line-height: 1;
    color: var(--bs-icon-secondary-color);
  }
}

.account-popup .avatar {
  float: left;
}

.account-popup .txt {
  overflow: hidden;
  margin-left: 45px;
  line-height: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.account-popup {
  right: 0;
  top: 52px;
  padding: 16px;
  font-size: 13px;
}

.account-popup .outer-caret {
  right: 16px;
  top: -10px;
}

.account-popup .sf-popover-con {
  padding: 0;
}

.account-popup .item {
  display: block;
  padding: 8px 18px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
  font-size: 14px;
}

.account-popup .item:last-child {
  border-bottom: none;
}

.account-popup a.item {
  font-weight: normal;
  color: var(--bs-body-color);
}

.account-popup a.item:hover {
  background: #fafafa;
  text-decoration: none;
}

#account .manage {
  left: 60px;
  position: absolute;
  top: -16px;
}

#account .manage .a:hover {
  text-decoration: none;
}

/* password toggle */
.password-toggle {
  position: absolute;
  right: 16px;
  top: 12px;
  display: flex;
  height: 14px;
  width: 14px;
  color: var(--bs-body-secondary-color);
  cursor: pointer;
}

.password-toggle .seaqa-html-icon-svg svg {
  display: block;
  height: 16px;
  width: 16px;
}

.password-toggle .eye-icon {
  display: none;
}

.password-toggle.password-show .eye-slash-icon {
  display: none;
}

.password-toggle.password-show .eye-icon {
  display: unset;
}

/* remember-me-toggle */
.remember-me-toggle {
  cursor: pointer;
}

.remember-me-toggle .seaqa-html-icon-svg svg {
  display: block;
}

.remember-me-toggle .remember-me-icon-outline {
  display: block;
}

.remember-me-toggle .remember-me-icon-outline svg path {
  fill: var(--bs-icon-secondary-color);
}

.remember-me-toggle .remember-me-icon-checked {
  display: none;
}

.remember-me-toggle .remember-me-icon-checked svg path {
  fill: var(--bs-primary);
}

/* login-panel */
.login-panel-wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.login-panel-wrapper .login-panel-content {
  width: fit-content;
  margin: 0 auto;
  padding: 64px 48px 40px;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 8px;
  font-weight: 500;
}

.login-panel-wrapper .login-panel-header .login-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.login-panel-wrapper .login-form-wrapper {
  width: 400px;
  margin-top: 32px;
}

.login-panel-wrapper .login-form-wrapper .form-item-input {
  height: 40px;
  width: 100%;
  margin-bottom: 12px;
  padding: 0px 16px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 4px;
  font-size: 14px;
  line-height: 40px;
}

.login-panel-wrapper .login-form-wrapper .position-relative .form-item-input {
  margin-bottom: 0;
  padding-right: 32px;
}

.login-panel-wrapper .login-form-wrapper .ovhd {
  margin: 8px 0px;
}

.login-panel-wrapper .login-form-wrapper .form-item-input:focus {
  border-color: var(--bs-sf-orange-light);
}

.login-panel-wrapper .forgot-passwd {
  font-size: 14px;
  font-weight: normal;
  color: var(--bs-orange);
}

.login-panel-wrapper .btn-sso {
  height: 40px;
  margin-top: 12px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 4px;
}

.login-panel-wrapper .register-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 32px;
}

.login-panel-wrapper .register-link a {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.login-panel-wrapper .login-panel-bottom-panel-layout {
  height: 30px;
  margin-top: 12px;
}

.login-panel-wrapper .login-panel-bottom-container > :last-child {
  margin-left: auto !important;
}

/* multi-saml-sso-panel */
.multi-saml-sso-panel-wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.multi-saml-sso-panel-wrapper .multi-saml-sso-panel-content {
  width: fit-content;
  margin: 0 auto;
  padding: 64px 48px 64px;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 8px;
  font-weight: 500;
}

.multi-saml-sso-panel-wrapper .multi-saml-sso-panel-header .multi-saml-sso-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.multi-saml-sso-panel-wrapper .login-form-wrapper {
  width: 400px;
  margin-top: 32px;
}

.multi-saml-sso-panel-wrapper .login-form-wrapper .form-item-input {
  height: 40px;
  width: 100%;
  margin-bottom: 0;
  padding: 0px 16px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 4px;
  font-size: 14px;
  line-height: 40px;
}

.multi-saml-sso-panel-wrapper .login-form-wrapper .form-item-input:focus {
  border-color: var(--bs-sf-orange-light);
}

.multi-saml-sso-panel-wrapper .login-panel-bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.multi-saml-sso-panel-wrapper .login-panel-bottom-container > div {
  display: flex;
  justify-content: center;
  width: fit-content;
}

/* password-reset-panel */
.password-reset-panel-wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.password-reset-panel-wrapper .password-reset-panel-content {
  width: fit-content;
  margin: 0 auto;
  padding: 64px 48px 64px;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 8px;
  font-weight: 500;
}

.password-reset-panel-wrapper .password-reset-panel-header .password-reset-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.password-reset-panel-wrapper .password-reset-panel-logo {
  margin-top: 8px;
}

.password-reset-panel-wrapper .password-reset-panel-logo img {
  height: 120px;
  width: 180px;
}

.password-reset-panel-wrapper .password-reset-panel-text {
  height: 22px;
  margin-top: 16px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: var(--bs-body-secondary-color);
}

.password-reset-panel-wrapper .login-form-wrapper {
  width: 400px;
  margin-top: 24px;
}

.password-reset-panel-wrapper .login-form-wrapper .form-item-input {
  height: 40px;
  width: 100%;
  margin-bottom: 0;
  padding: 0px 16px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 4px;
  font-size: 14px;
  line-height: 40px;
}

.password-reset-panel-wrapper .login-form-wrapper .form-item-input:focus {
  border-color: var(--bs-sf-orange-light);
}

.password-reset-panel-wrapper .login-form-wrapper .turnstile-wrapper,
.org-register-panel-wrapper .login-form-wrapper .turnstile-wrapper {
  overflow: hidden;
  min-height: 67px;
  width: 100%;
  margin-top: 12px;
  padding: 0;
  background-color: var(--bs-body-bg);
}

.password-reset-panel-wrapper .login-form-wrapper .turnstile-wrapper .cf-turnstile,
.org-register-panel-wrapper .login-form-wrapper .turnstile-wrapper .cf-turnstile,
.password-reset-panel-wrapper .login-form-wrapper .turnstile-wrapper iframe,
.org-register-panel-wrapper .login-form-wrapper .turnstile-wrapper iframe {
  width: 100% !important;
}

.password-reset-panel-wrapper .login-form-wrapper li {
  margin-top: .25rem;
  font-size: 12px;
  line-height: 20px;
  color: var(--bs-text-danger);
}

.password-reset-panel-wrapper .login-form-wrapper .btn-block {
  height: 40px;
  margin-top: 16px;
}

.password-reset-panel-wrapper .password-reset-panel-bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.password-reset-panel-wrapper .password-reset-panel-bottom-container > div {
  display: flex;
  justify-content: center;
  width: fit-content;
}

/* org-register-panel */
.org-register-panel-wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.org-register-panel-wrapper .org-register-panel-content {
  width: fit-content;
  margin: 0 auto;
  padding: 64px 48px 64px;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 8px;
  font-weight: 500;
}

.org-register-panel-wrapper .org-register-panel-header .org-register-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.org-register-panel-wrapper .login-form-wrapper {
  width: 400px;
  margin-top: 32px;
}

.org-register-panel-wrapper .login-form-wrapper .form-item-input {
  height: 40px;
  width: 100%;
  margin-bottom: 12px;
  padding: 0px 16px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 4px;
  font-size: 14px;
  line-height: 40px;
}

.org-register-panel-wrapper .login-form-wrapper .form-item-input:focus {
  border-color: var(--bs-sf-orange-light);
}

.org-register-panel-wrapper .login-form-wrapper .position-relative .form-item-input {
  padding-right: 32px;
}

.org-register-panel-wrapper .login-form-wrapper > input:last-of-type {
  margin-bottom: 0px !important;
}

.org-register-panel-wrapper .login-form-wrapper li {
  margin-top: -8px;
  font-size: 12px;
  line-height: 20px;
  color: var(--bs-text-danger);
}

.org-register-panel-wrapper .login-form-wrapper > ul:last-of-type li {
  margin-top: 4px;
}

.org-register-panel-wrapper .login-form-wrapper .btn-block {
  height: 40px;
  margin-top: 24px;
}

.org-register-panel-wrapper .login-panel-bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.org-register-panel-wrapper .login-panel-bottom-container > div {
  display: flex;
  justify-content: center;
  width: fit-content;
}

/* individual-register-panel */
.individual-register-panel-wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.individual-register-panel-wrapper .individual-register-panel-content {
  width: fit-content;
  margin: 0 auto;
  padding: 64px 48px 64px;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 8px;
  font-weight: 500;
}

.individual-register-panel-wrapper .individual-register-panel-header .individual-register-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.individual-register-panel-wrapper .login-form-wrapper {
  width: 400px;
  margin-top: 32px;
}

.individual-register-panel-wrapper .login-form-wrapper .form-item-input {
  height: 40px;
  width: 100%;
  margin-bottom: 12px;
  padding: 0px 16px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 4px;
  font-size: 14px;
  line-height: 40px;
}

.individual-register-panel-wrapper .login-form-wrapper .form-item-input:focus {
  border-color: var(--bs-sf-orange-light);
}

.individual-register-panel-wrapper .login-form-wrapper .position-relative .form-item-input {
  padding-right: 32px;
}

.individual-register-panel-wrapper .login-form-wrapper > input:last-of-type {
  margin-bottom: 0px !important;
}

.individual-register-panel-wrapper .login-form-wrapper li {
  margin-top: -8px;
  font-size: 12px;
  line-height: 20px;
  color: var(--bs-text-danger);
}

.individual-register-panel-wrapper .login-form-wrapper .btn-block {
  height: 40px;
  margin-top: 24px;
}

.individual-register-panel-wrapper .login-panel-bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.individual-register-panel-wrapper .login-panel-bottom-container > div {
  display: flex;
  justify-content: center;
  width: fit-content;
}

/* login-panel, multi-saml-sso-panel, password-reset-panel, org-register-panel, individual-register-panel, portal-login-panel --input style */
.login-panel-wrapper .login-form-wrapper input:-webkit-autofill,
.multi-saml-sso-panel-wrapper .login-form-wrapper input:-webkit-autofill,
.password-reset-panel-wrapper .login-form-wrapper input:-webkit-autofill,
.org-register-panel-wrapper .login-form-wrapper input:-webkit-autofill, 
.individual-register-panel-wrapper .login-form-wrapper input:-webkit-autofill,
.portal-login-panel-wrapper .login-form-wrapper input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.login-panel-wrapper .login-form-wrapper input::-webkit-input-placeholder,
.multi-saml-sso-panel-wrapper .login-form-wrapper input::-webkit-input-placeholder,
.password-reset-panel-wrapper .login-form-wrapper input::-webkit-input-placeholder,
.org-register-panel-wrapper .login-form-wrapper input::-webkit-input-placeholder,
.individual-register-panel .login-form-wrapper input::-webkit-input-placeholder,
.portal-login-panel-wrapper .login-form-wrapper input::-webkit-input-placeholder { /* Chrome, Safari */
  color: var(--bs-sf-grey-text-placeholder);
}

.login-panel-wrapper .login-form-wrapper input::-moz-placeholder,
.multi-saml-sso-panel-wrapper .login-form-wrapper input::-moz-placeholder,
.password-reset-panel-wrapper .login-form-wrapper input::-moz-placeholder,
.org-register-panel-wrapper .login-form-wrapper input::-moz-placeholder,
.individual-register-panel .login-form-wrapper input::-moz-placeholder,
.portal-login-panel-wrapper .login-form-wrapper input::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: var(--bs-sf-grey-text-placeholder);
}

.login-panel-wrapper .login-form-wrapper input:-ms-input-placeholder,
.multi-saml-sso-panel-wrapper .login-form-wrapper input:-ms-input-placeholder,
.password-reset-panel-wrapper .login-form-wrapper input:-ms-input-placeholder,
.org-register-panel-wrapper .login-form-wrapper input:-ms-input-placeholder,
.individual-register-panel .login-form-wrapper input:-ms-input-placeholder,
.portal-login-panel-wrapper .login-form-wrapper input:-ms-input-placeholder { /* IE 10-11 */
  color: var(--bs-sf-grey-text-placeholder);
}

.login-panel-wrapper .login-form-wrapper input::-ms-input-placeholder,
.multi-saml-sso-panel-wrapper .login-form-wrapper input::-ms-input-placeholder,
.password-reset-panel-wrapper .login-form-wrapper input::-ms-input-placeholder,
.org-register-panel-wrapper .login-form-wrapper input::-ms-input-placeholder,
.individual-register-panel .login-form-wrapper input::-ms-input-placeholder,
.portal-login-panel-wrapper .login-form-wrapper input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--bs-sf-grey-text-placeholder);
}

/* login-panel, multi-saml-sso-panel, individual-register-panel --p style */
.login-panel-wrapper .login-form-wrapper > p.error,
.multi-saml-sso-panel-wrapper .login-form-wrapper > p.error,
.individual-register-panel-wrapper .login-form-wrapper > p.error {
  margin: 0px;
  font-size: 12px;
  line-height: 20px;
  color: var(--bs-text-danger);
}

/* login-panel, multi-saml-sso-panel, --login-form-pass-member style */
.login-panel-wrapper .login-form-wrapper .login-form-pass-member,
.multi-saml-sso-panel-wrapper .login-form-wrapper .login-form-pass-member {
  margin: 12px 0px 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--bs-body-secondary-color);
}

.login-panel-wrapper .login-form-wrapper .login-form-pass-member .remember-input,
.multi-saml-sso-panel-wrapper .login-form-wrapper .login-form-pass-member .remember-input {
  cursor: pointer;
}

.login-panel-wrapper .login-form-wrapper .login-form-pass-member .remember-me-text,
.multi-saml-sso-panel-wrapper .login-form-wrapper .login-form-pass-member .remember-me-text {
  margin-left: 8px;
  cursor: pointer;
  user-select: none;
}

/* login-panel, multi-saml-sso-panel, password-reset-panel --btn-block style */
.login-panel-wrapper .login-form-wrapper .btn-block,
.multi-saml-sso-panel-wrapper .login-form-wrapper .btn-block {
  height: 40px;
  margin-top: 0px;
}

.login-panel-wrapper .login-form-wrapper .btn-block:focus,
.multi-saml-sso-panel-wrapper .login-form-wrapper .btn-block:focus,
.password-reset-panel-wrapper .login-form-wrapper .btn-block:focus,
.individual-register-panel-wrapper .login-form-wrapper .btn-block:focus,
.org-register-panel-wrapper .login-form-wrapper .btn-block:focus,
.portal-login-panel-wrapper .login-form-wrapper .btn-block:focus {
  border-color: var(--bs-primary);
}

/* portal-login-panel */
.portal-login-panel-wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.portal-login-panel-wrapper .portal-login-panel-content {
  width: fit-content;
  margin: 0 auto;
  padding: 64px 40px;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 8px;
}

.portal-login-panel-wrapper .portal-login-panel-header .portal-login-title {
  max-width: 400px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.portal-login-panel-wrapper .login-form-wrapper {
  width: 400px;
  margin-top: 32px;
}

.portal-login-panel-wrapper .login-form-wrapper .form-item-input {
  height: 40px;
  width: 100%;
  margin-bottom: 8px;
  padding: 0px 16px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 4px;
  font-size: 14px;
  line-height: 40px;
}

.portal-login-panel-wrapper .login-form-wrapper .form-item-input:focus {
  border-color: var(--bs-sf-orange-light);
}

.portal-login-panel-wrapper .login-form-wrapper .prompt-text {
  height: 20px;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 20px;
  color: var(--bs-body-secondary-color);
}

.portal-login-panel-wrapper .login-form-wrapper .btn-block {
  height: 40px;
  margin-top: 0px;
}

.portal-login-panel-wrapper .login-form-wrapper .countdown-wrapper {
  height: 22px;
  margin-top: 16px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: var(--bs-body-secondary-color);
}

/* confirm-password-panel */
.login-panel-logo {
  display: block;
  margin: 0 auto 30px;
}

.confirm-password-panel,
.login-panel {
  width: 336px;
  margin: 0 auto;
  padding: 30px 25px 15px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 8px #a7a6a9;
}

.confirm-password-panel .confirm-password-panel-hd,
.login-panel .login-panel-hd {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
}

.confirm-password-panel .input,
.login-panel .input {
  height: 34px;
  width: 264px;
  margin: 0;
  padding: 2px 10px;
  border: 1px solid #cdcdcd;
  font-size: 13px;
}

.confirm-password-panel .password-input,
.password-reset-panel .email-input,
.login-panel .name-input,
.login-panel .passwd-input {
  margin-bottom: 12px;
  border-radius: 3px;
}

.login-panel .remember {
  margin: 0px 0 20px;
  font-size: 12px;
}

.confirm-password-panel .submit,
.login-panel .submit {
  height: 40px;
  margin: 0px 0 12px;
  background-image: none;
}

.confirm-password-panel .submit:focus,
.login-panel .submit:focus {
  border-color: #fff;
}

.login-panel .login-panel-bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 12px;
}

.login-panel .login-panel-bottom-container a {
  white-space: nowrap;
  color: #E16C0A;
}

#signup-form .input {
  margin-bottom: 12px;
}

#pwd_strength {
  margin: -15px 0 20px;
}

.registration-form-popover {
  width: 250px;
  padding: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: var(--bs-body-color);
  filter: none;
}

.registration-form-popover .arrow::before,
.registration-form-popover .arrow::after {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.registration-form-popover .arrow::before {
  right: 1px;
  border-left: 7px solid #ddd;
}

.registration-form-popover .arrow::after {
  right: 2px;
  border-left: 7px solid #fff;
}

/* overwrite inline style */
.registration-form-popover.mobile {
  left: unset !important;
  right: 0 !important;
  top: -142px !important;
  transform: unset !important;
}

.registration-form-popover.mobile .arrow {
  left: 20%;
  top: 100% !important;
  margin: 0;
}

.registration-form-popover.mobile .arrow::before,
.registration-form-popover.mobile .arrow::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.registration-form-popover.mobile .arrow::before {
  left: 1px;
  top: 1px;
  border-top: 7px solid #ddd;
}

.registration-form-popover.mobile .arrow::after {
  top: -0.4px;
  border-top: 7px solid #fff;
}

.popover.registration-form-popover .popover-head {
  padding-bottom: 4px;
}

.popover.registration-form-popover .popover-content {
  padding-top: 8px;
  font-size: 12px;
  color: var(--bs-sf-grey-text);
}

.popover.registration-form-popover .progress {
  height: 4px;
  background-color: #fff;
  border-radius: 0;
}

.popover.registration-form-popover .progress-bar {
  width: 25%;
  margin-right: 2px;
  background-color: var(--bs-hover-tertiary-bg);
}

/**** sf-popover ****/
/* e.g. top notice popup, group members popup */
.sf-popover-hd {
  margin: 0 10px;
  padding: 5px 0 3px;
  border-bottom: 1px solid #dfdfe1;
}

a.sf-popover-item {
  margin: 5px -10px;
  padding: 0 10px;
}

/**** simplemodal ****/
#basic-modal-content {
  display: none;
}

#simplemodal-overlay {
  background-color: #000;
}

#simplemodal-container {
  box-sizing: content-box;
  padding: 20px;
  background-color: #fcfcfc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-sizing: content-box;
}

#simplemodal-container a {
  font-weight: normal;
}

#simplemodal-container table {
  margin: 0;
}

.modalCloseImg {
  position: absolute;
  right: -14px;
  top: -14px;
  z-index: 3200;
  height: 28px;
  width: 28px;
  background-position: 0 -1173px;
  cursor: pointer;
}

#simplemodal-container h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
  word-wrap: break-word;
}

#simplemodal-container h3,
#simplemodal-container h4,
#simplemodal-container label {
  font-weight: bold;
}

#simplemodal-container label {
  margin: 8px 0 4px;
}

#simplemodal-container .radio-item,
#simplemodal-container .checkbox-label {
  margin: 4px 0;
  font-weight: normal;
}

.simplemodal-close {
  margin-left: 5px;
}

#confirm-popup {
  min-width: 255px;
}

/**** messages ****/
.messages {
  position: fixed;
  z-index: 999;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 2px;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* for repo.html: to show on top of fixed-hd */
  transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -webkit-transition: top 0.5s ease;
}

.messages .info {
  margin: 0;
  padding: 5px;
  background: #f9edbe;
}

.messages .success {
  margin: 0;
  padding: 5px;
  background: #c4eca9;
}

.messages .error {
  margin: 0;
  padding: 5px;
  background: #fff;
  color: #fc6440;
}

/* guide for new */
#guide-for-new {
  width: 450px;
}

#guide-for-new .icon-lightbulb {
  font-size: 6em;
  color: #feac74;
}

#guide-for-new .txt {
  margin-left: 6.4em;
}

/* terms & conditions */
#tc-content {
  padding-top: 0;
  padding-left: 0;
}

.tc-accept-form {
  padding-bottom: 30px;
}

#tc-preview {
  overflow: auto;
  box-sizing: border-box;
  width: 800px;
  padding: 40px;
}

/**** article ****/
.article {
  padding: 40px 200px 40px 60px;
  font-size: 14px;
  line-height: 1.6;
  color: var(--bs-body-color);
}

.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin: 1.2em 0 0.4em;
  font-weight: bold;
  color: var(--bs-body-color);
}

.article h1+p,
.article h2+p,
.article h3+p,
.article h4+p,
.article h5+p,
.article h6+p,
.article h1+pre,
.article h2+pre,
.article h3+pre,
.article h4+pre,
.article h5+pre,
.article h6+pre,
.article h1+ul,
.article h2+ul,
.article h3+ul,
.article h4+ul,
.article h5+ul,
.article h6+ul,
.article h1+ol,
.article h2+ol,
.article h3+ol,
.article h4+ol,
.article h5+ol,
.article h6+ol {
  margin-top: 0;
}

.article p {
  margin: 0.8em 0;
}

.article ul {
  list-style-type: disc;
}

.article ul,
.article ol {
  margin: 0.5em 0;
  padding-left: 2em;
}

.article code {
  margin: 0 2px;
  padding: 1px 5px 0;
  background-color: var(--bs-tr-hover-bg);
  border: 1px solid #dadada;
  border-radius: 2px;
  font-size: 12px;
  white-space: pre-wrap;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.article pre {
  margin: 1em 0;
  padding: 5px 10px;
  background: var(--bs-tr-hover-bg);
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 13px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.article pre code {
  margin: 0;
  padding: 0;
  border: none;
  white-space: pre-wrap;
}

.article a {
  font-weight: normal;
}

.article blockquote {
  margin: 1.2em 0;
  padding: 0 15px;
  border-left: 4px solid #DDD;
  color: #777;
}

.article table {
  width: auto;
  margin: 0.8em 0;
  table-layout: auto;
}

.article tr:nth-child(2n) {
  background-color: var(--bs-tr-hover-bg);
}

.article th,
.article td {
  padding: 6px 13px;
  border: 1px solid #ccc;
}

/* user profile */
#user-profile {
  width: 290px;
  margin: 50px auto 0;
  border: 1px solid #eee;
  border-radius: 5px;
}

#user-profile .avatar {
  display: block;
  margin: 8px auto;
  border-radius: 1000px;
}

.user-profile-nickname {
  margin: 0;
  padding: 0 15px 8px;
  font-size: 18px;
  text-align: center;
}

.user-profile-info {
  padding: 8px 15px;
  border-top: 1px solid #eee;
}

.user-profile-info-icon {
  display: inline-block;
  width: 1.4em;
}

/* two-factor-auth */
.tfa-panel {
  margin: 1rem auto;
}
@media (min-width: 504px) {
  .tfa-panel {
    width: 480px;
  }
}

.tfa-panel .hd {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.tfa-panel .con {
  font-size: .875rem;
}

.two-factor-auth-wizard-btns {
  margin-top: 2.5rem;
}

.two-factor-auth-wizard-btns .btn {
  min-width: 71px;
}

.two-factor-auth-backup-token-list-container {
  background-color: var(--bs-tr-hover-bg);
  border-radius: 8px;
}

.two-factor-auth-backup-token-list-container .token-list-hd {
  height: 2.5rem;
  border-bottom: 1px solid #eee;
  font-size: .75rem;
}

.two-factor-auth-backup-token-list-container .token-list-hd .token-icon {
  height: 16px;
  width: 16px;
  margin-right: .5rem;
  color: #444;
}

.two-factor-auth-backup-token-form {
  margin-top: 2.5rem;
  text-align: center;
}

.form-label {
  display: inline-block;
  margin: 0 0 .5rem 0;
  font-size: 15px;
  font-weight: 400;
}

.seaqa-multicolor-icon {
  overflow: hidden;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

/* client-login-confirm-panel */
.client-login-confirm-panel {
  margin: 1.5rem auto 2rem;
}

.client-login-confirm-panel .hd {
  margin: 2.5rem 0 .5rem;
  font-size: 1.5rem;
}

.client-login-confirm-panel .btn {
  margin-top: 2.5rem;
}

/* 'password change form' page and etc. */
.page-form-panel {
  margin: 3rem auto;
}

.page-form-panel .hd {
  font-size: 1.5rem;
}

.page-form-panel .tip {
  font-size: .875rem;
  color: var(--bs-body-secondary-color);
}

.page-form-panel .form {
  max-width: 466px;
  margin: 2.5rem auto auto;
}

.page-form-panel .password-icon {
  color: var(--bs-icon-secondary-color);
}

.page-form-panel .password-icon:hover {
  color: var(--bs-sf-grey-text);
}

.page-form-panel .form-foot {
  margin-top: 2.5rem;
}
