/**
 * CONTENTS
 *
 *
 *
 * Helper
 * common class ..........common class
 *
 * UI Widgets(ui widgets)
 * topbar button
 * caret
 * loading
 * popover
 * op-icon
 * account
 * quota
 * nav, nav-pills
 * side-panel
 * about-dialog
 * notifications
 * sf-popover
 * go-back
 * top-logo
 * base-table
 * table-item rename-component
 * more-btn
 * dropdown-menu
 * empty-tip
 * file-tag
 * mobile-menu
 */

/* common class and element style*/
body {
  overflow-y: auto;
}

dl {
  margin: 1.5em 0;
}

dt {
  color: #666;
  margin: 24px 0 2px;
  font-weight: normal;
}

dd {
  margin-bottom: .8em;
  color: #222;
}

a {
  color: #E16C0A;
}

a:hover {
  color: #eb8205;
}

.vam {
  vertical-align: middle;
}

.flex-auto {
  flex: auto;
}

.flex-1 {
  flex: 1;
}

.hide {
  display: none;
}

.error {
  color: red;
}

.no-deco,
.no-deco:hover,
.no-deco:focus {
  text-decoration: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.op-target {
  color: #E16C0A;
  word-wrap: break-word;
}

.left-zero {
  left: 0px !important;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

.sf-heading {
  font-size: 1rem;
  color: #322;
  font-weight: normal;
  line-height: 1.5;
}

.cur-view-path .sf-heading {
  margin: 0;
}

.vh {
  visibility: hidden;
}

.a-simulate {
  color: #ED7109 !important;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
}

.a-simulate:hover {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.dtable-font-gold {
  color: #ffad5c;
}

.tr-drag-effect {
  /* just for drag&drop item */
  background-image: url('../img/grippy_large.png');
  background-repeat: no-repeat;
  background-position: 0px;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.sf-dropdown-toggle {
  margin-left: 0.5rem;
  vertical-align: middle;
  font-style: normal;
  font-size: 0.85rem;
  line-height: 1;
  cursor: pointer;
  color: #888;
}

.user-select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.dialog-list-container {
  /* for dialog containing list */
  min-height: 20rem;
  max-height: 25rem;
  overflow: auto;
}

.link-dropdown-container {
  padding: 0;
  text-align: center;
}

.link-dropdown-item {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #666666;
}

.link-dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
}

.link-dropdown-item:active {
  color: #fff;
}

.panel-heading {
  position: relative;
  padding: .5rem 1rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
}

.side-nav-toggle {
  /* just for control side-panel */
  margin-right: 0.9375rem;
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
}

/* UI Widget */

/**** caret ****/
.outer-caret,
.inner-caret {
  height: 0;
  width: 0;
  border-width: 14px 14px 0;
  /* default: arrow to the bottom */
  border-style: dashed solid;
  /* 'dashed' for firefox */
  border-color: #CBCBCB transparent;
  z-index: 100;
  margin: 0 auto;
}

.inner-caret {
  border-top-color: #fff;
  position: relative;
  top: -15px;
  left: -14px;
}

.up-outer-caret,
.up-outer-caret .inner-caret {
  border-width: 0 10px 10px;
}

.up-outer-caret .inner-caret {
  border-bottom-color: #fff;
  top: 1px;
  left: -10px;
}

.up-outer-caret {
  position: absolute;
  top: -11px;
}

/** loading **/
@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 2px solid #eee;
  border-left-color: #aaa;
  border-radius: 50%;
  -moz-animation: loading 0.9s infinite linear;
  -webkit-animation: loading 0.9s infinite linear;
  animation: loading 0.9s infinite linear;
}

.loading-tip {
  display: block;
  margin: 1em auto;
}

/** op-icon **/
.op-icon,
.action-icon,
.attr-action-icon {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle;
}

.op-icon {
  color: #f19645;
}

.op-icon:focus,
.op-icon:hover {
  padding-bottom: 0.125rem;
  border-bottom: 0.125rem solid #e0873b;
  color: #e0873b;
}

.action-icon,
.attr-action-icon {
  color: #999 !important;
}

.action-icon:focus,
.action-icon:hover,
.attr-action-icon:focus,
.attr-action-icon:hover {
  color: #555 !important;
  text-decoration: none;
}

.attr-action-icon {
  font-size: 0.875rem;
}

/* action-link */
.action-link {
  display: inline-block;
  padding: 0.5rem 0;
  text-decoration: underline;
  color: #666;
  cursor: pointer;
  user-select: none;
}

/** Account info **/
#account {
  position: relative;
}

#my-info {
  display: inline-block;
  color: #d6d6d6;
  cursor: pointer;
}

#account .avatar {
  vertical-align: middle;
}

@media (max-width:767px) {
  #account {
    margin: 8px 0 0 10px;
  }

  .account-toggle {
    font-size: 19px;
    line-height: 1;
    color: #999;
    margin-top: 8px;
  }
}

.account-popup .avatar {
  float: left;
}

.account-popup .txt {
  margin-left: 45px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-popup {
  right: -6px;
  top: 42px;
  font-size: 13px;
}

.account-popup .outer-caret {
  top: -10px;
  right: 12px;
}

.account-popup .sf-popover-con {
  padding: 0;
}

.account-popup .item {
  display: block;
  padding: 8px 18px;
  border-bottom: 1px solid #ddd;
  cursor: default;
}

.account-popup a.item {
  color: #212529;
  font-weight: normal;
  cursor: pointer;
}

.account-popup a.item:hover {
  background: #fafafa;
  text-decoration: none;
}

#account .manage {
  position: absolute;
  left: 60px;
  top: -16px;
}

#account .manage .a:hover {
  text-decoration: none;
}

/** quota in account popover **/
.account-info {
  padding: 7px 0;
}

.account-info.row-used {
  padding-bottom: 9px;
}

.account-info p {
  margin-bottom: 6px;
  font-size: 12px;
}

#quota-bar {
  display: block;
  height: 6px;
  border-radius: 5px;
  overflow: hidden;
  /* for usage > 100% */
  background-color: #eee;
}

#quota-bar .usage {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  background: #ED7109;
}

#quota-usage {
  background: #ddd;
}

@media (max-width:767px) {
  .cur-view-toolbar .mobile-icon {
    color: #999;
    line-height: 1.63;
    font-size: 22px;
    margin-right: 8px;
  }
}

/* sf-nav-link */
.nav .nav-item {
  padding: 0;
}

.nav .nav-item .nav-link {
  padding: 0.5rem 0;
  margin-right: 0.5rem;
  color: #212529;
  font-weight: normal;
  transition: none;
  text-decoration: none;
  border-bottom: 0.125rem solid transparent;
}

.nav .nav-item .nav-link.active {
  color: #ED7109;
  text-decoration: none;
  border-bottom: 0.125rem solid #ED7109;
}

.nav-pills .nav-item .nav-link {
  padding: 0.25rem;
  color: #212529;
}

.nav-pills .nav-item .nav-link:hover {
  background-color: #f5f5f5;
}

.nav-pills .nav-item .nav-link.active {
  background-color: #ED7109;
  color: #fff;
  border: none;
}

.cur-view-path.tab-nav-container {
  padding: 0 16px;
}

.cur-view-path.tab-nav-container .nav .nav-item .nav-link {
  justify-content: center;
  /* make short word like 'All' in the center */
  margin: 0 0.75rem;
}

/* side-panel */
.side-panel {
  user-select: none;
  height: 100%;
}

.side-nav {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* make .side-nav-footer on the bottom */
  overflow: hidden;
  /* for ff */
}

.side-nav:hover {
  overflow-y: auto;
}

.side-nav-con {
  overflow: auto;
  padding: 12px;
}

.side-nav-con>.nav {
  margin-bottom: 1rem;
}

.side-nav-con .nav .nav-item,
.side-nav-con .nav .nav-item .nav-link {
  display: block;
  padding-left: 0;
  margin-right: 0;
}

.side-nav-con .active .sharp,
.side-nav-con .active .nav-text {
  font-weight: bold;
}

.side-nav-con .active [class^="sf2-icon-"],
.side-nav-con .active [class^="sf3-font-"],
.side-nav-con .active [class^="dtable-font"],
.side-nav-con .active .sharp {
  color: #fff;
}

.side-nav-con [class^="dtable-font"] {
  display: inline-block;
  width: 2.625rem;
  margin-right: 0.325rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 1;
  color: #999;
}

.side-nav-con .sharp {
  display: inline-block;
  width: 2.625rem;
  margin-right: 0.325rem;
  text-align: right;
  color: #aaa;
}

.side-nav-con .toggle-icon {
  margin-right: 0.25rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.side-nav-con .draft-info {
  position: relative;
  line-height: 1.5rem;
}

.side-nav-con .draft-info .badge {
  position: relative;
  float: right;
  margin-top: 0.2rem;
  background-color: #EDEDEE;
  color: #5B5F65;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  min-width: 1.3rem;
  min-height: 1.3rem;
  padding: 0 .3rem;
}

.side-nav-con .sub-nav {
  display: block;
  overflow: hidden;
}

.side-nav-con .sub-nav .nav-link {
  padding: 0;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

/* notifications */
#notifications {
  position: relative;
  width: 32px;
}

#notifications .no-deco {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

#notifications .dtable-icon-notice {
  font-size: 20px;
  color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 390px) {
  #notifications {
    margin-left: 8px;
  }
}

#notifications .title {
  line-height: 1.5;
  font-size: 1rem;
  color: #322;
  font-weight: normal;
}

#notifications .num {
  position: absolute;
  color: #fff;
  font-size: 12px;
  top: -2px;
  right: -2px;
  padding: 2px;
  background: #fc6440;
  border-radius: 50%;
  min-width: 22px;
  min-height: 22px;
  text-align: center;
  transform: scale(0.7);
}

#notice-popover {
  top: 38px;
  right: -12px;
}

#notice-popover .outer-caret {
  right: 17px;
}

#notice-popover a {
  font-weight: normal;
}

#notice-popover li {
  padding: 9px 0 3px;
  border-bottom: 1px solid #dfdfe1;
  list-style-type: none
}

#notice-popover li.unread {
  background: #f5f5f7;
  padding-right: 10px;
  padding-left: 8px;
  border-left: 2px solid #feac74;
  margin: 0 -10px;
}

#notice-popover .avatar {
  border-radius: 1000px;
  float: left;
}

#notice-popover .brief {
  margin-left: 40px;
  margin-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  word-break: break-word;
}

#notice-popover .time {
  margin: 0;
  color: #666;
  text-align: right;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  clear: both;
}

#notice-popover .view-all {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: #a4a4a4;
}

#notice-popover .sf-popover-close {
  position: absolute;
  right: 10px;
  top: 5px;
}

#notice-popover .sf-popover-hd {
  border-bottom: 1px solid #dfdfe1;
  margin: 0 10px;
}

#notice-popover .sf-popover-con {
  max-height: 25rem;
}

#notifications #notice-popover .sf-popover-con {
  padding: 0;
  overflow: visible;
}

#notifications .sf-popover .notice-list {
  max-height: 350px;
  overflow: auto;
  padding: 0 10px;
}

/**** sf-popover ****/
/* e.g. top notice popup, group members popup */
.sf-popover-container {
  position: relative;
}

.sf-popover {
  width: 240px;
  background: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  box-shadow: 0 0 4px #ccc;
  position: absolute;
  z-index: 20;
}

.sf-popover-hd {
  padding: 5px 0 3px;
  margin: 10px;
}

.sf-popover-title {
  text-align: center;
}

.sf-popover-close {
  font-size: 16px;
  color: #b9b9b9;
  margin: 4px 0 0;
  float: right;
}

.sf-popover-con {
  padding: 0 10px;
  overflow: auto;
}

.sf-popover-list {
  border-top: 1px solid #e3e3e5;
  list-style: none;
  margin-top: 5px;
  padding-top: 5px;
}

a.sf-popover-item {
  display: block;
  color: #444;
  font-weight: normal;
  line-height: 31px;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0px -10px;
}

a.sf-popover-item:hover {
  background-color: #f5f5f5;
}

/* top logo */
.top-logo {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.side-panel-close {
  margin: 10px 0 0 auto;
}

/* path navigation */
.path-container {
  /* for the real path */
  font-size: 1rem;
  word-break: break-all;
}

.path-split {
  display: inline-block;
  padding: 0 5px;
  color: #818a91;
}

.path-link {
  color: #ED7109 !important;
  text-decoration: none;
}

.path-link:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

/* base table style */
table {
  width: 100%;
  table-layout: fixed;
}

table thead tr {
  height: 2.1875rem;
}

table tbody tr {
  height: 2.5625rem;
}

table th {
  padding: 0.3125rem 0.1875rem;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.6;
  color: #666;
}

table td {
  padding: 0.5rem 0.1875rem;
  border-bottom: 1px solid #eee;
  color: #212529;
  font-size: 0.875rem;
  word-break: break-all;
}

.table-thead-hidden thead tr {
  height: 0;
  border: 0;
}

.table-thead-hidden thead th {
  /* hide table th */
  padding: 0;
  border: 0;
  font-size: 0;
}

.tr-highlight {
  background-color: #f5f5f5;
}

.tr-active {
  background-color: #f2f4f6 !important;
}

/* table-item reanme-component */
.rename-container input {
  box-sizing: content-box;
  padding: 2px 3px;
  width: 10rem;
  height: 22px;
  line-height: 19px;
  border-radius: 2px;
  word-wrap: break-word;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.rename-container input:focus {
  background-color: #fff;
  border-color: #1991eb;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.rename-container button {
  margin-left: 0.25rem;
  padding: 5px 6px;
  font-size: 1rem;
  line-height: 1;
  color: #666;
  min-width: 0;
}

.rename-container .confirm {
  color: green;
}

@media (max-width: 767px) {
  .rename-container input {
    width: 10rem;
  }
}

/* table-item loading-more-data */
.list-show-more {
  padding: 0.25rem 0.75rem;
  line-height: 2rem;
  text-align: center;
  color: #eb8205;
  cursor: pointer;
}

.list-show-more:hover {
  background-color: #eee;
}

.list-show-more .more-message {
  font-size: 0.875rem;
  color: #888;
  text-decoration: underline;
}

/* table sort */
a.table-sort-op {
  color: inherit;
}

@media (max-width:767px) {
  a.table-sort-op {
    display: inline-block;
    margin-left: 15px;
  }
}

a.table-sort-op:hover,
a.table-sort-op:focus {
  outline: none;
  text-decoration: none;
}

/* dropdown-menu style */
.dropdown-menu {
  min-width: 8rem;
}

.dropdown-item {
  cursor: pointer;
}

.err-tip {
  margin: 2rem auto;
  padding: 30px 40px;
  font-size: 1rem;
  color: #808080;
  text-align: center;
}

.err-message {
  margin-left: 0.5rem;
  color: red;
}

.session-expired-tip {
  color: red;
}

.session-expired-link {
  padding: 0;
}

/* react select-module */
.select-module {
  font-size: 1rem;
}

.select-module.select-module-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.select-module.select-module-name {
  margin-left: 0.5rem;
}

/* load more module */
.load-more-module {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}

.load-more-module .load-more-text {
  color: #666;
  line-height: 38px;
  font-size: 14px;
}

.load-more-module .load-more-text:hover {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

.load-more-module .loading-icon {
  margin: 0 auto;
  width: 24px;
  height: 24px;
}

/* thumbnail */
.thumbnail {
  max-width: 24px;
  max-height: 24px;
}

@media (max-width: 767px) {

  /* mobile menu */
  .item-meta-info {
    display: inline-block;
    margin-right: 8px;
    font-size: 12px;
    color: #666;
  }

  .item-meta-info-highlighted {
    display: inline-block;
    margin: 0 0 .2em .8em;
    padding: 0 .5em;
    background: #ffbd6f;
    border-radius: 2px;
    color: #fff;
    font-size: 0.75rem;
  }

  .mobile-operation-menu-bg-layer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0.4;
    z-index: 103;
  }

  .mobile-operation-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5em 0;
    background: #fff;
    text-align: center;
    z-index: 104;
  }

  /* toolbar icon */
  .mobile-toolbar-icon {
    color: #999;
    font-size: 1.375rem;
    margin-right: 0.5rem;
  }

  .mobile-menu-item {
    color: #000;
    line-height: 2rem;
    font-size: 0.875rem;
  }

}

.file-view-tip {
  min-height: 130px;
  padding: 30px 10px 10px;
  width: calc(100% - 40px);
  max-width: 950px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px #ccc;
  text-align: center;
}

.icon-color-white {
  color: #ffffff !important;
}

.visually-hidden {
  display: none !important;
}
