.long-text-formatter {
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 28px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.long-text-formatter .links-container,
.long-text-formatter .check-list-container {
  display: inline-flex;
  align-items: center;
  height: 20px;
  margin: 0 4px !important;
  padding: 0 3px !important;
  background-color: var(--bs-bg-secondary-color);
  border-radius: 3px;
  color: var(--bs-sf-grey-text);
}

.long-text-formatter .links-container .seaqa-icon-svg,
.long-text-formatter .check-list-container .seaqa-icon-svg {
  height: 12px;
  width: 12px;
  margin-right: 4px !important;
}

.long-text-formatter .check-list-container .check-list-completed {
  color: #61BD4F;
}

.long-text-formatter .images-container {
  margin-right: -10px !important;
}

.long-text-formatter .images-container img {
  box-sizing: border-box;
  max-height: 28px;
  max-width: 28px;
  border: 1px solid var(--bs-bg-secondary-color);
  border-radius: 3px;
}

.long-text-formatter .images-container .image-number {
  display: inline-block;
  min-width: 14px;
  padding: 0 3px;
  background-color: var(--bs-sf-grey-text);
  border-radius: 6px;
  font-size: 12px;
  font-style: normal;
  line-height: 14px;
  color: #fff;
  transform: translate(-50%, 9px) scale(0.8);
}

.long-text-formatter .preview-text-content {
  overflow: hidden;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}
