.sea-qa-project-toggle-connections-btn {
  display: inline-flex;
  margin-right: 4px;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
}

.sea-qa-project-toggle-connections-btn .sea-qa-icon-svg {
  height: 16px !important;
  width: 16px !important;
}
