.seaqa-project-toggle-connections-btn {
  display: inline-flex;
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.seaqa-project-toggle-connections-btn .seaqa-icon-svg {
  height: 16px !important;
  width: 16px !important;
}

.seaqa-project-syncing-connections-btn {
  display: inline-flex;
  align-items: center;
  height: 28px;
  padding-top: 0;
  padding-bottom: 0;
}

.seaqa-project-syncing-connections-btn .seaqa-loading-icon {
  height: 14px;
  width: 14px;
}
