.resolved-tag-container {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 3px 8px 3px 5px;
  background-color: #EDF8E2;
  border-radius: 10px;
  gap: 4px;
}

.resolved-tag-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  background-color: #4CAF50;
  border-radius: 50%;
}

.resolved-tag-icon {
  flex-shrink: 0;
  height: 8px;
  width: 8px;
  color: #FFFFFF;
}

.resolved-tag-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #5EBA00;
}
