.seaqa-portal-toggle-knowledge-btn {
  display: inline-flex;
  margin-right: 4px;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
}

.seaqa-portal-toggle-knowledge-btn .seaqa-icon-svg {
  height: 16px !important;
  width: 16px !important;
}
