.tags-formatter {
  min-height: 38px;
  width: 100%;
  padding: 6px 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  border-radius: 3px;
  gap: 4px;
}

.tags-formatter.valid {
  padding: 9px 0;
}
