.add-blank-table {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  top: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
}

.create-table-input {
  border-right: none;
  border-left: none;
  border-radius: 0;
  height: 40px;
  margin-top: 16px;
}

.create-table-input input {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-blank-table .selected-table-container {
  width: 100%;
  max-width: 100%;
}

.add-blank-table .selected-table-container .create-base-settings {
  padding: 1rem;
  background: #fff;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.selected-table-container > span {
  color: #666;
  display: inline-block;
  height: 44px;
  padding: 16px 16px 5px;
}

@media screen and (max-width: 766.8px) {
  .dtable-folder-view {
    position: fixed;
  }

  .dtable-folder-view .dtable-am-list-header .dtable-font {
    color: #999;
  }

  .dtable-folder-view .folder {
    height: calc(100% - 50px);
    overflow-y: auto;
  }
}
