.option-editor-popover .option-editor-search-wrapper {
  padding: 10px 10px 0 10px;
}

.option-editor-popover .option-editor-content {
  min-height: 100px;
  max-height: 200px;
  overflow: auto;
  padding: 10px 0;
}

.option-editor-popover .option-editor-content .option-editor-option {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  height: 30px;
  width: 100%;
  padding: 0 10px;
}

.option-editor-popover .option-editor-content .option-editor-option:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.option-editor-popover .option-editor-option .sea-qa-icon-btn {
  height: 20px;
  width: 20px;
}

.option-editor-popover .option-editor-option .sea-qa-icon-btn .sea-qa-icon-svg {
  height: 12px;
  width: 12px;
  color: #798d99;
}

.option-editor-popover .option-editor-add-search-result {
  height: 30px;
  overflow: hidden;
  padding: 0 10px;
  border-top: 1px solid #dedede;
  color: var(--bs-body-color);
}

.option-editor-popover .option-editor-add-search-result .sea-qa-icon-svg {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  flex-shrink: 0;
}
