.seaqa-project-analyze {
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: row;
  width: 100%;
  padding: 0 16px;
}

.analyze-main-content {
  position: relative;
  overflow: hidden;
  flex: 1;
  height: 100%;
}
