.seaqa-paths-redirection {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  width: fit-content;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seaqa-paths-redirection .seaqa-paths-redirection-name {
  cursor: default;
  font-size: 18px;
  font-weight: 500;
}

.seaqa-paths-redirection .seaqa-paths-redirection-name.redirection:hover {
  color: var(--bs-orange);
  cursor: pointer;
}

.seaqa-paths-redirection .seaqa-paths-redirection-icon,
.seaqa-paths-redirection .seaqa-paths-redirection-icon .seaqa-icon-svg-arrow-down {
  height: 14px !important;
  width: 14px !important;
}
