.sea-metadata-popover-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.popover-add-tool.add-item-btn {
  border-top: none;
  color: var(--bs-body-secondary-color);
  background-color: inherit;
}

.popover-add-tool.add-item-btn:hover {
  background-color: var(--bs-bg-color);
}

.popover-add-tool.disabled:hover {
  cursor: not-allowed;
  background: var(--bs-body-bg);
}

.sea-metadata-filter-popover .popover-add-tool.disabled .customize-add-tool-icon,
.sea-metadata-filter-popover .popover-add-tool.disabled {
  color: #c2c2c2;
}
