.group-invite-members th,
.group-invite-members td {
  vertical-align: middle;
  text-align: left;
}

.group-invite-members .no-link-tip {
  line-height: 24px;
  color: #666;
}

.group-invite-members .input-group .btn:hover,
.group-invite-members .input-group .btn {
  color: #666;
}

.group-invite-members .input-group .btn:hover {
  background-color: #efefef;
  border-color: var(--bs-btn-hover-border-color);
}
