.my-projects-trash-title {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  margin: 20px 15px 0 0;
}

.my-projects-trash-title button {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 25px;
  justify-content: center;
  padding: 0;
  width: 78px;
}
