.my-projects-trash-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  height: 48px;  
  min-height: 48px;
}

.my-projects-trash-title button {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 25px;
  justify-content: center;
  padding: 0;
  width: 78px;
}

/* tabs */
.cur-view-content.my-projects-trash .nav-tabs {
  border-bottom: 1px solid #e9ecef;
}

.cur-view-content.my-projects-trash .nav-tabs .nav-link {
  padding: 6px 10px;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.cur-view-content.my-projects-trash .nav-tabs .nav-link.active {
  color: #ED7109;
  font-weight: 600;
  border-bottom-color: #ED7109;
}

.cur-view-content.my-projects-trash .nav-tabs .nav-link:hover {
  color: #ED7109;
}
