.seaqa-project-edit-knowledge {
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  width: 100%;
  padding: 16px;
}

.seaqa-project-edit-knowledge .seaqa-project-knowledge-settings {
  flex: 1;
  padding-top: 8px;
  padding-left: 44px;
}

.seaqa-project-edit-knowledge .seaqa-project-knowledge-name {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.seaqa-project-edit-knowledge .seaqa-project-knowledge-settings-container {
  display: flex;
}

.seaqa-project-edit-knowledge .seaqa-project-knowledge-content-settings {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.seaqa-project-edit-knowledge .seaqa-project-knowledge-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.seaqa-project-edit-knowledge .seaqa-project-knowledge-other-settings {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 16px;
}

.seaqa-project-edit-knowledge .seaqa-project-knowledge-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  padding-bottom: 40px;
}

.seaqa-project-edit-knowledge .seaqa-project-knowledge-footer .seaqa-loading-icon {
  height: 16px;
  width: 16px;
}

.seaqa-project-edit-knowledge .sf-long-text-inline-editor-container:has(*:focus) {
  border-color: var(--bs-custom-select-focus-border-color);
}

.seaqa-project-edit-knowledge.s .seaqa-project-knowledge-settings-container {
  display: flex;
  flex-direction: column;
}

.seaqa-project-edit-knowledge.s .seaqa-project-knowledge-content-settings {
  width: 100%;
}

.seaqa-project-edit-knowledge.s .seaqa-project-knowledge-other-settings {
  width: 100%;
  padding-left: 0;
}

.seaqa-project-edit-knowledge.s .seaqa-project-knowledge-other-settings .seaqa-settings-item:last-child {
  margin-bottom: 0 !important;
}

.seaqa-project-edit-knowledge.s .seaqa-project-knowledge-footer {
  padding-bottom: 16px;
}

.seaqa-project-edit-knowledge.s .seaqa-project-knowledge-submit-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  padding-bottom: 40px;
}

.seaqa-project-knowledge-content .sf-long-text-inline-editor-container .sf-slate-editor-content .article {
  padding:  10px 16px !important;
}
