{% extends "base_clean.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block sub_title %}{% trans "Log in" %} - {% endblock %}

{% block private_style %}

.login-form-divider-lin {
    width: 30%;
    border-bottom: 1px solid #a6a6a6;
}

{% endblock %}

{% block extra_style %}{{block.super}}
{% render_bundle 'eyeIcon' 'css' %}
{% render_bundle 'downIcon' 'css' %}
{% render_bundle 'rememberMeIcon' 'css' %}
{% endblock %}


{% block main_content %}
<div class="login-panel-outer-container mt-6 vh 111">
	<div class="login-panel-wrapper">
		<div class="login-panel-header d-flex justify-content-between align-items-center">
			<div class="login-title">{% trans "Account log in" %}</div>
			{% if enable_signup %}
			<div class="register-link">
				<a href="{{ signup_url }}" id="sign-up">{% trans "Go to register" %}</a>
				<span class="login-arrow-right rotate-icon-270" id="right-down-icon-wrapper"></span>
			</div>
			{% endif %}
		</div>
		<form class="login-form-wrapper" action="" method="post" id="login-form">{% csrf_token %}
			{% if cur_language == "zh-cn" %}
			<input
				type="text"
				name="login"
				placeholder="{% trans "Email" %}"
				aria-label="{% trans "Email" %}"
				title="{% trans "Email" %}"
				value=""
				class="input form-item-input"
			/>
			{% else %}
			<input
				type="text"
				name="login"
				placeholder="{% trans "Email" %}"
				aria-label="{% trans "Email" %}"
				title="{% trans "Email" %}"
				value=""
				class="input form-item-input"
			/>
			{% endif %}
			<div class="position-relative">
				<input
					type="password"
					name="password"
					placeholder="{% trans "Password" %}"
					aria-label="{% trans "Password" %}"
					title="{% trans "Password" %}"
					value=""
					class="input form-item-input"
					id="id_password1"
					autocomplete="off"
				/>
				<div class="password-toggle" id="eye-icon-wrapper"></div>
			</div>

			{% if form.captcha %}
			<div class="ovhd">
				<span id="refresh-captcha" title="{% trans "Refresh" %}" class="icon-refresh op-icon fright"></span>
				{{ form.captcha }}
			</div>
			{% endif %}

			<input type="hidden" name="next" value="{% if next %}{{ next|escape }}{% else %}{{ SITE_ROOT }}{% endif %}" />
			{% if form.errors %}
			{% if form.captcha.errors %}
			{{ form.captcha.errors}}
			{% elif form.errors.freeze_account %}
			<p class="error">{{ form.errors.freeze_account }}</p>
			{% elif form.errors.inactive %}
			<p class="error">{{ form.errors.inactive }}</p>
			{% elif form.errors.not_found %}
			<p class="error">{{ form.errors.not_found }}</p>
			{% elif form.password.errors %}
			<p class="error">{{ form.password.errors }}</p>
			{% elif form.errors.disable_pwd_login %}
			<p class="error">{{ form.errors.disable_pwd_login }}</p>
			{% else %}
			<p class="error">{% trans "Incorrect account or password" %}</p>
			{% endif %}
			{% else %}
			<p class="error hide"></p>
			{% endif %}

			{% if remember_days > 0 %}
			<label class="login-form-pass-member d-flex align-items-center">
				<input type="checkbox" id="remember-me-input" name="remember_me" class="remember-input" style="display: none;" />
				<span class="remember-me-toggle" id="remember-me-icon-wrapper"></span>
				<span class="remember-me-text">{% blocktrans %}Remember me for {{remember_days}} days {% endblocktrans %}</span>
			</label>
			{% endif %}

			<button type="submit" class="submit btn btn-primary btn-block">{% trans "Log in" %}</button>
		</form>

		{% if enable_sso %}
		<a id="sso" href="#" class="btn btn-secondary btn-sso btn-block">{% trans "Single Sign-On" %}</a>
		{% endif %}

		{% if enable_multi_saml %}
		<a id="multi_saml_sso" href="#" class="btn btn-secondary btn-sso btn-block">{% trans "Single Sign-On" %}</a>
		{% endif %}

			{% if enable_sms_login %}
			<div class="mt-5">
					<span class="d-flex align-items-center justify-content-center">
							<span class="mr-2 login-form-divider-lin"></span>
							<span style="color: #a6a6a6;">{% trans "Login with" %}</span>
							<span class="ml-2 login-form-divider-lin"></span>
					</span>
					<div class="d-flex justify-content-center">
							{% if enable_sms_login %}
							<div class="d-flex justify-content-center mt-4 ml-4">
									<a href="{{ SITE_ROOT }}accounts/login/sms-login/?next={% if next %}{{ next|urlencode }}{% else %}{{ SITE_ROOT }}{% endif %}">
											<img src="{{MEDIA_URL}}img/sms-login.png" width="32" alt="" title="短信" />
									</a>
							</div>
							{% endif %}
					</div>
			</div>
			{% endif %}

		<div class="login-panel-bottom-container d-flex align-items-center justify-content-between">
			{% if email_host %}
			<a href="{{ SITE_ROOT }}accounts/password/reset/" class="forgot-passwd">{% trans "Forgot password" %}</a>
			{% endif %}
		</div>
	</div>
</div>
{% include "police_service_link.html" %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.login-panel-bottom-container').append($('#lang').removeClass('fright'));

var currentLanguage = "{{ cur_language }}";
var $el = $('.login-panel-outer-container');
$el.removeClass('vh');

$(document).ready(function() {
    let currentLang = $('html').attr('lang');
    let longVocabularyLangTypes = ['de', 'es', 'pt'];

    if (longVocabularyLangTypes.includes(currentLang)) {
        $('.login-panel-bottom-container a').each(function() {
            let classNames = $(this).attr('class');
            if (classNames && classNames.includes('px-3')) {
                let updatedClassNames = classNames.replace('px-3', 'px-2');
                $(this).attr('class', updatedClassNames);
            }
        });

        $('#lang').each(function() {
            let classNames = $(this).attr('class');
            if (classNames && classNames.includes('pl-3')) {
                let updatedClassNames = classNames.replace('pl-3', 'pl-2');
                $(this).attr('class', updatedClassNames);
            }
        });
    }
});

$('#lang-context').on('click', function() {
    var langTop = $('#lang').offset().top;
    var langSelectorTop;
    var langSelectorHeight = $('#lang-context-selector .sf-popover-con').outerHeight();
    if (langSelectorHeight > langTop) {
        langSelectorTop = '-' + (langTop - 5) + 'px';
    } else {
        langSelectorTop = '-' + (langSelectorHeight + 5) + 'px';
    }
    $('#lang-context-selector').css({
        'top': langSelectorTop,
        'right': 0
    });
    $('#lang-context-selector .sf-popover-con').css({
        'max-height': $('#lang').offset().top - 10
    });
});

$('[name="login"]').trigger('focus');

function setCaptchaInputWidth() {
    $('#id_captcha_1').outerWidth($('.input').outerWidth() - $('.captcha').width() - $('#refresh-captcha').outerWidth(true) - 10);
}
$(window).on('load', setCaptchaInputWidth);
$('.captcha').on('load', setCaptchaInputWidth);
$('#refresh-captcha').on('click', function() {
    $.ajax({
        url: '{% url 'captcha-refresh' %}',
        dataType:'json',
        cache:false,
        success: function(data) {
            $('.captcha').attr('src', data['image_url']);
            $('#id_captcha_0').val(data['key']);
        },
        error: function() {
            $('.error').removeClass('hide').html("{% trans "Failed to refresh the CAPTCHA, please try again later." %}");
        }
    });
    return false;
});

$("body").on('click', '.password-toggle', function(){
    var $pass1 = document.getElementById("id_password1");
    if ($pass1.type === "password") {
        $pass1.type = "text";
    } else {
        $pass1.type = "password";
    }
    $(this).toggleClass("password-show")
});

$('#login-form').on('submit', function(){
    if (!$.trim($('input[name="login"]').val())) {
        if (currentLanguage === 'zh-cn') {
            $('.error').removeClass('hide').html("{% trans "Email cannot be blank" %}");
        } else {
            $('.error').removeClass('hide').html("{% trans "Email cannot be blank" %}");
        }
        return false;
    }
    if (!$.trim($('input[name="password"]').val())) {
        $('.error').removeClass('hide').html("{% trans "Password cannot be blank" %}");
        return false;
    }
});

{% if enable_sso %}
$(function() {
    $('#sso').on('click', function() {
        window.location = "{% url 'sso' %}{% if next %}?next={{ next|urlencode }}{% endif %}" + encodeURIComponent(document.location.hash);
        return false;
    });
});
{% endif %}

{% if enable_multi_saml %}
$(function() {
    $('#multi_saml_sso').on('click', function() {
        window.location = "{% url 'multi_saml_sso' %}{% if next %}?next={{ next|urlencode }}{% endif %}" + encodeURIComponent(document.location.hash);
        return false;
    });
});
{% endif %}


</script>

{% render_bundle 'eyeIcon' 'js' %}
{% render_bundle 'downIcon' 'js' %}
{% render_bundle 'rememberMeIcon' 'js' %}
{% endblock %}
