{% extends "base_clean.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Password reset" %}{% endblock %}

{% block private_style %}
.reset-password-tip-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-password-tip-panel .email-imge {
    margin: 24px 0 10px 0;
}

.reset-password-tip-panel .return-button {
    margin: 31px 0 41px 0;
    min-width: 140px;
}
{% endblock %}

{% block main_content %}
<div class="reset-password-tip-panel mt-6">
    <h1 class="reset-password-tip-panel-hd">{% trans "Password reset" %}</h1>
    <img class="email-imge" src="{{MEDIA_URL}}img/email.png" width="100" alt="" />
    <p class="text-center">{% trans "We've sent a password reset email to your mailbox." %}</p>
    <p class="return-button"><a class="submit btn btn-primary btn-block m-0" href="{{ SITE_ROOT }}accounts/login/">{% trans "Back to the login page" %}</a></p>
</div>
{% endblock %}
