{% extends "base_clean.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Password reset" %}{% endblock %}

{% block private_style %}
.container-fluid.sea-qa-container-fluid {
    height: 100%;
}

.sf-popover-con {
    padding: 8px 0;
    overflow: visible;
}

.sf-popover-con a {
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

#lang .sea-qa-icon-down3 {
    display: inline-block;
    transform: scale(0.8);
}

.tips {
    color: #808080;
}
{% endblock %}

{% block main_content %}
<div class="password-reset-panel-container mt-6 ">
    <div class="password-reset-panel">
        <h1 class="password-reset-panel-hd">{% trans "Password reset" %}</h1>
        <p class="text-center tips">{% trans "We will send you an email to set new password" %}</p>
        <form action="" method="post" id="reset-password-form">{% csrf_token %}
            <input type="text" class="input email-input" name="email" placeholder="{% trans "Your email used in login" %}" />
            {{ form.email.errors }}
            <button type="submit" class="submit btn btn-primary btn-block">{% trans "Submit" %}</button>
        </form>
        <div class="password-reset-panel-bottom-container">
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    $('.password-reset-panel input[name="email"]').trigger('focus');

    $('.password-reset-panel-bottom-container').append($('#lang').removeClass('fright'));

    $('[name="email"]').addClass('input');
</script>
{% endblock %}
