{% extends "base_clean.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% block sub_title %}{% trans "Signup" %} - {% endblock %}

{% block extra_style %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/sea-qa-ui.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seahub_python.css" />
{% endblock %}

{% block private_style %}
{% render_bundle 'eyeIcon' 'css' %}
{% endblock %}

{% block main_content %}
<div class="login-panel-outer-container">
	<div class="individual-register-panel-wrapper">
		<div class="individual-register-panel-content">
			<div class="individual-register-panel-header d-flex justify-content-center align-items-center">
				<div class="individual-register-title">{% trans "Sign up" %}</div>
			</div>
			{% if request.user.is_authenticated %}
			<p class="text-center">{% trans "Welcome back, you are already signed in." %} <a href="{{ redirect_to }}" class="normal">{% trans "Return to the homepage" %}</a></p>
			{% else %}
			<form class="login-form-wrapper" action="" method="post" id="signup-form">{% csrf_token %}
				{% if form.name.field.required %}
				{{ form.name }} {{ form.name.errors }}
				{% endif %}

				{{ form.email }}            {{ form.email.errors }}
				<div class="position-relative">
						{{ form.password1 }}        {{ form.password1.errors }}
						<div class="password-toggle" id="eye-icon-wrapper"></div>
				</div>
				{{ form.password2 }}        {{ form.password2.errors }}

				{% if form.telephone.field.required %}
				<label for="id_telephone">{% trans "Telephone" %}</label>
				{{ form.telephone }}        {{ form.telephone.errors }}
				{% endif %}

				{% if form.note.field.required %}
				<label for="id_note">{% trans "Note" %}</label>
				{{ form.note }}             {{ form.note.errors }}
				{% endif %}

				<p class="error hide mt-1"></p>
				{% if cn_force_check_user_agreement %}
				{% include "registration/user_terms_check.html" %}
				{% endif %}
				<button type="submit" class="submit btn btn-primary btn-block">{% trans "Sign up" %}</button>
			</form>

			<div class="login-panel-bottom-container">
				{# language will be shown here #}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}bootstrap/bootstrap.popover.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}bootstrap/bootstrap.min.js"></script>
<script type="text/javascript">
	
$('#signup-form input').addClass('form-item-input');
$('.login-panel-bottom-container').append($('#lang').removeClass('fright'));

$("body").on('click', '.password-toggle', function(){
    var $pass1 = document.getElementById("id_password1");
    var $pass2 = document.getElementById("id_password2");
    var toggle = $(this).toggleClass("password-show");
    [$pass1, $pass2].forEach(function($passwords) {
        if ($passwords.type === "password") {
            $passwords.type = "text";
            toggle.toggleClass()
        } else {
            $passwords.type = "password";
        }
    })
});

$('#lang-context').on('click', function() {
    var langTop = $('#lang').offset().top;
    var langSelectorTop;
    var langSelectorHeight = $('#lang-context-selector').outerHeight();
    if (langSelectorHeight > langTop) {
        langSelectorTop = '-' + (langTop - 4) + 'px';
    } else {
        langSelectorTop = '-' + (langSelectorHeight + 4) + 'px';
    }
    $('#lang-context-selector').css({
        'top': langSelectorTop,
        'right': 0
    });
    $('#lang-context-selector .sf-popover-con').css({
        'max-height': $('#lang').offset().top - 10
    });
});
{% if strong_pwd_required %}
{% include "snippets/password_strength_js.html" %}
var passwd_tip = "{% blocktrans %}Passwords must have at least {{min_len}} characters and contain {{level}} of the following: uppercase letters, lowercase letters, numbers, and symbols.{% endblocktrans%}";
var element = document.getElementById('id_password1')
var popover = new bootstrap.Popover(element, {
    container: 'body',
    animation: false,
    content: passwd_tip,
    template: `<div class="popover" role="popover"><div class="popover-arrow"></div><div class="popover-inner">${passwd_tip}</div></div>`,
    trigger: 'click'
});
element.addEventListener('keyup', () => {
    var pwd = $('#id_password1').val();
    if (pwd.trim()) {
        var level = getStrengthLevel(pwd);
        showStrength(level);
    }
});
{% endif %}

$('#signup-form').on('submit', function(){
    var email = $.trim($('input[name="email"]').val()),
        pwd1 = $.trim($('input[name="password1"]').val()),
        pwd2 = $.trim($('input[name="password2"]').val());

        if (!email) {
            $('.error').html("{% trans "Email cannot be blank" %}").removeClass('hide');
            return false;
        }
        if (!pwd1) {
            $('.error').html("{% trans "Password cannot be blank" %}").removeClass('hide');
            return false;
        }
        if (!pwd2) {
            $('.error').html("{% trans "Please enter the password again" %}").removeClass('hide');
            return false;
        }
        if (pwd1 != pwd2) {
            $('.error').html("{% trans "Passwords don't match" %}").removeClass('hide');
            return false;
        }
        {% if strong_pwd_required %}
            var level = getStrengthLevel(pwd1);
            if (level < {{level}}) {
                $('.error').html(passwd_tip).removeClass('hide');
                return false;
            }
        {% endif %}
        {% if cn_force_check_user_agreement %}
          if (!$('.user-terms-input').prop('checked')) {
            showUserTermsTip();
            return false;
          }
        {% endif %}
});

</script>

{% render_bundle 'eyeIcon' 'js' %}
{% endblock %}
