{% extends "registration/login.html" %}
{% load i18n %}

{% block main_content %}
<div class="login-panel-outer-container mt-6 vh">
<div class="login-panel">
    <h1 class="login-panel-hd">短信登录</h1>
    <form action="" method="post" id="sms-login-form">{% csrf_token %}
        <div class="position-relative justify-content-between row m-0">
            {% if send_button_disabled %}
            <input type="text" name="send_sms_code" {% if phone %}value={{ phone }}{% else %}{% endif %} autocomplete="off" class="input name-input w-100" style="height: 40px; max-width: calc(100% - 110px); box-sizing: border-box;" readonly />
            <button id="send_sms_code" type="submit" class="submit btn btn-primary btn-block ml-2 disabled" style="width: 100px">已发送</button>
            {% else %}
            <input type="text" name="send_sms_code" placeholder="请输入手机号" {% if phone %}value={{ phone }}{% else %}{% endif %} autocomplete="off" class="input name-input w-100" style="height: 40px; max-width: calc(100% - 110px); box-sizing: border-box;" />
            <button id="send_sms_code" type="submit" {{ send_button_disabled }} class="submit btn btn-primary btn-block ml-2" style="width: 100px">发送验证码</button>
            {% endif %}
        </div>
    </form>
    <form action="" method="post" id="sms-login-form-sms-code">{% csrf_token %}
        <input id="id_sms_code" type="text" name="sms_code" placeholder="请输入短信验证码" value="" class="input name-input w-100" style="height: 40px; box-sizing: border-box;" autocomplete="off" />
        {% if error_msg %}
        <p class="error">{{ error_msg }}</p>
        {% endif %}
        <button id="verify" type="submit" class="submit btn btn-primary btn-block">登录</button>
    </form>
</div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.login-panel-bottom-container').append($('#lang').removeClass('fright'));

var $el = $('.login-panel-outer-container');
$el.removeClass('vh');

// for refresh page
if (window.history.replaceState) {
    window.history.replaceState( null, null, window.location.href );
}

</script>
{% endblock %}
