.multiple-text-card {
  height: 180px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  flex-shrink: 0;
}

.multiple-text-card .multiple-text-item {
  flex-direction: column;
  width: calc(100% / 3);
}

.multiple-text-card .multiple-text-item p:first-child {
  font-size: 16px;
  font-weight: 500;
  margin-top: 45px;
}

.multiple-text-card .multiple-text-item p:last-child {
  font-size: 36px;
  font-weight: 500;
}
