.sea-qa-search-input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sea-qa-search-input-wrapper .sea-qa-search-input {
  width: 100%;
  padding-left: 2.5rem;
  border-radius: 4px;
}

.sea-qa-search-input-wrapper .sea-qa-search-input.small-size {
  border-radius: 4px;
}

.sea-qa-search-input-wrapper .sea-qa-search-input:focus {
  border-color: #0094F2;
  box-shadow: none;
}

.sea-qa-search-input-wrapper .sea-qa-search-input::placeholder {
  color: #868E96;
  font: 14px;
}

.sea-qa-search-input-wrapper .sea-qa-search-input-search {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  padding-left: 12px;
  padding-right: 8px;
}

.sea-qa-search-input-wrapper .sea-qa-search-input-search:hover {
  background-color: inherit;
  cursor: default;
}

.sea-qa-search-input-wrapper .sea-qa-search-input-search .sea-qa-icon-svg {
  color: var(--bs-icon-secondary-color);
  height: 14px;
  width: 14px;
}

.sea-qa-project-search-in-popover.sea-qa-search-input-wrapper {
  margin: 0 16px;
  width: calc(100% - 32px);
}
