.seaqa-create-task-dialog {
  height: calc(100% - 56px);
  max-width: 850px;
  width: 850px;
}

.seaqa-create-task-dialog .modal-content {
  height: 100%;
}

.seaqa-create-task-dialog .modal-body {
  display: flex;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
  gap: 24px;
}

.seaqa-create-task-dialog .seaqa-create-task-main-settings {
  flex: 1;
  min-width: 0;
}

.seaqa-create-task-dialog .seaqa-create-task-other-settings {
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 30%;
}

.seaqa-create-task-dialog .seaqa-task-content {
  height: 250px;
  min-height: 250px;
}
