.sea-qa-project .sea-qa-project-icon {
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.sea-qa-project .sea-qa-project-icon .project-icon {
  font-size: 20px;
}

.sea-qa-project .sea-qa-project-icon .sea-qa-project-return-home-icon {
  color: #fff;
  height: 20px;
  width: 20px;
}

.sea-qa-project .sea-qa-project-icon .sea-qa-project-return-home-icon,
.sea-qa-project .sea-qa-project-icon:hover .project-icon {
  display: none;
}

.sea-qa-project .sea-qa-project-icon:hover .sea-qa-project-return-home-icon {
  display: unset;
}

.sea-qa-project .sea-qa-project-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 700;
}
