.seaqa-ai-chat-attachments-container {
  overflow-x: auto !important;
  width: 100%;
  margin-bottom: 12px;
  scrollbar-width: none;
}

.seaqa-ai-chat-attachments {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-wrap: nowrap !important;
  justify-content: flex-start !important;
  width: fit-content;
  margin-bottom: 0 !important;
}

.seaqa-ai-chat-attachments-container::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}

.seaqa-ai-chat-attachments-scroll-before {
  left: 15px;
  padding-right: 6px;
  background: linear-gradient(90deg, #fff, var(--bs-body-third-bg));
}

.seaqa-ai-chat-attachments-scroll-after {
  right: 15px;
  padding-left: 6px;
  background: linear-gradient(270deg, #fff, var(--bs-body-third-bg));
}

.seaqa-ai-chat-attachments-scroll-before,
.seaqa-ai-chat-attachments-scroll-after {
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 30px;
}

.seaqa-ai-chat-attachments-scroll-before .seaqa-icon-btn,
.seaqa-ai-chat-attachments-scroll-after .seaqa-icon-btn {
  border: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}
