.mobile-main-panel {
  height: 100%;
  width: 100%;
  position: relative;
}

html:not([data-scale]) .mobile-main-panel .am-tab-bar-bar:before {
  background-color: #bfbfbf;
}

.mobile-main-panel .sea-qa-home-header {
  z-index: 101;
}

.mobile-main-panel .am-tabs-content-wrap .am-tabs-pane-wrap:first-child {
  background: #fff;
}

.mobile-main-panel .tab-item {
  height: 22px;
  width: 22px;
}

.mobile-main-panel .selected-tab-item {
  color: #ED7109;
}

.mobile-main-panel .am-tab-bar {
  height: calc(100% - 50px);
  background: #f5f5f5;
}

.mobile-main-panel .am-tab-bar-tab-icon {
  line-height: 1;
}
