.language-settings-header {
  border-bottom: 1px solid #eee;
  font-size: .9375rem;
  font-weight: 400;
  margin-bottom: .7rem;
  padding-bottom: .3rem;
  padding-top: 14px;
}

.language-settings .language-selector {
  border: 1px solid #ddd;
  font-size: 14px;
  height: 34px;
  max-width: 280px;
}
