.password-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--bs-icon-secondary-color);
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
}

.password-toggle:hover {
  color: var(--bs-sf-grey-text);
}

.password-toggle .seaqa-icon-svg-eye {
  display: none;
}

.password-toggle.password-show .seaqa-icon-svg-eye-slash {
  display: none;
}

.password-toggle.password-show .seaqa-icon-svg-eye {
  display: unset;
}
