.workflow-app-main .link-records-picker,
.workflow-task-pending-content .link-records-picker,
.add-workflow-task-body .link-records-picker {
  width: 520px;
  height: 560px;
  position: fixed;
  background-color: #fff;
  margin: 0.125rem 0 0;
  display: flex;
  flex-direction: column;
  font-size: .875rem;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  z-index: 4;
}

.workflow-app-main .link-records-picker .link-records-search,
.workflow-task-pending-content .link-records-picker .link-records-search,
.add-workflow-task-body .link-records-picker .link-records-search {
  height: 94px;
  padding: 0 20px;
  border-bottom: 0;
}

.workflow-app-main .link-records-picker .link-records-search-header,
.workflow-task-pending-content .link-records-picker .link-records-search-header,
.add-workflow-task-body .link-records-picker .link-records-search-header {
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -20px;
  padding: 0 20px;
  border-bottom: 1px solid #e9ecef;
  font-weight: 500;
  font-size: 16px;
}

.workflow-app-main .link-records-search-header .dtable-icon-return,
.workflow-task-pending-content .link-records-search-header .dtable-icon-return,
.add-workflow-task-body .link-records-search-header .dtable-icon-return { 
  color: #666666;
  font-size: 14px;
  cursor: pointer;
}

.workflow-app-main .link-records-search .search-input-container,
.workflow-task-pending-content .link-records-search .search-input-container,
.add-workflow-task-body .link-records-search .search-input-container {
  height: 48px;
  position: relative;
  padding: 8px 0 2px;
}

.workflow-app-main .search-input-container .search-icon,
.workflow-task-pending-content .search-input-container .search-icon,
.add-workflow-task-body .search-input-container .search-icon {
  position: absolute;
  line-height: 38px;
  text-align: center;
  color: #aaa;
  margin-left: 11px;
}

.workflow-app-main .search-input-container .clear-search-text, 
.workflow-task-pending-content .search-input-container .clear-search-text, 
.add-workflow-task-body .search-input-container .clear-search-text {
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  cursor: pointer;
  top: 17px;
  right: 6px;
  position: absolute;
  color: #ccc;
}

.workflow-app-main .search-input-container .clear-search-text .dtable-font,
.workflow-task-pending-content .search-input-container .clear-search-text .dtable-font,
.add-workflow-task-body .search-input-container .clear-search-text .dtable-font {
  font-size: 16px;
}

.workflow-app-main .link-records-search .search-tables-input,
.workflow-task-pending-content .link-records-search .search-tables-input,
.add-workflow-task-body .link-records-search .search-tables-input {
  height: 38px;
  line-height: 38px;
  padding-right: 30px;
  border-bottom: 0;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #dedede;
  padding: 0 40px 0px 38px;
  cursor: default;
}

.workflow-app-main .link-records-search .search-tables-input:focus,
.workflow-task-pending-content .link-records-search .search-tables-input:focus,
.add-workflow-task-body .link-records-search .search-tables-input:focus {
  border-color: #bdbdbd;
}

.workflow-app-main .link-records-container,
.workflow-task-pending-content .link-records-container,
.add-workflow-task-body .link-records-container {
  width: 100%;
  height: 466px;
  overflow-y: hidden;
  padding: 0;
  background: #f8f8f8;
  position: relative;
  flex: 1 1;
}

.workflow-app-main .link-records-container .workflow-row-card-header,
.workflow-task-pending-content .link-records-container .workflow-row-card-header,
.add-workflow-task-body .link-records-container .workflow-row-card-header {
  width: 100%;
  height: 37px;
  background-color: #212529;
}

.workflow-app-main .link-records-container .row-cord-list,
.workflow-task-pending-content .link-records-container .row-cord-list,
.add-workflow-task-body .link-records-container .row-cord-list {
  height: calc(100% - 40px);
  width: 100%;
  min-width: 100%;
  padding: 10px 20px 0;
  overflow-y: auto;
  margin-top: 3px;
}

.workflow-app-main .link-records-container .row-cord-content,
.workflow-task-pending-content .link-records-container .row-cord-content,
.add-workflow-task-body .link-records-container .row-cord-content {
  padding: 0;
  height: auto;
  overflow-y: unset;
}

.workflow-app-main .link-records-container .row-card-columns-container,
.workflow-task-pending-content .link-records-container .row-card-columns-container,
.add-workflow-task-body .link-records-container .row-card-columns-container {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.workflow-app-main .link-records-container .row-card-column-name,
.workflow-task-pending-content .link-records-container .row-card-column-name,
.add-workflow-task-body .link-records-container .row-card-column-name {
  flex-shrink: 0;
  font-size: 14px;
  color: #666666;
  height: 20px;
  cursor: default;
}

.workflow-app-main .link-records-container .scroll-active,
.workflow-task-pending-content .link-records-container .scroll-active,
.add-workflow-task-body .link-records-container .scroll-active {
  color: #000;
  cursor: pointer;
}

.workflow-app-main .link-records-container .no-records-tips,
.workflow-task-pending-content .link-records-container .no-records-tips,
.add-workflow-task-body .link-records-container .no-records-tips {
  color: #666666;
  text-align: center;
}

.workflow-app-main .row-card-item-name,
.workflow-task-pending-content .row-card-item-name,
.add-workflow-task-body .row-card-item-name {
  position: relative;
  font-weight: 500;
}

.workflow-app-main .link-records-container .row-card-item-check,
.workflow-task-pending-content .link-records-container .row-card-item-check,
.add-workflow-task-body .link-records-container .row-card-item-check {
  position: absolute;
  top: 0;
  right: 0;
  color: #59CB74;
}

.workflow-link-records-container .row-card-item .row-card-cell-value.show-name {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center !important;
}

.workflow-link-records-container .row-card-item .row-card-cell-value.show-name .row-cell-value-content {
  max-height: 20px;
}

.workflow-link-records-container .row-card-item .row-card-cell-value.show-name .column-name {
  margin: 0.25rem 0;
  font-size: 12px;
  color: #666;
  max-width: 100px;
}

.workflow-link-records-container .show-name .cell-formatter-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: initial;
  height: 20px;
}

.workflow-link-records-container .show-name .checkbox-formatter {
  justify-content: unset !important;
}

.workflow-link-records-container .row-card-item .row-card-item-container {
  padding: 0;
}

.workflow-link-records-container .row-card-item .row-card-item-header {
  position: absolute;
  top: 12px;
  padding: 0 12px;
}

.workflow-link-records-container .row-card-item .row-card-item-content {
  height: 88px;
  padding: 24px 12px 0;
}

/* Mobile */
@media (max-width: 768px) {
  .workflow-app-main .link-records-picker,
  .workflow-list-view .link-records-picker,
  .add-workflow-task-view .link-records-picker {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    z-index: 101;
    line-height: 1.3;
  }

  .workflow-app-main .link-records-picker .row-card-scroll,
  .workflow-list-view .link-records-picker .row-card-scroll,
  .add-workflow-task-view .link-records-picker .row-card-scroll {
    background-color: #f9f9f9;
  }

  .workflow-app-main .link-records-picker .mobile-am-list-header,
  .workflow-list-view .link-records-picker .mobile-am-list-header,
  .add-workflow-task-view .link-records-picker .mobile-am-list-header {
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
    padding: 0;
  }

  .workflow-app-main .link-records-picker .row-expand-view-header,
  .workflow-list-view .link-records-picker .row-expand-view-header,
  .add-workflow-task-view .link-records-picker .row-expand-view-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  .workflow-app-main .link-records-picker .link-records-search,
  .workflow-list-view .link-records-picker .link-records-search,
  .add-workflow-task-view .link-records-picker .link-records-search {
    padding: 10px 16px;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  .workflow-app-main .link-records-picker .search-input-container,
  .workflow-list-view .link-records-picker .search-input-container,
  .add-workflow-task-view .link-records-picker .search-input-container {
    padding: 10px 16px;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
    display: flex;
    align-items: center;
  }

  .workflow-app-main .link-records-container,
  .workflow-list-view .link-records-container,
  .add-workflow-task-view .link-records-container {
    height: calc(100% - 100px);
  } 

  .workflow-app-main .link-records-picker .dtable-icon-search,
  .workflow-list-view .link-records-picker .dtable-icon-search,
  .add-workflow-task-view .link-records-picker .dtable-icon-search {
    left: 10px;
    color: #666666;
    position: absolute;
    line-height: 38px;
    text-align: center;
    color: #aaa;
    margin-left: 11px;
  }

  .workflow-app-main .link-records-picker .search-tables-input,
  .workflow-list-view .link-records-picker .search-tables-input,
  .add-workflow-task-view .link-records-picker .search-tables-input {
    background-color: #f5f5f5;
    padding-left: 28px;
    height: 28px;
  }

  .workflow-app-main .link-records-container .row-card-column-names,
  .workflow-list-view .link-records-container .row-card-column-names,
  .add-workflow-task-view .link-records-container .row-card-column-names {
    background-color: #f9f9f9;
  }

  .workflow-app-main .search-input-container .clear-search-text,
  .workflow-list-view .search-input-container .clear-search-text,
  .add-workflow-task-view .search-input-container .clear-search-text {
    line-height: 16px;
    right: 18px;
    display: inline-block;
    height: 24px;
    width: 24px;
    cursor: pointer;
    top: 17px;
    position: absolute;
    color: #ccc;
  }

  .workflow-app-main .link-records-picker .row-cord-list,
  .workflow-list-view .link-records-picker .row-cord-list,
  .add-workflow-task-view .link-records-picker .row-cord-list {
    height: calc(100% - 40px);
    width: 100%;
    min-width: 100%;
    padding: 10px 20px 0;
    overflow-y: auto;
    margin-top: 3px;
  }

  .workflow-app-main .link-records-picker .workflow-row-card-header,
  .workflow-list-view .link-records-picker .workflow-row-card-header,
  .add-workflow-task-view .link-records-picker .workflow-row-card-header {
    border-bottom: 1px solid #ddd;
  }

  .workflow-app-main .link-records-picker .row-card-item-name,
  .workflow-list-view .link-records-picker .row-card-item-name,
  .add-workflow-task-view .link-records-picker .row-card-item-name {
    position: relative;
    font-weight: 500;
  }

  .workflow-app-main .link-records-picker .row-card-item-check,
  .workflow-list-view .link-records-picker .row-card-item-check,
  .add-workflow-task-view .link-records-picker .row-card-item-check {
    position: absolute;
    top: 0;
    right: 0;
    color: #59CB74;
  }
}
