.seaqa-knowledge-preview {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  width: 100%;
  padding: 24px 143px 40px 143px;
}

.seaqa-knowledge-preview .seaqa-knowledge-create-info {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 16px;
}

.seaqa-knowledge-preview .seaqa-knowledge-create-info .seaqa-knowledge-creator {
  flex: 1;
  max-width: unset;
  margin-right: 0;
  padding: 0;
  background-color: inherit;
  border-radius: 0;
  font-size: 14px;
}

.seaqa-knowledge-preview .seaqa-knowledge-create-info .seaqa-knowledge-create-time {
  display: flex;
  align-items: center;
  gap: 8px;
}

.seaqa-knowledge-preview .seaqa-knowledge-create-info .seaqa-knowledge-create-time-content {
  font-size: 14px;
  line-height: 20px;
  color: var(--bs-body-secondary-color);
}

.seaqa-knowledge-preview .seaqa-knowledge-title {
  margin-bottom: 16px;
  border: none;
  font-size: 26pt;
  font-weight: 700;
  color: var(--bs-body-color);
}

.seaqa-knowledge-preview .seaqa-knowledge-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
  gap: 4px;
}

.seaqa-knowledge-preview .seaqa-knowledge-tags .sea-metadata-tag {
  margin-right: 0;
}

.seaqa-knowledge-preview .seaqa-knowledge-content {
  height: fit-content;
}

.seaqa-knowledge-preview .seaqa-knowledge-content .sf-slate-viewer-article-container .article {
  max-width: 100%;
  padding: 0 !important;
}


