.copy-dtable-dialog .copy-dtable-dialog-switch .custom-switch {
  cursor: pointer;
  flex-direction: row-reverse;
}

.copy-dtable-dialog .custom-switch-input:checked~.custom-switch-indicator {
  background: #ED7109;
}

.synced-with-common-datasets .dtable-icon-exclamation-circle,
.synced-with-common-datasets .dtable-icon-database {
  color: #999;
}

.synced-with-common-datasets .dtable-icon-exclamation-circle {
  font-size: 14px;
}

.synced-with-common-datasets .dtable-icon-exclamation-circle:hover {
  color: #666666;
}
