.dataset-dialog .modal-body {
  min-height: 0;
  overflow: hidden;
}

.dataset-dialog {
  height: calc(100vh - 60px);
  max-width: calc(100% - 60px);
}

.dataset-dialog .modal-content {
  height: 100%;
}

.dtable-dataset-result.success {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  height: 100%;
  width: fit-content;
  max-width: 100%;
}

.dataset-result-container {
  overflow-x: scroll;
  max-height: calc(100% - 32px);
  max-width: 100%;
  overflow-y: hidden;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
}

.dtable-dataset-result-content {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.static-dtable-dataset-result-content {
  height: 33px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.dtable-dataset-result-table-row {
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  transition: all .3s;
  height: 33px;
}

.dtable-dataset-last-table-row {
  border-bottom: none;
}

.dtable-dataset-result-table-cell.index {
  width: 90px;
  height: 100%;
  padding: 0;
}

.dtable-dataset-result-table-cell.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px
}

.dtable-dataset-result-table-cell {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-right: 1px solid #ccc;
  padding: 6px 8px;
}

.dtable-dataset-result-table-cell:last-child {
  border-right: none;
}

.dtable-dataset-result-column-content {
  height: 100%;
  width: 100%;
  text-align: left;
  line-height: 32px;
  font-weight: 600;
}

.dtable-dataset-result-table-content {
  overflow-y: auto;
  flex: 1 1;
  position: relative;
}

.dtable-dataset-result-table-content.content-no-y-scrollbar::-webkit-scrollbar {
  width: 0;
}

.dtable-dataset-result-table-content .dtable-dataset-result-loading {
  position: absolute;
  left: 50vw;
}

.dtable-dataset-result-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

 .dtable-dataset-result-count {
  height: 32px;
  width: 100%;
  overflow: hidden;
  line-height: 32px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  padding: 0 8px;
}

/* cell formatter */
.dtable-dataset-result-table-cell .dtable-ui.cell-formatter-container {
  height: 100%;
  width: 100%;
  line-height: 20px;
}

.dtable-dataset-result-table-cell .multiple-select-formatter,
.dtable-dataset-result-table-cell .single-select-formatter {
  line-height: 1;
}

.dtable-dataset-result-table-cell .dtable-dataset-button-formatter.cell-formatter-container {
  margin: -3px auto;
  text-align: center;
  height: 26px;
  line-height: 14px;
  min-width: 80px;
  max-width: 100%;
  width: fit-content;
}

.dtable-dataset-result-table-cell .dtable-dataset-date-formatter,
.dtable-dataset-result-table-cell .dtable-dataset-number-formatter,
.dtable-dataset-result-table-cell .dtable-dataset-duration-formatter {
  text-align: right;
}

.dtable-dataset-result-table-cell .dtable-dataset-text-formatter,
.dtable-dataset-result-table-cell .dtable-dataset-url-formatter,
.dtable-dataset-result-table-cell .dtable-dataset-email-formatter,
.dtable-dataset-result-table-cell .dtable-dataset-long-text-formatter .long-text-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dtable-dataset-result-table-cell .dtable-ui.long-text-formatter {
  height: 100%;
}

.dtable-dataset-result-table-cell .dtable-dataset-checkbox-formatter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dtable-dataset-file-formatter .file-item-icon {
  margin-right: 4px;
}

.dtable-dataset-result-table-cell .dtable-dataset-collaborator-formatter,
.dtable-dataset-result-table-cell .dtable-dataset-creator-formatter,
.dtable-dataset-result-table-cell .dtable-dataset-last-modifier-formatter {
  display: flex;
  align-items: center;
}

.dtable-dataset-result-table-cell .collaborator-avatar {
  height: 16px;
  width: 16px;
  margin-left: 0;
}

/* link */
.dtable-dataset-result-table-cell .dtable-dataset-link-formatter {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.dtable-dataset-result-table-cell .dtable-dataset-link-formatter .dtable-dataset-link-item {
  flex-shrink: 0;
  height: 20px;
  margin-right: 4px;
  padding: 0 6px;
  font-size: 13px;
  max-width: 100%;
  background: #eceff4;
  border-radius: 3px;
  align-items: center;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  width: fit-content;
}

.dtable-dataset-result-table-cell .dtable-dataset-link-formatter .dtable-dataset-checkbox-item {
  width: fit-content;
  margin-right: 10px;
  line-height: 36px;
}

.dtable-dataset-result-table-cell .dtable-dataset-link-formatter .dtable-dataset-long-text-item {
  display: inline-flex;
  margin-right: 10px;
  font-size: 13px;
  max-width: 100%;
  flex-shrink: 0;
}

/* records count */
.dtable-dataset-result.success .dtable-dataset-result-count {
  height: 32px;
  width: 100%;
  overflow: hidden;
  line-height: 32px;
  background-color: #F9F9F9;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 3px 3px;
}

.dtable-dataset-result.success .dtable-dataset-result-count .tip {
  color: #666;
}
