.manage-members {
  min-height: 200px;
  max-height: 300px;
  overflow: auto;
}

.manage-members-table th,
.manage-members-table td {
  vertical-align: middle;
  text-align: left;
}

.manage-members thead tr th {
  height: 36px;
  padding: 0.3rem;
}

.manage-members .manage-members-table .avatar {
  width: 24px;
  height: 24px;
}

.manage-members tbody tr th {
  padding-right: 4px;
  text-align: right;
}

.manage-members .group-member-name {
  padding-left: 4px;
}

.toggle-group-admin-icon,
.delete-group-member-icon {
  opacity: 0;
  cursor: pointer;
  color: #888;
  margin-left: 5px;
}

.manage-members-table tr:hover .toggle-group-admin-icon,
.manage-members-table tr:hover .delete-group-member-icon {
  opacity: 1;
}

.manage-members-table .editing {
  background-color: rgba(0, 0, 0, 0.04);
}

.toggle-group-admin-icon:hover,
.delete-group-member-icon:hover {
  color: #212529;
}

.add-members-select .true__indicator-separator {
  display: none;
}

.add-members {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.add-members .add-members-select {
  width: 385px;
  max-width: calc(100% - 70px);
}

.add-members .btn {
  width: 75px;
}

.group-error {
  margin-top: 10px;
}

.add-members .true__indicator {
  display: none;
}

.group-manage-members-dialog .add-members .toggle-detail-btn {
  position: absolute;
  top: 6px;
  right: 90px;
  border-left: 1px solid #ccc;
  padding-left: 9px;
  font-size: 18px;
  cursor: pointer;
  color: #999;
}

.add-members .toggle-detail-btn:hover {
  color: #666;
}

.group-manage-members-dialog .dtable-icon-return {
  color: #777;
  font-size: 14px;
  cursor: pointer;
}

.group-manage-members-dialog .search-input-container {
  height: 40px;
  position: relative;
  margin-bottom: 10px;
}

.group-manage-members-dialog .search-group-members-input {
  font-size: 14px;
  font-weight: normal;
  background: #f1f1f1;
  margin: 12px 0 0;
  color: #999;
  padding: 0 38px 0 38px;
  border: none;
}

.group-manage-members-dialog .search-group-members-input:focus {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 80%);
  color: #495057;
}

.group-manage-members-dialog .search-icon {
  position: absolute;
  left: 8px;
  margin-left: 3px;
  line-height: 38px;
  text-align: center;
  color: #999;
}

.group-manage-members-dialog .clear-search-text {
  position: absolute;
  display: inline-block;
  color: #666;
  height: 24px;
  width: 24px;
  line-height: 24px;
  top: 7px;
  right: 6px;
  text-align: center;
  cursor: pointer;
}

.group-manage-members-dialog .search-input-container .form-control:focus {
  box-shadow: unset;
}
