.group-manage-members-dialog .add-members {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.group-manage-members-dialog .add-members .toggle-detail-btn {
  position: absolute;
  top: 6px;
  right: 90px;
  border-left: 1px solid #ccc;
  cursor: pointer;
  color: var(--bs-icon-secondary-color);
  height: 27px;
  width: 28px;
  border-radius: 0;
  justify-content: flex-end;
}

.group-manage-members-dialog .add-members .toggle-detail-btn .seaqa-icon-svg {
  color: inherit;
  height: 18px;
  width: 18px;
}

.group-manage-members-dialog .add-members .add-members-select {
  width: 385px;
  max-width: calc(100% - 70px);
}

.group-manage-members-dialog .add-members .btn {
  width: 75px;
}

.group-manage-members-dialog .add-members .true__indicator {
  display: none;
}

.group-manage-members-dialog .add-members .toggle-detail-btn:hover {
  color: var(--bs-sf-grey-text);
}

.group-manage-members-dialog .add-members-select .true__indicator-separator {
  display: none;
}

.group-manage-members-dialog .seaqa-icon-svg-return {
  color: #777;
  font-size: 14px;
  cursor: pointer;
}

.group-manage-members-dialog .search-group-members-input-wrapper {
  height: 30px;
  margin: 10px 0;
}

.group-manage-members-dialog .search-group-members-input-wrapper .seaqa-search-input {
  font-size: 14px;
  font-weight: normal;
  background: #f1f1f1;
  color: var(--bs-icon-secondary-color);
  border: none;
}

.group-manage-members-dialog .search-group-members-input-wrapper .seaqa-search-input:focus {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 80%);
  color: #495057;
  box-shadow: none;
}

.group-manage-members-dialog .manage-members {
  min-height: 200px;
  max-height: 300px;
  overflow: auto;
}

.group-manage-members-dialog .manage-members-table th,
.group-manage-members-dialog .manage-members-table td {
  vertical-align: middle;
  text-align: left;
}

.group-manage-members-dialog .manage-members thead tr th {
  height: 36px;
  padding: 0.3rem;
}

.group-manage-members-dialog .manage-members .manage-members-table .avatar {
  width: 24px;
  height: 24px;
}

.group-manage-members-dialog .manage-members tbody tr th {
  padding-right: 4px;
  text-align: right;
}

.group-manage-members-dialog .manage-members .group-member-name {
  padding-left: 4px;
}

.group-manage-members-dialog .manage-members-table tr:hover .delete-group-member-icon {
  opacity: 1;
}

.group-manage-members-dialog .manage-members-table .editing {
  background-color: rgba(0, 0, 0, 0.04);
}

.group-manage-members-dialog .group-error {
  margin-top: 10px;
}

.group-manage-members-dialog .delete-group-member-icon {
  opacity: 0;
  cursor: pointer;
  color: #888;
  margin-left: 5px;
}

.group-manage-members-dialog .delete-group-member-icon:hover {
  color: var(--bs-body-color);
}
