/* 56 */
/* 56 - priority */
.sea-metadata-table-row-height-56-cell .sea-metadata-priority-editor {
  height: 20px;
}

/* 56 - text */
.sea-metadata-table-row-height-56-cell .sea-metadata-text-formatter {
  -webkit-line-clamp: 2;
  line-height: 1.5 !important;
  max-height: 42px;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  display: -webkit-box;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-wrap !important;
}

/* 56 - url */
.sea-metadata-table-row-height-56-cell .sea-metadata-url-formatter {
  -webkit-line-clamp: 2;
  line-height: 1.5 !important;
  max-height: 42px;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  display: -webkit-box;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-wrap !important;
}

/* 56 - creator */
.sea-metadata-table-row-height-56-cell .sea-metadata-creator-formatter {
  align-items: start !important;
}

/* 56 - collaborator */
.sea-metadata-table-collaborator-cell.sea-metadata-table-row-height-56-cell {
  padding-bottom: 4px;
  padding-top: 4px;
}

.sea-metadata-table-row-height-56-cell .sea-metadata-collaborator-formatter {
  max-height: 52px;
  align-content: flex-start;
  flex-wrap: wrap !important;
}

.sea-metadata-table-row-height-56-cell .sea-metadata-collaborator-formatter .collaborator {
  margin-bottom: 5px !important;
}

/* 56 - multiple */
.sea-metadata-table-multiple-select-cell.sea-metadata-table-row-height-56-cell {
  padding-bottom: 4px;
  padding-top: 4px;
}

.sea-metadata-table-row-height-56-cell .sea-metadata-multiple-select-formatter {
  flex-wrap: wrap;
  align-content: flex-start;
}

.sea-metadata-table-row-height-56-cell .sea-metadata-multiple-select-formatter .sea-metadata-ui-select-option {
  margin-bottom: 5px;
}

/* 56 - long-text */
.sea-metadata-table-long-text-cell.sea-metadata-table-row-height-56-cell {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.sea-metadata-table-row-height-56-cell .sea-metadata-long-text-formatter {
  -webkit-line-clamp: 2;
  line-height: 1.5 !important;
  max-height: 42px;
  min-height: unset !important;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  display: -webkit-box;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-wrap;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* 56 - tags */
.sea-metadata-table-tags-cell.sea-metadata-table-row-height-56-cell {
  padding-bottom: 4px;
  padding-top: 4px;
}

.sea-metadata-table-row-height-56-cell .sea-metadata-tags-formatter .sea-metadata-ui-tags-container {
  max-height: 52px;
  align-content: flex-start;
  flex-wrap: wrap
}

.sea-metadata-table-row-height-56-cell .sea-metadata-tags-formatter .sea-metadata-ui-tags-container .sea-metadata-tag {
  margin-bottom: 5px
}

/* 88 */
/* 88 - priority */
.sea-metadata-table-row-height-88-cell .sea-metadata-priority-editor {
  height: 20px;
}

/* 88 - text */
.sea-metadata-table-row-height-88-cell .sea-metadata-text-formatter {
  -webkit-line-clamp: 4;
  line-height: 1.4 !important;
  max-height: 78px;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  display: -webkit-box;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-wrap !important;
}

/* 88 - url */
.sea-metadata-table-row-height-88-cell .sea-metadata-url-formatter {
  -webkit-line-clamp: 4;
  line-height: 1.4 !important;
  max-height: 78px;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  display: -webkit-box;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-wrap !important;
}

/* 88 - creator */
.sea-metadata-table-row-height-88-cell .sea-metadata-creator-formatter {
  align-items: start !important;
}

/* 88 - collaborator*/
.sea-metadata-table-collaborator-cell.sea-metadata-table-row-height-88-cell {
  padding-bottom: 4px;
  padding-top: 4px;
}

.sea-metadata-table-row-height-88-cell .sea-metadata-collaborator-formatter {
  max-height: 52px;
  align-content: flex-start;
  flex-wrap: wrap !important;
}

.sea-metadata-table-row-height-88-cell .sea-metadata-collaborator-formatter .collaborator {
  margin-bottom: 5px !important;
}

/* 88 - multiple*/
.sea-metadata-table-multiple-select-cell.sea-metadata-table-row-height-88-cell {
  padding-bottom: 4px;
  padding-top: 4px;
}

.sea-metadata-table-row-height-88-cell .sea-metadata-multiple-select-formatter {
  flex-wrap: wrap;
  align-content: flex-start;
}

.sea-metadata-table-row-height-88-cell .sea-metadata-multiple-select-formatter .sea-metadata-ui-select-option {
  margin-bottom: 5px;
}

/* 88 - long-text*/
.sea-metadata-table-long-text-cell.sea-metadata-table-row-height-88-cell {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.sea-metadata-table-row-height-88-cell .sea-metadata-long-text-formatter {
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  display: -webkit-box;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-wrap;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* 88 - tags */
.sea-metadata-table-tags-cell.sea-metadata-table-row-height-88-cell {
  padding-bottom: 4px;
  padding-top: 4px;
}

.sea-metadata-table-row-height-88-cell .sea-metadata-tags-formatter .sea-metadata-ui-tags-container {
  max-height: 52px;
  align-content: flex-start;
  flex-wrap: wrap
}

.sea-metadata-table-row-height-88-cell .sea-metadata-tags-formatter .sea-metadata-ui-tags-container .sea-metadata-tag {
  margin-bottom: 5px
}

/* 128 */
/* 128 - priority */
.sea-metadata-table-row-height-128-cell .sea-metadata-priority-editor {
  height: 20px;
}

/* 128 - text*/
.sea-metadata-table-row-height-128-cell .sea-metadata-text-formatter {
  -webkit-line-clamp: 6;
  line-height: 1.4 !important;
  max-height: 117px;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  display: -webkit-box;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-wrap !important;
}

/* 128 - url*/
.sea-metadata-table-row-height-128-cell .sea-metadata-url-formatter {
  -webkit-line-clamp: 6;
  line-height: 1.4 !important;
  max-height: 117px;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  display: -webkit-box;
  text-overflow: -o-ellipsis-lastline;
  white-space: pre-wrap !important;
}

/* 128 - creator*/
.sea-metadata-table-row-height-128-cell .sea-metadata-creator-formatter {
  align-items: start !important;
}

/* 128 - collaborator*/
.sea-metadata-table-collaborator-cell.sea-metadata-table-row-height-128-cell {
  padding-bottom: 4px;
  padding-top: 4px;
}

.sea-metadata-table-row-height-128-cell .sea-metadata-collaborator-formatter {
  max-height: 52px;
  align-content: flex-start;
  flex-wrap: wrap !important;
}

.sea-metadata-table-row-height-128-cell .sea-metadata-collaborator-formatter .collaborator {
  margin-bottom: 5px !important;
}

/* 128 - multiple*/
.sea-metadata-table-multiple-select-cell.sea-metadata-table-row-height-128-cell {
  padding-bottom: 4px;
  padding-top: 4px;
}

.sea-metadata-table-row-height-128-cell .sea-metadata-multiple-select-formatter {
  flex-wrap: wrap;
  align-content: flex-start;
}

.sea-metadata-table-row-height-128-cell .sea-metadata-multiple-select-formatter .sea-metadata-ui-select-option {
  margin-bottom: 5px;
}

/* 128 - long-text*/
.sea-metadata-table-row:hover .sea-metadata-table-row-height-128-cell .sea-metadata-long-text-formatter .sf-slate-viewer-scroll-container .article {
  background-color: #f5f5f5;
}

.sea-metadata-table-row:hover .sea-metadata-table-row-height-128-cell.cell-selected .sea-metadata-long-text-formatter .sf-slate-viewer-scroll-container .article {
  background-color: #fff;
}

.sea-metadata-table-long-text-cell.sea-metadata-table-row-height-128-cell {
  padding: 6px 8px !important;
}

.sea-metadata-table-row-height-128-cell .sea-metadata-long-text-formatter {
  padding: 0px !important;
  overflow: auto !important;
}

.sea-metadata-table-row-height-128-cell .sea-metadata-long-text-formatter .sf-slate-viewer-container {
  height: 100%;
}

.sea-metadata-table-row-height-128-cell .sea-metadata-long-text-formatter .sf-slate-viewer-scroll-container .sf-slate-viewer-article-container {
  flex: 1;
}

.sea-metadata-table-row-height-128-cell .sea-metadata-long-text-formatter .sf-slate-viewer-scroll-container {
  padding: 0px;
  background-color: #fff;
}

.sea-metadata-table-row-height-128-cell .sea-metadata-long-text-formatter .sf-slate-viewer-scroll-container .article {
  border: 0px;
  padding: 16px;
  min-height: 100%;
}

.sea-metadata-table-row-height-128-cell .sea-metadata-long-text-formatter .sf-slate-viewer-scroll-container .article > :first-child {
  white-space: nowrap !important;
}

/* 128 - tags */
.sea-metadata-table-tags-cell.sea-metadata-table-row-height-128-cell {
  padding-bottom: 4px;
  padding-top: 4px;
}

.sea-metadata-table-row-height-128-cell .sea-metadata-tags-formatter .sea-metadata-ui-tags-container {
  max-height: 52px;
  align-content: flex-start;
  flex-wrap: wrap
}

.sea-metadata-table-row-height-128-cell .sea-metadata-tags-formatter .sea-metadata-ui-tags-container .sea-metadata-tag {
  margin-bottom: 5px
}
