.sea-ticket-icon-text-btn {
  display: inline-flex;
  align-items: center;
  color: #ED7109;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  padding: 0 8px;
}

.sea-ticket-icon-text-btn:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.sea-ticket-default-icon-text-btn {
  color: var(--bs-body-color);
}

.sea-ticket-default-icon-text-btn .seaqa-icon-svg {
  color: var(--bs-icon-color);
}

.sea-ticket-icon-text-btn .seaqa-loading-tip {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
