/* basic css */
.sea-metadata-single-select-option,
.sea-metadata-multiple-select-option {
  border-radius: 10px;
  font-size: 13px;
  line-height: 20px;
  margin: 6px 0;
  max-width: 250px;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: min-content;
}

.sea-metadata-table-row .sea-metadata-table-cell .select-all-checkbox-container {
  width: 21px;
  margin-left: 4px;
  justify-content: end;
}

.sea-metadata-table-row .sea-metadata-table-cell .select-all-checkbox-container .select-all-checkbox {
  height: 12px;
  width: 12px;
  margin-left: 1px;
}
