.seaqa-customize-table .seaqa-customize-table-row .seaqa-customize-table-cell .seaqa-customize-table-op-formatter {
  display: none;
  height: 100%;
  width: 100%;
}

.seaqa-customize-table .seaqa-customize-table-row:hover .seaqa-customize-table-cell .seaqa-customize-table-op-formatter {
  display: flex;
  align-items: center;
  justify-content: center;
}
