.seaqa-customize-table .seaqa-customize-table-row .seaqa-customize-table-cell .seaqa-customize-table-op-formatter {
  display: none;
  height: 100%;
  width: 100%;
}

.seaqa-customize-table .seaqa-customize-table-row:hover .seaqa-customize-table-cell .seaqa-customize-table-op-formatter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seaqa-customize-table .seaqa-customize-table-row .seaqa-customize-table-cell .dropdown-item {
  font-size: 14px;
  height: 32px;
  padding: 0.25rem 1rem;
  line-height: 1.5;
}
