.seaqa-row-color-popover .popover {
  max-width: none;
  min-width: 700px;
}

.seaqa-row-color-popover .seaqa-row-color-body {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}

.seaqa-row-color-popover.disabled .seaqa-row-color-body {
  max-height: calc(100vh - 112px);
}

.seaqa-row-color-popover .seaqa-row-color-body .seaqa-row-color-empty {
  color: var(--bs-icon-color);
  font-size: 14px;
  height: 100px;
}

/* add rule */
.seaqa-row-color-add-btns {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0px 8px;
  background: inherit;
  border-top: 1px solid var(--bs-border-secondary-color);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 8px;
}

/* rule item */
.seaqa-row-color-body .seaqa-row-color-rule:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.seaqa-row-color-body .seaqa-row-color-rule.row-color-rule-editing .seaqa-row-color-rule-filters {
  background-color: #F9f9f9;
  margin-top: 8px;
  border-radius: 4px;
}

/* rule header */
.seaqa-row-color-rule-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seaqa-row-color-rule-header .seaqa-row-color-rule-color-wrap {
  display: flex;
  align-items: center;
}

.seaqa-row-color-rule-header .seaqa-row-color-rule-color-wrap .seaqa-row-color-rule-color {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  line-height: 20px;
  margin-right: 8px;
  text-align: center;
  cursor: pointer;
}

.seaqa-row-color-rule-header .seaqa-row-color-rule-color-wrap .seaqa-row-color-rule-color .seaqa-icon-svg {
  color: inherit;
  width: 12px;
  height: 12px;
}

.seaqa-row-color-rule-header .seaqa-row-color-rule-color-wrap .seaqa-row-color-rule-name {
  font-size: 14px;
  user-select: none;
}

.seaqa-row-color-rule-header .seaqa-row-color-rule-remove {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease;
  background-color: transparent;
}

.seaqa-row-color-rule-header .seaqa-row-color-rule-remove .seaqa-icon-svg {
  width: 14px;
  height: 14px;
}

.seaqa-row-color-body .seaqa-row-color-rule:hover .seaqa-row-color-rule-remove,
.seaqa-row-color-body .seaqa-row-color-rule.row-color-rule-editing .seaqa-row-color-rule-remove {
  opacity: 1;
  pointer-events: auto;
}

.seaqa-row-color-body .seaqa-row-color-rule .seaqa-row-color-rule-remove:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

/* rule filters */
.seaqa-row-color-rule-filters .sea-metadata-filters-list {
  min-height: 30px;
  padding: 8px 15px;
}

.seaqa-row-color-rule-filters .sea-metadata-filters-list .filter-item .seaqa-select.custom-select:hover {
  border-color: rgba(0, 40, 100, 0.12);
}

.seaqa-row-color-popover .popover.sea-metadata-collaborator-selector-popover {
  min-width: 250px;
  max-width: 250px;
  padding: 0 !important;
}
