.seaqa-agent-suggestions-action-content {
  gap: 12px;
}

.seaqa-agent-suggestion-action-container {
  gap: 8px;
}

.seaqa-agent-action-suggestion-text-container {
  display: inline-flex;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  gap: 12px;
}

.seaqa-agent-action-suggestion-card {
  padding: 8px 16px;
  background: var(--bs-body-bg);
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 8px;
}

.seaqa-agent-action-suggestion-card.seaqa-agent-action-suggestion-card-cancelled {
  background: #F7F8FA;
  border-color: var(--bs-border-secondary-color);
}

.seaqa-agent-action-suggestion-card-header {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: var(--bs-body-color);
  gap: 8px;
}

.seaqa-agent-action-suggestion-card-header > svg {
  width: 14px;
  height: 14px;
  color: var(--bs-icon-secondary-color);
}

.seaqa-agent-action-suggestion-card.seaqa-agent-action-suggestion-card-cancelled .seaqa-agent-action-suggestion-text-container .seaqa-agent-action-suggestion-text {
  color: var(--bs-icon-secondary-color);
  text-decoration: line-through;
}

/* Suggestion ops (edit / details) */
.seaqa-agent-action-suggestion-ops-container {
  gap: 8px;
}

.seaqa-agent-action-suggestion-resolved {
  gap: 8px;
  padding-top: 8px;
  height: 42px;
}

.seaqa-agent-action-suggestion-resolved .seaqa-agent-action-tool-result-text {
  font-size: 14px;
  line-height: 22px;
  color: var(--bs-body-color);
}

.seaqa-agent-suggestion-action-result-failed {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 4px 8px;
  display: inline-flex;
  gap: 4px;
  margin-top: 8px;
  color: var(--bs-body-secondary-color);
  border-radius: 4px;
}

.seaqa-agent-ticket-result-link {
  color: var(--bs-primary);
}

.seaqa-agent-suggestions-action-container .seaqa-agent-action-suggestion-card {
  background-color: var(--bs-th-secondary-bg);
}

.seaqa-agent-action-suggestion-resource-info {
  gap: 8px;
}

.seaqa-agent-action-suggestion-resource-icon,
.seaqa-agent-action-suggestion-resource-icon img {
  height: 12px;
  width: 12px;
}

.seaqa-agent-action-suggestion-resource-title {
  color: var(--bs-body-color);
}
