.seaqa-create-ticket-dialog {
  max-width: 850px;
  height: 550px;
}

.seaqa-create-ticket-dialog .modal-content {
  height: 100%;
}

.seaqa-create-ticket-dialog .seaqa-create-ticket-dialog-left-settings {
  flex: 1;
}

.seaqa-create-ticket-dialog .seaqa-create-ticket-dialog-other-settings {
  width: 316px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  height: 388px;
  overflow-y: auto;
}

.seaqa-create-ticket-dialog .seaqa-ticket-content {
  height: 250px;
}

.seaqa-create-ticket-dialog .modal-footer .btn {
  height: 38px;
}

.seaqa-create-ticket-dialog .modal-footer .seaqa-loading-icon {
  width: 16px;
  height: 16px;
}
