.seaqa-hide-columns-popover .popover {
  width: 300px;
  max-width: 300px;
  font-size: 13px;
}

.seaqa-hide-columns-popover .hide-columns-list {
  overflow: auto;
}

.seaqa-hide-columns-popover .hide-columns-list .hide-column-item {
  height: 32px;
  clear: both;
  font-weight: 400;
  color: var(--bs-body-color);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.seaqa-hide-columns-popover .hide-columns-list .hide-column-item:hover {
  background: rgba(0, 0, 0, 0.04);
}

.seaqa-hide-columns-popover .hide-columns-list .hide-column-item:not(.disabled):hover,
.seaqa-hide-columns-popover .hide-columns-list .hide-column-item:not(.disabled):hover * {
  cursor: pointer;
}

.seaqa-hide-columns-popover .hide-columns-list .hide-column-item.disabled:hover,
.seaqa-hide-columns-popover .hide-columns-list .hide-column-item.disabled:hover * {
  cursor: default;
}

.seaqa-hide-columns-popover .hide-column-item .hide-column-item-switch {
  flex: 1;
  overflow: hidden;
}

.seaqa-hide-columns-popover .hide-column-item .hide-column-item-switch .custom-switch {
  width: 100%;
}

.seaqa-hide-columns-popover .hide-column-item .custom-switch {
  padding-left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.seaqa-hide-columns-popover .hide-column-item .custom-switch .custom-switch-description {
  margin-left: 0;
  padding-right: 5px;
  flex: 1;
  color: var(--bs-body-color);
  transition: .3s color;
}

.sea-metadata-hide-columns-popover .hide-column-item .custom-switch .custom-switch-indicator {
  border-radius: 6px;
  height: 12px;
  width: 22px;
}

.sea-metadata-hide-columns-popover .hide-column-item .custom-switch .custom-switch-indicator:before {
  height: 8px;
  width: 8px;
}

.sea-metadata-hide-columns-popover .hide-column-item .custom-switch .custom-switch-input:checked~.custom-switch-indicator:before {
  left: 12px;
}

.sea-metadata-hide-columns-popover .hide-column-item .seaqa-icon-svg {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  color: var(--bs-icon-secondary-color);
  margin-top: -2px;
}

.sea-metadata-hide-columns-popover .sea-metadata-hide-columns-operations {
  display: flex;
  justify-content: space-between;
  padding: 0 17px;
  width: 100%;
}

.sea-metadata-hide-columns-popover .sea-metadata-hide-columns-operations .sea-metadata-hide-columns-operation {
  display: flex;
  align-items: center;
}

.seaqa-hide-columns-popover .hide-column-item .sea-qa-icon-svg {
  height: 14px;
  width: 14px;
  margin-right: 10px;
  color: var(--bs-icon-secondary-color);
}

.sea-metadata-hide-columns-popover .hide-column-item .drag-hide-column-handle .seaqa-icon-svg {
  margin-right: 0px;
}

.seaqa-hide-columns-popover .hide-columns-list .hide-column-item.disabled .drag-hide-column-handle {
  display: none;
}

.seaqa-hide-columns-popover .hide-column-item.dragging {
  background-color: #f5f5f5;
}

.seaqa-hide-columns-popover .hide-column-item.hide-column-can-drop::after,
.seaqa-hide-columns-popover .hide-column-item.hide-column-can-drop-top::before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: #666;
}

.seaqa-hide-columns-popover .hide-column-item.hide-column-can-drop::after {
  bottom: 0;
}

.seaqa-hide-columns-popover .hide-column-item.hide-column-can-drop-top::before {
  top: 0;
}
