.sea-qa-import-dialog {
  max-width: 800px;
}

.sea-qa-import-dialog .sea-qa-import-content {
  padding: 16px;
}

.sea-qa-import-example-file .btn-outline-primary {
  margin-top: 10px;
	padding: 1px 12px;
	color: var(--bs-orange);
	border: solid 1px var(--bs-orange);
}

.sea-qa-import-example-file .btn-outline-primary:hover {
	color: var(--bs-body-bg);
	border: solid 1px var(--bs-orange);
	background-color: #ff9800;
}

.sea-qa-import-upload-file-wrapper {
	margin: 32px 0px 16px 0px;
}

.sea-qa-import-upload-file-wrapper .upload-file-box {
  margin-top: 10px;
	height: 300px;
	border: dashed 1px var(--bs-orange);
	border-radius: 6px;
	cursor: pointer;
}

.sea-qa-import-upload-file-wrapper .upload-file-box .upload-icon-wrapper .sea-qa-icon-svg-upload {
  width: 64px;
	height: 64px;
	color: var(--bs-orange);
}

.sea-qa-import-upload-file-wrapper .upload-file-box .upload-icon-wrapper .drag-text {
	margin-top: 16px;
	color: var(--bs-body-secondary-color);
}