.active-status-editor .dropdown-toggle-button .dropdown-icon-container {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  width: 20px;
  height: 20px;
}

.active-status-editor .dropdown-toggle-button .seaqa-role-status-down-icon {
  color: #b5b5b5;
  cursor: pointer;
}

.active-status-editor .dropdown-toggle-button .seaqa-role-status-down-icon:hover {
  color: #555;
}

.active-status-editor .dropdown-menu .label-container span {
  word-wrap: normal;
  white-space: pre-wrap;
}
