.long-text-preview-popover {
  width: 520px;
  height: fit-content;
  max-height: 450px;
  z-index: 10000;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  bottom: 20px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  box-shadow: 0 0 5px #ccc;
  background-color: #ffffff; 
  background-clip: padding-box;
}

.long-text-container {
  overflow: hidden;
  flex: 1 1 auto;
  height: fit-content;
}

.long-text-container-scroll {
  overflow-y: auto;
  height: fit-content;
}

.long-text-container .seafile-simple-editor {
  border: none;
}

.long-text-preview-popover .sf-slate-viewer-scroll-container {
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.long-text-preview-popover .sf-slate-viewer-scroll-container .sf-slate-article-content {
  width: 100%;
}

.long-text-preview-popover .sf-slate-viewer-scroll-container .sf-slate-viewer-article-container {
  width: 100%;
  margin: 0;
}

.long-text-preview-popover .long-text-container .article {
  padding: 10px 16px;
  border: unset;
  height: auto;
  width: 100%;
}
