.seaqa-ai-chat-selector-display-editor .popover {
  height: auto;
  max-height: 276px;
}

.seaqa-ai-chat-selector-display-editor .popover.bs-popover-auto[data-popper-placement^=top],
.seaqa-ai-chat-selector-display-editor .popover.bs-popover-top {
  margin-bottom: 0;
  bottom: -4px !important;
}

.seaqa-ai-chat-selector-display-editor .popover.bs-popover-auto[data-popper-placement^=bottom-start] {
  top: -4px !important;
}

.seaqa-ai-chat-selector-display-editor .options-editor-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.seaqa-ai-chat-selector-display-editor .options-editor-search-wrapper {
  flex: 0 0 auto;
}

.seaqa-ai-chat-selector-display-editor .options-editor-content {
  flex: 1 1 auto;
  min-height: 0;
  max-height: none !important;
}

.seaqa-ai-chat-selector-display-editor .options-editor-add-tool {
  flex: 0 0 auto;
}
