.seaqa-ai-chat-selector-display-editor .popover.bs-popover-auto[data-popper-placement^=top],
.seaqa-ai-chat-selector-display-editor .popover.bs-popover-top {
  margin-bottom: 0;
  bottom: -4px !important;
}

.seaqa-ai-chat-selector-display-editor .popover.bs-popover-auto[data-popper-placement^=bottom-start] {
  top: -4px !important;
}
