.seaqa-resource-detail-item {
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.seaqa-resource-detail-item .author-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.seaqa-resource-detail-item .seaqa-resource-detail-item-content {
  padding-left: 42px;
  padding-bottom: 16px;
  word-wrap: break-word;
}

.seaqa-resource-detail-item .seaqa-resource-detail-item-content :last-child {
  margin-bottom: 0px;
}

.seaqa-resource-detail-item .author-info-wrapper .author-info-left {
  display: flex;
}

.seaqa-resource-detail-item .author-info-wrapper .author-info-left .author-avatar {
  width: 32px;
  height: 32px;
}

.seaqa-resource-detail-item .author-info-wrapper .author-info-left .author-avatar img {
  border-radius: 50%;
}

.seaqa-resource-detail-item .author-info-wrapper .author-info-left .author-name {
  padding-left: 10px;
  font-weight: 500;
}

.seaqa-resource-detail-item .author-info-wrapper .author-time {
  color: #666;
}
