.sea-metadata-views .sea-metadata-view-container {
  padding: 0 12px;
  display: flex;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  position: relative;
}

.sea-metadata-views .sea-metadata-view-container:first-child {
  padding-left: 0;
}

.sea-metadata-views .sea-metadata-view-next-position-before::before,
.sea-metadata-views .sea-metadata-view-next-position-after::after {
  content: '';
  border: 1px solid #555;
  border-radius: 1px;
  position: absolute;
  top: 4px;
  bottom: 4px;
}

.sea-metadata-views .sea-metadata-view-next-position-before::before {
  left: 0;
}

.sea-metadata-views .sea-metadata-view-next-position-after::after {
  right: -2px;
}

.sea-metadata-views .sea-metadata-view-item { 
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  flex-shrink: 0;
}

.sea-metadata-views .sea-metadata-view-item.disabled {
  cursor: default;
}

.sea-metadata-views .sea-metadata-view-item.active { 
  color: #ED7109;
  position: relative;
  transition: color .3;
}

.sea-metadata-views .sea-metadata-view-item.active::before { 
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ED7109;
}

.sea-metadata-views .sea-metadata-view-item-operation-down {
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sea-metadata-view-dropdown-menu {
  display: block;
}

.sea-metadata-view-dropdown-menu .dropdown-item .sea-qa-icon-svg {
  margin-right: 10px;
  height: 14px;
  width: 14px;
  color: #666;
  margin-top: -2px;
}

.sea-metadata-view-dropdown-menu .dropdown-item:hover .sea-qa-icon-svg,
.sea-metadata-view-dropdown-menu .dropdown-item:focus .sea-qa-icon-svg {
  color: #FFF;
}

.kb-import-preview-title {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kb-import-preview-content {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kb-import-preview-table {
  table-layout: fixed;
  width: 100%;
}

.kb-import-preview-table th:nth-child(1),
.kb-import-preview-table td:nth-child(1) {
  width: 240px;
}

.kb-import-preview-table th,
.kb-import-preview-table td {
  vertical-align: top;
}

.sea-metadata-views .sea-metadata-view-item .sea-metadata-view-lock-icon {
  height: 12px;
  width: 12px;
  color: #999;
}

.sea-metadata-views .sea-metadata-view-item.active .sea-metadata-view-lock-icon {
  color: #ED7109;
}
