.ticket-state-formatter {
  min-height: 38px;
  width: 100%;
  padding: 6px 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.ticket-state-formatter .option {
  margin-bottom: 4px;
  margin-top: 4px;
}
