.ticket-state-formatter {
  min-height: 38px;
  width: 100%;
  padding: 6px 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.ticket-state-formatter.valid {
  padding: 5px 0;
}

.ticket-state-formatter .sea-qa-ui-option {
  margin-bottom: 4px;
  margin-top: 4px;
  margin-right: 10px;
}

.sea-qa-ticket-state-substate-option {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.sea-qa-ticket-state-substate-option .sea-qa-ui-option {
  max-width: 120px;
}
