.sea-qa-connection-github-integration-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: .75rem;
  cursor: pointer;
}

.sea-qa-connection-github-integration-formatter {
  padding: 0 6px;
  border-radius: 3px;
  background-color: #eceff4;
  height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.sea-qa-connection-github-integration-formatter.editable {
  cursor: pointer;
}
