.sea-qa-connection-github-integration-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: .75rem;
  cursor: pointer;
}

.sea-qa-connection-github-integration-selector.focus {
  border-color: #1991eb !important;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.sea-qa-connection-github-integration-formatter {
  padding: 0 6px;
  border-radius: 3px;
  background-color: #eceff4;
  height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.sea-qa-connection-github-integration-formatter.editable {
  cursor: pointer;
}
