.sea-qa-project-ticket {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.sea-qa-project-ticket .sea-qa-project-ticket-simple-info-wrapper-sticky {
  height: 62px !important;
  position: sticky !important;
  top: 0px !important;
  z-index: 103 !important;
  background-color: #FFF !important;
  padding: 8px 0 !important;
  gap: 4px !important;
}

.sea-qa-project-ticket .sea-qa-project-ticket-simple-info-wrapper-sticky .sea-qa-project-ticket-title-wrapper {
  height: 22px !important;
}

.sea-qa-project-ticket .sea-qa-project-ticket-simple-info-wrapper-sticky .sea-qa-project-ticket-title-number-type {
  margin-left: 16px !important;
  flex: 1 !important;
  overflow: hidden !important;
  display: flex !important;
  flex-direction: column !important;
  margin-right: 16px !important;
}

.sea-qa-project-ticket .sea-qa-project-ticket-simple-info-wrapper-sticky .sea-qa-project-ticket-title {
  font-size: 18px !important;
}

.sea-qa-project-ticket .sea-qa-project-ticket-simple-info-wrapper-sticky .sea-qa-project-ticket-number {
  font-size: 16px !important;
}

.sea-qa-project-ticket .sea-qa-project-ticket-content-wrapper {
  width: 100%;
  display: flex;
  padding: 16px 0 50px 0;
}

.sea-qa-project-ticket .sea-qa-project-ticket-comment-container-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.sea-qa-project-ticket .sf-long-text-inline-editor-container:has(*:focus) {
  border-color: var(--bs-custom-select-focus-border-color);
}

.sea-qa-project-ticket .sf-slate-viewer-scroll-container {
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.sea-qa-project-ticket .sf-slate-viewer-scroll-container .sf-slate-article-content {
  width: 100%;
}

.sea-qa-project-ticket .sf-slate-viewer-scroll-container .sf-slate-viewer-article-container {
  width: 100%;
  margin: 0;
}

.sea-qa-project-ticket .sf-slate-viewer-scroll-container .article {
  padding: 10px 16px 24px 16px !important;
  border: unset;
  height: auto;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  background-color: #FDFDFD;
}

.sea-qa-project-ticket .sea-qa-project-ticket-comment.sea-qa-project-ticket-add-comment .sea-qa-project-ticket-comment-container {
  border: none;
  border-radius: 0;
}

.sea-qa-project-ticket .sea-qa-project-ticket-comment.sea-qa-project-ticket-add-comment .sea-qa-project-ticket-comment-op {
  border-bottom: none;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  height: 38px;
  line-height: 32px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 6px;
  background-color: transparent;
}

/* small */
.sea-qa-project-ticket.small .sea-qa-project-ticket-content-wrapper {
  flex-direction: column;
}

.sea-qa-project-ticket.small .sea-qa-project-ticket-content-wrapper .sea-qa-project-ticket-comment-container-wrapper {
  width: 100%;
  padding-bottom: 50px;
}

.sea-qa-project-ticket.small .sea-qa-project-ticket-content-wrapper .sea-qa-project-ticket-other-settings {
  width: 100%;
  padding-left: 0;
}

.sea-qa-project-ticket .sea-qa-project-ticket-footer {
  flex-wrap: wrap;
  width: 100%;
}

.sea-qa-project-ticket .sea-qa-project-ticket-footer .sea-qa-project-ticket-submit-btns {
  flex: 1;
  margin-top: 16px;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sea-qa-project-ticket.small .sea-qa-project-ticket-footer {
  padding-left: 0;
}

.sea-qa-project-ticket.small .sea-qa-project-ticket-footer .sea-qa-project-ticket-submit-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0 !important;
}

.sea-ticket-settings-item .tip-default {
  font-size: 14px;
  line-height: 26px;
}

.sea-qa-project-ticket .sea-ticket-customize-label {
  height: 22px;
}

.sea-ticket-settings-popover .popover.bs-popover-auto[data-popper-placement^=top] {
  margin-bottom: -9px;
}

.sea-ticket-settings-popover .popover.bs-popover-auto[data-popper-placement^=bottom] {
  top: -4px !important;
}
