.seaqa-project-connections-table {
  padding-top: 16px;
  padding-right: 16px;
}

.seaqa-project-connections-table .sea-custom-table {
  padding: 0 0 16px 16px;
}

.seaqa-project-connections-table .sea-customize-table-wrapper-divider {
  display: none;
}
