@import url('../../../components-form/cell-css/collaborator.css');

.collaborator-editor-popover.workflow-collaborator-editor-popover {
  width: 26px;
}

.collaborator-editor-popover.workflow-collaborator-editor-popover .popover {
  width: 250px;
  margin-top: 5px;
}
