.seaqa-connection-resource-details {
  overflow: auto;
  height: 100%;
  padding: 0 16px;
}

.seaqa-connection-resource-highlight {
  border: 1px solid var(--bs-sf-orange-light) !important;
  border-radius: 8px !important;
  box-shadow: 0 6px 14px 0 rgba(255, 128, 0, 0.10) !important;
}

.seaqa-connection-github-comment-editor {
  margin: 16px 0 24px;
}

.seaqa-connection-github-comment-editor .sf-long-text-inline-editor-container {
  min-height: 140px;
}

.seaqa-connection-github-comment-editor .github-comment-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.longtext-preview-container.seaqa-connection-general_task-resource-details {
  overflow: hidden;
  height: fit-content;
}
