.seaqa-connection-resource-details {
  height: 100%;
  overflow: auto;
  padding: 0 16px;
}

.seaqa-connection-detail-focused {
  border: 1px solid #FF8000;
  border-radius: 8px;
  box-shadow: 0 6px 14px 0 rgba(255, 128, 0, 0.10);
  padding: 8px;
  margin-bottom: 8px;
}

.seaqa-connection-detail-focused .seaqa-resource-detail-item {
  margin: 0;
  border-bottom: none;
}

.seaqa-connection-detail-focused .seaqa-resource-detail-item .seaqa-resource-detail-item-content {
  padding-bottom: 0;
}

.seaqa-connection-detail-focused .seaqa-project-ticket-comment {
  margin: 0;
}

.seaqa-connection-github-comment-editor {
  margin: 16px 0 24px;
}

.seaqa-connection-github-comment-editor .sf-long-text-inline-editor-container {
  min-height: 140px;
}

.seaqa-connection-github-comment-editor .github-comment-actions {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}

.longtext-preview-container.seaqa-connection-general_task-resource-details {
  height: fit-content;
  overflow: hidden;
}
