.seaqa-connection-resource-details {
  height: 100%;
  overflow: auto;
  padding: 0 16px;
}

.seaqa-connection-github-comment-editor {
  margin: 16px 0 24px;
}

.seaqa-connection-github-comment-editor .sf-long-text-inline-editor-container {
  min-height: 140px;
}

.seaqa-connection-github-comment-editor .github-comment-actions {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}

.longtext-preview-container.seaqa-connection-general_task-resource-details {
  height: fit-content;
  overflow: hidden;
}
