.project-item-popover .popover {
  margin-left: -12px;
  margin-right: 0;
  margin-top: 6px;
}

.project-item-popover .project-item-popover-content {
  padding: 8px 0;
  min-width: 8rem;
}

.project-item-popover .project-item-popover-content .project-item-operation {
  line-height: 1.5;
  cursor: pointer;
  min-height: 32px;
  padding: 3px 12px;
  color: #212529;
}

.project-item-popover .project-item-popover-content .project-item-operation:hover {
  color: #fff;
}

.project-item-popover .project-item-operation .project-item-operation-icon {
  height: 14px;
  width: 14px;
  margin-right: 10px;
  color: var(--bs-icon-color);
  margin-top: -2px;
}

.project-item-popover .project-item-operation:hover .sea-qa-icon-svg,
.project-item-popover .project-item-operation:hover .project-item-operation-icon {
  color: #fff;
}

.project-item-popover .no-target-folder {
  display: inline-block;
  font-size: 14px;
  opacity: 0.5;
}

.project-item-popover-content .project-item-operation.position-relative .dropdown {
  position: initial;
}

.project-item-popover-content .folders-dropdown-menu {
  width: 10rem;
  max-height: 300px;
  overflow-y: scroll;
}
