.sea-metadata-column-dropdown-menu .dropdown-item .sea-qa-icon-svg {
  margin-right: 10px;
  height: 14px;
  width: 14px;
  color: #666;
  margin-top: -2px;
}

.sea-metadata-column-dropdown-menu .sea-metadata-column-dropdown-item .item-text {
  width: calc(100% - 30px);
  display: inline-block;
}

.sea-metadata-column-dropdown-menu .dropdown-toggle::after {
  color: #666;
}

.sea-metadata-column-dropdown-menu .dropdown-toggle:hover::after,
.sea-metadata-column-dropdown-menu .dropdown-item:hover .sea-qa-icon-svg {
  color: #fff;
}

.sea-metadata-column-dropdown-menu .dropdown-item.disabled,
.sea-metadata-column-dropdown-menu .dropdown-item:disabled {
  pointer-events: unset !important;
}

.sea-metadata-column-dropdown-menu .disabled.dropdown-item:hover {
  background-color: unset;
  cursor: default;
  color: #c2c2c2;
}

.sea-metadata-column-dropdown-menu .disabled.dropdown-item .sea-qa-icon-svg {
  color: #c2c2c2;
}
