.seaqa-tickets-dialog {
  height: calc(100% - 56px); /* The top and bottom margins of the dialog box are 56px */
}

.seaqa-tickets-dialog .modal-content {
  height: 100%;
}

.seaqa-tickets-dialog .modal-content .modal-body {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 0px;
}

.seaqa-tickets-dialog .seaqa-tickets-search-wrapper {
  position: relative;
  flex-shrink: 0;
  height: 54px;
  width: 100%;
  padding: 16px 16px 0;
}

.seaqa-tickets-dialog .seaqa-tickets-container {
  position: relative;
  overflow: hidden;
  flex: 1;
  width: 100%;
}

.seaqa-tickets-dialog .seaqa-tickets-container .empty-tip {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.seaqa-tickets-dialog .seaqa-tickets-container .empty-tip .no-items-img-tip {
  margin-top: 0;
}
