.seaqa-tickets-dialog {
  height: calc(100% - 56px); /* The top and bottom margins of the dialog box are 56px */
}

.seaqa-tickets-dialog .modal-content {
  height: 100%;
}

.seaqa-tickets-dialog .modal-content .modal-body {
  padding: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.seaqa-tickets-dialog .seaqa-tickets-search-wrapper {
  width: 100%;
  height: 48px;
  padding: 10px 20px 0;
  position: relative;
  flex-shrink: 0;
}

.seaqa-tickets-dialog .seaqa-tickets-container {
  padding: 0 10px;
  position: relative;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.seaqa-tickets-dialog .seaqa-tickets-container .empty-tip {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seaqa-tickets-dialog .seaqa-tickets-container .empty-tip .no-items-img-tip {
  margin-top: 0;
}
