.seaqa-email-attachments {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  margin-top: 12px;
  gap: 10px;
}

.seaqa-email-attachments .seaqa-email-attachment {
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 52px;
  max-width: 100%;
  width: fit-content;
  padding: 6px;
  background-color: var(--bs-bg-color);
  border: 1px solid var(--bs-border-color);
  border-radius: 4px;
}

.seaqa-email-attachments .seaqa-email-attachment .seaqa-email-attachment-icon {
  overflow: hidden;
  height: 32px;
  width: 32px;
  margin-right: 6px;
  border-radius: 4px;
}

.seaqa-email-attachments .seaqa-email-attachment .seaqa-email-attachment-info {
  display: flex;
  flex-direction: column;
}

.seaqa-email-attachments .seaqa-email-attachment .seaqa-email-attachment-name {
  font-size: 14px;
  color: var(--bs-body-color);
}

.seaqa-email-attachments .seaqa-email-attachment .seaqa-email-attachment-name:hover {
  text-decoration: underline;
}

/* .seaqa-email-attachments .seaqa-email-attachment .seaqa-email-attachment-size {
  font-size: 12px;
  height: 12px;
} */

.seaqa-email-attachments .seaqa-email-attachment .seaqa-email-attachment-divider {
  height: 32px;
  width: 1px;
  margin: 0 10px;
  border-left: 1px solid var(--bs-border-color);
}

.seaqa-email-attachments .seaqa-email-attachment .seaqa-email-attachment-download-btn:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.seaqa-email-attachments-download-btn {
  margin-top: 12px;
  background-color: var(--bs-body-third-bg);
  color: var(--bs-body-color);
}

.seaqa-email-attachments-download-btn:not(.cursor-pointer) {
  cursor: default;
}

.seaqa-email-attachments-download-btn:hover {
  background-color: #EDEDEB;
}

.seaqa-email-attachments-download-btn .seaqa-icon-svg-download {
  color: var(--bs-icon-color);
}
