.admin-search-input .seaqa-search-input-search {
  width: 40px !important;
}

.admin-search-input .form-control.seaqa-search-input {
  color: var(--bs-sf-grey-text-placeholder);
  border-radius: 16px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 40px !important;
}

.admin-search-input .form-control.seaqa-search-input::placeholder {
  color: var(--bs-sf-grey-text-placeholder);
  font-size: 14px;
}
