.analyze-settings-panel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  width: 320px;
  background: #fff;
  border-left: 1px solid var(--bs-border-secondary-color);
  border-right: 1px solid var(--bs-border-secondary-color);
}

.analyze-settings-panel .analyze-settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.analyze-settings-panel .analyze-settings-title {
  font-size: 16px;
  font-weight: 500;
}

.analyze-settings-panel .analyze-settings-body {
  overflow-y: auto;
  flex: 1;
  padding: 16px 16px 0 16px;
}

.analyze-settings-panel .analyze-settings-section {
  margin-bottom: 14px;
}

.analyze-settings-panel .analyze-settings-select {
  max-width: 100% !important;
}
