.project-icon-settings-popover .project-icon-style {
  color: #999;
  font-size: 20px;
}

.project-icon-settings-popover .popover {
  max-width: 314px;
  width: 314px;
}

.project-icon-settings-popover .project-icon-settings-content {
  padding: 8px 12px;
}

.project-icon-settings-popover .sea-qa-color-content {
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5px 0;
}

.project-icon-settings-popover .project-icon-content {
  margin: 0;
}

.project-icon-settings-popover .sea-qa-color-item:first-child,
.project-icon-settings-popover .sea-qa-color-item:nth-child(13) {
  margin-left: 0;
}

.project-icon-settings-popover .sea-qa-color-item:nth-child(12),
.project-icon-settings-popover .sea-qa-color-item:last-child {
  margin-right: 0;
}

.project-icon-settings-popover .sea-qa-color-item {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 3px 2px;
  display: flex;
}

.project-icon-settings-popover .sea-qa-color-item .colorinput-color {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: unset;
}

.project-icon-settings-popover .sea-qa-color-item .colorinput-color:before {
  content: unset;
}

.project-icon-settings-popover .project-icon-color-check {
  height: 12px;
  width: 12px;
  color: #ffffff;
}

.project-icon-settings-popover .project-icon-item {
  height: 36px;
  width: 36px;
  border-radius: 6px;
  overflow: hidden;
}

@media screen and (max-width: 766.8px) {
  .project-icon-settings-popover .project-icon-item {
    margin-right: 6px;
  }
}

.project-icon-settings-popover .project-icon-item .project-icon-input {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-icon-settings-popover .project-icon-item:hover {
  background-color: #f5f5f5;
}

.project-icon-settings-popover .project-icon-settings-name {
  margin-bottom: 7px;
}

.project-icon-settings-popover .project-icon-settings-name-input {
  height: 36px;
}
