.developer-mode-settings-header {
  border-bottom: 1px solid #eee;
  font-size: .9375rem;
  font-weight: 400;
  margin-bottom: .7rem;
  padding-bottom: .3rem;
  padding-top: 14px;
}

.developer-mode-settings .change-developer-mode-status {
  margin-bottom: 10px;
}

.developer-mode-settings .change-developer-mode-status .custom-switch {
  padding-left: 0;
}

.developer-mode-settings .change-developer-mode-status:not(.disabled) .custom-switch:hover,
.developer-mode-settings .change-developer-mode-status:not(.disabled) .custom-switch:hover * {
  cursor: pointer;
}

.developer-mode-settings .tip {
  font-size: 12px;
}
