.workflow-task-list-modal {
  width: calc(100% - 56px);
  height: calc(100% - 56px);
  max-width: initial;
}

.workflow-task-list-modal .modal-header {
  border-bottom: none;
  padding: 0 1rem;
  height: 50px;
  display: flex;
  align-items: center;
}

.workflow-task-list-modal .modal-content {
  height: 100%;
}

.workflow-task-list-modal .workflow-task-list-modal-body {
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.workflow-task-list-modal .workflow-task-list-modal-body .workflow-task-list-modal-body-container {
  overflow: hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 1px solid #e4e4e4;
  height: 100%;
  width: 100%;
  background: #f5f5f5;
}

.task-dropdown {
  margin-bottom: 16px;
  height: 38px;
  width: auto;
  min-width: 162px;
  max-width: 340px;
}

.task-dropdown:hover {
  cursor: pointer;
}

.task-sort-dropdown .dtable-dropdown-menu.show {
  width: 160px;
}

.workflow-type-value {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-width: 120px;
  max-width: 140px;
}

.task-dropdown .dropdown-menu {
  margin-top: 0.25rem;
  border: unset;
  box-shadow: 0 0 5px #ccc;
}

.task-dropdown svg {
  color: #666666;
}

.workflow-task-list-toolbar-container .toolbar-left-section {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 220px);
}

.workflow-task-list-toolbar-container .toolbar-left-section .dtable-icon-down3 {
  display: inline-block;
  color: #999;
}

.workflow-task-list-toolbar-container .toolbar-left-section .dtable-icon-down3:hover {
  color: #555;
}

.workflow-task-list-toolbar-container .toolbar-left-section .dtable-icon-check-mark {
  display: inline-block;
  font-size: 12px;
  color: #aaa;
}

.task-type-dropdown .workflow-type-value .task-count {
  color: #aaa;
}

.task-dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0,40,100,.12);
  border-radius: 3px;
  padding: 0 10px;
  height: 100%;
  background-color: #FFF;
  white-space: pre;
}

.task-dropdown-toggle .selected-value .dtable-icon-check-mark {
  display: none;
}

.date-type-dropdown:hover {
  background-color: #f5f5f5;
  border-radius: 3px;
}

.task-node-dopdown-toggle .select-value {
  width: calc(100% - 10px);
}

.task-node-dopdown-toggle .option-icon {
  min-width: 20px;
}

.workflow-task-list-toolbar-container .task-dropdown-menu.show {
  width: auto;
  min-width: 162px;
  max-width: 340px;
}

.workflow-task-list-toolbar-container .task-dropdown-menu.show.task-date-dropdown-menu {
  width: 318px;
}

.workflow-task-list-toolbar-container .task-dropdown-menu.show .dropdown-item {
  padding: 0.25rem 10px;
}

.workflow-task-list-toolbar-container .task-dropdown-menu.show .dropdown-item:hover .task-count,
.workflow-task-list-toolbar-container .task-dropdown-menu.show .dropdown-item:hover .dtable-icon-check-mark {
  color: #fff;
}

.workflow-task-list-toolbar-container .task-date-dropdown .dropdown-item:focus {
  background-color: #FFF;
  color: #212529;
  outline: 0;
}

.workflow-task-list-toolbar-container .task-date-dropdown .dropdown-item:focus .dtable-icon-check-mark {
  color: #aaa;
}

.workflow-task-list-toolbar-container .task-date-dropdown .dropdown-item:hover {
  color: #fff;
  background-color: #20a0ff;
}

.workflow-task-list-modal-body-container .workflow-task-list-toolbar-container {
  padding: 16px 16px 0 16px;
}

.workflow-task-list-toolbar-container .task-type-dropdown .dtable-select {
  border-color: #B3B3B3;
}

.collaborator-editor-popover.initiator-popover .popover {
  margin-top: 0.25rem;
}

.task-initiator-dropdown .initiator-name {
  max-width: 210px;
}

.user-options-search-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 10px 5px 10px;
  border: 1px solid #1991eb;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(70,127,207,.25);
  outline: 0;
  padding: 5px;
  min-height: 30px;
  color: #495057;
  background-color: #fff;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.user-options-search-input .user-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 3px 5px 3px 0px;
    border-radius: 10px;
    padding: 0 5px;
    height: 20px;
    font-size: 13px;
    background: #eaeaea;
}

.user-options-search-input .user-item:hover {
  cursor: pointer;
}

.user-options-search-input .clear-initiators-button {
  position: absolute;
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  right: 10px;
  text-align: center;
  color: #ccc;
  cursor: pointer;
}

.user-options-search-input .clear-initiators-button:hover {
  color: #BCBCBC;
}

.user-options-search-input .user-icon {
  width: 16px;
  height: 16px;
  transform: translateY(-1px);
  border-radius: 50%;
  vertical-align: middle;
}

.user-options-search-input .user-name {
  margin-left: 4px;
  flex: 1 1;
  line-height: 20px;
}

.user-options-search-input .dtable-icon-fork-number {
  display: inline-block;
  font-size: 12px;
  color: #999999;
  transform: scale(.8);
}

.user-options-search-input .dtable-icon-fork-number:hover {
  color: #555555;
}

.user-options-search-input input {
  border: unset;
  max-width: 100px;
  outline: unset;
}

.user-options-search-input input::placeholder {
  color: #adb5bd;
  opacity: 1;
}

.collaborator-options-container .search-option-null {
  opacity: 0.5;
}

.collaborator-editor-popover.workflow-collaborator-editor-popover .popover {
  width: 340px;
  max-width: 340px;
}

.task-node-dropdown.disabled .task-node-dopdown-toggle svg,
.task-node-dropdown.disabled .task-node-dopdown-toggle span,
.task-node-dropdown.disabled .dtable-icon-down3 {
  color: #adb5bd;
}

.task-node-dropdown .process-node-header {
  padding: 0.25rem 10px;
  height: 30px;
  color: #666666;
}

.task-date-dropdown .custom-time-header {
  padding: 0.25rem 10px 0.25rem 6px;
  height: 30px;
}

.task-date-dropdown .custom-time-header .dtable-icon-delete {
  color: #666666;
}

.task-dropdown-menu .dtable-icon-delete:hover {
  color: #666666;
}

.process-node-header .dtable-icon-delete,
.custom-time-header .dtable-icon-delete {
  font-size: 14px;
}

.custom-time-range-container {
  display: flex;
  padding: 10px;
  width: 318px;
}

.custom-time-range-container .dtable-rc-calendar .rc-calendar-date-panel {
  width: 253px;
}

.custom-time-range-container .date-picker-container {
  margin-bottom: 0;
}

.custom-time-range-container .date-picker-container .form-control {
  height: 36px;
}

.custom-time-range-container .date-picker-container table tr {
  height: 30px;
}

.custom-time-range-container .rc-calendar-input-wrap .dtable-icon-x {
  top: 8px !important;
}

.start-time-container {
  padding-bottom: 5px;
  margin-right: 5px;
}

.start-time-container .rc-calendar-picker {
  left: -266px !important;
}

.end-time-container {
  padding-bottom: 5px;
}

.end-time-container .rc-calendar-picker {
  left: 148px !important;
}

.start-time-container .form-control,
.end-time-container .form-control {
  background-color: #fff;
}

.workflow-task-list-modal .workflow-task-list-modal-nav {
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 14px;
}

.workflow-task-list-modal .modal-title {
  display: flex;
  width: 100%;
}

.workflow-task-list-modal .workflow-task-list-modal-header-left .dtable-icon-workflow {
  font-size: 20px;
  font-weight: 500;
  color: #ED7109;
}

.workflow-task-list-modal .workflow-task-list-modal-nav.nav .nav-item .nav-link {
  padding: 0 0.5rem;
  height: 100%;
}

.workflow-task-list-modal  .workflow-task-list-tools {
  padding: 10px 10px 0 10px;
  background-color: #f5f5f5;
}

.workflow-task-list-modal .workflow-task-type .option-group-content {
  overflow: auto;
}

.workflow-task-list-modal .workflow-task-list-tools .icon-select {
  padding: 0 10px 0 25px;
}

.workflow-task-search-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #aaa;
}

.workflow-task-search-container .dtable-icon-search {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
  min-width: 2.5rem;
}

.workflow-task-search-container .search-process {
  border-radius: 3px;
  padding: 0 30px 0 38px;
  width: 100%;
  height: 38px;
  cursor: auto;
}

.workflow-task-search-container .search-workflow-clear {
  position: absolute;
  cursor: pointer;
  color: #9aa0ac;
  right: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 38px;
  line-height: 38px;
  min-width: 25px;
}

.workflow-task-search-container .search-workflow-clear:hover {
  color: #212529;
}

.workflow-task-list-modal .workflow-task-list-modal-body-content {
  overflow: auto;
  padding: 10px;
  height: 100%;
  background-color: #f5f5f5;
}

.workflow-task-list-modal .workflow-task-list-modal-body-content.todo-list {
  padding: 0 16px 16px 16px;
  height: calc(100% - 58px);
  background-color: #f5f5f5;
  border-top: 0;
}

.workflow-task-list-modal .workflow-name {
  font-weight: 500;
}

.workflow-task-list-modal .workflow-task-item {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  cursor: pointer;
  height: 128px;
  margin-bottom: 16px;
  background-color: #fff;
}

.workflow-task-list-modal .workflow-task-item:last-child {
  margin-bottom: 0;
}

.workflow-task-list-modal .workflow-task-item .workflow-task-item-header {
  height: 40px;
  border-bottom: 1px solid #eee;
  justify-content: space-between
}

.workflow-task-list-modal .workflow-task-item-header .workflow-icon-content {
  height: 21px;
  width: 21px;
}

.workflow-task-list-modal .workflow-task-item-header .dtable-icon-color-white {
  font-size: 14px;
}

.workflow-task-list-modal .workflow-task-item-header .workflow-task-item-initiator,
.workflow-task-list-modal .workflow-task-item-container .workflow-task-item-initiator {
  display: inline-flex;
  align-items: center;
  height: 20px;
  padding: 0 8px 0 2px;
  font-size: 13px;
  border-radius: 10px;
  background: #eaeaea;
}

.workflow-task-list-modal .workflow-task-item-header .initiator-avatar,
.workflow-task-list-modal .workflow-task-item-container .initiator-avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  vertical-align: middle;
}

.workflow-task-list-modal .workflow-task-item-container {
  width: 100%;
  height: 88px;
  padding: 10px 30px;
  display: inline-flex;
}

.workflow-task-list-modal .workflow-task-item-container .workflow-task-item-content {
  overflow-x: scroll;
}

.workflow-task-list-modal .workflow-task-item-content::-webkit-scrollbar {
  display: none;
}

.workflow-task-list-modal .workflow-task-item-container .container-item {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}

.workflow-task-list-modal .workflow-task-item-container .container-item-header {
  font-size: 14px;
  color: #666;
  margin-top: 0.2rem;
  width: max-content;
  min-width: 100px;
}

.workflow-task-list-modal .workflow-task-item-container .content-item-assignee {
  margin-right: 0px;
}

.workflow-task-list-modal .workflow-task-item-container .assignee-content {
  width: max-content;
}

.workflow-task-list-modal .workflow-task-item-state .workflow-task-item-state-display {
  height: 24px;
  width: 100%;
  padding: 2px 0;
  overflow: hidden;
}

.workflow-task-list-modal .row-cell-value-empty {
  display: inline-block;
  height: 8px;
  width: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

/* collaborator */
.workflow-task-list-modal .workflow-task-item-detail .collaborator-option-item {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  padding: 0 8px 0 2px;
  height: 20px;
  font-size: 13px;
  border-radius: 10px;
  background-color: #eaeaea;
}

.workflow-task-list-modal .workflow-task-item-detail .collaborator-avatar {
  display: flex;
  align-items: center;
  margin: 0 4px 0 2px;
}

.workflow-task-list-modal .workflow-task-item-detail .collaborator-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  border-radius: 50%;
}

.workflow-task-list-modal .workflow-task-item-create-time,
.workflow-task-list-modal .workflow-task-item-update-time {
  color: #666;
  font-size: 13px;
}

.workflow-task-list-modal .workflow-task-item .workflow-task-item-state-option {
  display: inline-block;
  padding: 0px 10px;
  height: 20px;
  line-height: 20px;
  max-width: 200px;
  width: fit-content;
  text-align: center;
  border-radius: 10px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* single select、multiple select */
.workflow-task-list-modal .workflow-task-item .workflow-task-item-submitted-option {
  display: inline-block;
  padding: 0px 10px;
  height: 20px;
  line-height: 20px;
  max-width: 200px;
  width: fit-content;
  text-align: center;
  border-radius: 10px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* multiple select */
.workflow-task-list-modal .workflow-task-item-detail-multiple-select-value-display .workflow-task-item-submitted-option {
  margin-right: 10px;
}

/* rate、checkbox */
.workflow-task-list-modal .workflow-task-item-detail-rate-value-display,
.workflow-task-list-modal .workflow-task-item-detail-checkbox-value-display {
  display: flex;
  align-items: center;
}

/* long text */
.workflow-task-list-modal .workflow-task-item-detail-long-text-value-display {
  display: flex;
  align-items: center;
}

.workflow-task-list-modal .workflow-task-item-detail-long-text-value-display .workflow-longtext-icon-container {
  border-radius: 3px;
  display: inline-block;
}

.workflow-task-list-modal .workflow-task-item-detail-long-text-value-display .workflow-longtext-links-container {
  background-color: #f0f0f0;
  color: #666666;
  padding: 0 3px;
  height: 20px;
  line-height: 20px;
  margin: 0 4px;
}

.workflow-task-list-modal .workflow-task-item-detail-long-text-value-display .workflow-longtext-images-container {
  max-width: 28px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.workflow-task-list-modal .workflow-task-item-detail-long-text-value-display .workflow-longtext-image {
  display: inline-block;
  height: 18px;
  max-width: 28px;
  border-radius: 3px;
  object-fit: contain;
}

.workflow-task-list-modal .workflow-task-item-detail-long-text-value-display .workflow-longtext-image-count {
  font-style: normal;
  display: inline-block;
  font-size: 12px;
  border-radius: 6px;
  background-color: #666666;
  color: #fff;
  transform: scale(0.8);
  min-width: 14px;
  line-height: 14px;
  padding: 0 3px;
  position: absolute;
  bottom: -2px;
  left: 16px;
}

/* image、file */
.workflow-task-list-modal .workflow-task-item-detail-file-value-display,
.workflow-task-list-modal .workflow-task-item-detail-image-value-display {
  position: relative;
  display: inline-block;
}

.workflow-task-list-modal .workflow-task-item-detail-value-display .workflow-task-item-detail-image-value {
  display: inline-block;
  height: 30px;
  margin-top: -0.4rem;
  border-radius: 3px;
  object-fit: contain;
}

.workflow-task-list-modal .workflow-task-item-detail-value-display .workflow-image-image-count {
  position: absolute;
  bottom: -2px;
  left: 16px;
  display: inline-block;
  height: 12px;
  padding: 0 4px;
  border-radius: 6px;
  text-align: center;
  background-color: #666666;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  transform: scale(0.8);
}

.workflow-task-list-modal .workflow-task-item-detail-file-value-display .workflow-image-image-count {
  left: 8px;
}

.workflow-task-list-modal .workflow-task-item-detail-multiple-select-value-display,
.workflow-task-list-modal .workflow-task-item-detail-link-value-display {
  display: flex;
}

.workflow-task-list-modal .workflow-task-item-detail-link-value {
  display: inline-block;
  height: 20px;
  margin-right: 4px;
  padding: 0 2px;
  font-size: 13px;
  max-width: 100%;
  background: #eceff4;
  border-radius: 3px;
}

.workflow-task-list-modal .workflow-task-item-detail-link-value .link-name {
  margin-left: 4px;
  max-width: 50px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* common */
.workflow-task-list-modal .workflow-task-item-detail-long-text-value-display,
.workflow-task-list-modal .workflow-task-item-detail-text-value-display,
.workflow-task-list-modal .workflow-task-item-detail-email-value-display,
.workflow-task-list-modal .workflow-task-item-detail-url-value-display,
.workflow-task-list-modal .workflow-task-item-detail-geolocation-value-display,
.workflow-task-list-modal .workflow-task-item-detail-date-value-display,
.workflow-task-list-modal .workflow-task-item-detail-duration-value-display,
.workflow-task-list-modal .workflow-task-item-detail-number-value-display {
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
