@import url('../readonly-columns.css');

.workflow-task-pending-dialog {
  margin: 28px 0 0 0;
}

.workflow-task-pending-dialog .modal-header {
  padding: 6px 14px 6px 20px;
}

.workflow-task-pending-dialog .header-close-list {
  display: flex;
}

.workflow-task-pending-dialog .workflow-flow-close-icon {
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
}

.workflow-task-pending-dialog .workflow-flow-close-icon:hover {
  opacity: 0.75;
}

.workflow-task-pending-dialog .workflow-task-pending-details-header {
  overflow: hidden;
  flex-shrink: 0;
}

.workflow-task-pending-dialog .workflow-task-pending-details-header .modal-title {
  flex: 1;
  overflow: hidden;
}

/* state */
.workflow-task-pending-dialog .workflow-task-pending-details-header .workflow-task-state {
  flex-shrink: 0;
  font-weight: 400;
}

/* url btn */
.workflow-task-pending-dialog .workflow-task-pending-details-header-url-btn {
  display: inline-block;
  height: 24px;
  margin-right: 2px;
  margin-left: 10px;
  padding: 0 5px;
  border-radius: 3px;
}

.workflow-task-pending-dialog .workflow-task-url-btn {
  height: 24px;
  min-width: 24px;
  padding: 0;
  border: none;
  color: #666666;
  vertical-align: top;
}

.workflow-task-pending-dialog .workflow-task-url-btn:hover {
  color: #666;
}

.workflow-task-pending-dialog .workflow-task-pending-details-header .header-close-list {
  margin-left: 20px;
}

.workflow-task-pending-dialog .workflow-task-pending-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.workflow-task-pending-dialog .workflow-task-pending-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.workflow-task-pending-dialog .workflow-task-pending-details .workflow-task-title {
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.workflow-task-pending-dialog .workflow-task-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.workflow-task-pending-dialog .workflow-task-container .workflow-task-pending-content {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.workflow-task-pending-dialog .workflow-task-pending-content .compose-editor {
  display: flex;
  margin-bottom: 1rem;
}

.workflow-task-pending-dialog .workflow-task-pending-content .compose-editor .cell-label-container {
  padding-top: 9px;
}

.workflow-task-pending-dialog .workflow-task-pending-content .loading-tip {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
}

.workflow-task-pending-dialog .workflow-task-pending-content .long-text-editor-container {
  color: #666666;
  font-size: 13px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.workflow-task-pending-dialog .workflow-task-pending-content .checkbox-editor-container .checkbox {
  cursor: pointer;
}

.workflow-task-pending-dialog .grid-cell-type-long-text .long-text-editor-container {
  color: #212529;
  font-size: 14px;
  background-color: #f5f5f5;
}

.workflow-task-pending-dialog .geolocation-content {
  padding: 4px 12px;
  min-height: 30px;
  line-height: 22px;
  font-size: 14px;
  background-color: #f0f0f0;
  border-radius: 3px;
  cursor: pointer;
}

.workflow-task-pending-dialog .workflow-task-flow-header .side-operation {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0px;
}

.workflow-task-pending-dialog .workflow-task-flow-header .side-operation:hover {
  cursor: pointer;
}

.workflow-task-pending-dialog .workflow-task-flow-header .side-operation:last-child {
  margin-left: 16px;
}

.workflow-task-pending-dialog .workflow-task-flow-header .flow-chart,
.workflow-task-pending-dialog .workflow-task-flow-header .task-logs {
  color: #212529;
  border-bottom: 2px solid #ED7109;
}

.workflow-task-pending-dialog .workflow-task-flow {
  width: 300px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  border-radius: 0 3px 3px 0;
}

.workflow-task-pending-dialog .workflow-task-flow .modal-header {
  padding: 6px 14px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.workflow-task-pending-dialog .workflow-task-flow-header .modal-title {
  position: absolute;
  width: calc(100% - 100px);
  left: 14px;
}

.workflow-task-pending-dialog .workflow-task-flow .workflow-task-flow-body {
  padding: 0;
  height: calc(100% - 40px);
}

.workflow-task-pending-dialog .workflow-task-flow-body .workflow-task-nodes-content {
  height: 100%;
}

.workflow-task-flow-body .workflow-app-nodes-content .workflow-paths-container {
  height: 100%;
}

.workflow-task-pending-dialog .workflow-task-flow-body .workflow-task-main-nodes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 0;
}

.workflow-task-pending-dialog .workflow-task-flow-body .workflow-task-outside-nodes-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workflow-task-pending-dialog .workflow-task-outside-nodes-content .workflow-app-node {
  margin-bottom: 54px;
}

.workflow-task-pending-dialog .dtable-dataset-link-formatter {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.workflow-task-pending-dialog .dtable-dataset-link-formatter .dtable-dataset-link-item {
  flex-shrink: 0;
  height: 20px;
  margin-right: 4px;
  padding: 0 6px;
  font-size: 13px;
  max-width: 100%;
  background: #eceff4;
  border-radius: 3px;
  align-items: center;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  width: fit-content;
}

/* workflow task logs */
.workflow-task-log-list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.workflow-task-log-list .log-list {
  flex: 1 1 auto;
  height: 100%;
  overflow: scroll;
}

.workflow-task-log-item {
  margin: 5px 12px 20px;
}

.workflow-task-log-item .task-log-title,
.workflow-task-log-item .task-log-title .log-title {
  display: flex;
  align-items: center;
}

.workflow-task-log-item .task-log-title {
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.workflow-task-log-item .task-log-title .log-title {
  overflow: hidden;
}

.workflow-task-log-item .task-log-title .log-title .title {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.workflow-task-log-item .task-log-title .time {
  flex: none;
  margin-left: 10px;
  color: #666666;
  font-size: 12px;
}

.workflow-task-log-item .task-log-content {
  display: flex;
  padding: 12px;
  font-size: 14px;
  background: #fff;
  border-radius: 6px;
}

.workflow-task-log-item .task-log-content .operator-avatar {
  width: 24px;
  height: 24px;
  font-size: 14px;
  flex: none;
  margin-right: 10px;
  background: #fff;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

.workflow-task-log-item .task-log-content .log-pane {
  flex: auto;
  overflow: hidden;
  font-size: 14px;
}

.workflow-task-log-item .task-log-content .log-pane .workflow-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.workflow-task-log-item .task-log-content .log-pane .workflow-action .name {
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.workflow-task-log-item .task-log-content .log-pane .workflow-action .action {
  flex: none;
  margin-left: 10px;
  color: #666666;
}

.workflow-task-log-item .task-log-content .log-pane .log-start-time,
.workflow-task-log-item .task-log-content .log-pane .transaction,
.workflow-task-log-item .task-log-content .log-pane .log-duration {
  margin-top: 8px;
  color: #666666;
}

.workflow-task-log-item .task-log-content .log-pane .transaction {
  display: flex;
  flex-direction: row;
}

.workflow-task-log-item .task-log-content .log-pane .transaction .node-name {
  max-width: 90px;
}

.workflow-task-log-item .task-log-content .task-finished {
  font-size: 14px;
}
