.sea-metadata-single-select-editor {
  min-width: 200px;
  padding: 0;
  overflow: hidden;
  opacity: 1;
  background: var(--bs-body-bg);
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 8px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, .1);
  position: absolute;
  left: 0;
}

.sea-metadata-single-select-editor .add-search-result {
  height: 30px;
  padding: 0 10px;
  overflow: hidden;
  color: var(--bs-sf-grey-text);
}

.sea-metadata-single-select-editor .add-search-result:hover{
  cursor: pointer;
  background-color: var(--bs-body-secondary-bg);
}

.sea-metadata-single-select-editor .add-search-result .add-new-option {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
