.editor-icons-container {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 3px;
  width: 100%;
}

.editor-icons-container .editor-delete-icon,
.editor-icons-container .editor-view-icon,
.editor-icons-container .editor-download-icon {
  margin: 1px 0 0 3px;
}

.editor-view-icon .dtable-icon-eye,
.editor-delete-icon .dtable-icon-fork-number,
.editor-download-icon .dtable-icon-download {
  font-size: 12px;
  transform: scale(0.7);
}

.editor-icons-container .editor-view-icon,
.editor-icons-container .editor-delete-icon,
.editor-icons-container .editor-download-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.dtable-tip {
  position: fixed;
  z-index: 9999;
}

.dtable-tip.tip-container {
  display: flex;
  flex-direction: column;
  width: 232px;
  padding: 16px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 8px 1px rgb(0 0 0 / 20%);
}
