.sea-ticket-github-comment-editor {
  display: flex;
  gap: 16px;
  position: relative;
  width: 100%;
}

.sea-ticket-github-comment-editor .sea-ticket-github-comment-user-avatar,
.sea-ticket-github-comment-editor .sea-ticket-github-comment-user-avatar img {
  border-radius: 50%;
  flex-shrink: 0;
  height: 32px;
  overflow: hidden;
  width: 32px;
}

.sea-ticket-github-comment-editor .sea-ticket-github-comment-container {
  flex: 1 1;
  height: fit-content;
  overflow: hidden;
}

.sea-ticket-github-comment-editor .sea-ticket-github-comment-title {
  font-size: 16px;
  font-weight: 600;
  height: 38px;
  line-height: 32px;
  padding: 0 4px 6px 0;
  width: 100%;
}

.sea-ticket-github-comment-editor .sea-ticket-github-comment-content {
  display: flex;
  min-height: 40px;
  width: 100%;
}

.sea-ticket-github-comment-editor .sea-ticket-github-comment-content-ops {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
