.content {
  padding: 0rem 1rem 8rem;
  overflow: auto;
}

.system-admin-info dt,
.system-admin-info dd {
  color: inherit;
}

.info-item-content {
  margin-bottom: 2em;
}

.info-item-content:last-of-type {
  margin-top: 1.5rem;
}

.info-item-content table {
  width: 66%;
}

.info-item-content table thead th {
  padding: 0 10px;
  color: #212529;
  font-weight: bold;
  border: 1px solid #ddd;
  border-left: 0;
}

.info-item-content table thead tr {
  height: 2.5625rem;
  background-color: #fafafa;
}

.info-item-content table td {
  padding: 0 10px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.info-item-content table tr td:first-child,
.info-item-content table tr th:first-child {
  border-left: 1px solid #ddd;
}

.system-admin-info .btn {
  min-width: 60px;
}
