.seaqa-customize-table-wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6px;
  padding-top: 2px;
}

.seaqa-customize-table-wrapper-header .seaqa-customize-table-wrapper-header-right {
  align-items: center;
  color: #ed7109;
  cursor: pointer;
  display: flex;
  -webkit-user-select: none;
  user-select: none;
}

.seaqa-customize-table-wrapper-header .seaqa-customize-table-wrapper-btn {
  display: inline-flex;
  align-items: center;
}
