.sea-qa-connection-email-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid #0000001a;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;
}

.sea-qa-connection-email-item:hover {
  border-color: #0000004d;
  cursor: pointer;
}

.sea-qa-connection-email-item:first-child {
  margin-top: 16px;
}

.sea-qa-connection-email-item .email-subject {
  color: #202428;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.sea-qa-connection-email-item .email-content {
  display: inline-block;
  flex: 1 1;
  font-size: 14px;
  margin: 0 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sea-qa-connection-email-item .email-time {
  color: #999;
  font-size: 14px;
}

.sea-qa-connection-expand-email-item {
  border-color: #0000004d !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.sea-qa-connection-expand-email-item .email-header {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 21px 16px;
}

.sea-qa-connection-expand-email-item .email-header .email-from-to {
  word-break: break-all;
}

.sea-qa-connection-expand-email-item .email-header .email-message {
  color: #666;
  font-size: 14px;
}

.sea-qa-connection-expand-email-item .email-body {
  width: 100%;
  border-top: 1px solid #0000004d;
  font-size: 14px;
  padding: 1rem;
}

.sea-qa-connection-expand-email-item .email-body .email-item-toggle-btn {
  background-color: #f5f5f5;
  font-size: 13px;
  height: 18px;
  line-height: 15px;
  outline: 0;
  width: 32px;
}

.sea-qa-connection-expand-email-item .email-body .email-item-toggle-btn:hover {
  background-color: #e5e5e5 !important;
}

.sea-qa-connection-expand-email-item .email-body .email-content-detail img {
  max-width: calc(100% - 2px) !important;
  height: auto !important;
  object-fit: contain;
}
