.skills-list {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  width: calc(100% - 32px);
  margin: 0 16px;
  padding: 16px 0;
  background: #fff;
  gap: 16px;
}
