.skills-list-item {
  display: flex;
  align-items: flex-start;
  padding: 16px 24px 16px 16px;
  border: 1px solid var(--bs-border-tertiary-color);;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.skills-list-item:hover,
.skills-list-item:focus,
.skills-list-item.active {
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid var(--bs-border-secondary-color);
}

.skills-list-item .skills-list-item-switch {
  margin-left: 0;
  margin-right: 16px;
}

.skills-list-item .skills-list-item-switch .seaqa-switch {
  display: flex;
  align-self: flex-start;
  margin-top: 6px;
}

.skills-list-item .skills-list-item-content {
  flex: 1 1 720px;
  max-width: 720px;
  min-width: 0;
  width: 100%;
}

.skills-list-item .skills-list-item-chat-status {
  align-self: center;
  flex: 0 0 auto;
  margin-left: auto;
  margin-right: 0;
  padding-left: 64px;
  font-size: 12px;
  line-height: 22px;
  white-space: nowrap;
  color: var(--bs-body-secondary-color);
}

.skills-list-item .skills-list-item-more {
  align-self: center;
  flex: 0 0 auto;
  margin-left: 64px;
}

.skills-list-item .skills-list-item-header {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.skills-list-item .skills-list-item-header .skills-name {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--bs-body-color);
}

.skills-list-item .skills-list-item-header .skills-source {
  padding: 1px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: var(--bs-body-secondary-color);
}

.skills-list-item .skills-list-item-header .skills-source.builtin {
  background-color: #FAFAFA;
  border: 1px solid rgba(0, 40, 100, 0.12);
}

.skills-list-item .skills-list-item-header .skills-source.custom {
  background-color: rgba(62, 132, 247, 0.08);
  border: 1px solid rgba(62, 132, 247, 0.12);
}

.skills-list-item .skills-desc {
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: var(--bs-body-secondary-color);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media (max-width: 768px) {
  .skills-list-item .skills-list-item-chat-status {
    padding-left: 16px;
  }

  .skills-list-item .skills-list-item-more {
    margin-left: 16px;
  }
}
