.seaqa-single-select-settings-formatter {
  min-height: 38px;
  width: 100%;
  padding: 6px 0;
  display: flex;
  margin-bottom: 8px;
  border-radius: 3px;
}

.seaqa-single-select-settings-formatter.valid {
  padding: 5px 0 ;
  align-items: center;
}

.seaqa-single-select-settings-formatter .option {
  margin-bottom: 4px;
  margin-top: 4px;
}
