.seaqa-project-refresh-btn {
  display: inline-flex;
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}

.seaqa-project-refresh-btn-thought {
  width: auto;
  margin: 0px;
  padding: 0 4px;
}

.seaqa-project-refresh-btn-expanded svg {
  transform: rotate(180deg);
}
