.connection-logs-dialog {
  height: calc(100% - 56px); /* The top and bottom margins of the dialog box are 56px */
  max-width: 900px;
  width: 900px;
}

.connection-logs-dialog .modal-content {
  height: 100%;
}

.connection-logs-dialog .modal-content .modal-body {
  overflow: hidden;
  padding: 0px;
}

.connection-logs-dialog .modal-content .modal-body .connection-logs-content {
  overflow-y: auto;
  height: 100%;
}
