@import url('../view-item/index.css');

.sea-metadata-views .sea-metadata-all-views-container {
  padding: 0 8px;
}

.sea-metadata-views .sea-metadata-all-views-container .sea-metadata-view-item {
  height: 24px;
  padding: 2px 4px;
  border-radius: 3px;
}

.sea-metadata-views .sea-metadata-all-views-container .sea-metadata-view-item:hover {
  background-color: #efefef;
}

.sea-metadata-views .sea-metadata-all-views-container .sea-metadata-view-item.active::before {
  display: none;
}

.sea-metadata-views .sea-metadata-all-views-container .seaqa-icon-svg-arrow-down {
  width: 1rem !important;
  height: 1rem !important;
  color: #666;
}

.sea-metadata-views .sea-metadata-all-views-container .sea-metadata-view-item {
  width: 24px;
  height: 24px;
  padding: 4px 6px;
}

.sea-metadata-view-dropdown-menu .all-views-search-wrapper {
  padding: 8px 12px;
}

.sea-metadata-view-dropdown-menu .all-views-list-wrapper {
  max-height: 240px;
  min-height: 100px;
  overflow-y: auto;
  width: 300px;
}

.all-views-list-wrapper .dropdown-item.view-item {
  justify-content: space-between;
  position: relative;
  gap: 8px;
}

.all-views-list-wrapper .dropdown-item.view-item.sea-metadata-view-item-next-position-before::before {
  content: '';
  border: 0.5px solid #555;
  border-radius: 1px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.all-views-list-wrapper .dropdown-item.view-item.sea-metadata-view-item-next-position-after::after {
  content: '';
  border: 0.5px solid #555;
  border-radius: 1px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.all-views-list-wrapper .dropdown-item.view-item .view-item-left {
  flex: 1;
}

.all-views-list-wrapper .dropdown-item.view-item .view-item-left .seaqa-icon-svg:hover {
  cursor: grab;
}

.all-views-list-wrapper .all-views-empty-tip {
  padding-left: 16px;
}

.all-views-list-wrapper .sea-metadata-tip-default {
  font-size: 14px;
}
