@import url('./css/rc-calendar.css');

.sea-metadata {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  flex: 1;
}

.sea-metadata .color-default {
  color: var(--bs-body-color);
}
