.permission-editor .permission-editor-explanation {
  user-select: none;
  padding-left: 10px;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.permission-editor .permission-editor__option {
  padding-top: 2px;
  padding-bottom: 2px;
}

.permission-editor .permission-editor__control .permission-editor-explanation {
  display: none;
}

.permission-editor .permission-editor__menu .permission-editor__option--is-selected .permission-editor-explanation {
  color: #fff !important;
}

.permission-editor-select {
  z-index: 3;
}

.permission-editor .permission-editor__menu .permission-editor__option--is-disabled {
  color: #666;
  border-top: 1px solid #dedede;
}

.permission-editor .permission-editor__menu .permission-editor__option--is-disabled:hover {
  background-color: #f5f5f5 !important;
  color: #666 !important;
}

.btn-add-custom-permission {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 13px;
  line-height: 13px;
  cursor: pointer;
}

.btn-add-custom-permission .seaqa-icon-svg-plus {
  height: 13px;
  width: 13px;
  margin-right: 0.25rem;
}

.btn-add-custom-permission span {
  word-break: keep-all;
}

.permission-editor .seaqa-icon-svg-rename {
  cursor: pointer;
}

.permission-editor .permission-editor-name {
  display: inline-block;
  max-width: 150px;
}
