.sea-qa-portal-new-ticket-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.sea-qa-portal-new-ticket {
  width: 800px;
  height: fit-content;
  padding: 0px 50px;
  margin: 60px 0px;
  display: flex;
  flex: none;
  overflow: hidden;
}

.sea-qa-portal-new-ticket.small {
  width: calc(100% - 20px);
  padding: 0px 16px;
  min-width: 562px; /* comment min-width(542) + 20 */
}

.sea-qa-portal-new-ticket .sea-qa-portal-ticket-settings {
  padding-top: 0px;
  flex: 1;
}

.sea-qa-portal-new-ticket .sea-qa-portal-ticket-content-settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.sea-qa-portal-new-ticket .sea-qa-portal-ticket-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.sea-qa-portal-new-ticket .sea-qa-portal-ticket-settings-item .ticket-types-formatter {
  margin-bottom: 0px;
}

.sea-qa-portal-new-ticket .required-tip {
  color: #ff1920;
  display: inline-block;
  padding-left: 8px;
  padding-right: 6px;
}

.sea-qa-portal-new-ticket .sea-qa-portal-ticket-footer {
  padding: 16px 0px;
  margin-bottom: 8px;
}

/* Long text editor container */
.sea-qa-portal-content .sf-long-text-inline-editor-container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.sea-qa-portal-content .sf-long-text-inline-editor-container .sf-simple-slate-editor-container {
  min-width: 540px;
}

.sea-qa-portal-content .sf-long-text-inline-editor-container .sf-slate-editor-content,
.sea-qa-portal-content .sf-long-text-inline-editor-container .sf-slate-editor-content .sf-slate-scroll-container,
.sea-qa-portal-content .sf-long-text-inline-editor-container .sf-slate-editor-content .sf-slate-editor-content,
.sea-qa-portal-content .sf-long-text-inline-editor-container .sf-slate-editor-content .article,
.sea-qa-portal-content .sf-long-text-inline-editor-container .sf-slate-editor-content .sf-slate-article-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sea-qa-portal-content .sf-long-text-inline-editor-container .sf-slate-editor-content .article>div:first-child {
  flex: 1;
}
