.seaqa-discourse-reply-container .seaqa-discourse-reply-op-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
  gap: 8px;
}

.seaqa-discourse-reply-container .content-editor-wrapper {
  margin-top: 12px;
  margin-left: 42px;
}

.seaqa-discourse-reply-container .sf-long-text-inline-editor-container:has(*:focus) {
  border-color: var(--bs-input-focus-border-color);
}

.seaqa-discourse-reply-container .author-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.seaqa-discourse-reply-container .author-info-wrapper .author-info-left {
  display: flex;
}

.seaqa-discourse-reply-container .author-info-wrapper .author-info-left .author-avatar {
  height: 32px;
  width: 32px;
}

.seaqa-discourse-reply-container .author-info-wrapper .author-info-left .author-avatar img {
  border-radius: 50%;
}

.seaqa-discourse-reply-container .author-info-wrapper .author-info-left .author-name {
  padding-left: 10px;
  font-weight: 500;
}
