.seaqa-tooltip-icon-btn {
  height: 14px;
  width: 14px;
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
}

.seaqa-tooltip-icon-btn .seaqa-icon-svg {
  height: 14px;
  width: 14px;
  color: #bdbdbd;
}

.seaqa-tooltip-icon-btn:hover .seaqa-icon-svg {
  color: #888;
}
