.seaqa-checkbox-settings-formatter {
  margin-bottom: 8px;
  padding: 7px 0;
}

.seaqa-checkbox-settings-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
}

.seaqa-checkbox-settings-btn .seaqa-icon-svg-check-mark {
  height: 14px;
  width: 14px;
  font-weight: 600;
  fill: #20c933;
}
