.sea-qa-row-details-container .modal-body {
  padding: 0px;
}

.sea-qa-row-details-container .sea-qa-row-details {
  min-height: 40vh;
  max-height: 60vh;
  overflow: auto;
  padding: 0 16px;
}

.sea-qa-row-details-container .sea-qa-row-details .empty-tip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sea-qa-row-details-container .sea-qa-row-details .sea-qa-row-details-reply-item {
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.sea-qa-row-details-reply-item .sea-qa-row-details-reply-item-author-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.sea-qa-row-details-reply-item .sea-qa-row-details-reply-item-content {
  padding-left: 42px;
  padding-bottom: 16px;
}

.sea-qa-row-details-reply-item .sea-qa-row-details-reply-item-content :last-child {
  margin-bottom: 0px;
}

.sea-qa-row-details-reply-item .sea-qa-row-details-reply-item-author-info-wrapper .sea-qa-row-details-reply-item-author-info-left {
  display: flex;
}

.sea-qa-row-details-reply-item .sea-qa-row-details-reply-item-author-info-wrapper .sea-qa-row-details-reply-item-author-info-left .sea-qa-row-details-reply-item-author-avatar {
  width: 32px;
  height: 32px;
}

.sea-qa-row-details-reply-item .sea-qa-row-details-reply-item-author-info-wrapper .sea-qa-row-details-reply-item-author-info-left .sea-qa-row-details-reply-item-author-avatar img {
  border-radius: 50%;
}

.sea-qa-row-details-reply-item .sea-qa-row-details-reply-item-author-info-wrapper .sea-qa-row-details-reply-item-author-info-left .sea-qa-row-details-reply-item-author-name {
  padding-left: 10px;
  font-weight: 500;
}

.sea-qa-row-details-reply-item .sea-qa-row-details-reply-item-author-info-wrapper .sea-qa-row-details-reply-item-author-time {
  color: #666;
}
