.sea-qa-row-details-container {
  height: calc(100% - 56px); /* The top and bottom margins of the dialog box are 56px */
}

.sea-qa-row-details-container .modal-content {
  height: 100%;
}

.sea-qa-row-details-container .modal-content .modal-body {
  padding: 0px;
  overflow: hidden;
}

.sea-qa-row-details-container .modal-content .modal-header .modal-title {
  width: 80%;
}

.sea-qa-row-details-container .modal-content .modal-header .sea-qa-modal-close.close {
  flex: unset
}

.sea-qa-row-details-container .modal-header .open-in-new-tab-btn {
  height: 28px;
  width: 28px;
  margin-left: 8px;
}

.sea-qa-row-details-container .row-expand-direct-icons {
  display: flex;
  justify-content: space-between;
  width: 46px;
}

.sea-qa-row-details-container .row-expand-direct-icons .direct-icon {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  margin: 0px;
}

.sea-qa-row-details-container .row-expand-direct-icons .direct-icon .sea-qa-icon-svg-down {
  color: #000;
  width: 16px !important;
  height: 16px !important;
  opacity: .5;
}

.sea-qa-row-details-container .row-expand-direct-icons .direct-icon:hover .sea-qa-icon-svg-down {
  opacity: .75;
}

.sea-qa-row-details-container .sea-qa-connection-row-details {
  height: 100%;
  overflow: auto;
  padding: 0 16px;
}

/* row details markdown style - seafile */
.sea-qa-row-details-container .sf-slate-viewer-container {
  overflow: hidden;
  height: 100%;
}

.sea-qa-row-details-container .sf-slate-viewer-scroll-container {
  padding: 0px;
}

.sea-qa-row-details-container .sf-slate-article-content {
  max-width: 100%;
}

.sea-qa-row-details-container .sf-slate-viewer-article-container {
  flex: 1;
  max-width: 100%;
}

.sea-qa-row-details-container .article {
  padding: 16px !important;
}

.sea-qa-row-details-container .article>div[data-slate-editor=true]>:first-child {
  margin-top: 0px;
}
