.sea-qa-row-details-container {
  height: calc(100% - 56px); /* The top and bottom margins of the dialog box are 56px */
}

.sea-qa-row-details-container .modal-content {
  height: 100%;
}

.sea-qa-row-details-container .modal-content .modal-body {
  padding: 0px;
  overflow: hidden;
}

.sea-qa-row-details-container .modal-content .modal-header .modal-title {
  width: 80%;
}

.sea-qa-row-details-container .modal-content .modal-header .sea-qa-modal-close.close {
  flex: unset
}

.sea-qa-row-details-container .row-expand-direct-icons {
  display: flex;
  justify-content: space-between;
  width: 46px;
}

.sea-qa-row-details-container .row-expand-direct-icons .direct-icon {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  margin: 0px;
}

.sea-qa-row-details-container .row-expand-direct-icons .direct-icon .sea-qa-icon-svg-down {
  color: #000;
  width: 16px !important;
  height: 16px !important;
  opacity: .5;
}

.sea-qa-row-details-container .row-expand-direct-icons .direct-icon:hover .sea-qa-icon-svg-down {
  opacity: .75;
}

.sea-qa-row-details-container .sea-qa-row-details-non-seafile {
  height: 100%;
  overflow: auto;
  padding: 0 16px;
}

.sea-qa-row-details-container .sea-qa-row-details-non-seafile .empty-tip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sea-qa-row-details-container .modal-body .error {
  color: red;
}

.sea-qa-row-details-container .sea-qa-row-details-non-seafile .sea-qa-row-details-reply-item {
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.sea-qa-row-details-reply-item .author-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.sea-qa-row-details-reply-item .reply-item-content {
  padding-left: 42px;
  padding-bottom: 16px;
  word-wrap: break-word;
}

.sea-qa-row-details-reply-item .reply-item-content :last-child {
  margin-bottom: 0px;
}

.sea-qa-row-details-reply-item .author-info-wrapper .author-info-left {
  display: flex;
}

.sea-qa-row-details-reply-item .author-info-wrapper .author-info-left .author-avatar {
  width: 32px;
  height: 32px;
}

.sea-qa-row-details-reply-item .author-info-wrapper .author-info-left .author-avatar img {
  border-radius: 50%;
}

.sea-qa-row-details-reply-item .author-info-wrapper .author-info-left .author-name {
  padding-left: 10px;
  font-weight: 500;
}

.sea-qa-row-details-reply-item .author-info-wrapper .author-time {
  color: #666;
}

/* row details markdown style - seafile */
.sea-qa-row-details-container .sf-slate-viewer-container {
  overflow: hidden;
  height: 100%;
}

.sea-qa-row-details-container .sf-slate-viewer-scroll-container {
  padding: 0px;
}

.sea-qa-row-details-container .sf-slate-article-content {
  max-width: 100%;
}

.sea-qa-row-details-container .sf-slate-viewer-article-container {
  flex: 1;
  max-width: 100%;
}

.sea-qa-row-details-container .article {
  border: 0px;
  min-height: 100%;
  padding: 16px;
}

.sea-qa-row-details-container .article p:first-child {
  margin-top: 0px;
}
