.seaqa-ai-chat-customize-link {
  overflow: hidden;
  height: auto;
  width: 100%;
  margin-top: -0.5px !important;
  padding-bottom: 24px !important;
  background-color: #FDFDFD;
  border: 1px solid var(--bs-border-tertiary-color);
  border-radius: 8px;
  cursor: pointer;
  gap: 16px;
}

.seaqa-ai-chat-customize-link + span {
  display: none;
}

.seaqa-ai-chat-customize-link .seaqa-ai-chat-customize-link-header {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 0 16px !important;
  background-color: var(--bs-body-third-bg);
  border-bottom: 1px solid var(--bs-border-tertiary-color);
  gap: 8px;
}

.seaqa-ai-chat-customize-link .seaqa-ai-chat-customize-link-header .seaqa-ai-chat-customize-link-name {
  display: flex;
  align-items: center;
  flex: 1;
  font-weight: 500;
  gap: 8px;
}

.seaqa-ai-chat-customize-link .seaqa-ai-chat-customize-md-link-body {
  display: -webkit-box;
  align-items: unset;
  height: unset;
  max-height: 106px;
  min-height: 48px;
  width: 100%;
  padding: 16px 16px 0 16px !important;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.seaqa-ai-chat-customize-link .seaqa-ai-chat-customize-md-link-body .preview-text-content {
  overflow: auto;
  text-overflow: unset;
  white-space: unset;
}
