.sea-qa-project-navigation-node {
  display: flex;
  align-items: center;
  height: 38px;
  width: 100%;
  padding: 0 .5rem;
  border-radius: 3px;
  cursor: pointer;
  flex-shrink: 0;
}

.sea-qa-project-navigation-node:not(.sea-qa-project-navigation-node-level0):hover,
.sea-qa-project-navigation-node.sea-qa-project-navigation-node-active,
.sea-qa-project-navigation-node:has(> .sea-qa-project-navigation-node-more-operation.show) {
  background-color: #F5F5F5;
  position: relative;
}

.sea-qa-project-navigation-node.sea-qa-project-navigation-node-active::before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 34px;
  left: -8px;
  top: 2px;
  background-color: #ff9800;
  border-radius: 2px;
  z-index: 2;
}

.sea-qa-project-navigation-node .sea-qa-project-navigation-node-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sea-qa-project-navigation-node .sea-qa-project-navigation-node-more-btn {
  opacity: 0;
}

.sea-qa-project-navigation-node:hover .sea-qa-project-navigation-node-more-btn,
.sea-qa-project-navigation-node-more-operation.show .sea-qa-project-navigation-node-more-btn {
  opacity: 1;
}

.sea-qa-project-navigation-node-level0 {
  padding: 0 .5rem;
  font-size: .9375rem;
  color: #666666;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  margin-top: 8px;
}
