.seaqa-agent-run-detail {
  background: #fff;
  border: 1px solid var(--bs-border-tertiary-color);
  border-radius: 8px;
}

.seaqa-agent-run-detail.collapsed {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -6px;
}

.seaqa-agent-run-detail.expanded {
  box-shadow: 0 3px 8px #1013181a;
  flex-direction: column;
  margin-bottom: 16px;
  padding-right: 0;
}

.seaqa-agent-run-detail:last-child {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  margin-bottom: 0 !important;
}

/* header */
.seaqa-agent-run-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px 6px 16px;
  border-radius: 8px 8px 0 0;
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.seaqa-agent-run-detail.collapsed .seaqa-agent-run-detail-header {
  height: 44px;
  padding-bottom: 10px;
  background-color: #FDFDFC;
}

.seaqa-agent-run-detail:last-child .seaqa-agent-run-detail-header {
  height: 40px !important;
  padding-bottom: 6px !important;
}

.seaqa-agent-run-detail:last-child.collapsed .seaqa-agent-run-detail-header {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.seaqa-agent-run-detail-header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.seaqa-agent-run-detail .seaqa-agent-run-time {
  line-height: 22px;
}

.seaqa-agent-run-detail-header-right {
  display: flex;
  align-items: center;
  gap: 4px;
}

.seaqa-agent-run-detail .run-card-more-toggle .seaqa-icon-btn {
  margin-right: 8px;
}

.run-card-more-dropdown {
  display: inline-flex;
}

.run-card-more-toggle {
  cursor: pointer;
}

.run-card-more-dropdown .dropdown-menu {
  min-width: 160px;
}

.seaqa-agent-run-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 20px;
  border: 1px solid transparent;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  padding: 0 8px;
  border-radius: 10px;
}

.seaqa-agent-run-status.run-done {
  border-color: #5EBA0033;
  color: #5EBA00;
  padding-left: 4px;
}

.seaqa-agent-run-status.run-done svg {
  width: 12px;
  height: 12px;
}

.seaqa-agent-run-status.run-no-action-needed {
  border-color: #0028641F;
  color: #5EBA00;
}

.seaqa-agent-run-status.run-running {
  font-size: 14px;
  line-height: 22px;
  color: var(--bs-body-secondary-color);
  padding: 0;
}

.seaqa-agent-run-status.run-running svg {
  width: 14px;
  height: 14px;
  color: var(--bs-body-secondary-color);
}

.seaqa-agent-run-status.run-failed {
  color: var(--bs-text-danger);
  font-size: 14px;
  line-height: 22px;
  padding: 0;
}

.seaqa-agent-run-event-type {
  display: inline-flex;
  align-items: center;
  height: 20px;
  padding: 0 8px;
  border: 1px solid var(--bs-border-color);
  border-radius: 4px;
  font-size: 12px;
  color: var(--bs-body-secondary-color);
  line-height: 12px;
  white-space: nowrap;
}

.seaqa-agent-run-detail-body {
  padding: 16px;
  position: relative;
  border-top: 1px solid var(--bs-border-secondary-color);
}

.seaqa-agent-run-actions-direct {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
