.seaqa-project-main-panel {
  flex: 1;
  overflow: hidden;
  height: 100%;
  display: flex;
  background: #f7f7f5;
  padding: 8px 8px 12px 0;
}

.seaqa-project-main-panel-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #ffff;
  border-radius: 8px;
  overflow-y: auto;
}

.seaqa-project-main-panel .sea-metadata {
  padding-left: 16px;
  padding-right: 16px;
}

.seaqa-project-main-panel .sea-metadata .sea-metadata-views {
  padding-left: 0;
  position: relative;
}

.seaqa-project-main-panel .sea-metadata .sea-metadata-view-tools {
  padding-right: 0;
  padding-left: 0;
  margin-left: 40px;
}

.seaqa-project-main-panel .sea-metadata .sea-metadata-table-footer {
  border-bottom: none;
}
