.seaqa-project-main-panel {
  display: flex;
  overflow: hidden;
  flex: 1;
  height: 100%;
  padding: 8px 8px 8px 0;
  background: var(--bs-body-third-bg);
}

.seaqa-project-main-panel-content {
  position: relative;
  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #ffff;
  border-radius: 8px;
}

.seaqa-project-main-panel .sea-metadata {
  padding-left: 16px;
  padding-right: 16px;
}

.seaqa-project-main-panel .sea-metadata .sea-metadata-views {
  position: relative;
  padding-left: 0;
}

.seaqa-project-main-panel .sea-metadata .sea-metadata-view-tools {
  margin-left: 40px;
  padding-right: 0;
  padding-left: 0;
}

.seaqa-project-main-panel .sea-metadata .sea-metadata-table-footer {
  border-bottom: none;
}
