.collaborator-editor-popover .popover {
  position: absolute;
  left: 0;
  min-height: 100px;
  width: 300px;
  max-width: 300px;
  z-index: 9999;
  background: var(--bs-body-bg);
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 6px 14px rgba(000, 000, 000, 0.1);
}

.collaborator-editor-popover .popover .popover-inner {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
