.add-blank-table {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  top: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
}

.create-table-input {
  border-right: none;
  border-left: none;
  border-radius: 0;
  height: 40px;
  margin-top: 16px;
}

.create-table-input input {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-blank-table .selected-table-container {
  width: 100%;
  max-width: 100%;
}

.add-blank-table .selected-table-container .create-base-settings {
  padding: 1rem;
  background: #fff;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.selected-table-container > span {
  color: #666;
  display: inline-block;
  height: 44px;
  padding: 16px 16px 5px;
}

.mobile-template-list {
  margin-top: 1rem;
  background: #fff;
  padding-left: 1rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.mobile-template-item {
  padding: 7px 0;
  border-bottom: 1px solid #ddd;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.mobile-template-item:last-child {
  border-bottom: none;
}

.mobile-template-item-wrapper {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.mobile-template-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mobile-template-item-right {
  margin-left: 5px;
}

.mobile-template-item-right .mobile-template-item-arrow {
  color: #999;
}

.template-list-detail {
  margin-top: 1rem;
  background: #fff;
  padding-left: 1rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: auto;
}

.mobile-template-item-detail {
  padding-left: 1rem;
  height: 100px;
  padding: 7px 0;
  border-bottom: 1px solid #ddd;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.mobile-template-item-detail:last-child {
  border-bottom: none;
}

.mobile-template-item-detail .mobile-template-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.mobile-template-item-detail .mobile-template-name {
  font-size: 16px;
  font-weight: 500;
}

.mobile-template-item-detail .mobile-template-description {
  font-size: 14px;
  color: #666;
}

.mobile-template-item-detail .template-btn-container {
  margin-top: 5px;
  display: flex;
}

.mobile-template-item-detail .template-btn-container .mobile-template-btn {
  height: 24px;
  margin-right: 10px;
  line-height: 1;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.template-btn-container .mobile-template-btn .loading-tip {
  width: 22px;
  height: 22px;
  margin: 0;
}

.mobile-template-item-detail .mobile-template-image {
  margin-right: 12px;
}

.mobile-template-item-detail .mobile-template-image img {
  height: 76px;
  border-radius: 5px;
  width: 102px;
  object-fit: cover;
}

@media screen and (max-width: 766.8px) {
  .dtable-folder-view {
    position: fixed;
  }

  .dtable-folder-view .dtable-am-list-header .dtable-font {
    color: #999;
  }

  .dtable-folder-view .folder {
    height: calc(100% - 50px);
    overflow-y: auto;
  }
}
