html,
body,
#wrapper {
  overflow: hidden;
}

.dtable-edit-form-mobile .app-main {
  overflow: hidden;
}

.dtable-edit-form.dtable-edit-form-mobile .seatable-share-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dtable-edit-form.dtable-edit-form-mobile .app-form-settings .app-form-settings-header {
  font-weight: 600;
  height: 50px;
}

.dtable-edit-form.dtable-edit-form-mobile .seatable-edit-form-mobile-header {
  border-bottom: 1px solid #e9e9e9;
}

.dtable-edit-form-mobile .dtable-edit-form-content-container {
  flex: 1;
  overflow: scroll;
  width: 100%;
}

.dtable-edit-form-mobile .seatable-share-form .form-content .app-form-theme-background-color-display {
  margin-left: 0;
  border-radius: 0;
  height: 10px;
  width: 100%;
  overflow: hidden;
}

.dtable-edit-form-mobile .seatable-share-form .form-content .app-form-theme-background-image-display {
  height: 70px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.dtable-edit-form-mobile .app-main .app-content-container {
  border-radius: 0;
}

.app-wrapper.dtable-edit-form-mobile .app-header .edit-form-btns {
  height: 56px;
}

.dtable-edit-form-mobile .edit-form-mask {
  position: fixed;
  inset: 0;
  background-color: #000;
  opacity: 0.3;
}

.dtable-edit-form-mobile .app-main .app-side-container {
  position: absolute;
  right: 0;
  background-color: #F8F8F8;
}

.dtable-edit-form-mobile .seatable-share-form .form-content {
  margin-top: 0px;
  border-radius: 0;
  box-shadow: none;
}

.dtable-edit-form-mobile .app-header .btn .form-share-icon {
  display: none;
}

.dtable-edit-form-mobile .seatable-share-form .form-content {
  width: 100%;
}

.dtable-edit-form-mobile .form-table-title {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.dtable-edit-form-mobile .form-table-title .form-table-logo {
  height: fit-content;
  margin: 10px 0;
}

.dtable-edit-form-mobile .form-table-title .form-table-logo img {
  height: 30px;
}

.dtable-edit-form-mobile .app-content-container .form-items-container {
  width: 100%;
}

html:not([data-scale]) .seatable-edit-form-antd-mobile .am-action-sheet-button-list-item:before {
  background-color: #fff !important;
}

.seatable-edit-form-antd-mobile .am-action-sheet-button-list .am-action-sheet-button-list-item {
  padding: 0;
  height: 44px;
  line-height: 44px;
  color: #212529;
  font-size: 16px;
  overflow-y: hidden;
}

.seatable-edit-form-antd-mobile .my-am-action {
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.seatable-edit-form-antd-mobile .my-am-action .dtable-font {
  color: #888;
  font-size: 20px;
  margin-right: 16px;
}

.dtable-edit-form-mobile .seatable-share-form .compose-editor:last-child {
  margin-bottom: 0;
}

.dtable-edit-form-mobile .seatable-form-powered {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}
