.seaqa-customize-label {
  display: inline-flex;
  align-items: flex-start;
}

.seaqa-customize-label .seaqa-customize-label-icon {
  color: var(--bs-icon-secondary-color);
  height: 14px;
  width: 14px;
  margin-top: 4px;
}
