.seaqa-ai-chat-customize-definition {
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  height: 156px;
  margin-left: 8px;
  margin-bottom: 12px !important;
  padding: 16px 16px 8px 16px;
  background: var(--bs-body-third-bg);
  border-radius: 8px;
  cursor: pointer;
  gap: 8px;
}

.sf-slate-viewer-container p:has(+ .seaqa-ai-chat-customize-definition) {
  margin-bottom: 0 !important;
}

.sf-slate-viewer-container p + .seaqa-ai-chat-customize-definition,
.sf-slate-viewer-container ol + .seaqa-ai-chat-customize-definition,
.sf-slate-viewer-container ul + .seaqa-ai-chat-customize-definition,
.sf-slate-viewer-container div:has(> table) + .seaqa-ai-chat-customize-definition {
  margin-top: 16px;
}

.seaqa-ai-chat-customize-definition:hover {
  background-color: var(--bs-bg-secondary-color);
}

.seaqa-ai-chat-customize-definition .seaqa-ai-chat-customize-definition-simple-info {
  height: 44px;
}

.seaqa-ai-chat-customize-definition .seaqa-ai-chat-customize-definition-title-content {
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  flex: 1;
  gap: 8px;
}

.seaqa-ai-chat-customize-definition .seaqa-ai-chat-customize-definition-title {
  display: -webkit-box;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.seaqa-ai-chat-customize-definition .seaqa-ai-chat-customize-definition-avatar {
  margin-right: 6px;
}

.seaqa-ai-chat-customize-definition .seaqa-ai-chat-customize-definition-avatar img {
  height: 14px;
  width: 14px;
}

.seaqa-ai-chat-customize-definition .seaqa-ai-chat-customize-definition-content {
  display: -webkit-box;
  overflow: hidden !important;
  height: 100%;
  max-height: 40px;
  width: 100%;
  font-size: 13px;
  line-height: 20px !important;
  text-overflow: ellipsis;
  white-space: pre-wrap !important;
  word-wrap: break-word;
  color: var(--bs-body-secondary-color);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.seaqa-ai-chat-customize-definition .seaqa-ai-chat-customize-definition-content-divider {
  padding-bottom: 3px;
  border-bottom: 1px solid var(--bs-border-tertiary-color);
}

.seaqa-ai-chat-customize-definition .seaqa-ai-chat-customize-definition-mtime {
  flex-shrink: 0;
  height: 20px;
  max-width: 170px;
  width: fit-content;
  font-size: 12px;
  line-height: 20px;
  color: var(--bs-body-secondary-color);
}

.seaqa-ai-chat-customize-definition-hidden {
  opacity: 0;
}
