.account-container .account-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.account-container .account-avatar img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.account-details-popover {
  position: absolute;
  right: 10px;
  top: 49px;
  z-index: 20;
  width: 240px;
  background: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  box-shadow: 0 0 4px #ccc;
  font-size: 13px;
}

.account-details-popover:before {
  content: "";
  position: absolute;
  right: 12px;
  top: -8px;
  border-bottom: 8px solid #e4e4e4;
  border-left: 8px solid #0000;
  border-right: 8px solid #0000;
  filter: drop-shadow(0 -1px 2px #ccc);
}

.account-details-popover:after {
  content: "";
  position: absolute;
  right: 10px;
  top: -7px;
  border-bottom: 10px solid #fff;
  border-left: 10px solid #0000;
  border-right: 10px solid #0000;
}

.account-details-popover .account-details-content {
  padding: 8px 18px;
  border-bottom: 1px solid #ddd;
  color: var(--bs-body-color);
  cursor: default;
}

.account-details-popover .account-settings-item {
  display: block;
  padding: 8px 18px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  color: var(--bs-body-color);
}
