.seaqa-tag-dialog .tag-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 100%;
  padding:  16px 24px;
  background-color: var(--bs-body-secondary-bg);
  border-radius: 6px;
}

.seaqa-tag-dialog .seaqa-tag-description-editor {
  min-height: 82px;
}

.seaqa-tag-dialog .seaqa-tag-color-editor-btn {
  flex-shrink: 0;
  height: 38px;
  width: 38px;
  margin-right: 16px;
  border: 6px;
}

.seaqa-tag-dialog .seaqa-tag-color-editor-btn .seaqa-icon-svg,
.seaqa-tag-dialog .seaqa-tag-color-editor-btn:hover .seaqa-icon-svg {
  color: inherit;
}

.seaqa-tag-dialog .seaqa-tag-color-editor-container .seaqa-tag-color-editor {
  flex: 1;
}

.seaqa-tag-dialog .seaqa-tag-color-editor-container .seaqa-tag-color-editor.invalid {
  border-color: red;
  box-shadow: 0 0 0 2px rgba(255, 0, 0, .25);
}
