.seaqa-tag-dialog .tag-preview {
  width: 100%;
  height: 52px;
  padding:  16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  border-radius: 6px;
}

.seaqa-tag-dialog .seaqa-tag-description-editor {
  min-height: 82px;
}

.seaqa-tag-dialog .seaqa-tag-color-editor-btn {
  height: 38px;
  width: 38px;
  border: 6px;
  margin-right: 16px;
  flex-shrink: 0;
}

.seaqa-tag-dialog .seaqa-tag-color-editor-btn .seaqa-icon-svg,
.seaqa-tag-dialog .seaqa-tag-color-editor-btn:hover .seaqa-icon-svg {
  color: inherit;
}

.seaqa-tag-dialog .seaqa-tag-color-editor-container .seaqa-tag-color-editor {
  flex: 1;
}

.seaqa-tag-dialog .seaqa-tag-color-editor-container .seaqa-tag-color-editor.invalid {
  border-color: red;
  box-shadow: 0 0 0 2px rgba(255, 0, 0, .25);
}

.option-group-sea-metadata-selector-single-select .seaqa-select-option {
  height: 32px;
  padding: 0 10px;
}

.option-group-sea-metadata-selector-single-select .seaqa-select-option:hover,
.option-group-sea-metadata-selector-single-select .seaqa-select-option.active {
  background-color: #f7f7f7;
  color: var(--bs-body-color);
}

.option-group-sea-metadata-selector-single-select .select-option-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option-group-sea-metadata-selector-single-select .select-option-name .single-check-icon {
  height: 20px;
  width: 20px;
}

.option-group-sea-metadata-selector-single-select .select-option-name .single-check-icon .seaqa-icon-svg {
  height: 12px;
  width: 12px;
}
