/*account-more*/
.account-resource-more {
  color: #666666;
  cursor: pointer;
}

.account-resource-more:hover {
  text-decoration: underline;
}

.account-popover-more {
  width: 238px;
  height: 330px;
  background-color: #ffffff;
  cursor: default;
}

.account-popover-more .item {
  height: 53px;
  padding: 13px 15px;
}

.account-popover-more i {
  font-size: 14px;
  color: #7f7f7f;
  cursor: pointer;
}

.account-popover-more span :nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  color: #212529;
}

.account-popover-more-item {
  padding: 10px 13px;
}

.account-popover-more-item p {
  font-size: 12px;
}
