.org-admin,
.sys-admin {
  flex: 1;
  display: flex;
  min-height: 0;
}

.org-admin .side-panel,
.sys-admin .side-panel {
  width: 240px;
}

.org-admin .main-panel,
.sys-admin .main-panel {
  width: calc(100% - 240px);
}

.org-admin .side-nav,
.sys-admin .side-nav {
  background-color: #f7f7f5;
}

.side-nav-con {
  overflow: auto;
  padding: 0 8px;
}

.side-nav-con>.nav {
  margin-bottom: 1rem;
}

.side-nav-con .nav .nav-item,
.side-nav-con .nav .nav-item .nav-link {
  display: block;
  padding-left: 0;
  margin-right: 0;
}

.side-nav-con .active [class^="sf2-icon-"],
.side-nav-con .active [class^="sf3-font-"],
.side-nav-con .active .sharp {
  color: #fff;
}

.side-nav-con .sharp {
  display: inline-block;
  width: 2.625rem;
  margin-right: 0.325rem;
  text-align: right;
  color: #aaa;
}

.side-nav-con .toggle-icon {
  margin-right: 0.25rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.side-nav-con .draft-info {
  position: relative;
  line-height: 1.5rem;
}

.side-nav-con .draft-info .badge {
  position: relative;
  float: right;
  margin-top: 0.2rem;
  background-color: #EDEDEE;
  color: #5B5F65;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  min-width: 1.3rem;
  min-height: 1.3rem;
  padding: 0 .3rem;
}

.side-nav-con .sub-nav {
  display: block;
  overflow: hidden;
}

.side-nav-con .sub-nav .nav-link {
  padding: 0;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.org-admin .side-nav-con svg.sea-qa-icon-svg,
.sys-admin .side-nav-con svg.sea-qa-icon-svg {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  margin-left: 12px;
  color: #999;
}

.org-admin .side-nav-title,
.sys-admin .side-nav-title {
  color: #666666;
  padding: 0 8px;
  line-height: 28px;
  font-size: 14px;
  margin-top: 4px;
  height: 28px;
  display: block;
}

.org-admin .main-panel .heading,
.sys-admin .main-panel .heading {
  height: 48px;
  line-height: 48px;
  max-height: 48px;
  margin: 0 16px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.org-admin .main-panel .nav .nav-item .nav-link,
.sys-admin .main-panel .nav .nav-item .nav-link {
  font-size: 14px;
  border-bottom: 2px solid transparent;
  line-height: 38px;
  margin: 0;
}

.org-admin .main-panel .nav .nav-item .nav-link.active,
.sys-admin .main-panel .nav .nav-item .nav-link.active {
  color: #ED7109;
  font-weight: 500;
  text-decoration: none;
}

.org-admin .main-panel .cur-view-path,
.sys-admin .main-panel .cur-view-path {
  border-bottom: 1px solid var(--bs-border-secondary-color);
  padding: 0 20px;
  margin: 0 -20px;
}

.org-admin .main-panel .cur-view-path:after,
.sys-admin .main-panel .cur-view-path:after {
  display: none;
}

.org-admin .main-panel .cur-view-content table tbody tr,
.sys-admin .main-panel .cur-view-content table tbody tr {
  height: 42px;
}

.org-admin .text-secondary,
.sys-admin .text-secondary {
  color: #999 !important;
  width: 100%;
  height: 13px;
}

.org-admin svg.text-secondary,
.sys-admin svg.text-secondary {
  width: 13px;
  margin-top: -2px;
}

.org-admin .side-nav-con .nav .nav-item,
.sys-admin .side-nav-con .nav .nav-item {
  font-size: 15px;
}

.org-admin .side-nav-con .nav .nav-item .nav-link,
.sys-admin .side-nav-con .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 38px;
}

.admin-project-icon {
  padding-left: 10px;
}

/* admin info */
.sea-qa-admin-info-center .cur-view-content {
  padding: 0rem 1rem;
  flex: 1 1;
  overflow: auto;
}

.sea-qa-admin-info-center .info-header-content {
  height: 106px;
  flex-shrink: 0;
}

.sea-qa-admin-info-center .am-progress-outer {
  height: 6px !important;
  background: #eee;
  margin-left: 30px;
  width: 86%;
  border-radius: 10px;
  margin-top: 1.25rem;
}

.sea-qa-admin-info-center .am-progress-bar {
  height: 6px !important;
  border-radius: 5px;
  background-color: #ED7109;
}

.sea-qa-help-icon {
  color: #bdbdbd;
  height: 13px;
  width: 13px;
}

.sea-qa-help-icon:hover {
  color: #888;
}

#org-users table tbody tr {
  height: 42px;
}

.info-item-heading {
  border-bottom: 1px solid var(--bs-border-secondary-color);
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  margin: 24px 0 .7em;
  padding-bottom: .2em;
}

.web-setting-icon-btn {
  font-size: 1rem;
  line-height: 1.5;
  min-width: 0;
}

.web-setting-icon-btn-submit,
.web-setting-icon-btn-submit:hover svg {
  color: green;
}

.web-setting-icon-btn-cancel,
.web-setting-icon-btn-cancel:hover svg {
  color: #666;
}

.web-setting-textarea {
  min-height: 7rem;
}

.web-setting-label {
  word-break: break-word;
}
