.org-admin,
.sys-admin {
  flex: 1;
  display: flex;
  min-height: 0;
}

.org-admin .side-nav-con svg.sea-qa-icon-svg,
.sys-admin .side-nav-con svg.sea-qa-icon-svg {
  height: 20px;
  width: 20px;
  margin-right: 6px;
  margin-left: 6px;
  color: #999;
}

.org-admin .side-nav-con .active svg.sea-qa-icon-svg,
.sys-admin .side-nav-con .active svg.sea-qa-icon-svg {
  color: #fff;
}

.org-admin .side-nav-title,
.sys-admin .side-nav-title {
  color: #666666;
  padding: 0 4px;
  font-size: 15px;
}

.org-admin .main-panel .heading,
.sys-admin .main-panel .heading {
  height: 40px;
  padding: 0 16px;
  background: #f9f9f9;
  font-size: 1rem;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.org-admin .main-panel .nav .nav-item .nav-link,
.sys-admin .main-panel .nav .nav-item .nav-link {
  font-size: 16px;
  border-bottom: 2px solid transparent;
  line-height: 38px;
  margin: 0 12px;
}

.org-admin .main-panel .nav .nav-item .nav-link.active,
.sys-admin .main-panel .nav .nav-item .nav-link.active {
  color: #ED7109;
  text-decoration: none;
  border-bottom: 2px solid #ED7109;
}

.org-admin .main-panel .cur-view-path,
.sys-admin .main-panel .cur-view-path {
  border-bottom: 1px solid #eee;
  padding: 0 0.25rem;
}

.org-admin .main-panel .cur-view-path:after,
.sys-admin .main-panel .cur-view-path:after {
  display: none;
}

.org-admin .text-secondary,
.sys-admin .text-secondary {
  color: #999 !important;
  width: 100%;
  height: 13px;
}

.org-admin svg.text-secondary,
.sys-admin svg.text-secondary {
  width: 13px;
  margin-top: -2px;
}

.org-admin .side-nav-con .nav .nav-item,
.sys-admin .side-nav-con .nav .nav-item {
  font-size: 15px;
}

.org-admin .side-nav-con .nav .nav-item .nav-link,
.sys-admin .side-nav-con .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
}

.admin-project-icon {
  padding-left: 10px;
}

/* admin info */
.sea-qa-admin-info-center .cur-view-content {
  padding: 0rem 1rem;
  background-color: #f5f5f5;
  flex: 1 1;
  overflow: auto;
}

.sea-qa-admin-info-center .info-header-content {
  height: 106px;
  flex-shrink: 0;
}

.sea-qa-admin-info-center .am-progress-outer {
  height: 6px !important;
  background: #eee;
  margin-left: 30px;
  width: 86%;
  border-radius: 10px;
  margin-top: 1.25rem;
}

.sea-qa-admin-info-center .am-progress-bar {
  height: 6px !important;
  border-radius: 5px;
  background-color: #ED7109;
}



.sea-qa-help-icon {
  color: #bdbdbd;
  height: 13px;
  width: 13px;
}

.sea-qa-help-icon:hover {
  color: #888;
}

#org-users table tbody tr {
  height: 42px;
}

.info-item-heading {
  border-bottom: 1px solid #eee;
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  margin: 24px 0 .7em;
  padding-bottom: .2em;
}

.web-setting-icon-btn {
  font-size: 1rem;
  line-height: 1.5;
  min-width: 0;
}

.web-setting-icon-btn-submit,
.web-setting-icon-btn-submit:hover svg {
  color: green;
}

.web-setting-icon-btn-cancel,
.web-setting-icon-btn-cancel:hover svg {
  color: #666;
}

.web-setting-textarea {
  min-height: 7rem;
}

.web-setting-label {
  word-break: break-word;
}
