.main-panel-workflow-header {
  margin: 20px 0;
  justify-content: space-between;
}

.main-panel-workflow-header .main-panel-workflow-title {
  font-size: 18px;
  color: #000;
  font-weight: 700;
}

.main-panel-workflow-header .main-panel-workflow-help {
  cursor: pointer;
}

.main-panel-workflow-header .main-panel-workflow-help .dtable-icon-use-help {
  font-size: 20px;
  line-height: 1;
  color: #bdbdbd;
}

.main-panel-workflow-header .main-panel-workflow-help:hover .dtable-icon-use-help {
  color: #666666;
}

.main-panel-workflow-todo {
  margin-bottom: 40px;
}

.main-panel-workflow-todo .workflow-todo-title,
.workflow-group-container .workflow-group-name {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 500;
}

.workflow-group-container .workflow-group-name .toggle-icon {
  display: inline-flex;
  transform: scale(0.8);
  transition: all 0.1s;
  margin-left: 5px;
  font-size: 12px;
  color: #666666;
  cursor: pointer;
}

.workflow-group-container .workflow-group-name .toggle-icon:hover {
  color: #666;
}

.workflow-group-container .workflows-dropdown .create-workflow-folder-item {
  padding: 3px 12px;
  min-height: 32px;
  line-height: 1.5;
  width: 160px;
  cursor: pointer;
}

.workflow-group-container .workflows-dropdown .create-workflow-folder-item .item-icon {
  font-size: 14px;
  margin-right: 10px;
  color: #8c8c8c;
}

.workflow-folder-dropdown .dropdown-item:hover .operation-icon,
.workflow-group-container .workflows-dropdown .create-workflow-folder-item:hover .item-icon {
  color: #fff;
}

.main-panel-workflow-todo .workflow-todo-content {
  width: 300px;
  height: 120px;
  background-color: #fff5eb;
  border-radius: 6px;
}

.main-panel-workflow-todo .workflow-todo-content:hover {
  cursor: pointer;
}

.main-panel-workflow-todo .workflow-todo-image-container {
  margin-right: 54px;
}

.main-panel-workflow-todo .workflow-todo-image-container .workflow-todo-image {
  width: 64px;
  height: 64px;
}

.main-panel-workflow-todo .workflow-todo-count-container {
  flex-direction: column;
  justify-content: space-between;
  padding: 17px 0;
}

.main-panel-workflow-todo .workflow-todo-count-container .workflow-todo-count-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.main-panel-workflow-todo .workflow-todo-count-container .workflow-todo-count {
  font-size: 36px;
}

.main-panel-my-workflows-title {
  font-size: 16px;
  margin-bottom: 16px;
}

.main-panel-my-workflows {
  margin-bottom: 150px;
}

.workflow-group-container {
  margin-bottom: 30px;
}

.workflow-group-container:last-child {
  margin-bottom: 0;
}

.workflow-group-container .workflow-group-content {
  flex-wrap: wrap;
}

.workflow-group-container .workflow-group-content .load-more-workflows {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.workflow-group-container .load-more-workflows .load-more-workflows-tip {
  color: #ED7109;
  margin: 0 16px;
  cursor: pointer;
}

.workflow-group-container .load-more-workflows .load-more-workflows-line {
  flex: 1;
  border-bottom: 1px solid #e8e8e8;
}

.workflow-group-container .empty-tip .no-items-img-tip {
  width: 60px;
  height: 60px;
}

/* workflow item and workflow folder item */
.workflow-group-container .workflow-folder-item,
.workflow-group-container .workflow-item {
  min-width: 168px;
  height: 176px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 6px;
  overflow: hidden;
  padding: 14px;
  cursor: pointer;
  flex-direction: column;
  flex-shrink: 0;
}

.workflow-group-container .workflow-folder-item:hover {
  background: rgb(255, 240, 204) !important;
}

.workflow-item .workflow-item-icon-more {
  width: 100%;
  justify-content: space-between;
}

.workflow-folder-item .workflow-folder-item-icon,
.workflow-item .workflow-item-icon {
  height: 32px;
  width: 32px;
  border-radius: 6px;
  overflow: hidden;
}

.workflow-folder-item .workflow-folder-item-more {
  position: absolute;
  right: 0;
  line-height: 1;
  color: #999;
}

.workflow-folder-item .workflow-folder-item-more:hover {
  color: #666666;
}

.workflow-folder-dropdown {
  margin-left: -16px;
  min-width: 10rem;
}

.workflow-folder-dropdown .dropdown-item {
  line-height: 1.5;
  cursor: pointer;
  min-height: 32px;
  padding: 3px 12px;
}

.workflow-folder-dropdown .operation-icon {
  font-size: 14px;
  margin-right: 10px;
  color: #8c8c8c;
}

.workflow-item .workflow-item-more {
  height: 24px;
  width: 24px;
}

.workflow-item .workflow-item-icon-font {
  font-size: 20px;
}

.workflow-access-permissions .multicolor-icon {
  vertical-align: -0.1rem;
}

.workflow-item-more .dtable-icon-more-level,
.workflow-item-more .dtable-icon-more-vertical {
  color: #999;
  line-height: 1;
}

.workflow-folder-item .workflow-folder-item-name,
.workflow-item .workflow-item-name {
  height: 42px;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 19px;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}

.workflow-item .workflow-item-group {
  height: 18px;
  width: 100%;
  line-height: 18px;
  font-size: 12px;
  color: #666666;
}

.workflow-item .workflow-item-group .table-workspace-icon {
  font-size: 12px;
  margin-right: 4px;
}

.workflow-item .workflow-item-records {
  width: 100%;
  font-size: 12px;
  color: #666666;
}

@media (max-width: 767px) {
  .main-panel-workflow .cur-view-content {
    padding: 0 16px;
  }

  .main-panel-workflow-header {
    margin: 10px 0 14px;
  }

  .main-panel-workflow-header .main-panel-workflow-help:hover .dtable-icon-use-help {
    color: #aaa;
  }

  .main-panel-workflow-todo {
    margin-bottom: 30px;
  }

  .main-panel-workflow-todo .workflow-todo-content {
    width: 100%;
  }

  .workflow-group-container .workflow-group-content {
    flex-wrap: initial;
  }

  .workspace:last-child {
    margin-bottom: 50px;
  }

  .workflow-group-container .mobile-operation-menu {
    text-align: left;
  }
}
