.dtable-set-password-dialog .input-group-append .btn .dtable-font {
  color: #666;
}

.dtable-set-password-dialog .input-group-append .btn:hover .dtable-font {
  color: #212529;
}

.dtable-set-password-dialog .modal-body .alert-danger {
  margin: -6px 0 16px;
}
