.dtable-archive-backups-dialog {
  max-width: 750px;
  max-height: calc(100% - 3.5rem);
  overflow: hidden;
  display: flex;
}

.dtable-archive-backups-dialog .modal-content {
  max-height: 100%;
  flex: 1;
}

.dtable-archive-backups-dialog .dtable-archive-backups-body {
  padding: 0;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
}

.dtable-archive-backups-content {
  padding: 1rem;
  overflow: auto;
}

.dtable-archive-backups-content .backup-item:hover {
  background: #f5f5f5;
}
