html,
body,
#wrapper {
  width: 100%;
  height: 100%;
}

.app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.app-wrapper .app-main {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;
}

.app-main .app-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: #fff;
  overflow: auto;
  border-radius: 6px;
}

.dtable-edit-form .seatable-share-form .form-content .app-form-theme-background-image-display {
  width: 100%;
  margin-left: 0;
}

.dtable-edit-form .app-form-header {
  border-bottom: 1px solid #e4e4e4;
  padding: 0 16px;
  height: 50px;
}

.dtable-edit-form .app-form-header .tip-message {
  color: #666;
  margin-right: 12px;
  font-size: 12px;
  opacity: 0.75;
  width: max-content;
  display: inline-block;
  white-space: nowrap;
}

.dtable-edit-form .form-header-title .dtable-icon-form {
  color: #ED7109;
  font-size: 24px;
}

.dtable-edit-form .form-header-title span {
  font-size: 16px;
  font-weight: 600;
}

.app-content-container .app-form-content {
  flex: 1;
  display: flex;
  min-height: 0;
}

.app-content-container .form-items-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 702px;
  margin: 20px auto;
  margin-top: 0px;
}

.app-content-container .form-items-container.empty-container {
  margin-top: 20px;
}

.form-items-container .setting-row-item {
  padding: 16px 30px 30px 30px;
  border-radius: 8px;
  position: relative;
  transform: translate(0);
}

.form-items-container .virtual-element {
  width: 100%;
  height: 20px;
}

.form-items-container .setting-row-item .column-description {
  position: relative;
  cursor: default;
}

.form-items-container .column-description .dtable-icon-delete {
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
  color: #999;
}

.form-items-container .column-description .dtable-icon-rename {
  position: absolute;
  right: 35px;
  top: 0px;
  cursor: pointer;
  color: #999;
}

.form-items-container .column-description .dtable-font:hover {
  color: #212529;
}

.form-items-container .setting-row-item.setting-row-item-active {
  background-color: #fef5eb;
}

.form-items-container .setting-row-item .operation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -12px;
  border-radius: 20px;
  box-shadow: 1px 1px 4px #ccc;
  width: 24px;
  height: 24px;
  color: #999;
  background-color: #fff;
  cursor: pointer;
}

.form-items-container .drop-placeholder {
  width: 100%;
  height: 100px;
  border-radius: 3px;
  opacity: 0.75;
  border: 2px dashed #ED7109;
}

.form-items-container .setting-row-item .operation-button-delete {
  right: 40px;
}

.form-items-container .setting-row-item .operation-button-drag {
  right: 10px;
}

.form-items-container .setting-row-item .operation-button-delete:hover,
.form-items-container .setting-row-item .operation-button-drag:hover {
  color: #666666;
}

.form-items-container .operation-button .dtable-font {
  font-size: 14px;
}

.form-items-container .form-content-no-fields {
  width: 100%;
  height: 100px;
  color: #666;
}

.form-items-container .dragging-add-field {
  border: 1px dashed #ED7109;
  color: #ED7109;
}

.form-items-container .setting-row-item.form-split-line {
  padding: 30px;
}

.form-items-container .setting-row-item .split-line {
  border-bottom: 1px solid #ddd;
}

.form-items-container .setting-row-item.static-remark {
  padding: 0;
}

.form-items-container .static-remark .remark-editor-content {
  padding: 16px 30px;
}

.form-items-container .setting-row-item.static-remark:hover {
  background-color: #fef5eb;
}

.form-items-container .setting-row-item.static-remark:hover .long-text-editor-container {
  background-color: #fef5eb;
}

.form-items-container .static-remark .long-text-editor-container {
  margin-bottom: 0px !important;
}

.form-items-container .setting-row-item .long-text-editor-container {
  padding: 3px 10px;
}

.dtable-edit-form .form-items-container .setting-row-item .long-text-editor-container {
  cursor: inherit !important;
}

.form-items-container .setting-row-item .filters-success-tooltips,
.form-items-container .setting-row-item .filters-warning-tooltips {
  width: 100%;
  height: 20px;
  color: #666;
  display: flex;
  align-items: center;
}

.form-items-container .filters-success-tooltips .filters-tips-description,
.form-items-container .filters-warning-tooltips .filters-tips-description {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filters-success-tooltips .filters-tips,
.filters-warning-tooltips .filters-tips {
  width: 12px;
  margin-right: 8px;
  text-align: center;
  line-height: 20px;
}

.form-items-container .setting-row-item .filters-warning-tooltips {
  color: rgb(236, 76, 71);
}

.form-items-container .hover-item {
  cursor: pointer;
  background-color: #f5f5f5;
}

.form-items-container .setting-row-item-active:hover {
  cursor: pointer;
  background-color: #fef5eb;
}

.form-items-container .setting-row-item:hover .long-text-editor-edit,
.form-items-container .setting-row-item:hover .select-editor-add {
  color: #666;
}

.form-items-container .setting-row-item.editing-setting-row-item {
  background-color: #f5f5f5;
  padding: 8px 0px;
  margin: 10px 0;
  border: 2px solid #e2e2e2;
}

.form-items-container .setting-row-item.editing-setting-row-item:hover {
  background-color: #f5f5f5;
  cursor: auto;
}

.editing-cell-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0 15px;
}

.editing-cell-label-container .cell-label {
  margin-bottom: 0;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.editing-cell-label-container .form-setting-item.editing-form-setting-item .custom-switch-indicator {
  margin-right: 0;
}

.form-items-container .editing-condition-container {
  min-height: 38px;
  margin: 20px 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 15px 0;
}

.form-items-container .editing-default-value {
  padding: 0 30px;
  min-height: 38px;
}

.form-items-container .editing-default-value .editing-default-value-switch {
  margin-bottom: 6px;
}

.form-items-container .editing-condition-container .filter-switch-content,
.form-items-container .editing-default-value .filter-switch-content {
  display: inline-flex;
  max-width: 100%;
  overflow: hidden;
}

.editing-condition-container .form-setting-item.editing-form-filter-switch,
.editing-default-value .form-setting-item.editing-form-filter-switch {
  max-width: 100%;
}

.editing-condition-container .form-setting-item.editing-form-filter-switch .custom-switch,
.editing-default-value .form-setting-item.editing-form-filter-switch .custom-switch {
  flex-direction: row-reverse;
}

.editing-condition-container .form-setting-item.editing-form-filter-switch .form-column-switch,
.editing-default-value .form-setting-item.editing-form-filter-switch .form-column-switch {
  padding-left: 0;
}

.editing-condition-container .form-setting-item.editing-form-filter-switch .custom-switch-description,
.editing-default-value .form-setting-item.editing-form-filter-switch .custom-switch-description {
  flex: 1;
  width: auto;
}

.editing-cell-label-container .form-setting-item.editing-form-setting-item .custom-switch-description {
  width: auto;
}

.editing-cell-label-container .form-setting-item.editing-form-setting-item:hover,
.editing-condition-container .form-setting-item.editing-form-filter-switch:hover,
.editing-default-value .form-setting-item.editing-form-filter-switch:hover {
  background-color: unset;
}

.editing-default-value .date-default-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.editing-default-value .date-default-type {
  width: 43%;
}

.editing-default-value .date-default-value {
  width: 47%;
}

.editing-default-value .disabled-select__control {
  background-color: #f8f9fa;
  border-color: rgba(0, 40, 100, 0.12);
}

.editing-default-value .disabled-select__single-value {
  color: #495057;
}

.editing-default-value .editing-default-value-tip {
  line-height: 16px;
  font-size: 13px;
  color: #666;
  margin: 8px 0 6px 0;
}

.form-items-container .setting-row-item.editing-setting-row-item .editing-row-content {
  padding: 0 30px;
}

.form-date-default-type {
  font-size: 14px;
}

.editing-row-content span {
  display: block;
  float: right;
  margin-bottom: 10px;
  font-size: 12px;
  color: #666666;
  cursor: pointer;
  text-decoration: underline;
}

.editing-row-content span:hover {
  color: #222222;
}

.row-description-content {
  width: 100%;
  height: auto;
  padding: 9px;
  min-height: 50px;
  background-color: #f0f0f0;
  border-radius: 5px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: none;
}

.row-description-content:focus {
  outline: none;
}

.row-description-content:empty::before {
  content: attr(placeholder);
  color: #666666;
}

.row-description {
  min-height: 20px;
  line-height: 20px;
  width: 100%;
  margin-top: -4px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color: #666666;
}

.form-items-container .remark-editor-content {
  padding: 16px 30px;
}

.form-items-container .remark-editor-content .remark-content-tip {
  width: 100%;
  background: #f8f8f8;
  min-height: 4rem;
  padding: 9px;
  border-radius: 4px;
  font-size: 14px;
}

.app-side-container .app-form-settings {
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 1px solid #e4e4e4;
  width: 300px;
  height: 100%;
  background: #fff;
}

.app-form-settings .app-form-settings-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  padding: 0 16px;
  width: 100%;
  height: 50px;
}

.app-form-settings .app-form-settings-header-tab {
  height: 100%;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-form-settings .app-form-settings-header-tab:hover {
  cursor: pointer;
}

.app-form-settings .app-form-settings-header-tab.active {
  color: #ED7109;
  border-bottom: 2px solid #ED7109;
}

.app-form-settings .app-form-field-settings-header {
  height: 48px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.app-form-settings .app-form-field-settings-header .field-settings-return {
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.app-form-settings .field-settings-return .dtable-icon-return {
  color: #666666;
  font-size: 14px;
}

.app-form-settings .field-settings-return .dtable-icon-return:hover {
  color: #000;
  opacity: 0.75;
}

.app-form-settings .app-form-field-settings-content {
  padding: 16px 16px 48px;
  flex: 1 1;
  overflow-y: auto;
  height: calc(100% - 48px);
}

.app-form-settings .form-filed-setting-item {
  margin-bottom: 16px;
}

.app-form-settings .form-filed-label {
  margin-bottom: 10px;
  font-size: 14px;
}

.app-form-settings .form-set-help-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #acacac;
  cursor: pointer;
  user-select: none;
}

.app-form-settings .form-set-help-text:hover {
  background: #eee;
}

.app-form-settings .show-type-item {
  padding-left: 0 !important;
}

.app-form-settings .form-filed-switch .custom-switch {
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.app-form-settings .form-filed-switch .custom-switch-description {
  margin: 0 !important;
  white-space: normal !important;
  flex: 1 1;
}

.app-form-settings .form-filed-switch .custom-switch-indicator {
  width: 22px;
  height: 12px;
  border-radius: 6px;
  margin-left: 4px;
}

.app-form-settings .form-filed-switch .custom-switch-indicator:before {
  width: 10px;
  height: 10px;
  top: 0;
}

.app-form-settings .form-filed-switch .custom-switch-input:checked ~ .custom-switch-indicator:before {
  left: calc(0.6rem + 1px);
}

.app-form-settings .default-value-wrapper {
  position: relative;
}

.app-form-settings .grid-cell-type-single-select .select-editor-popover {
  top: 0 !important;
  left: 0 !important;
  width: 90%;
  height: fit-content;
}

.app-form-settings .default-value-wrapper .option-name,
.app-form-settings .default-value-wrapper .option-item-name {
  max-width: 160px !important;
}

.app-form-settings .date-default-container .select-module {
  font-size: 14px;
}

.app-form-settings .date-default-container .form-control {
  padding-left: 1.1rem;
  display: flex;
  align-items: center;
  color: #212529;
}

.app-form-settings .date-default-container .disabled-select__control {
  background-color: #f8f9fa;
  border-color: rgba(0, 40, 100, 0.12);
}

.app-form-settings .date-default-container .disabled-select__single-value {
  color: #495057 !important;
}

.app-form-settings .form-filed-setting-item .add-filter,
.app-form-settings .form-filed-setting-item .edit-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #acacac;
  cursor: pointer;
  user-select: none;
}

.app-form-settings .form-filed-setting-item .add-filter:hover,
.app-form-settings .form-filed-setting-item .edit-filter:hover {
  background: #eee;
}

.app-form-settings .form-filed-setting-item .edit-filter {
  padding: 0 10px;
  justify-content: space-between;
}

.app-form-settings .form-filed-setting-item .dtable-icon-use-help {
  color: #bdbdbd;
}

.app-form-settings .form-filed-setting-item .dtable-icon-use-help:hover {
  color: #666666;
}

.app-form-settings .form-filed-setting-item .default-text-tip {
  line-height: 16px;
  font-size: 12px;
  color: #666;
  margin: 8px 0 6px 0;
}

.app-form-settings .setting-body {
  overflow: auto;
  padding: 16px;
  width: 100%;
  height: 100%;
}

.app-form-settings .table-setting .send-notification-container {
  padding: 9px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  background-color: #fff;
  width: 260px;
  min-height: 2.375rem;
}

.app-form-settings .table-setting .collaborator-options-container {
  min-height: auto;
}
.app-form-settings .table-setting {
  margin-bottom: 16px;
}

.app-form-settings .table-setting:last-child {
  margin-bottom: -2px;
}

.app-form-settings .table-setting .column-setting-header {
  display: flex;
  justify-content: space-between;
}

.app-form-settings .table-setting .add-all {
  font-size: 14px;
  color: #ED7109;
  cursor: pointer;
}

.app-form-settings .table-setting .dtable-icon-right {
  color: #ccc;
  font-size: 10px;
  cursor: pointer;
}

.app-form-settings .table-setting .dtable-icon-right:hover {
  color: #212529;
}

.app-form-settings .table-setting .dtable-icon-spin {
  display: inline-block;
  transform: rotate(90deg);
}

.app-form-settings .table-setting .form-no-columns-tip {
  font-size: 12px;
  color: #666;
}

.app-form-settings .table-setting .item-label {
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dbdbdb;
  border-radius: 0.25rem;
  background-color: #f9f9f9;
  cursor: pointer;
  transform: translate(0);
}

.app-form-settings .item-label .dtable-font,
.app-form-settings .item-label .svg-item {
  display: inline-block;
  font-size: 14px;
  color: #999;
}

.app-form-settings .item-label:hover {
  background-color: #f0f0f0;
}

.app-form-settings .item-label .dtable-icon-add-table:hover {
  color: #666666;
}

.app-form-settings .table-setting .form-check {
  padding-left: 0;
}

.app-form-settings .table-setting-divider {
  margin: 14px 0;
  border-bottom: 1px solid #e2e2e2;
  width: auto;
}

.app-form-settings .table-setting .title {
  margin-bottom: 10px;
  font-size: 14px;
}

.app-form-settings .table-setting .dtable-select.custom-select {
  width: auto;
}

.app-form-settings .table-setting .form-setting-note {
  padding-left: 10px;
}

.app-form-settings .column-setting {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: auto;
}

.app-form-settings .column-setting .title {
  margin: 0 10px 0.5rem;
  font-size: 13px;
}

.app-form-settings .column-setting .setting-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.form-setting-item {
  position: relative;
  font-size: 14px;
  min-height: 30px;
  line-height: 30px;
}

.table-setting.form-setting-remarks .form-setting-item {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-setting.form-setting-remarks .form-setting-item .form-setting-title {
  font-size: 14px;
  font-weight: 500;
}

.table-setting.form-setting-remarks .custom-switch-description {
  white-space: normal;
  line-height: 20px;
}

.table-setting.form-setting-remarks .form-setting-item .form-column-switch {
  padding-left: 0;
  width: 100%;
}

.table-setting.form-setting-remarks .custom-switch .custom-switch-indicator {
  margin-right: 0;
}

.table-setting.form-setting-all-required {
  font-size: 14px;
  color: #ED7109;
  cursor: pointer;
}

.form-setting-item .form-column-switch .custom-switch {
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.form-setting-item .custom-switch .custom-switch-description {
  width: 222px;
  margin: 0;
  padding-right: 5px;
}

.form-setting-item .custom-switch .dtable-font {
  transform: scale(0.8);
  display: inline-block;
  line-height: 24px;
  margin-right: 8px;
  color: #666;
}

.form-setting-item .custom-switch .custom-switch-indicator {
  width: 22px;
  height: 12px;
  border-radius: 6px;
  margin-right: 10px;
}

.form-setting-item .custom-switch .custom-switch-indicator:before {
  height: 8px;
  width: 8px;
}

.form-setting-item .custom-switch .custom-switch-input:checked ~ .custom-switch-indicator:before {
  left: 12px;
}

.table-setting .form-remark-tip {
  margin-top: 10px;
}

.table-setting .form-remark-tip .remark-tip-content {
  font-size: 14px;
  min-height: 6rem;
}

.table-setting .form-remark-tip .text-remark-tip-content {
  min-height: 40px;
  height: 40px;
}

.form-table-title {
  width: 642px;
  margin: 30px auto 30px;
}

.form-table-line {
  width: 100%;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.form-table-title .dtable-font {
  margin-left: 10px;
  color: #999;
  cursor: pointer;
}

.form-table-title .dtable-font:hover {
  color: #000000;
}

.form-table-title .tip-message {
  margin-left: 12px;
  font-size: 12px;
  color: #666;
  width: max-content;
  white-space: nowrap;
}

.app-content-container .form-note-bottom-container {
  margin: 0px 30px;
}

.app-content-container .note-editor-content {
  margin-bottom: 0;
  margin-top: 20px;
  position: relative;
}

.app-content-container .note-editor-content .dtable-icon-delete {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #999;
}

.app-content-container .note-editor-content .dtable-icon-delete:hover {
  color: #212529;
}

.edit-form-name {
  font-weight: bold;
  font-size: 20px;
}

.edit-form-rename-input {
  margin-top: 10px;
  width: 60%;
}

.editing-condition-container .filter-item {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0;
}

.editing-condition-container .filter-item .condition {
  width: calc(100% - 56px);
  display: inline-flex;
  flex: 1 1;
}

.filter-item .condition > div {
  height: 38px;
  line-height: 38px;
  margin-left: 0.5rem;
}

.filter-item .condition > div:first-child {
  margin-left: 0;
}

.filter-conjunction {
  width: 72px;
}

.editing-condition-container .filter-item .filter-container {
  width: calc(100% - 72px);
  display: inline-flex;
}

.editing-condition-container .dtable-select .dtable-icon-down3 {
  margin-left: 0.5rem;
}

.editing-condition-container .selected-conjunction-show {
  padding: 0 10px;
  color: #999;
}

.filter-column .option:hover .header-icon .dtable-font {
  color: #fff;
}

.filter-term .selector-single-select .option:hover,
.filter-term .selector-multiple-select .option:hover {
  color: #212529;
  background-color: #f7f7f7;
}

.single-select-option,
.multiple-select-option {
  text-align: center;
  width: min-content;
  max-width: 180px;
  line-height: 21px;
  margin: 6px 0px;
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selector-multiple-select.dtable-select .selected-option-show,
.selector-single-select.dtable-select .selected-option-show {
  text-overflow: unset;
}

.filter-item .filter-conjunction {
  width: 72px;
}

.filter-item .form-filter-selector {
  flex: 1;
  width: 0;
}

.filter-item .filter-term input {
  display: flex;
  width: 100%;
  height: 38px;
  background-color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
}

.filter-item .filter-term input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #1991eb;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.filter-item .filter-term input[type='checkbox']:focus {
  border: 0;
  box-shadow: none;
}

.editing-condition-container .filter-item .delete-filter,
.filter-item .filters-tips {
  width: 28px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.filter-item .filters-tips .tooltip-warning-icon {
  margin-left: 1rem;
}

.delete-filter .dtable-icon-fork-number {
  display: inline-block;
  font-size: 12px;
  color: #999;
  margin-right: 1rem;
}

.multiple-option-name {
  width: 100%;
  display: flex;
  align-items: center;
}

.editing-condition-container .multiple-check-icon {
  display: inline-flex;
  width: 20px;
  text-align: center;
}

.editing-condition-container .multiple-check-icon .dtable-icon-check-mark {
  font-size: 12px;
  color: #798d99;
}

.filter-column .header-icon {
  transform: scale(0.8);
  display: inline-block;
  line-height: 24px;
  padding: 0 0.3125rem;
  color: #aaa;
}

.editing-condition-container .editing-form-add-filter {
  height: 30px;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  color: #999;
  font-size: 14px;
  font-weight: 500;
}

.editing-condition-container .editing-form-add-filter:hover {
  cursor: pointer;
  color: #666;
}

.editing-condition-container .editing-form-add-filter .dtable-icon-add-table {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.filter-item .filters-tips:hover,
.filters-list .delete-filter:hover,
.form-items-container .setting-row-item .cell-label,
.form-items-container .setting-row-item .cell-editor:hover,
.editing-condition-container .show-type-item:hover,
.editing-condition-container .show-type-item .show-type-item-label:hover,
.editing-condition-container .show-type-item .radio-input:hover {
  cursor: pointer;
}

.form-items-container .setting-row-item.editing-setting-row-item .cell-label {
  cursor: default;
}

.filters-tips .tooltip-success-icon,
.filters-tips .tooltip-warning-icon {
  display: inline-block;
  font-size: 12px;
  color: #666;
  line-height: 20px;
}

.filters-tips .tooltip-warning-icon {
  color: rgb(236, 76, 71);
}

.filter-item .filter-term .checkbox {
  height: unset;
  width: unset;
  margin-left: 0px;
  transform: scale(1.2);
  margin-top: 12px;
}

.filter-item .filter-term {
  display: flex;
  align-items: center;
}

.filter-item .filter-predicate-checkbox {
  padding: 0 16px;
}

.filter-item .invalid-filter-item {
  width: 28px;
}

.filter-item .invalid-filter {
  color: #cd201f;
}

.form-edit-tooltip-inner {
  font-size: 13px;
  font-weight: lighter;
  text-align: justify;
  color: #fff;
  background-color: #303133;
}

.form-edit-tooltip-inner .filters-success-tooltips-content {
  color: white;
  font-weight: 600;
}

.filter-container .filter-column,
.filter-container .filter-predicate {
  max-width: 200px;
}

.editing-condition-container .show-options-type {
  display: flex;
  align-items: center;
  margin: 4px 0 0;
  height: 24px;
  width: 100%;
  font-size: 14px;
}

.editing-condition-container .show-options-type .show-type-content {
  display: flex;
  align-items: center;
  padding: 3px;
  height: 100%;
  margin-left: 0.5rem;
  border-radius: 3px;
  line-height: 1.5;
}

.editing-condition-container .show-options-type .show-type-content .seatable-radio {
  margin-bottom: 0px;
  height: 24px;
}

.editing-condition-container .show-type-item {
  opacity: 0.75;
  padding-left: 0 !important;
}

.editing-condition-container .show-type-item:first-child {
  margin: 0 1.5rem 0 2rem !important;
}

.editing-condition-container .show-type-item.type-selected {
  opacity: 1;
}

.dtable-edit-form .seatable-share-form .form-content {
  margin-top: 60px;
  padding: 0;
}

.dtable-edit-form .form-content .long-text-editor-container {
  color: #666666;
  font-size: 13px;
  background-color: #f9f9f9;
}

.dtable-edit-form .form-content .long-text-editor-container.not-allowed-click {
  border: 1px solid rgba(0, 40, 100, 0.12);
}

.dtable-edit-form .form-table-logo {
  height: 60px;
  margin-bottom: 30px;
  cursor: pointer;
}

.dtable-edit-form .form-table-logo .position-relative i {
  position: absolute;
  margin: 0;
  top: -10px;
  right: auto;
}

.dtable-edit-form .form-table-logo img {
  height: 60px;
}

.form-table-logo-area {
  height: 60px;
  width: 160px;
  background-color: rgb(245, 245, 245);
  border: 2px dashed rgb(219, 219, 219);
  line-height: 60px;
  text-align: center;
  color: rgb(189, 189, 189);
  font-size: 28px;
}

.form-table-logo-area .dtable-font {
  font-size: 28px;
  margin: 0;
}

.form-table-logo-upload-image,
.form-table-background-upload-image {
  display: none;
}

.form-fields-table {
  width: 100%;
  line-height: 30px;
  color: #212529;
  font-size: 14px;
}

.form-fields-table .form-fields-table-header {
  background-color: #f7f9fe;
  border-bottom: 1px solid #ccc;
}

.form-fields-table .column-checkbox {
  text-align: center;
}

.form-field-table .form-fields-row {
  border-bottom: 1px solid #ccc;
}

/* theme background */
.app-main .app-form-settings .app-form-theme-settings-body {
  padding: 16px;
}

.app-main .app-form-theme-settings-body .app-form-theme-settings-permission-denied {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-main .app-form-theme-settings-permission-denied .paid-tip {
  padding: 8px 20px;
  border-radius: 16px;
  background-color: #fff2e5;
}

.app-main .app-form-theme-settings-permission-denied .paid-tip:hover {
  cursor: default;
}

.app-main .app-form-theme-settings-body .app-form-theme-background-setting {
  margin-bottom: 10px;
}

.app-main .app-form-theme-settings-body .seatable-radio:hover {
  cursor: pointer;
}

.app-main .app-form-theme-settings-body .app-form-theme-background-color-settings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3px;
}

.app-main .app-form-theme-settings-body .app-form-theme-background-color-item {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-shrink: 0;
  border-radius: 3px;
  margin: 3px 0;
  cursor: pointer;
}

.app-main .app-form-theme-settings-body .app-form-theme-background-image-item {
  width: 130px;
  height: 50px;
  margin: 3px 0;
  cursor: pointer;
  position: relative;
}

.app-main .app-form-theme-settings-body .app-form-theme-background-image {
  height: 100%;
  object-fit: cover;
}

.app-main .app-form-theme-settings-body .app-form-theme-background-image-item-selected {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.app-main .app-form-theme-settings-body .app-form-theme-background-upload-image {
  height: 38px;
  width: 100%;
  background-color: #f0f0f0;
  color: #666666;
  display: flex;
  align-items: center;
  padding: 0 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
  border-radius: 3px;
}

.app-main .app-form-theme-settings-body .app-form-theme-background-upload-image:hover {
  background-color: #dbdbdb;
  color: #666666;
  cursor: pointer;
}

.app-main .app-form-theme-background-upload-image .dtable-font {
  margin-right: 8px;
}

.app-main .app-form-theme-background-image-tip {
  color: #666;
  font-size: 12px;
  margin-top: 8px;
}

.dtable-edit-form .seatable-share-form .form-content .app-form-theme-background-color-display {
  width: 100%;
  margin-left: 0;
}

.dtable-edit-form .seatable-share-form .form-table-line {
  width: 100%;
  margin: 0;
}
