.force-sync-common-dataset .modal-body {
  max-height: 400px;
  overflow-y: auto;
}

.force-sync-common-dataset-container thead tr th:first-child {
  padding-left: 10px;
}

.force-sync-common-dataset-container .force-sync-common-dataset-switch .custom-switch {
  display: inline-block;
}

.force-sync-common-dataset-container .force-sync-common-dataset-switch .custom-switch .custom-switch-description {
  padding-right: 8px;
}

.force-sync-common-dataset-container .force-sync-common-dataset-switch .custom-switch-indicator {
  cursor: pointer;
  height: 15px;
  width: 27px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.force-sync-common-dataset-container .force-sync-common-dataset-switch .custom-switch-indicator:before {
  left: 0px;
  height: calc(1.25rem - 7px);
  width: calc(1.25rem - 6px);
  top: 0px;
}

.force-sync-common-dataset-container .force-sync-common-dataset-switch .custom-switch-input:checked~.custom-switch-indicator:before {
  left: calc(1rem - 4px);
}

.force-sync-common-dataset-container .table-name {
  margin-left: 10px;
  height: 24px;
  line-height: 24px;
}

.force-sync-common-dataset-container .table-icon-content {
  height: 24px;
  width: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.force-sync-common-dataset-container .project-icon-style {
  font-size: 14px;
  line-height: 24px;
}
