#notifications .notice-list .notification-detail-link {
  min-width: 15%;
  text-decoration: underline;
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification-item .notification-content-wrapper .notification-details {
  white-space: pre-wrap;
}
