.user-guide-list {
  display: flex;
  justify-content: space-between;
}

.user-guide-item {
  display: flex;
  justify-content: center;
  width: 32%;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.user-guide-item img {
  width: 100px;
}

.user-guide-item h3 {
  font-size: 16px;
  margin-top: 1rem;
}

.user-guide-item p {
  color: rgba(50, 62, 76);
  text-align: center;
  font-size: 13px;
}

@media (max-width: 767px) {
  .dtables-user-guide .user-guide-list {
    max-height: 300px;
  }

  .user-guide-item {
    width: 100%;
  }

  .main-panel-user-guides .user-guide-item {
    margin-bottom: 10px !important;
  }
}

.main-panel-center.dtables-user-guide {
  height: 340px;
  min-height: 340px;
  margin: 1rem 0.5rem;
  box-shadow: 0 0 5px #ccc;
}

.main-panel-center.dtables-user-guide .main-panel-app-header .dtable-icon-x {
  color: #999;
  cursor: pointer;
}

.main-panel-center.dtables-user-guide .main-panel-app-header .dtable-icon-x:hover {
  color: #666;
}
