.activity-table tbody tr:hover {
  background-color: #f5f5f5;
}

.activity-table .text-center a {
  /* 100% - 32px - 15px - 20px: 100% - img's width - img's mrginLeft -  img's mrginRight */
  max-width: calc(100% - 32px - 15px - 20px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #E16C0A;
}

.activity-table .activity-detail-item-container {
  padding: 16px 0px;
  border-bottom: 1px solid #e9ecef;
}

.activity-table .activity-detail-item-container .avatar {
  margin: 0 15px 0 0px;
  border-radius: 50%;
}

.activity-table .activity-detail-item-container .operation-name {
  margin: 0 5px;
}

.activity-table .activity-detail-item-container .operation-table {
  color: #E16C0A;
}

.activity-table .activity-detail-item-container .time-content {
  color: #666;
  font-size: 12px;
  text-align: left;
}

.activity-table .activity-detail-item-container .activity-detail-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0 3px 0;
  padding: 4px 4px 4px 47px;
  background-color: #ffffff;
  border-radius: 3px;
}

.activity-table .activity-detail-item-container .activity-detail-item-content .modify-row-name {
  margin-bottom: 0.5rem;
  font-size: 13px;
  color: #666666;
}

.activity-table .activities-base-detail .activities-base-content {
  display: flex;
  align-items: center;
  padding: 7px 0 7px 10px;
}

.activity-table .activities-base-detail .table-icon-content {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  background-color: #eee;
}

.activity-table .activities-base-detail .activities-table-name {
  margin-left: 10px;
  color: #212529;
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity-table .activities-base-detail .activities-table-name:hover {
  text-decoration: underline;
}

.activity-table .activities-base-detail .activities-base-operation {
  cursor: pointer;
}

.activity-table .activities-base-detail .activities-base-operation:hover {
  text-decoration: underline;
}

.activity-detail-item-content .activity-detail-column-title {
  margin-bottom: 6px;
  font-size: 13px;
  color: #666666;
}

.activity-detail-item-content .activity-detail-column-title .activity-detail-column-icon {
  font-size: 12px;
  margin-right: 6px;
}

.activity-detail {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.activity-detail .detail-left,
.activity-detail .detail-right {
  display: flex;
  max-width: 50%;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

.activity-detail .detail-left .select-option,
.activity-detail .detail-right .select-option {
  width: 100%;
  max-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity-detail .left-to-right {
  display: inline-block;
  margin: 0 8px;
  max-width: 10%;
  font-size: 13px;
  white-space: nowrap;
}

/* file、image */
.activity-file {
  display: inline-block;
  height: 28px;
  max-width: 40px;
}

.activity-file-item {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: 1px solid #f0f0f0;
}

.activity-file .file-value-count {
  font-style: normal;
  display: inline-block;
  font-size: 12px;
  border-radius: 6px;
  background-color: #999;
  color: #fff;
  -webkit-transform: translate(-50%, 8px) scale(0.8);
  transform: translate(-50%, 8px) scale(0.8);
  min-width: 14px;
  line-height: 14px;
  padding: 0 3px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* link */
.activity-link-item {
  display: inline-block;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 100%;
  line-height: 20px;
  margin-right: 10px;
  padding: 0 10px;
  font-size: 13px;
  background: #eceff4;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity-link-item:last-child {
  margin-right: 0px;
}

.detail-left .activity-link-item,
.detail-right .activity-link-item {
  margin-top: 4px;
}

/* long-text */
.activity-longtext-item {
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 1px;
}

.activity-longtext-item-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activity-longtext-icon-container {
  border-radius: 3px;
  display: inline-block;
}

.activity-longtext-link-item {
  background-color: #f0f0f0;
  color: #666;
  padding: 0 3px;
  height: 20px;
  line-height: 20px;
  margin: 0 4px;
}

.activity-longtext-image-item {
  margin-right: -10px;
}

.activity-longtext-image-item img {
  max-width: 28px;
  border: 1px solid #f0f0f0;
  max-height: 28px;
  box-sizing: border-box;
  border-radius: 3px;
}

.activity-longtext-image-item .image-number {
  font-style: normal;
  display: inline-block;
  font-size: 12px;
  border-radius: 6px;
  background-color: #999;
  color: #fff;
  transform: translate(-50%, 6px) scale(0.8);
  min-width: 14px;
  line-height: 14px;
  padding: 0 3px;
}

.activity-longtext-link-item .dtable-font {
  margin-right: 4px;
  font-size: 12px;
}

.detail-left .activity-collaborator:last-child,
.detail-right .activity-collaborator:last-child {
  margin-right: 0;
}

.activity-collaborator {
  display: inline-flex;
  height: 20px;
  margin-right: 6px;
  padding: 0 8px 0 2px;
  font-size: 13px;
  border-radius: 10px;
  background: #eaeaea;
  line-height: 20px;
  transform: translateY(-1px);
}

.activity-collaborator .collaborator-avatar-container {
  width: 16px;
  line-height: 16px;
}

.activity-collaborator .collaborator-avatar-container img {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  vertical-align: middle;
  transform: translateY(1px);
}

.activity-collaborator .collaborator-name {
  margin-left: 5px;
  line-height: 20px;
}

.activities-detail-dialog {
  height: calc(100% - 56px);
}

.activities-detail-dialog.mobile {
  margin: 0;
  height: 100%;
}

.activities-detail-dialog .modal-content {
  height: 100%;
}

.activities-detail-body {
  overflow: auto;
  padding: 0 16px;
}

.activity-table-view .mobile-activities-info {
  flex: 1;
  overflow: hidden;
}

.activity-table-view .mobile-activities-details {
  width: 65%;
  margin-right: 5px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity-table .activities-base-date td,
.activity-table .activities-base-detail .table-icon-content .dtable-icon-style {
  font-size: 16px;
}

.activity-table .activities-base-detail .activities-base-operation,
.activity-table-view .mobile-activities-info .activities-table-name,
.activity-table .activities-base-detail .activities-table-name {
  font-size: 14px;
}

.activity-new-cell-value {
  background-color: #cef5d2 !important;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activity-old-cell-value {
  background-color: #ffd4df !important;
  text-decoration: line-through 1px;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activity-old-cell-value.rate-item {
  text-decoration: none;
}

.single-select-activity-item {
  border: 1px solid white;
  display: flex;
  position: relative;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 0.5rem;
}

.activity-detail .select-option {
  margin-left: 0;
}

.single-select-activity-item.add-item,
.activity-department-item.add-item {
  box-shadow: 0 0 0 2px rgb(175 233 181);
}

.single-select-activity-item.deleted-item,
.activity-department-item.deleted-item {
  text-decoration: line-through 1px;
  box-shadow: 0 0 0 2px rgb(252 154 180);
}

.single-select-activity-item .single-select-op-icon,
.activity-department-item .single-select-op-icon {
  width: 10px;
  height: 10px;
  position: absolute;
  right: -2px;
  top: -5px;
  display: flex;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.single-select-activity-item .single-select-op-icon.add-icon,
.activity-department-item .single-select-op-icon.add-icon {
  background-color: rgb(175 233 181);
}

.single-select-activity-item .single-select-op-icon.deleted-icon,
.activity-department-item .single-select-op-icon.deleted-icon {
  background-color: rgb(252 154 180);
}

.single-select-activity-item .single-select-op-icon span,
.activity-department-item .single-select-op-icon span {
  width: 10px;
  height: 10px;
  font-weight: 300;
  line-height: 8px;
}

.activity-file-item.expand {
  margin-bottom: 2px;
}

.activity-file-item.new-file {
  padding: 1px;
  border: 2px solid #afe9b5;
}

.activity-file-item.old-file {
  padding: 1px;
  border: 2px solid #fc9ab4;
}

.activity-checkbox-item {
  width: 24px;
  height: 24px;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  display: block;
}

.activity-checkbox-item.select-checkbox {
  background-color: #cef5d2;
}

.activity-checkbox-item.unselect-checkbox {
  background-color: #ffd4df;
}

.activity-checkbox-item .grid-checkbox-check-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.activity-checkbox-item .grid-checkbox-check-mark {
  font-size: 14px;
  color: #20c933;
  font-weight: 600;
}

.activity-department-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 20px;
  margin: 0px 2px 0px 2px;
  padding: 0 8px 0 2px;
  font-size: 13px;
  border-radius: 10px;
  background: #eaeaea;
}

.activity-department-item .department-avatar-container {
  width: 18px;
  height: 18px;
  background: #ED7109;
  border-radius: 50%;
  padding: 2px 2px 3px 2px;
}

.activity-department-item .department-avatar-container span {
  font-size: 12px;
  color: #fff;
}

.activity-department-item .department-name {
  margin-left: 4px;
  flex: 1 1;
  line-height: 20px;
}
