.md-content {
  box-shadow: 0 0 6px #ccc;
  border: 1px solid #ccc;
  padding: 70px 75px;
  width: calc(100% - 40px);
  max-width: 950px;
  background: #fff;
  margin: 0 auto;
}

.md-content .sf-slate-viewer-scroll-container,
.md-content .sf-slate-viewer-article-container {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
}

.md-content .sf-slate-viewer-article-container .article {
  border: none;
  padding: 0;
}

@media screen and (max-width: 766.8px) {
  .md-content {
    padding: 10px;
    width: calc(100% - 20px);
  }
}
