.cur-view-container .no-libraty,
.cur-view-container .no-member,
.cur-view-container .no-group,
.cur-view-container .no-base {
  color: #a4a4a4;
  text-align: center;
  margin: 30px 0;
}

.cur-view-container .heading a {
  color: #ED7109;
}

.cur-view-subcontainer {
  margin: 0 10px 10px;
  overflow: auto;
}

.cur-view-subcontainer table {
  margin: 8px 0 40px;
}

.org-departments > div {
  height: 100%;
}

.org-members .cur-view-content {
  padding-bottom: 40px;
}

.cur-view-container button:hover {
  cursor: pointer;
}
