.rate-formatter .rate-item {
  cursor: pointer;
}

.rate-formatter.focus {
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #3B88FD;
}

.rate-item-active {
  opacity: 1 !important;
}

@media screen and (max-width: 766.8px) {
  .rate-formatter .rate-item {
    margin-right: 0.25rem;
  }
  .rate-formatter .rate-item .dtable-font {
    font-size: 24px;
  }
}
