.system-statistic-time-range {
  margin: 15px 0 25px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.system-stat-tool .item-active {
  background: #efefef;
}

.system-statistic-time-range .system-statistic-input-container {
  display: flex;
  margin-left: 1rem;
  align-items: center;
}

.system-statistic-input-container .system-statistic-input {
  height: 31px;
  width: 120px;
}

.system-statistic-input-container .system-statistic-connect {
  padding: 0 5px;
  line-height: 1;
}

.system-statistic-input-container .system-statistic-button {
  height: 31px;
  margin-left: 1rem;
}

.statistic-calendar table {
  table-layout: initial;
}

.statistic-calendar tbody tr {
  height: 1.75rem;
}

.statistic-reports-tip {
  padding: 0 10px;
  font-size: 13px;
}

.statistic-reports-input {
  width: 80px;
  height: 30px;
}

.statistic-run-scripts-tab {
  display: flex;
  font-size: 13px;
  color: #212529;
  margin-top: 10px;
}

.statistic-run-scripts-tab .statistic-run-scripts-tab-item {
  margin-right: 10px;
  padding: 3px 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  color: #8a948f;
}

.statistic-run-scripts-tab .statistic-run-scripts-tab-item:hover {
  color: #eb8025;
  border-bottom: 2px solid #eb8025;
}

.statistic-run-scripts-tab .statistic-run-scripts-tab-item.active {
  color: #eb8025;
  border-bottom: 2px solid #eb8025;
}

.statistics-auto-rule-item .sea-qa-icon-svg-more {
  color: #b5b5b5;
}

.statistics-auto-rule-item .sea-qa-icon-svg-more:hover {
  color: #666666;
}
