.system-notification-infos {
  margin-top: 16px;
}

.info-bar {
  color: #1f0600;
  margin: 0 16px 6px;
  padding: 8px 30px 8px 16px;
  background: rgb(253, 242, 230);
  position: relative;
  border-radius: 5px;
}

.info-bar .close {
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 22px;
  line-height: 1;
  color: #666666;
  cursor: pointer;
}

.info-bar-info span {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}

.info-bar-info div {
  display: inline;
}

.info-bar-info span:first-child {
  color: #ED7109;
}

.info-bar-info div a {
  text-decoration: underline;
}
