/* begin toobar-container */
.cur-view-toolbar {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
}

.border-left-show:before {
  position: absolute;
  top: 10px;
  left: -1px;
  width: 1px;
  height: 30px;
  content: '';
  background-color: #ddd;
}

/* end toolbar-container */

/* file-operation toolbar eg: edit, upload, new, share*/
.btn.operation-item {
  height: 30px;
  min-width: 55px;
  width: fit-content;
  margin-right: 0.75rem;
  margin-bottom: 16px;
  line-height: 29px;
  font-weight: normal;
  padding: 0 0.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn.btn-secondary:hover {
  color: var(--bs-body-color);
  background-color: #f6f6f6;
  border-color: rgba(0, 20, 49, 0.12);
}

.group-operations {
  margin-right: 0.25rem;
}

.group-operations .group-op-item {
  height: 30px;
  min-width: 46px;
  padding: 0 0.5rem;
  font-size: 1.125rem;
  line-height: 29px;
  font-weight: normal;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}
/* end file-operation toolbar */

/* begin view-mode toolbar */
.detail-btn button,
.sf-view-mode-btn {
  height: 30px;
  min-width: 2rem;
  padding: 0;
  color: #aaa;
  line-height: 29px;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.detail-btn button {
  padding-top: 1px;
  font-size: 15px;
}

.sf-view-mode-btn.current-mode {
  background-color: #ccc !important;
  color: #fff !important;
}
/* end view-mode toolbar */

/* begin common-toolbar */
.common-toolbar {
  display: flex;
  margin-left: auto;
}

.common-toolbar > div {
  margin-left: 1rem;
}
/* end common-toolbar */

/* begin path toolbar  */
.path-toolbar {
  list-style: none;
}

.path-toolbar .toolbar-item {
  display: inline-block;
  margin-left: 0.75rem;
  text-align: center;
}

.path-toolbar .toolbar-item a {
  color: #8a8a8a;
  font-size: 22px;
}

.path-toolbar .toolbar-item a:hover {
  color: var(--bs-sf-orange);
  text-decoration: none;
}
/* end path toolbar */

@media (max-width: 767px) {
  .border-left-show:before {
    width: 0;
  }
}
