.verify-code-container {
  display: flex;
  justify-content: space-between;
}

.verify-code-container .verify-code {
  display: inline;
  flex-shrink: 1;
}

.verify-code-container button {
  width: fit-content;
  flex-shrink: 0;
}

.verify-code-container .operation-item.btn-outline-secondary {
  border-color: rgba(0,40,100,.12);
  border-radius: 3px;
  color: #212529;
  height: auto;
}

.verify-code-container .operation-item.btn-outline-secondary:hover {
  color: #212529;
  background-color: #f6f6f6;
  border-color: rgba(0, 20, 49, 0.12);
}
