.workflow-nodes-container .app-content-container {
  padding: 10px 10px;
}

.workflow-app-container .workflow-app-main .workflow-nodes-container {
  flex-direction: column;
} 

.workflow-app-container .workflow-nodes-container .app-content-container .form-items-container {
  width: 100%;
  margin-top: 0;
}

.workflow-app-container .workflow-nodes-container .workflow-form-title {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  background-color: #FFF;
}

.workflow-app-container .workflow-nodes-container .workflow-form-title-return {
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
}

.workflow-app-container .workflow-nodes-container .workflow-form-title-return .dtable-icon-return {
  color: #666666;
  font-size: 14px;
}

.workflow-app-container .workflow-nodes-container .workflow-form-title-return:hover {
  cursor: pointer;
}

.workflow-app-container .workflow-nodes-container .workflow-form-title-return:hover .dtable-icon-return {
  color: #000;
  opacity: .75;
}

.workflow-nodes-container .form-items-container .readonly-columns {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.workflow-nodes-container .form-items-container .setting-row-item {
  padding: 16px 10px;
}

.workflow-nodes-container .form-items-container .readonly-columns .setting-row-item {
  margin-bottom: 20px;
}

.workflow-nodes-container .form-items-container .readonly-columns .setting-row-item.editing-setting-row-item {
  margin-left: 4px;
  margin-right: 4px;
}

.workflow-nodes-container .form-items-container .setting-row-item:hover {
  cursor: pointer;
}

.workflow-nodes-container .form-items-container .readonly-columns .setting-row-item:hover {
  cursor: default;
}

.workflow-nodes-container .form-items-container .cell-editor:hover,
.workflow-nodes-container .form-items-container .cell-label,
.workflow-nodes-container .select-editor-container .select-option-item,
.workflow-nodes-container .date-editor-container:hover {
  cursor: pointer;
}

.workflow-nodes-container .form-items-container .readonly-columns .cell-editor:hover,
.workflow-nodes-container .form-items-container .readonly-columns .cell-label,
.workflow-nodes-container .readonly-columns .select-editor-container .select-option-item,
.workflow-nodes-container .readonly-columns .date-editor-container:hover {
  cursor: default;
}

.workflow-nodes-container .form-items-container .long-text-editor-container {
  color: #666666;
  font-size: 13px;
  cursor: pointer;
  background-color: #f9f9f9;
}
