.project-connection-editor-dialog {
  height: calc(100% - 56px);
  max-height: calc(100% - 56px);
  max-width: 800px;
}

.project-connection-editor-dialog .modal-content {
  height: 100%;
  overflow: hidden;
}

.project-connection-editor-dialog .project-check-formatter-container {
  height: 100%;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-connection-editor-dialog .project-check-formatter-container {
  color: rgb(29, 221, 29);
}

.project-connection-editor-dialog .sea-qa-project-custom-table-row-add .sea-qa-project-custom-table-row-cell {
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: #555;
}

.project-connection-editor-dialog .sea-qa-project-custom-table-row-add .sea-qa-project-custom-table-row-cell .sea-qa-icon-svg {
  width: 14px;
  height: 14px;
}
