.seaqa-select {
  position: relative;
}

.seaqa-select.custom-select {
  display: flex;
  padding: 0 16px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  text-align: left;
  font-size: 14px;
  background-color: #fff;
}

.seaqa-select.custom-select:focus,
.seaqa-select.custom-select.focus {
  border-color: var(--bs-custom-select-focus-border-color) !important; 
}

.seaqa-select.custom-select.disabled:focus,
.seaqa-select.custom-select.focus.disabled,
.seaqa-select.custom-select.disabled:hover {
  border-color: rgba(0, 40, 100, 0.12) !important;
  box-shadow: unset;
  cursor: default;
}

.seaqa-select.custom-select:hover {
  cursor: pointer;
  border-color: rgb(179, 179, 179);
}

.seaqa-select .seaqa-icon-svg-arrow-down {
  color: #999;
}

.seaqa-select .seaqa-icon-svg-arrow-down:hover {
  color: #555;
}

.seaqa-select .selected-option {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.seaqa-select.seaqa-ui-collaborator-selector .option-group .option-group-content,
.seaqa-select.selector-group .option-group .option-group-content {
  padding: 10px;
}

.seaqa-select.custom-select.seaqa-ui-collaborator-selector .option-group .option-group-content {
  padding: 10px 0;
}

.seaqa-select.custom-select.seaqa-ui-collaborator-selector .option {
  padding: 5px 0 5px 10px !important;
  line-height: 20px;
}

.seaqa-select.selector-group .option {
  height: 30px;
  display: flex;
  align-items: center;
}

.seaqa-select.selector-group .select-group-option {
  justify-content: space-between;
}

.seaqa-select.selector-group .selected-option .selected-group {
  padding: 0 2px;
  background: #eceff4;
  border-radius: 4px;
}

.seaqa-select .selected-option-show {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seaqa-select .selected-option-show .seaqa-icon-svg {
  color: var(--bs-icon-secondary-color);
  height: 14px;
  width: 14px;
}

.seaqa-select .select-placeholder {
  line-height: 1;
  font-size: 14px;
  white-space: nowrap;
}

.seaqa-customize-select .option-group .option-group-content {
  padding: 8px;
  margin-bottom: 12px;
  padding-bottom: 0;
}
