.password-op-icon .seaqa-icon-svg {
  color: var(--bs-icon-secondary-color);
  height: 14px;
  width: 14px;
}

.password-op-icon:hover .seaqa-icon-svg {
  color: var(--bs-sf-grey-text);
}

.password-op-icon.disabled {
  background-color: #f8f9fa !important;
}
