.collaborator {
  display: inline-flex;
  align-items: center;
  margin-right: 4px;
  padding: 0 8px 0 2px;
  height: 20px;
  font-size: 13px;
  border-radius: 10px;
  background: #eaeaea;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.collaborator .collaborator-avatar,
.collaborator .collaborator-name {
  height: 20px;
  line-height: 20px;
}

.collaborator .collaborator-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  flex-shrink: 0;
}

.collaborator .collaborator-name {
  margin-left: 4px;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collaborator .collaborator-avatar img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
