.seaqa-project-main-panel .seaqa-project-main-panel-header,
.seaqa-portal-main-panel .seaqa-project-main-panel-header {
  flex-shrink: 0;
  height: 40px !important;
}

.seaqa-project-main-panel .seaqa-project-main-panel-header {
  padding: 0 !important;
}

.seaqa-portal-main-panel .seaqa-project-main-panel-header {
  padding: 0 16px !important;
}

.seaqa-project-main-panel .seaqa-project-main-panel-header-content,
.seaqa-portal-main-panel .seaqa-project-main-panel-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.seaqa-project-main-panel .seaqa-project-main-panel-header-content {
  padding: 0 16px;
}

.seaqa-project-main-panel .seaqa-project-main-panel-header .seaqa-project-main-panel-header-left,
.seaqa-portal-main-panel .seaqa-project-main-panel-header .seaqa-project-main-panel-header-left {
  overflow: hidden;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  font-weight: 500;
}

.seaqa-project-main-panel .seaqa-project-main-panel-header .seaqa-project-main-panel-header-name,
.seaqa-portal-main-panel .seaqa-project-main-panel-header .seaqa-project-main-panel-header-name {
  display: flex;
  align-items: center;
  width: 100%;
}

.seaqa-project-main-panel .seaqa-project-main-panel-header .seaqa-project-main-panel-header-right,
.seaqa-portal-main-panel .seaqa-project-main-panel-header .seaqa-project-main-panel-header-right {
  gap: 8px;
}
