/* popover */
.sea-qa-project-ticket-state-toggle-popover .popover {
  width: 300px;
  max-width: 400px;
  min-height: 118px;
}

.sea-qa-project-ticket-state-toggle-popover .option-editor-search-wrapper {
  display: none;
}

.sea-qa-project-ticket-state-toggle-popover.option-editor-popover .option-editor-content .option-editor-option {
  height: fit-content;
  align-items: flex-start;
  padding: 8px 10px;
  gap: 8px;
}

.sea-qa-project-ticket-state-toggle-popover.option-editor-popover .option-editor-content .option-editor-option-content {
  align-items: flex-start;
  gap: 8px;
}

.sea-qa-project-ticket-state-toggle-popover .sea-qa-project-ticket-state-option-icon {
  height: 14px;
  width: 14px;
  margin-top: 3px;
}

.sea-qa-project-ticket-state-toggle-popover .sea-qa-project-ticket-state-option-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.sea-qa-project-ticket-state-toggle-popover .sea-qa-project-ticket-state-option-content .sea-qa-project-ticket-state-option-description {
  font-size: 12px;
  color: #555;
  margin-top: 4px;
}
