.seaqa-inbox-panel {
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 389px;
  background-color: #ffffff;
  box-shadow: 1px 0px 32px 0px rgba(0, 0, 0, 0.1);
}

.seaqa-inbox-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: calc(100% - 32px);
  border-bottom: 1px solid var(--bs-border-secondary-color);
  line-height: 48px;
}

.seaqa-inbox-header .heading {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.seaqa-inbox-actions {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
}

.seaqa-inbox-actions:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.seaqa-inbox-actions .seaqa-icon-svg {
  height: 14px;
  width: 14px;
  fill: var(--bs-sf-grey-text);
}

.seaqa-inbox-actions .mark-all-as-read {
  font-size: 14px;
  color: var(--bs-sf-grey-text);
}
