.sea-qa-project-ticket-other-settings {
  width: 30%;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.sea-qa-project-ticket-settings-item {
  width: 100%;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.sea-qa-project-ticket-settings-item:last-child {
  border-bottom: none;
}

.longtext-preview-container {
  padding: 0;
}

.longtext-preview-container .sf-slate-viewer-container  {
  height: 100%;
}

.sf-long-text-inline-editor-container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.sf-long-text-inline-editor-container .sf-simple-slate-editor-container {
  min-width: 540px;
}

.sf-long-text-inline-editor-container .sf-slate-editor-content,
.sf-long-text-inline-editor-container .sf-slate-editor-content .sf-slate-scroll-container,
.sf-long-text-inline-editor-container .sf-slate-editor-content .sf-slate-editor-content,
.sf-long-text-inline-editor-container .sf-slate-editor-content .article,
.sf-long-text-inline-editor-container .sf-slate-editor-content .sf-slate-article-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sf-long-text-inline-editor-container .sf-slate-editor-content .article>div:first-child {
  flex: 1;
}

.sea-qa-project-ticket-footer {
  display: flex;
  align-items: center;
  padding-left: 48px;
  justify-content: space-between;
}

.sea-qa-project-ticket-footer .sea-qa-project-ticket-footer-confirm-btn {
  height: 38px;
}

.sea-qa-project-ticket-footer .sea-qa-loading-icon {
  height: 16px;
  width: 16px;
}
