.sea-qa-project-ticket-other-settings {
  width: 30%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.sea-qa-project-ticket-settings-item {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.sea-qa-project-ticket-settings-item:last-child {
  border-bottom: none;
}

.longtext-preview-container {
  padding: 0;
}

.longtext-preview-container .sf-slate-viewer-container  {
  height: 100%;
}

.sf-long-text-inline-editor-container {
  min-height: 300px;
}

