.seaqa-portal-left-bar {
  width: 50px;
  min-width: 50px;
  height: 100%;
  background-color: var(--bs-body-bg);
  border-right: 1px solid var(--bs-border-secondary-color);
  flex-direction: column;
}

.seaqa-portal-left-bar .seaqa-portal-left-bar-item {
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

.seaqa-portal-left-bar .seaqa-portal-left-bar-item:hover .seaqa-icon-svg,
.seaqa-portal-left-bar .seaqa-portal-left-bar-item .seaqa-icon-svg {
  color: var(--bs-sf-grey-text);
}
