/* Agent top-bar content */
.seaqa-agent-top-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;
}

/* Agent container */
.seaqa-agent-container {
  flex: 1;
  display: flex;
  overflow: hidden;
  background-color: var(--bs-body-bg);
  width: 100%;
  align-self: stretch;
  position: relative;
}
