#wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.seaqa-project {
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 100%;
  width: 100%;
}

.seaqa-project .seaqa-project-panel-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 48px;
  width: 100%;
  padding: 0 1rem;
}

.required-tip {
  display: inline-block;
  padding-left: 8px;
  padding-right: 6px;
  color: #ff1920;
}

body {
  overflow-y: auto;
  --ticket-close-color: #8250df;
  --ticket-invalid-color: #59636e;
  --ticket-open-color: #1a7f37;
}

/* icon color */
.seaqa-project-ticket-state-check-circle-stroked-icon {
  color: var(--ticket-close-color);
}

.seaqa-project-ticket-state-dot-circle-stroked-icon,
.seaqa-project-ticket-state-loop-dot-icon {
  flex-shrink: 0;
  color: var(--ticket-open-color);
}

.seaqa-project-ticket-state-circle-invalid-icon {
  flex-shrink: 0;
  color: var(--ticket-invalid-color);
}
