#wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sea-qa-project {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.sea-qa-project .sea-qa-project-panel-header {
  border-bottom: 1px solid #eee;
  flex-shrink: 0;
  padding: .5rem 1rem;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.required-tip {
  color: #ff1920;
  display: inline-block;
  padding-left: 8px;
}
