.seaqa-resource-details-dialog {
  height: calc(100% - 56px); /* The top and bottom margins of the dialog box are 56px */
}

.seaqa-resource-details-dialog.l {
  max-width: 960px;
  width: 960px;
}

.seaqa-resource-details-dialog.m {
  max-width: 860px;
  width: 860px;
}

.seaqa-resource-details-dialog.s {
  max-width: 720px;
  width: 720px;
}

.seaqa-resource-details-dialog.xs {
  max-width: calc(100vw - 48px);
  width: calc(100vw - 48px);
}

.seaqa-resource-details-dialog .modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.seaqa-resource-details-dialog .modal-content .modal-header {
  flex-shrink: 0;
  height: 37px;
}

.seaqa-resource-details-dialog .modal-content .modal-header .modal-title {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.seaqa-resource-details-dialog .modal-content .modal-header .modal-title .text-truncate {
  max-width: 400px;
}

.seaqa-resource-details-dialog .modal-header .modal-title .ticket-create-more-options-dropdown .seaqa-icon-btn {
  height: 28px;
  width: 28px;
  margin-right: -16px;
}

.seaqa-resource-details-dialog .modal-content .modal-header .seaqa-modal-close.close {
  flex: unset;
}

.seaqa-resource-details-dialog .modal-header .open-in-new-tab-btn {
  flex-shrink: 0;
  height: 28px;
  width: 28px;
  margin-left: 8px;
}

.seaqa-resource-details-dialog .row-expand-direct-icons {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 46px;
}

.seaqa-resource-details-dialog .row-expand-direct-icons .direct-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.seaqa-resource-details-dialog .row-expand-direct-icons .direct-icon .seaqa-icon-svg-arrow-down {
  height: 16px !important;
  width: 16px !important;
  opacity: .5;
  color: #000;
}

.seaqa-resource-details-dialog .row-expand-direct-icons .direct-icon:hover .seaqa-icon-svg-arrow-down {
  opacity: .75;
}

.seaqa-resource-details-dialog .modal-content .modal-body {
  overflow: auto;
  flex: 1;
  min-height: 0;
  padding: 16px;
}

.seaqa-resource-details-dialog .seaqa-resource-type-avatar {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.seaqa-resource-details-dialog .seaqa-resource-type-avatar img {
  height: 20px;
  width: 20px;
}

.seaqa-resource-details-dialog .seaqa-github-comment-editor {
  margin-bottom: 16px;
}
