.app-item-popover .popover {
  margin-left: 0;
  margin-right: 0;
}

.app-item-popover .app-item-popover-content {
  padding: 8px 0;
  min-width: 8rem;
}

.app-item-popover .app-item-popover-content .app-item-operation {
  line-height: 1.5;
  cursor: pointer;
  min-height: 32px;
  padding: 3px 12px;
  color: #212529;
}

.app-item-popover .app-item-popover-content .app-item-operation:hover {
  color: #FFF;
}

.app-item-popover .app-item-operation .app-item-operation-icon {
  font-size: 14px;
  margin-right: 10px;
  color: #8c8c8c;
}

.app-item-popover .app-item-operation:hover .app-item-operation-icon {
  color: #FFF;
}
