.seaqa-project-main-panel .seaqa-project-add-btn {
  padding-top: 0;
  padding-bottom: 0;
  height: 28px;
  display: inline-flex;
  align-items: center;
}

.seaqa-project-main-panel .seaqa-project-add-btn .seaqa-icon-svg {
  height: 14px;
  width: 14px;
}
