.geolocation-view {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  top: 0;
}

.geolocation-view .geolocation-view-container {
  height: calc(100% - 71px);
  overflow-y: auto;
}

.geolocation-view .dtable-icon-return {
  color: #888;
}

.geolocation-view .map-selection-view-search {
  display: flex;
  background: #fff;
  align-items: center;
  padding: 7px 20px 7px 20px;
  height: 44px;
}

.geolocation-view .map-selection-view-search .map-selection-view-search-input {
  height: 30px !important;
  min-height: unset;
  border: 1px solid #ddd;
  width: 86%;
  border-radius: 3px 0 0 3px;
}

.geolocation-view .map-selection-view-search .am-list-item .am-input-control input {
  font-size: 16px !important;
}

.geolocation-view .map-selection-view-search .am-list-item .am-input-clear {
  width: 18px;
  height: 18px;
  background-size: 20px auto;
  background-position: 1px 1px;
}

.geolocation-view .map-selection-view-search .map-selection-view-search-btn {
  height: 30px;
  width: 14%;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 3px 3px 0;
  font-size: .875rem;
  line-height: 1.8;
  background-color: #f5f5f5;
  color: #999;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.geolocation-view .map-selection-view-label {
  width: 100%;
  min-height: 120px;
  height: fit-content;
  position: fixed;
  background-color: #fff;
  bottom: 0;
}

.geolocation-view .map-selection-view-label.simple {
  min-height: 95px;
}

.geolocation-view .map-selection-view-label .dtable-icon-x {
  width: 8%;
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: 18px;
  color: #666;
}

.geolocation-view .map-selection-view-label .label-title {
  display: block;
  width: 85%;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.geolocation-view .map-selection-view-label .label-tag {
  margin-left: 15px;
  font-size: 12px;
}

.geolocation-view .map-selection-view-label .label-address-tip {
  display: block;
  margin-left: 15px;
  margin-top: 0.25rem;
  color: #999;
  font-size: 12px;
}

.geolocation-view .map-selection-view-label .label-address {
  width: 77%;
  display: block;
  margin-left: 15px;
  margin-bottom: 1.5rem;
  font-size: 14px;
}

.geolocation-view .map-selection-view-label .label-address.simple {
  margin-top: 2rem;
}

.geolocation-view .map-selection-view-label .label-btn {
  position: absolute;
  right: 10px;
  bottom: 1rem;
  font-weight: normal;
}

.geolocation-view .map-selection-search-results {
  height: calc(100% - 94px);
  width: 100%;
  position: fixed;
  top: 94px;
  background: #fff;
  border-top: 1px solid #eee;
  overflow-y: scroll;
}

.geolocation-view .map-selection-search-results .search-result-item {
  height: 56px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.geolocation-view .map-selection-search-results .search-result-item:last-child {
  border-bottom: none;
}

.geolocation-view .map-selection-search-results .search-result-item-title {
  position: absolute;
  color: #212529;
  font-size: 14px;
  left: 15px;
  top: 8px;
}

.geolocation-view .map-selection-search-results .search-result-item-address {
  position: absolute;
  color: #999;
  font-size: 12px;
  left: 15px;
  top: 32px;
}
