.sea-qa-project-knowledge .sea-qa-project-knowledge-header {
  width: 100%;
  display: flex;
  height: 96px;
  padding: 16px 0;
  flex-shrink: 0;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  gap: 12px;
}

.sea-qa-project-knowledge .sea-qa-project-knowledge-header .sea-qa-project-knowledge-title-wrapper {
  width: 100%;
  display: flex;
  height: 30px;
  align-items: center;
  flex-shrink: 0;
}

.sea-qa-project-knowledge .sea-qa-project-knowledge-header .sea-qa-project-knowledge-title-wrapper-left {
  flex: 1;
  margin-right: 16px;
}

.sea-qa-project-knowledge .sea-qa-project-knowledge-header .sea-qa-project-knowledge-title-wrapper-right {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}

.sea-qa-project-knowledge .sea-qa-project-knowledge-title-number {
  display: flex;
  max-width: 100%;
  width: fit-content;
  align-items: center;
}

.sea-qa-project-knowledge .sea-qa-project-knowledge-title {
  flex: 1;
  width: fit-content;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  margin-right: 2px;
}

.sea-qa-project-knowledge .sea-qa-project-knowledge-number {
  display: inline-block;
  color: #666;
  font-size: 22px;
  line-height: 1.2;
}

.sea-qa-project-knowledge .sea-qa-project-knowledge-header .sea-qa-project-knowledge-copy {
  height: 24px;
  width: 24px;
}

.sea-qa-project-knowledge .sea-qa-project-knowledge-header .sea-qa-project-knowledge-rename-btn {
  display: inline-flex;
  margin-left: 8px;
}

.sea-qa-project-knowledge .sea-qa-project-knowledge-header .sea-qa-project-knowledge-title-input,
.sea-qa-project-knowledge .sea-qa-project-knowledge-header .sea-qa-project-knowledge-title-cancel-btn,
.sea-qa-project-knowledge .sea-qa-project-knowledge-header .sea-qa-project-knowledge-title-submit-btn {
  height: 28px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1;
}

.sea-qa-project-knowledge .sea-qa-project-knowledge-header .sea-qa-project-knowledge-title-cancel-btn {
  margin-right: 10px;
}
