.seaqa-color-selector-popover .popover {
  max-width: 412px;
  padding: 16px;
}

.seaqa-color-selector-popover .seaqa-color-selector-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.seaqa-color-selector-popover .colorinput-color {
  display: flex;
}

.seaqa-color-selector-popover .colorinput-color .seaqa-icon-svg,
.seaqa-color-selector-popover .colorinput-color:hover .seaqa-icon-svg {
  color: inherit;
}
