.switch-settings-option-body .change-settings-option-status {
  margin-bottom: 4px;
}

.switch-settings-option-body  .change-settings-option-status .custom-switch {
  padding-left: 0;
}

.switch-settings-option-body  .change-settings-option-status:not(.disabled) .custom-switch:hover,
.switch-settings-option-body  .change-settings-option-status:not(.disabled) .custom-switch:hover * {
  cursor: pointer;
}

.switch-settings-option-body  .tip {
  font-size: 12px;
}
