.sea-metadata-sort-popover .popover {
  max-width: none;
  min-width: 400px;
}

.sea-metadata-sort-popover .sorts-list {
  min-height: 120px;
  max-height: 100%;
  padding: 15px;
}

.sea-metadata-sort-popover .sorts-list .option-group {
  overflow: auto;
  max-height: 360px;
  width: 200px;
}

.sorts-list .sort-item {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.sort-item .condition {
  display: flex;
  flex: 1 1;
}

.sort-item .condition>div {
  height: 38px;
  line-height: 38px;
}

.sort-item .sort-column {
  width: 160px;
}

.sort-item .sort-predicate {
  width: 128px;
}

.sorts-list .delete-sort {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorts-list .delete-sort:hover {
  background-color: #f5f5f5;
}

.delete-sort .seaqa-icon-svg-close {
  display: inline-block;
  height: 14px;
  width: 14px;
  color: #666;
  cursor: pointer;
}

.sorts-list .delete-sort:hover .seaqa-icon-svg-close {
  color: #666666;
}
