.sea-metadata-filter-popover .popover {
  max-width: none;
  min-width: 300px;
}

.sea-metadata-filter-popover .sea-metadata-filters {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-height: calc(100vh - 112px);
  overflow: hidden;
}

.sea-metadata-filter-popover.disabled .sea-metadata-filters {
  max-height: calc(100vh - 160px);
}

.sea-metadata-filter-popover .sea-metadata-filters-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
  min-width: 400px;
  overflow-y: auto;
}

.sea-metadata-filter-popover .filter-group-name {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.sea-metadata-filter-popover .filter-group-advanced {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sea-metadata-filter-popover .sea-metadata-filter-popover-add-btns {
  display: flex;
  align-items: center;
  background: inherit;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 48px;
  padding: 0 8px;
  border-top: 1px solid var(--bs-border-secondary-color);
  flex-shrink: 0;
}

.sea-metadata-data-filter-popover .popover.bs-popover-auto[data-popper-placement^=top],
.sea-metadata-data-filter-popover .popover.bs-popover-top {
  margin-bottom: 0;
}

.sea-metadata-data-filter-popover.border-radius-4 .popover {
  border-radius: 4px;
}

.sea-metadata-data-filter-popover.border-radius-4 .popover .options-editor-selected-value-wrapper {
  border-radius: 4px 4px 0 0;
}
