.sea-metadata-filter-popover .popover {
  max-width: none;
  min-width: 300px;
}

.sea-metadata-filter-popover .sea-metadata-filters {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.sea-metadata-filter-popover .filter-group-name {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.sea-metadata-filter-popover .filter-group-advanced {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sea-metadata-filter-popover .sea-metadata-filter-popover-add-btns {
  display: flex;
  align-items: center;
  background: inherit;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 48px;
  padding: 0 8px;
  border-top: 1px solid var(--bs-border-secondary-color);
}

.sea-metadata-filter-popover .customize-add-tool.popover-add-tool {
  height: 32px;
  width: fit-content;
  max-width: 100%;
  font-weight: 400;
  padding-left: 12px;
}

.sea-metadata-filter-popover .customize-add-tool.popover-add-tool:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.sea-metadata-filter-popover .customize-add-tool .seaqa-icon-svg {
  color: #666;
  height: 14px;
  width: 14px;
  transform: none;
}
