.connection-status-dialog {
  height: auto !important;
  max-height: calc(100% - 56px);
  object-fit: contain;
}

.connection-status-dialog .modal-body {
  display: flex;
  align-items: center;
}

.connection-status-container .status-header {
  margin-bottom: 24px;
}

.connection-status-container .timeline {
  position: relative;
}

.connection-status-container .timeline .timeline-item:not(:last-child)::before {
  bottom: -32px;
  content: '';
  left: 20px;
  position: absolute;
  top: 40px;
  width: 1px;
  background-color:  var(--bs-border-tertiary-color);
}

.connection-status-container .timeline .timeline-item {
  position: relative;
  display: flex;
  margin-bottom: 32px;
}

.connection-status-container .timeline .timeline-item:last-child {
  margin-bottom: 0;
}

.connection-status-container .timeline .timeline-item .timeline-icon {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  font-size: 24px;
}

.connection-status-container .timeline .timeline-item .timeline-icon .seaqa-icon-svg {
  height: 24px;
  width: 24px;
}

.connection-status-container .timeline .timeline-item .timeline-icon .seaqa-icon-svg-check-circle {
  color: #009933;
}

.connection-status-container .timeline .timeline-item .timeline-icon .seaqa-icon-svg-close-circle-filled {
  color: var(--bs-text-danger);
}

.connection-status-container .timeline .timeline-item .timeline-icon .seaqa-icon-svg-time {
  opacity: 0.7;
  color: #FFA500;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.connection-status-container .timeline .timeline-item .timeline-icon .seaqa-icon-svg-spinner {
  color: #007bff;
  animation: spin 1s linear infinite;
}

.connection-status-container .timeline .timeline-item .timeline-content {
  margin-left: 8px;
}

.connection-status-container .timeline .timeline-item .timeline-content .timeline-title {
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 500;
}

.connection-status-container .timeline .timeline-item .timeline-content .timeline-stats {
  color: var(--bs-sf-grey-text);
}
