.ai-statistics-dialog {
  height: calc(100% - 56px); /* The top and bottom margins of the dialog box are 56px */
  width: 90%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.ai-statistics-dialog .modal-content {
  height: 100%;
}

.dialog-content {
  overflow-y: auto;
  flex: 1;
}

.ai-statistics-dialog .ai-statistics-filters {
  display: flex;
  max-width: 100%;
  margin-bottom: 16px;
  justify-content: flex-end;
}

.ai-statistics-dialog .sea-ticket-ai-statistic-date-condition {
  display: flex;
  gap: 4px;
  height: 28px;
  align-items: center;
}

.ai-statistics-dialog .sea-ticket-ai-statistic-date-condition .date-range-value input.form-control {
  border: unset;
  padding: 0;
  height: auto;
  cursor: pointer;
}
