.paginator .paginator-btn {
  height: 38px;
  min-width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator .paginator-btn.disabled {
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  color: var(--bs-btn-disabled-color);
  opacity: var(--bs-btn-disabled-opacity);
  pointer-events: none;
}

.paginator .paginator-btn .seaqa-icon-svg {
  height: 14px;
  width: 14px;
}

.paginator .paginator-btn:not(.disabled) .seaqa-icon-svg {
  color: #212529;
}

.paginator .paginator-dropdown .btn {
  font-weight: 400;
}

.paginator .paginator-dropdown .btn:active,
.paginator .paginator-dropdown .btn:focus {
  background-color: #fff;
  border-color: var(--bs-custom-select-focus-border-color);
  outline: 0;
}

.paginator-dropdown .dropdown-menu {
  min-width: 4rem;
}

.paginator-dropdown>.btn .seaqa-icon-svg {
  color: #999;
  font-weight: 400;
}
