.sea-qa-discourse-forums-details-container {
  height: calc(100% - 56px); /* The top and bottom margins of the dialog box are 56px */
}

.sea-qa-discourse-forums-details-container .modal-content {
  height: 100%;
}

.sea-qa-discourse-forums-details-container .modal-content .modal-body {
  padding: 0px;
  overflow: hidden;
}

.sea-qa-discourse-forums-details-container .modal-content .modal-header .modal-title {
  width: 80%;
}

.sea-qa-discourse-forums-details-container .modal-content .modal-header .sea-qa-modal-close.close {
  flex: unset
}

.sea-qa-discourse-forums-details-container .row-expand-direct-icons {
  display: flex;
  justify-content: space-between;
  width: 46px;
}

.sea-qa-discourse-forums-details-container .row-expand-direct-icons .direct-icon {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}

.sea-qa-discourse-forums-details-container .row-expand-direct-icons .direct-icon .sea-qa-icon-svg-down {
  color: #000;
  width: 16px !important;
  height: 16px !important;
  opacity: .5;
}

.sea-qa-discourse-forums-details-container .row-expand-direct-icons .direct-icon .sea-qa-icon-svg-down:hover {
  opacity: .75;
}

.sea-qa-discourse-forums-details-container .sea-qa-discourse-forums-row-details {
  height: 100%;
  overflow: auto;
  padding: 0 16px;
}

.sea-qa-discourse-forums-details-container .sea-qa-discourse-forums-row-details .empty-tip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sea-qa-discourse-forums-details-container .sea-qa-discourse-forums-row-details .sea-qa-discourse-forums-reply-item {
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-content {
  padding-left: 42px;
  padding-bottom: 16px;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-content :last-child {
  margin-bottom: 0px;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper .sea-qa-discourse-forums-reply-item-author-info-left {
  display: flex;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper .sea-qa-discourse-forums-reply-item-author-info-left .sea-qa-discourse-forums-reply-item-author-avatar {
  width: 32px;
  height: 32px;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper .sea-qa-discourse-forums-reply-item-author-info-left .sea-qa-discourse-forums-reply-item-author-avatar img {
  border-radius: 50%;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper .sea-qa-discourse-forums-reply-item-author-info-left .sea-qa-discourse-forums-reply-item-author-name {
  padding-left: 10px;
  font-weight: 500;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper .sea-qa-discourse-forums-reply-item-author-time {
  color: #666;
}
