.sea-qa-discourse-forums-details-container .sea-qa-discourse-forums-row-details {
  min-height: 40vh;
  max-height: 60vh;
  overflow: auto;
}

.sea-qa-discourse-forums-details-container .sea-qa-discourse-forums-row-details .empty-tip {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.sea-qa-discourse-forums-details-container .sea-qa-discourse-forums-row-details .sea-qa-discourse-forums-reply-item {
	margin-bottom: 16px;
	border-bottom: 1px solid #eee;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper {
	display: flex;
	justify-content: space-between;
  align-items: center;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-content {
	padding-left: 42px;
  padding-top: 16px;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper .sea-qa-discourse-forums-reply-item-author-info-left {
	display: flex;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper .sea-qa-discourse-forums-reply-item-author-info-left .sea-qa-discourse-forums-reply-item-author-avatar {
	width: 32px;
	height: 32px;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper .sea-qa-discourse-forums-reply-item-author-info-left .sea-qa-discourse-forums-reply-item-author-avatar img {
	border-radius: 50%;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper .sea-qa-discourse-forums-reply-item-author-info-left .sea-qa-discourse-forums-reply-item-author-name {
	padding-left: 10px;
	font-weight: 500;
}

.sea-qa-discourse-forums-reply-item .sea-qa-discourse-forums-reply-item-author-info-wrapper .sea-qa-discourse-forums-reply-item-author-time {
	color: #666;
}
