.sea-qa-ai-chat-attachments {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto !important;
  margin-bottom: 16px !important;
  flex-wrap: nowrap !important;
  justify-content: flex-start !important
}
