.sea-qa-project-ticket-reply {
  width: 100%;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.sea-qa-project-ticket-reply .sea-qa-project-ticket-reply-user-avatar,
.sea-qa-project-ticket-reply .sea-qa-project-ticket-reply-user-avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.sea-qa-project-ticket-reply .sea-qa-project-ticket-reply-container {
  border: 1px solid #ddd;
  border-radius: 6px;
  height: fit-content;
  flex: 1;
  overflow: hidden;
}

.sea-qa-project-ticket-reply .sea-qa-project-ticket-reply-op {
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 38px;
  padding: 4px 4px 4px 16px;
  line-height: 30px;
  font-size: 14px;
  color: #59636e;
}

.sea-qa-project-ticket-reply .sea-qa-project-ticket-reply-user-name {
  font-weight: 600;
  color: #212529;
}

.sea-qa-project-ticket-reply .sea-qa-project-ticket-reply-content {
  width: 100%;
  min-height: 100px;
  display: flex;
}
