.sea-metadata-card-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.sea-metadata-card-container .sea-metadata-card-body {
  min-width: 100%;
  overflow-y: auto;
  padding: 16px 16px 0;
  width: 100%;
  flex: 1;
}

.sea-metadata-card-container .sea-metadata-card-rows {
  height: auto;
  overflow-y: visible;
  padding: 0;
}
