.seaqa-project-connection-dialog .seaqa-project-new-connection-type-sections {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.seaqa-project-connection-dialog .seaqa-project-new-connection-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.seaqa-project-connection-dialog .seaqa-project-new-connection-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.seaqa-project-connection-dialog .seaqa-project-new-connection-section-title {
  font-size: 14px;
  line-height: 22px;
  color: var(--bs-sf-grey-text);
}

.seaqa-project-connection-dialog .seaqa-project-new-connection-section-toggle {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.seaqa-project-connection-dialog .seaqa-project-new-connection-section-toggle:hover {
  background: transparent;
}

.seaqa-project-connection-dialog .seaqa-project-new-connection-section-toggle-icon {
  height: 20px;
  width: 20px;
  transition: transform 0.15s ease;
}
