.sea-qa-project-connection-dialog .sea-qa-project-selected-connection {
  margin-top: -16px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sea-qa-project-connection-dialog .sea-qa-project-selected-connection .sea-qa-project-selected-no-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #666666;
}

.sea-qa-project-connection-dialog .sea-qa-project-selected-connection .sea-qa-project-new-connection-type {
  width: 100%;
  background: #f7f7f5;
  border: none;
  height: 48px;
  cursor: default;
  border-radius: 8px;
  justify-content: space-between;
}

.sea-qa-project-connection-dialog .sea-qa-project-selected-connection .sea-qa-project-new-connection-type .sea-ticket-secondary-btn {
  height: 26px;
  color: #212529;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.sea-qa-project-connection-github-tip {
  padding: 50px;
}

.sea-qa-project-connection-github-tip h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.sea-qa-project-connection-github-tip p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #666666;
}
