.workflow-node-dropdown .workflow-node-dropdown-toggle {
  color: #b5b5b5;
}

.workflow-node-dropdown .workflow-node-dropdown-toggle:hover {
  color: #666666;
}

.workflow-node-dropdown .dropdown-item {
  padding: 3px 12px;
  line-height: 1.5;
  font-size: 14px;
  cursor: pointer;
}

.workflow-node-dropdown .dropdown-item:hover,
.workflow-node-dropdown .selected-dropdown-item {
  color: #fff;
  background-color: #20a0ff;
}

.workflow-node-dropdown .dropdown-item:hover .workflow-node-dropdown-item-icon,
.workflow-node-dropdown .selected-dropdown-item .workflow-node-dropdown-item-icon {
  color: #fff;
}

.workflow-node-dropdown .workflow-node-dropdown-item-icon {
  font-size: 14px;
  margin-right: 10px;
  color: #8c8c8c;
}
