.option-editor-content {
  min-height: fit-content;
  max-height: 200px;
  overflow: auto;
  padding: 0 12px;
}

.option-editor-add-search-result {
  height: 30px;
  overflow: hidden;
  padding: 0 10px;
  border-top: 1px solid #dedede;
  color: var(--bs-body-color);
  margin-top: 8px;
}

.option-editor-add-search-result .sea-qa-icon-svg {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  flex-shrink: 0;
}
