.sys-filter-popover .popover {
  min-width: 300px;
}

.sys-filter-popover .sys-filter-body .sys-filter-list {
  padding: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
}

.sys-filter-popover .sys-filter-item .sys-filter-title {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.sys-filter-popover .sys-filter-item .sys-clear-filter {
  font-weight: normal;
  color: #666;
  cursor: pointer;
}

.sys-filter-popover .sys-filter-item .sys-filter-check {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 0.5rem;
}

.sys-filter-popover .sys-filter-item .sys-filter-check-operator {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sys-filter-popover .sys-filter-footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #eee;
}
