.seaqa-chat-documents-wrapper {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.seaqa-chat-documents-wrapper.full-content {
  width: 100%;
}

.seaqa-chat-documents-wrapper .seaqa-chat-documents {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.seaqa-chat-documents-wrapper:not(.full-content) .seaqa-chat-documents {
  border-left: 1px solid #eee;
}

/* header */
.seaqa-chat-documents .seaqa-chat-documents-header {
  height: 41px;
  width: calc(100% - 16px);
  margin-left: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  gap: 24px;
}

.seaqa-customize-select.seaqa-ai-chat-selector-display.seaqa-chat-documents-selector {
  padding: 0 8px;
  height: 30px;
}

.seaqa-customize-select.seaqa-ai-chat-selector-display.seaqa-chat-documents-selector .selected-option-show {
  display: flex;
  align-items: center;
}

.seaqa-chat-documents-selector-editor .popover {
  width: fit-content;
  min-width: 240px;
  max-width: 400px;
  min-height: auto;
}

.seaqa-chat-documents-selector-editor .option-editor-container {
  min-height: auto;
}

.seaqa-chat-documents-selector-editor .option-editor-container .option-editor-content {
  min-height: auto;
}

.seaqa-customize-select.seaqa-ai-chat-selector-display.seaqa-chat-documents-selector .seaqa-chat-documents-divider {
  height: 12px;
  width: 1px;
  background-color: #eaeaea;
}

.seaqa-customize-select.seaqa-ai-chat-selector-display.seaqa-chat-documents-selector .seaqa-chat-document-name {
  font-weight: 500;
}

.seaqa-chat-documents .seaqa-chat-documents-header .seaqa-chat-documents-header-btns {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* body */
.seaqa-chat-documents .seaqa-chat-documents-body {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* document */
.seaqa-chat-documents .seaqa-chat-document-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  padding: 0 12px 0 16px;
  border-bottom: 1px solid #d1d9e0;
  background-color: #f6f8fa;
  gap: 4px;
  overflow: hidden;
  flex-shrink: 0;
}

.seaqa-chat-documents .seaqa-chat-document-info .seaqa-chat-document-info-content {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.seaqa-chat-documents .seaqa-chat-document-info .seaqa-chat-document-info-size {
  color: #59636e;
  font-size: 12px;
}

.seaqa-chat-documents .seaqa-chat-document-info .seaqa-chat-document-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 8px;
}

.seaqa-chat-documents .seaqa-chat-document-content {
  flex: 1;
  overflow: hidden;
}

.seaqa-chat-documents .seaqa-chat-document-md .sf-slate-viewer-scroll-container .sf-slate-article-content {
  padding-left: 16px;
  overflow-x: hidden;
}

.seaqa-chat-documents .seaqa-chat-document-md .sf-slate-viewer-scroll-container .article {
  padding: 24px 8px !important;
  max-width: 100%;
}
