.seaqa-connection-name-formatter {
  display: flex;
  align-items: center;
}

.seaqa-connection-name-formatter.click-able:hover {
  cursor: pointer;
}

.seaqa-connection-name-formatter .connection-icon {
  flex-shrink: 0;
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.seaqa-connection-name-formatter .connection-name-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.seaqa-connection-name-formatter .connection-name {
  overflow: hidden;
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seaqa-connection-name-formatter.click-able:hover .connection-name {
  text-decoration: underline;
}

.seaqa-connection-name-formatter .connection-name-wrapper .inactive-icon {
  height: 14px;
  width: 14px;
  margin-left: 6px;
  color: #BDBDBD;
}

.seaqa-connection-name-formatter .connection-name-wrapper .inactive-icon:hover {
  color: var(--bs-icon-secondary-color);
}
