.sea-qa-connection-name-formatter {
  display: flex;
  align-items: center;
}

.sea-qa-connection-name-formatter.click-able:hover {
  cursor: pointer;
}

.sea-qa-connection-name-formatter .connection-icon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  margin-right: 8px;
}

.sea-qa-connection-name-formatter .connection-name {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sea-qa-connection-name-formatter.click-able:hover .connection-name {
  text-decoration: underline;
}
