.sea-metadata-selector-single-select .selected-option .selected-option-show {
  width: calc(100% - 20px);
  height: 20px;
  line-height: 20px;
}

.sea-metadata-selector-single-select .selected-option .single-select-option,
.sea-metadata-selector-multiple-select .selected-option .multiple-select-option {
  display: inline-block !important;
  margin: 0 !important;
}

.sea-metadata-selector-multiple-select .selected-option .multiple-select-option {
  margin-right: 10px !important;
}

.sea-metadata-selector-single-select .multiple-select-option.multiple-select-option-white,
.sea-metadata-selector-multiple-select .multiple-select-option.multiple-select-option-white {
  border: 1px solid #d1d9e0b3;
  line-height: 18px;
}

.sea-metadata-selector-single-select .seaqa-select-option,
.sea-metadata-selector-multiple-select .seaqa-select-option {
  height: 30px;
  padding: 0 10px;
}

.sea-metadata-selector-single-select .seaqa-select-option:hover,
.sea-metadata-selector-multiple-select .seaqa-select-option:hover,
.sea-metadata-selector-single-select .seaqa-select-option.active,
.sea-metadata-selector-multiple-select .seaqa-select-option.active {
  background-color: #f7f7f7;
  color: var(--bs-body-color);
}

.sea-metadata-selector-multiple-select.seaqa-customize-select .selected-option-show,
.sea-metadata-selector-single-select.seaqa-customize-select .selected-option-show {
  text-overflow: clip;
}

.sea-metadata-selector-single-select .select-option-name,
.sea-metadata-selector-multiple-select .select-option-name {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sea-metadata-selector-single-select .select-option-name .single-check-icon,
.sea-metadata-selector-multiple-select .select-option-name .single-check-icon {
  height: 20px;
  width: 20px;
}

.sea-metadata-selector-single-select .select-option-name .single-check-icon .seaqa-icon-svg,
.sea-metadata-selector-multiple-select .select-option-name .single-check-icon .seaqa-icon-svg {
  height: 12px;
  width: 12px;
}

.sea-metadata-selector-single-select .select-option-name.conjunction-option-name,
.sea-metadata-selector-multiple-select .select-option-name.conjunction-option-name {
  justify-content: flex-start;
}

/* priority */
.sea-metadata-selector-priority .selected-option-show {
  width: 100% !important;
}

.sea-metadata-selector-priority .selected-option {
  padding-right: 64px;
}

.sea-metadata-selector-priority .selected-option .seaqa-icon-svg-arrow-down {
  display: none;
}

.sea-metadata-selector-priority .option-group {
  min-width: 200px;
  padding: 0;
}

.sea-metadata-selector-priority .seaqa-select-option {
  display: inline-flex;
  align-items: center;
  height: 32px;
  font-size: 14px;
}

.sea-metadata-selector-priority .option-group .seaqa-select-option.active {
  border-radius: 4px;
}

.sea-metadata-selector-priority .seaqa-select-option .option-content {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.sea-metadata-selector-priority .seaqa-select-option .priority-filter-option-check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 14px;
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.sea-metadata-selector-priority .seaqa-select-option .priority-filter-option-check .seaqa-icon-svg {
  width: 14px;
  height: 14px;
}

.sea-metadata-selector-priority .seaqa-select-option .priority-filter-option-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  min-width: 0;
}

.sea-metadata-selector-priority .seaqa-select-option .priority-filter-option-icon {
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

/* filter-column */
.sea-metadata-filters-list .filter-column {
  width: 160px;
  max-width: 160px;
}

.sea-metadata-filters-list .filter-column .option-group {
  min-width: 200px;
  max-width: 400px;
  margin: 0;
  padding: 0;
}

.sea-metadata-filters-list .filter-column .option-group .option .seaqa-icon-svg {
  color: var(--bs-icon-secondary-color);
}

.sea-metadata-filters-list .filter-column .option-group .option-group-search {
  padding: 0;
}

.sea-metadata-filters-list .filter-column .option-group .seaqa-search-input-wrapper .seaqa-search-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  border-color: var(--bs-border-color);
}
