.sea-metadata-selector-single-select .selected-option .selected-option-show {
  width: calc(100% - 20px);
  height: 20px;
  line-height: 20px;
}

.sea-metadata-selector-single-select .selected-option .single-select-option,
.sea-metadata-selector-multiple-select .selected-option .multiple-select-option {
  display: inline-block !important;
  margin: 0 !important;
}

.sea-metadata-selector-multiple-select .selected-option .multiple-select-option {
  margin-right: 10px !important;
}

.sea-metadata-selector-single-select .multiple-select-option.multiple-select-option-white,
.sea-metadata-selector-multiple-select .multiple-select-option.multiple-select-option-white {
  border: 1px solid #d1d9e0b3;
  line-height: 18px;
}

.sea-metadata-selector-single-select .sea-qa-select-option,
.sea-metadata-selector-multiple-select .sea-qa-select-option {
  height: 30px;
  padding: 0 10px;
}

.sea-metadata-selector-single-select .sea-qa-select-option:hover,
.sea-metadata-selector-multiple-select .sea-qa-select-option:hover,
.sea-metadata-selector-single-select .sea-qa-select-option.active,
.sea-metadata-selector-multiple-select .sea-qa-select-option.active {
  background-color: #f7f7f7;
  color: var(--bs-body-color);
}

.sea-metadata-selector-multiple-select.sea-qa-customize-select .selected-option-show,
.sea-metadata-selector-single-select.sea-qa-customize-select .selected-option-show {
  text-overflow: clip;
}

.sea-metadata-selector-single-select .select-option-name,
.sea-metadata-selector-multiple-select .select-option-name {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sea-metadata-selector-single-select .select-option-name .single-check-icon,
.sea-metadata-selector-multiple-select .select-option-name .single-check-icon {
  height: 20px;
  width: 20px;
}

.sea-metadata-selector-single-select .select-option-name .single-check-icon .sea-qa-icon-svg,
.sea-metadata-selector-multiple-select .select-option-name .single-check-icon .sea-qa-icon-svg {
  height: 12px;
  width: 12px;
}
