.close-linked-github-issues-warning-content {
  padding: 6px 0;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.close-linked-github-issues-warning-content .link-item {
  background-color: #f7f7f5;
  height: 32px;
  gap: 8px;
  padding: 0 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.close-linked-github-issues-warning-content .link-item .link-item-name {
  padding: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.close-linked-github-issues-warning-content .link-item .connection-icon {
  width: 16px;
  height: 16px;
}

.close-linked-github-issues-warning-content .link-item .seaqa-tooltip-icon-btn {
  width: 16px;
  height: 16px;
  margin-right: 0;
}

.close-linked-github-issues-warning-content .link-item .seaqa-tooltip-icon-btn .seaqa-icon-svg {
  width: 16px;
  height: 16px;
}

.close-linked-github-issues-warning-content .link-item .seaqa-tooltip-icon-btn .seaqa-icon-svg-check-circle-stroked {
  color: var(--ticket-close-color);
}

.close-linked-github-issues-warning-content .link-item .seaqa-tooltip-icon-btn .seaqa-icon-svg-dot-circle-stroked {
  color: var(--ticket-open-color);
}
