.github-issue-type-mapping-table {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: fit-content;
  border: 1px solid var(--bs-border-tertiary-color);
  border-radius: 8px;
}

.github-issue-type-mapping-table::after {
  content: '';
  left: 160px;
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 1px;
  background-color: var(--bs-border-tertiary-color);
}

.github-issue-type-mapping-table-row {
  display: flex;
  height: 38px;
  width: 100%;
}

.github-issue-type-mapping-table-row .github-issue-type-mapping-table-cell {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.github-issue-type-mapping-table-row .github-issue-type-mapping-table-cell:first-child {
  width: 160px;
  background-color: rgba(247, 247, 245, 0.6);
}

.github-issue-type-mapping-table-row .github-issue-type-mapping-table-cell:last-child {
  width: 408px;
  background-color: rgba(247, 247, 245, 0.3);
}

.github-issue-type-mapping-table-header.github-issue-type-mapping-table-row {
  height: 41px;
  border-bottom: 1px solid var(--bs-border-tertiary-color);
}

.github-issue-type-mapping-table-header .github-issue-type-mapping-table-cell {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.github-issue-type-mapping-table-header .github-issue-type-mapping-table-cell:last-child {
  justify-content: space-between;
}

.github-issue-type-mapping-table-body {
  display: flex;
  flex-direction: column;
}

.github-issue-type-mapping-table-body .github-issue-type-mapping-table-row {
  height: 50px;
}

.github-issue-type-mapping-table-body .github-issue-type-mapping-table-row:first-child {
  height: 56px;
}

.github-issue-type-mapping-table-body .github-issue-type-mapping-table-row:last-child {
  height: 60px;
}

.github-issue-type-mapping-table-body .github-issue-type-mapping-table-row .github-issue-type-mapping-table-cell {
  padding-top: 6px;
  padding-bottom: 6px;
}

.github-issue-type-mapping-table-body .github-issue-type-mapping-table-row:first-child .github-issue-type-mapping-table-cell {
  padding-top: 12px;
}

.github-issue-type-mapping-table-body .github-issue-type-mapping-table-row:last-child .github-issue-type-mapping-table-cell {
  padding-bottom: 16px;
}

.github-issue-type-mapping-title {
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 8px;
}

.github-issue-type-mapping-title-icon {
  height: 14px;
  width: 14px;
}

.github-issue-type-agent-type.seaqa-ui-option {
  height: 26px;
  width: 100%;
  border: 1px solid var(--bs-border-tertiary-color) !important;
  border-radius: 13px;
  font-size: 14px;
  line-height: 26px !important;
  text-align: center;
}

.github-issue-type-mapping-sync-btn.seaqa-secondary-btn {
  width: 166px;
}

.github-issue-type-selector.seaqa-select {
  background-color: var(--bs-body-bg);
}

.github-issue-type-selector.seaqa-select .selected-option {
  background: inherit;
}

.github-issue-type-mapping-tip-icon {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  color: var(--bs-icon-secondary-color);
}
