.seaqa-tooltip .tooltip.show {
  opacity: 1;
  padding: 0;
}

.seaqa-tooltip .tooltip-inner {
  max-width: 242px;
  text-align: start;
  background-color: var(--bs-body-color);
  color: var(--bs-body-bg);
  border-radius: 8px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 8px;
}

.seaqa-tooltip.seaqa-tooltip-with-confirm-tip .tooltip-inner {
  padding: 8px 12px;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.seaqa-tooltip.seaqa-tooltip-with-confirm-tip .seaqa-tooltip-confirm-text {
  color: var(--bs-icon-secondary-color);
  font-size: 14px;
  line-height: 22px;
  min-width: 40px;
  max-width: 100%;
  text-align: right;
  cursor: pointer;
}

.seaqa-tooltip.seaqa-tooltip-with-confirm-tip .seaqa-tooltip-confirm-text:hover {
  color: var(--bs-body-bg);
}

.seaqa-tooltip .bs-tooltip-right .arrow::before,
.seaqa-tooltip .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: var(--bs-body-color);
}

.seaqa-tooltip .bs-tooltip-top .arrow::before,
.seaqa-tooltip .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: var(--bs-body-color);
}

.seaqa-tooltip .bs-tooltip-bottom .arrow::before,
.seaqa-tooltip .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: var(--bs-body-color);
}

.seaqa-tooltip .bs-tooltip-left .arrow::before,
.seaqa-tooltip .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: var(--bs-body-color);
}

.seaqa-tooltip .bs-tooltip-auto[data-popper-placement^="right"] .arrow::before {
  border-right-color: var(--bs-body-color);
}
