.sea-metadata-table-row .rdg-row-expand-icon {
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.sea-metadata-table-row:hover .rdg-row-expand-icon {
  opacity: 1;
}

.sea-metadata-table-row .sea-metadata-table-column-content.actions-checkbox {
  width: 21px;
  text-align: center;
  display: none;
  margin-left: 12px;
}

.sea-metadata-table-row:hover .sea-metadata-table-column-content.actions-checkbox {
  display: block;
}

.sea-metadata-table-row:hover .sea-metadata-table-column-content.row-index {
  display: none;
}

.sea-metadata-table-row.row-selected .sea-metadata-table-column-content.actions-checkbox {
  display: block !important;
}

.sea-metadata-table-row.row-selected .sea-metadata-table-column-content.row-index {
  display: none !important;
}

.sea-metadata-table-row .sea-metadata-table-cell.actions-cell {
  align-items: start;
  padding: 4px 0px;
  justify-content: start;
}

.sea-metadata-table-row .sea-metadata-table-cell.actions-cell .actions-checkbox .select-cell-checkbox-container {
  align-items: start;
  justify-content: end;
  margin-top: 6px;
}

.sea-metadata-table-row .sea-metadata-table-cell.actions-cell .row-expand {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: 21px;
  background: #FFF;
}

.sea-metadata-table-row:hover .sea-metadata-table-cell.actions-cell .row-expand .row-expand-icon {
  width: 16px;
  height: 16px;
  display: block;
  transform: scale(.8);
}

.sea-metadata-table-row .sea-metadata-table-cell.actions-cell .row-expand-icon {
  display: none;
  color: #666;
  width: 12px;
  height: 12px;
}

.sea-metadata-table-row .sea-metadata-table-cell.actions-cell .row-expand:hover {
  border: 1px solid rgba(0, 40, 100, 0.12);
  background-color: rgba(0, 0, 0, 0.04);
}

.sea-metadata-table-row .sea-metadata-table-cell.actions-cell .row-color-indicator {
  position: absolute;
  top: 2px;
  right: 29px;
  display: inline-block;
  width: 6px;
  height: calc(100% - 4px);
  border-radius: 3px;
}
