.form-share-end-remark-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.form-share-end-remark-container .form-share-end-remark-content {
  max-width: 80%;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 20px;
  overflow: hidden;
  word-break: break-all;
  white-space: pre-wrap;
}

.form-share-end-remark-container .form-share-end-remark-tip {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 18px;
  overflow: hidden;
  max-width: 80%;
  color: #666666;
  word-break: break-all;
}

.form-share-end-remark-container .form-share-end-remark-tip + .form-share-continue {
  margin-top: 60px;
}

.form-share-end-remark-container .form-share-continue {
  margin-top: 40px;
  margin-bottom: 100px;
}
