.sea-metadata-row-height-popover-container .popover {
  width: 200px;
}

.sea-metadata-row-height-wrapper {
  padding: 8px;
}

.sea-metadata-row-height-header {
  padding: 0 8px;
  margin-bottom: 4px;
  font-size: 13px;
  color: #666;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 4px;
  height: 28px;
  line-height: 24px;
}

.sea-metadata-row-height-item {
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  height: 32px;
  white-space: nowrap;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-box-align: center;
  align-items: center;
  text-overflow: ellipsis;
  min-width: min-content;
  border-radius: 4px;
}

.sea-metadata-row-height-item.disabled {
  cursor: auto;
}

.sea-metadata-row-height-item > * {
  pointer-events: none;
}

.sea-metadata-row-height-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sea-metadata-row-height-item-left {
  width: 40px;
  padding-left: 12px;
}

.sea-metadata-row-height-item-left,
.sea-metadata-row-height-item-right {
  display: flex;
  align-items: center;
}

.sea-metadata-row-height-item .sea-qa-icon-svg {
  fill: #666;
  font-size: 16px;
}
