.sea-qa-project-side-panel {
  height: 100%;
  user-select: none;
  display: flex;
}

.sea-qa-project .sea-qa-project-side-panel .sea-qa-project-side-panel-header {
  border-color: transparent;
}

.sea-qa-project-side-panel .sea-qa-project-side-panel-container {
  width: 100%;
  flex: 1;
  user-select: none;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.sea-qa-project-side-panel .sea-qa-project-navigation {
  width: calc(100% - 2px);
  padding: 10px 16px;
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: auto;
  font-size: 15px;
}
