.sea-qa-project-side-panel {
  height: 100%;
  user-select: none;
  display: flex;
  background-color: #F7F7F5;
}

.sea-qa-project .sea-qa-project-side-panel .sea-qa-project-side-panel-header {
  border-color: transparent;
}

.sea-qa-project-side-panel .sea-qa-project-side-panel-container {
  width: 100%;
  flex: 1;
  user-select: none;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.sea-qa-project-side-panel .sea-qa-project-navigation {
  width: 100%;
  padding: 10px 8px;
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: auto;
  font-size: 14px;
}

.sea-qa-nav-list .side-panel-slide {
  transition: all 0.3s ease-in-out;
}

.sea-qa-nav-list .side-panel-slide-up {
  transition: all 0.3s ease-in-out;
  height: 0;
}

.sea-qa-project-side-panel .sea-qa-project-side-panel-subtitle {
  color: #666;
  padding: 8px;
  margin-top: 10px;
}
