.seaqa-close-linked-github-issues-dialog {
  height: fit-content;
  max-height: calc(100% - 56px);
  max-width:600px;
  width: 600px;
}

.seaqa-close-linked-github-issues-dialog .modal-content {
  height: 100%;
}

.seaqa-close-linked-github-issues-dialog .modal-body {
  display: flex;
  overflow-y: auto;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  gap: 16px;
}

.seaqa-ticket-close-linked-github-issue {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 0;
  gap: 4px;
}

.seaqa-ticket-close-linked-github-issue .link-item {
  height: 32px;
  padding: 0 8px;
  background-color: var(--bs-body-third-bg);
  border-radius: 6px;
  gap: 8px;
}

.seaqa-ticket-close-linked-github-issue .link-item .connection-icon {
  height: 16px;
  width: 16px;
}

.seaqa-ticket-close-linked-github-issue .link-item .link-item-name {
  max-width: 100%;
  padding: 0;
}

.seaqa-ticket-close-linked-github-issue .link-item .seaqa-tooltip-icon-btn {
  height: 16px;
  width: 16px;
  margin-right: 0;
}

.seaqa-ticket-close-linked-github-issue .link-item .seaqa-tooltip-icon-btn .seaqa-icon-svg {
  height: 16px;
  width: 16px;
}

.seaqa-ticket-close-linked-github-issue .link-item .seaqa-tooltip-icon-btn .seaqa-icon-svg-check-circle-stroked {
  color: var(--ticket-close-color);
}

.seaqa-ticket-close-linked-github-issue .link-item .seaqa-tooltip-icon-btn .seaqa-icon-svg-dot-circle-stroked {
  color: var(--ticket-open-color);
}
