.collaborator .collaborator-remove {
  width: 14px;
  height: 14px;
  margin: 0 -2px 0 2px;
  cursor: pointer;
}

.collaborator .collaborator-remove .sea-qa-icon-svg {
  height: 10px;
  width: 10px;
}

.collaborator .collaborator-remove:hover .sea-qa-icon-svg {
  color: #666666;
}
