.seaqa-ai-reply.text * {
  margin: 0;
  padding: 0;
}

.seaqa-ai-reply .sf-slate-viewer-scroll-container {
  padding-top: 0;
  padding-bottom: 0;
  background-color: inherit;
}

.seaqa-ai-reply .sf-slate-viewer-scroll-container .sf-slate-article-content {
  overflow-x: hidden;
}

.seaqa-ai-reply .article {
  padding: 0 !important;
  width: 100%;
  max-width: 100%;
}

.seaqa-ai-reply.rich-text .article :last-child {
  margin-bottom: 0;
}

.seaqa-ai-ask-message-sources,
.seaqa-ai-ask-message-sources .seaqa-ai-ask-message-sources-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.seaqa-ai-ask-message-sources .seaqa-ai-ask-message-sources-title {
  margin: 1.2em 0 .4em;
  font-weight: 700;
}

.seaqa-ai-ask-message-sources .seaqa-ai-ask-message-source {
  display: inline-flex;
  align-items: flex-start;
}

.seaqa-ai-ask-message-sources .seaqa-ai-ask-message-source:last-child {
  margin-bottom: 0;
}

.seaqa-ai-ask-message-sources .seaqa-ai-ask-message-source a {
  color: #007bff;
}
