.date-editor-rc-calendar .rc-calendar-date {
  width: 28px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
}

.date-editor-rc-calendar .rc-calendar-date-panel {
  width: 253px;
}

.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-selected-day .rc-calendar-date {
  background-color: #FcEcD9;
}

.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-date:hover,
.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-year-panel-year:hover,
.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-month-panel-cell .rc-calendar-month-panel-month:hover {
  background-color: #FcEcD9;
}

.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-selected-date .rc-calendar-date,
.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-selected-date .rc-calendar-date:hover,
.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year,
.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month {
  background-color: #f09f3f;
}

.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-next-year-btn:not([href]):not([tabindex]),
.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-prev-year-btn:not([href]):not([tabindex]),
.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-next-month-btn:not([href]):not([tabindex]),
.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-prev-month-btn:not([href]):not([tabindex]) {
  color: #999;
}

.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-next-year-btn:not([href]):not([tabindex]):hover,
.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-prev-year-btn:not([href]):not([tabindex]):hover,
.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-next-month-btn:not([href]):not([tabindex]):hover,
.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-prev-month-btn:not([href]):not([tabindex]):hover {
  color: #666;
}

.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-today .rc-calendar-date {
  border: none;
  position: relative;
}

.date-editor-rc-calendar .rc-calendar-date-panel .rc-calendar-today .rc-calendar-date::after {
  content: '';
  background: #f09f3f;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 45%;
  bottom: 0%;
  display: inline-block;
}

.date-editor-rc-calendar .rc-calendar-date-panel .rdg-editor-container input.editor-main[readonly] {
  background-color: #fff;
}

.date-editor-rc-calendar .rc-calendar-time-picker {
  z-index: 1;
}

.date-editor-rc-calendar .rc-calendar-right-panel-body ul li.highlight {
  margin: 0;
  border: none;
  background-color: #fff;
  font-size: 12px;
}

.date-editor-rc-calendar .date-picker-container {
  box-sizing: border-box;
  position: relative;
  display: block;
  line-height: 1.5;
  margin-bottom: 22px;
}

.date-editor-rc-calendar .date-picker-container-row-expand {
  margin-bottom: 0;
  width: 320px;
}

.date-editor-container {
  width: 320px;
}

.date-editor-container:hover {
  cursor: pointer;
}

.date-editor-container .form-control {
  height: 2.375rem;
}

.date-editor-container .form-control.readOnly {
  background-color: #f8f9fa;
  border-color: rgba(0, 40, 100, 0.12);
}

.app-main-mobile .date-editor-container {
  width: 100%;
}

.date-editor-container .rc-calendar-body {
  height: 250px;
}

.date-editor-rc-calendar .rc-calendar-cell {
  font-size: 12px;
}

.date-editor-rc-calendar .rc-calendar-tbody tr {
  height: 28px;
}

.date-editor-view {
  background-color: #f5f5f5;
}

.date-editor-view .date-input {
  background-color: #fff;
  display: inline-block;
}

.date-editor-view .date-input .date-input-day {
  background-color: #f5f5f5;
  border: 1px solid #e9e9e9;
  margin: 10px;
  padding: 3px 5px;
  border-radius: 3px;
}

.date-picker-container {
  box-sizing: border-box;
  position: relative;
  display: block;
  line-height: 1.5;
  margin-bottom: 22px;
}

.row-expand-view-footer .clear-date {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  color: #d27053;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}

.row-expand-view .rc-calendar {
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid #e9e9e9;
  border-left: none;
  border-right: none;
}

.row-expand-view .rc-calendar-date {
  font-size: 14px;
}

.row-expand-view .rc-calendar-date-panel {
  width: 100%;
}

.row-expand-view .rc-calendar-body {
  height: 22rem;
}

.row-expand-view .rc-calendar-table tr {
  height: 3rem;
}

.row-expand-view .rc-calendar-prev-month-btn,
.row-expand-view .rc-calendar-next-month-btn,
.row-expand-view .rc-calendar-prev-year-btn,
.row-expand-view .rc-calendar-next-year-btn {
  font-size: 30px;
  width: 50px;
}

.row-expand-view .rc-calendar-header {
  border-bottom: none;
  margin-top: 0.5rem;
}

.row-expand-view .rc-calendar-year-select,
.row-expand-view .rc-calendar-month-select,
.row-expand-view .rc-calendar-day-select {
  font-size: 16px;
  padding: 5px;
}

.am-picker-popup-wrap .am-picker-popup-item {
  color: #E5A252;
}
