.file-editor-modal {
  width: 560px;
}

.file-editor-container {
  height: 350px;
  width: 558px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px 16px;
  display: flex;
  flex-wrap: wrap;
}

.file-editor-container .file-wrapper {
  height: 120px;
  width: 120px;
  border: 1px solid #ededed;
  border-radius: 4px;
  position: relative;
  margin-right: 12px;
  margin-bottom: 12px;
}

.file-editor-container .file-wrapper:nth-child(4n) {
  margin-right: 0px;
}

.file-editor-container .file-wrapper .file-add-box, 
.share-form-item-file .file-add-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  font-size: 12px;
  cursor: pointer;
}

.file-editor-container .file-wrapper:hover .file-add-button i,
.share-form-item-file:hover .file-add-box .file-add-button i {
  color: orange;
}

.file-editor-container .file-wrapper .file-add-button, 
.share-form-item-file .file-add-box .file-add-button {
  position: relative;
  cursor: pointer;
}

.file-editor-container .file-wrapper .file-add-button i, 
.share-form-item-file .file-add-box .file-add-button i {
  color: #ccc;
  font-size: 50px;
}

.file-editor-container .file-wrapper .file-wrapper-drop-active i {
  color: orange;
}

.file-editor-container .file-wrapper .file-add-span {
  margin-top: 5px;
  font-size: 12px;
}

.file-editor-container .file-wrapper .file-content {
  width: 118px;
  height: 118px;
  text-align: center;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-editor-container .file-upload-container {
  height: 100%;
  width: 100%;
  border: 1px dashed transparent;
  position: relative;
  cursor: pointer;
}

.file-editor-container .file-upload-container:hover .dtable-icon-add-files {
  color: orange;
}

.file-editor-container .file-upload-container-active {
  border: 1px dashed #ccc;
}

.file-editor-container .file-upload-container .file-drop-active .dtable-font {
  color: orange;
}

.file-editor-container .file-upload-container .file-add-span {
  margin-top: 5px;
  font-size: 12px;
}

.file-editor-container .file-upload-container .file-add-span .file-add-span-btn {
  position: relative;
  color: orange;
  cursor: pointer;
}

/* upload file */
.file-upload-success {
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  position: absolute;
  z-index: 5;
}

.file-upload-success .file-upload-success-scale {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: scale(0.5);
}

.file-upload-success .file-upload-success-icon {
  background: #fff;
  padding: 2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  padding: 2px;
  text-align: center;
}

.file-upload-success-tip {
  color: #fff;
  white-space: nowrap;
  font-size: 14px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.file-upload-success .file-upload-success-icon i {
  display: inline-block;
  color: #757474;
}

.file-upload-mask {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 2px;
}

.file-upload-error-tip {
  z-index: 3;
  font-size: 12px;
  transform: scale(0.7);
  position: absolute;
  color: #fff;
  white-space: nowrap;
  text-align: center;
}

.file-upload-again {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 3px;
}

.file-upload-percent {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.file-upload-span {
  transform: rotate(90deg) scale(0.5);
  color: #fff !important;
}

.upload-file {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  top: 0;
  font-size: 0;
  cursor: pointer;
}

/* editor file value */
.grid-cell-type-file {
  flex-direction: column;
}

.grid-cell-type-file .select-editor-add {
  width: max-content;
}

.grid-cell-type-file .form-file-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.grid-cell-type-file .share-form-item-file {
  min-height: 100px;
  width: 100px;
  border: 2px solid #ededed;
  box-sizing: border-box;
  margin: 10px 14px 10px 0;
  flex-shrink: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.grid-cell-type-file .share-form-item-file:not(:last-child):hover {
  border-color:  #c9c9c9;
}

@media screen and (max-width: 766.8px) {

  .share-form-item-file img {
    max-width: 100%;
    max-height: unset;
  }

  .grid-cell-type-file .share-form-item-file {
    margin: 14px 14px 0 0;;
  }

  .grid-cell-type-file .share-form-item-file:nth-child(3n) {
    margin-right: 0px;
  }

}


.file-editor-wrapper {
  width: 100px;
  height: 100px;
  background: #f0f0f0;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  margin: 10px 14px 10px 0;
}

.file-editor-wrapper.file-editor-wrapper-active {
  background: #dbdbdb;
}

.file-editor-wrapper:hover {
  background: #dbdbdb;
}

.file-editor-wrapper .file-tip-addition {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 10px 0;
}

.file-editor-wrapper .file-tip-addition .file-add-icon {
  font-size: 30px;
  position: relative;
  height: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.file-editor-wrapper .file-tip-addition i {
  font-size: 25px;
  color: #686868;
}

.file-editor-wrapper .file-add-span {
  font-size: 14px;
  margin-top: 5px;
  color: #686868;
}

.form-file-container .file-wrapper {
  height: 100px;
  width: 100px;
  border: 1px solid #ededed;
  border-radius: 4px;
  position: relative;
  margin: 10px 14px 10px 0;
}

.file-tip-addition .file-add-icon input {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  top: 0;
  font-size: 0;
  cursor: pointer;
}

.form-file-container .mobile-file-editor-wrapper {
  width: 105px;
  height: 105px;
  background: #f0f0f0;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  margin: 14px 14px 0 0;
}

.mobile-file-editor-wrapper .mobile-file-tip-addition {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px 0;
  justify-content: center;
}

.mobile-file-editor-wrapper .mobile-file-tip-addition .mobile-file-add-icon {
  font-size: 30px;
  position: relative;
  height: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.mobile-file-editor-wrapper .mobile-file-tip-addition i {
  font-size: 25px;
  color: #686868;
}

.mobile-file-editor-wrapper .mobile-file-add-span {
  font-size: 14px;
  margin-top: 5px;
  color: #686868;
}

.form-file-container .mobile-file-wrapper {
  height: 105px;
  width: 105px;
  border: 1px solid #ededed;
  border-radius: 4px;
  position: relative;
  margin: 10px 14px 0 0;
}

.form-file-container .mobile-file-wrapper:nth-child(3n) {
  margin-right: 0;
}
