.geolocation-editor-container {
  background-color: #ffffff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  width: 400px;
}

.geolocation-editor-content {
  box-sizing: border-box;
}

.geolocation-editor-content .geolocation-editor-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.geolocation-editor-item-left {
  flex: 0 0 80px;
  margin-right: 5px;
  flex: 1;
}

.geolocation-editor-selector-container {
  line-height: 38px;
  position: relative;
  box-sizing: content-box;
}

.geolocation-editor-selector {
  width: 300px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #ccc;
  display: flex;
  padding: 0 10px;
  border-radius: 3px;
  justify-content: space-between;
  cursor: pointer;
  flex-wrap: nowrap;
  align-items: center;
  background: #fff;
  word-break: keep-all;
}

.geolocation-editor-selector:hover {
  border-color: #b3b3b3;
  cursor: pointer;
}

.geolocation-editor-selector.focus {
  border-color: #1991eb;
  box-shadow: 0 0 0 2px #467fcf40;
}

.geolocation-editor-parameter-icon {
  color: #666;
  display: inline-block;
  font-size: 12px;
}

.geolocation-editor-detail-info {
  width: 300px;
  padding: 5px;
  display: inline-block;
  height: 70px;
  resize: none;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.geolocation-editor-detail-info:focus-visible {
  outline: 1px auto #2660c5;
}

.geolocation-editor-container .geolocation-selector-container {
  position: absolute;
  min-width: 400px;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 0 5px #ccc;
  min-height: 165px;
  z-index: 1;
}

.geolocation-editor-container .geolocation-selector-header {
  height: 45px;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 5px 20px 0 20px;
  align-items: flex-end;
}

.geolocation-editor-container .geolocation-selector-header-item {
  border: 1px solid #ccc;
  height: 35px;
  margin-right: 10px;
  display: flex;
  margin-bottom: -1px;
  border-radius: 3px 3px 0 0;
  padding: 10px;
  line-height: 15px;
  cursor: pointer;
  font-size: 14px;
  word-break: keep-all;
}

.geolocation-selector-header-item i {
  color: #747474;
  transform: scale(0.8);
  display: inline-block;
}

.geolocation-editor-container .selected-geolocation-selector-header-item {
  border-bottom: 1px solid #fff;
}

.geolocation-selector-header-item span {
  display: inline-block;
}

.selected-geolocation-selector-header-item span {
  color: #F09F3F;
}

.geolocation-selector-list-item {
  padding: 0 8px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  height: 30px;
  cursor: pointer;
}

.geolocation-selector-list {
  padding: 0;
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
}

.geolocation-selector-list .selected-list-item,
.geolocation-editor-view-picker .am-picker-popup-content .am-picker-popup-header-right {
  color: #F09F3F;
}

.geolocation-editor-view-picker .am-picker-popup-content .am-picker-popup-header-left {
  color: #666666;
}

.geolocation-editor-view-picker .am-picker-popup-content .am-picker-popup-title {
  color: #212529;
}

.form-content .form_mode .geolocation-content {
  width: fit-content;
  padding: 4px 12px;
  min-height: 30px;
  line-height: 22px;
  font-size: 14px;
  background-color: #f0f0f0;
  border-radius: 3px;
  cursor: pointer;
}

.seatable-share-form .form-content .geolocation-editor-container .loading-tip {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  display: block;
}

.geolocation-editor-item-right {
  flex-basis: auto;
}

.geolocation-editor-recognition {
  background-color: #f5f5f5;
  border: none;
}

/* map-editor */
.geolocation-map-editor {
  height: 60px;
  display: flex;
  flex-direction: column;
}

.geolocation-map-editor .map-editor-header.simple-map-header {
  height: 60px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
}

.geolocation-map-editor .geolocation-map-container {
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  text-align: center;
}

.geolocation-map-editor .geolocation-map-read-only-container {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.geolocation-map-editor .search-tables-input {
  line-height: 38px;
  padding-right: 30px;
  border-bottom: 0;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #dedede;
}

.geolocation-map-editor .search-tables-input:focus {
  border-color: #bdbdbd;
  box-shadow: none;
}

.geolocation-map-editor .error-message {
  word-break: break-all;
  padding: 10px;
  margin: auto;
}

.BMap_Marker img {
  max-width: none;
}

.BMap-zoom-btn {
  text-align: center;
  color: #212529;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 4px rgb(0 0 0 / 12%);
  text-align: center;
  background-color: #ffffff;
  border-radius: 4px;
  user-select: none;
}

.BMap-zoom-btn:hover {
  background-color: #f5f5f5;
}

.BMap-zoom-container .enlarge {
  margin-bottom: 4px;
}

.BMap-geolocation-control {
  background-color: #ffffff;
  box-shadow: 0 0 4px rgb(0 0 0 / 12%);
  border-radius: 4px;
  text-align: center;
  color: #212529;
}

.BMap-geolocation-control-loading {
  opacity: 0.7;
}

.BMap-geolocation-control:hover {
  background-color: #f5f5f5;
}

.geolocation-map-editor.selection-editor {
  height: 384px;
  display: flex;
  flex-direction: column;
}

.geolocation-map-editor-header {
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
}

.geolocation-map-editor-logo .dtable-font {
  color: #aaa;
}

.geolocation-map-editor-logo .geolocation-map-editor-title {
  color: #212529;
}

.geolocation-map-editor-screen {
  width: 24px;
  height: 24px;
  color: #aaa;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.geolocation-map-editor-screen:hover {
  color: #666;
}

.geolocation-map-editor .map-editor-header {
  height: 60px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
}

.selection-editor {
  position: relative;
}

.selection-editor .map-editor-header {
  position: absolute;
  top: 16px;
  height: 60px;
  left: 4%;
  width: 92%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: unset;
  border-bottom: none;
}

.selection-editor .geolocation-map-container {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.selection-editor .map-editor-header .search-tables-container {
  width: 100%;
  height: fit-content;
  position: relative;
}

.selection-editor .search-tables-input.selection-input {
  width: 88%;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
  border-radius: 3px 0 0 3px;
  border-right: none;
  line-height: 38px;
  padding-right: 30px;
  background: #fff;
  border: 1px solid #dedede;
}

.selection-editor .map-editor-header .clear-search-numerical {
  position: absolute;
  right: 75px;
  top: 7px;
  color: #666;
  cursor: pointer;
}

.selection-editor .search-selection-editor {
  width: 12%;
  height: 38px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: .875rem;
  line-height: 1.8;
  background-color: #f5f5f5;
  color: #666;
  cursor: pointer;
  border: 1px solid #dedede;
  border-left: none;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
}

.selection-editor .search-selection-editor:hover {
  background-color: #f5f5f5;
}

.selection-large-dialog .selection-label-content,
.selection-editor .selection-label-content {
  width: 225px;
  height: 130px;
  position: relative;
  cursor: default;
}

.selection-large-dialog .selection-label-content.simple,
.selection-editor .selection-label-content.simple {
  height: 90px;
}

.selection-large-dialog .selection-label-content .dtable-icon-down3,
.selection-editor .selection-label-content .dtable-icon-down3 {
  position: absolute;
  transform: rotate(180deg);
  top: -16px;
  left: 47%;
  color: #fff;
}

.selection-large-dialog .selection-label-content .dtable-icon-x,
.selection-editor .selection-label-content .dtable-icon-x {
  position: absolute;
  right: -5px;
  top: 2px;
  color: #666;
  cursor: pointer;
}

.selection-large-dialog .selection-label-content .dtable-icon-x:hover,
.selection-editor .selection-label-content .dtable-icon-x:hover {
  color: #212529;
}

.selection-large-dialog .selection-label-content .label-title,
.selection-editor .selection-label-content .label-title {
  width: 225px;
  font-size: 18px;
  color: #212529;
  position: absolute;
  top: 8px;
}

.selection-large-dialog .selection-label-content .label-tag,
.selection-editor .selection-label-content .label-tag {
  font-size: 12px;
  color: #212529;
  position: absolute;
  top: 34px;
  font-weight: normal;
}

.selection-large-dialog .selection-label-content .label-address-tip,
.selection-editor .selection-label-content .label-address-tip {
  font-size: 12px;
  color: #666;
  position: absolute;
  top: 58px;
  font-weight: normal;
}

.selection-large-dialog .selection-label-content .label-address,
.selection-editor .selection-label-content .label-address {
  width: 225px;
  font-size: 12px;
  color: #212529;
  position: absolute;
  top: 74px;
  font-weight: normal;
}

.selection-large-dialog .selection-label-content .label-address.simple,
.selection-editor .selection-label-content .label-address.simple {
  font-size: 14px;
  top: 25px;
}

.selection-large-dialog .selection-label-content .label-submit,
.selection-editor .selection-label-content .label-submit {
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 50px;
  height: 24px;
  display: flex;
  line-height: normal;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.selection-editor .search-results-container {
  width: 404px;
  height: fit-content;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  top: 62px;
  left: 20px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0px 10px;
  box-shadow: 0 -0 3px rgb(0 0 0 / 30%);
}

.selection-editor .search-result-item {
  height: 56px;
  cursor: pointer;
  position: relative;
  padding: 10px 10px 10px 0px;
  border-bottom: 1px solid #ddd;
}

.selection-editor .search-result-item:hover {
  background-color: #f5f5f5;
}

.selection-editor .search-result-item .search-result-item-title {
  color: #212529;
  font-size: 14px;
}

.selection-editor .search-result-item .search-result-item-address {
  color: #666;
  font-size: 12px;
  position: absolute;
  left: 0px;
  bottom: 5px;
}

.large-map-editor-dialog {
  height: calc(100% - 75px);
  width: 94%;
  max-width: 94%;
}

.large-map-editor-dialog .modal-content {
  height: 100%;
}

.large-map-editor-dialog .geolocation-map-editor-large {
  width: 100%;
  flex: 1;
}

.large-map-editor-dialog .geolocation-map-container-large {
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.selection-large-dialog .geolocation-map-container-large {
  height: 100%;
}

.selection-large-dialog .geolocation-map-editor-large {
  position: relative;
}

.selection-large-dialog .map-editor-header {
  position: absolute;
  top: 16px;
  left: 2%;
  height: 60px;
  z-index: 2;
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-bottom: none !important;
  padding: unset !important;
}

.selection-large-dialog .search-tables-container {
  width: 100%;
  height: fit-content;
  position: relative;
}

.selection-large-dialog .search-tables-input {
  width: 415px;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
  border-radius: 2px 0 0 2px;
  line-height: 38px;
  padding-right: 30px;
  background: #fff;
  border: 1px solid #dedede;
}

.selection-large-dialog .search-selection-editor {
  width: 65px;
  height: 38px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: .875rem;
  line-height: 1.8;
  background-color: #f5f5f5;
  color: #666;
  cursor: pointer;
  border: 1px solid #dedede;
  border-left: none;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
}

.selection-large-dialog .clear-search-numerical {
  left: 390px;
  width: fit-content;
  position: absolute;
  right: 8px;
  top: 7px;
  color: #666;
  cursor: pointer;
}

.selection-large-dialog .search-results-container {
  width: 415px;
  height: fit-content;
  max-height: 360px;
  overflow-y: scroll;
  position: absolute;
  top: 62px;
  left: 2%;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0px 10px;
  box-shadow: 0 -0 3px rgb(0 0 0 / 30%);
}

.selection-large-dialog .search-result-item {
  height: 56px;
  cursor: pointer;
  position: relative;
  padding: 10px 10px 10px 0px;
  border-bottom: 1px solid #ddd;
}

.selection-large-dialog .search-result-item:hover {
  background-color: #f5f5f5;
}

.selection-large-dialog .search-result-item .search-result-item-title {
  color: #212529;
  font-size: 14px;
}

.selection-large-dialog .search-result-item .search-result-item-address {
  color: #666;
  font-size: 12px;
  position: absolute;
  left: 0px;
  bottom: 5px;
}

.large-map-editor-dialog .geolocation-map-read-only-container {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.large-map-editor-dialog .map-editor-header {
  height: 60px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
}
/* map-editor end*/

/* country-region editor */
.geolocation-country-editor {
  width: 200px;
  max-height: 240px;
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
}

.geolocation-region-list-header {
  padding: 10px 10px 0 10px;
}

.geolocation-region-list-container {
  font-size: 14px;
  line-height: 16px;
  height: calc(100% - 58px);
  overflow: auto;
  min-height: 160px;
}

.geolocation-region-list-header input {
  max-height: 30px;
  font-size: 14px;
}

.geolocation-region-editor-continent {
  background-color: #f5f5f5;
  line-height: 16px;
  color: #666;
  padding: 5px 10px;
}

.geolocation-region-editor-country {
  padding: 5px 10px;
  position: relative;
  height: 30px;
  transition: background-color .3s;
  user-select: none;
}

.geolocation-region-editor-country:hover {
  background-color: #f5f5f5;
}

.geolocation-region-editor-country .icon {
  color: #666;
  position: absolute;
  left: 10px;
  top: 8px;
  margin-right: 5px;
  display: inline-block;
  font-size: 14px;
}

.geolocation-region-editor-country .country-name {
  width: 160px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 21px;
  line-height: 20px;
}

.country-list-empty {
  color: #666;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

/* country-region editor end*/

.geolocation-province-editor {
  width: 200px;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
}

.geolocation-province-list-container {
  font-size: 14px;
  line-height: 16px;
  height: calc(100% - 58px);
  overflow: auto;
  padding: 10px;
  min-height: 170px;
}

.province-name {
  width: 160px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 10px;
  line-height: 30px;
}

.geolocation-province-list-header {
  padding: 10px 10px 0 10px;
}

.geolocation-province-list-header input {
  max-height: 30px;
  font-size: 14px;
}

.geolocation-region-editor-province {
  height: 30px;
  display: flex;
  line-height: 30px;
  transition: background-color .3s;
  user-select: none;
  border-radius: 2px;
}

.province-selected-icon {
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 14px;
}

.geolocation-region-editor-province-highlight,
.geolocation-region-editor-province:hover {
  background-color: #f5f5f5;
}
