.image-editor-modal {
  width: 560px;
}

.image-editor-container {
  height: 350px;
  width: 558px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px 16px;
  display: flex;
  flex-wrap: wrap;
}

.image-editor-container .image-editor-paste {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 3;
}

.image-editor-container .image-wrapper {
  height: 120px;
  width: 120px;
  border: 1px solid #ededed;
  border-radius: 4px;
  position: relative;
  margin: 0 15px 15px 0px;
}

.image-editor-container .image-wrapper:nth-child(4n) {
  margin-right: 0px;
}

.image-editor-container .image-wrapper .image-add-box, 
.share-form-item-image .image-add-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  font-size: 12px;
  cursor: pointer;
}

.image-editor-container .image-wrapper:hover .image-add-button i,
.share-form-item-image:hover .image-add-box .image-add-button i {
  color: orange;
}

.image-editor-container .image-wrapper .image-add-button, 
.share-form-item-image .image-add-box .image-add-button {
  position: relative;
  cursor: pointer;
}

.image-editor-container .image-wrapper .image-add-button i, 
.share-form-item-image .image-add-box .image-add-button i {
  color: #ccc;
  font-size: 50px;
}

.image-editor-container .image-wrapper .image-wrapper-drop-active i {
  color: orange;
}

.image-editor-container .image-wrapper .image-add-span {
  margin-top: 5px;
  font-size: 12px;
}

.image-editor-container .image-wrapper .image-content {
  width: 118px;
  height: 118px;
  text-align: center;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-editor-container .image-wrapper .image-content img {
  display: block;
  max-width: 114px;
  max-height: 114px;
  border-radius: 4px;
}

.image-editor-container .image-upload-container {
  height: 100%;
  width: 100%;
  border: 1px dashed transparent;
  position: relative;
  cursor: pointer;
}

.image-editor-container .image-upload-container:hover .dtable-icon-add-files {
  color: orange;
}

.image-editor-container .image-upload-container-active {
  border: 1px dashed #ccc;
}

.image-editor-container .image-upload-container .image-drop-active .dtable-font {
  color: orange;
}

.image-editor-container .image-upload-container .image-tip-addition {
  text-align: center;
  padding: 6rem 4rem;
  width: 100%;
}

.image-tip-addition .image-add-icon {
  font-size: 54px;
  line-height: 1;
  position: relative;
  height: 54px;
  width: 54px;
  margin: 0 auto;
}

.image-tip-addition .image-add-icon input {
  opacity: 0;
  width: 100%;
  height: 54px;
  position: absolute;
  left: 0;
  top: 0;
}

.image-tip-addition .image-add-icon i {
  font-size: 54px;
  color: #ccc;
}

.image-editor-container .image-upload-container .image-add-span {
  margin-top: 5px;
  font-size: 12px;
}

.image-editor-container .image-upload-container .image-add-span .image-add-span-btn {
  position: relative;
  color: orange;
  cursor: pointer;
}

/* upload image */
.image-upload-success {
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  position: absolute;
  z-index: 5;
}

.image-upload-success .image-upload-success-scale {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: scale(0.5);
}

.image-upload-success .image-upload-success-icon {
  background: #fff;
  padding: 2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  padding: 2px;
  text-align: center;
}

.image-upload-success-tip {
  color: #fff;
  white-space: nowrap;
  font-size: 14px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.image-upload-success .image-upload-success-icon i {
  display: inline-block;
  color: #757474;
}

.image-upload-mask {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 2px;
}

.image-upload-error-tip {
  z-index: 3;
  font-size: 12px;
  transform: scale(0.7);
  position: absolute;
  color: #fff;
  white-space: nowrap;
  text-align: center;
}

.image-upload-again {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 3px;
}

.image-upload-percent {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-upload-span {
  transform: rotate(90deg) scale(0.5);
  color: #fff !important;
}

.upload-file, .upload-image {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  top: 0;
  font-size: 0;
  cursor: pointer;
}

/* editor image value */
.grid-cell-type-image {
  flex-direction: column;
}

.grid-cell-type-image .select-editor-add {
  width: max-content;
}

.grid-cell-type-image .form-image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.grid-cell-type-image .share-form-item-image {
  height: 100px;
  width: 100px;
  border: 2px solid #ededed;
  box-sizing: border-box;
  margin: 10px 20px 10px 0;
  flex-shrink: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.grid-cell-type-image .share-form-item-image:not(:last-child):hover {
  border-color:  #c9c9c9;
}

.share-form-item-image img {
  display: block;
  max-width: 92px;
  max-height: 92px;
  border-radius: 4px;
}

@media screen and (max-width: 991.8px) {
  .image-editor-container {
    width: 100%;
    background-color: #fff;
    height: auto;
    overflow: auto;
    padding: 0;
    display: block;
    flex-wrap: nowrap;
  }

  .image-editor-container .image-previewer-container {
    position: relative;
    width: 100%;
    min-height: 30px;
  }

  .image-editor-view .image-editor-container .image-previewer-container {
    border-bottom: 1px solid #e9e9e9;
  }

  .image-previewer-wrapper {
    padding: 0 20px;
    flex-direction: row;
    height: 350px;
    overflow-y: auto;
  }

  .image-editor-view .image-previewer-wrapper {
    height: auto;
  }

  .image-previewer-content {
    display: flex;
    width: 518px;
    flex-wrap: wrap;
  }

  .image-editor-view .image-previewer-wrapper .image-previewer-content {
    width: auto;
    margin-bottom: 15px;
  }

  .image-previewer-box {
    margin-right: 19px;
    width: 160px;
    height: 160px;
    margin-top: 15px;
    border: 2px solid #ededed;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .image-editor-view .image-previewer-wrapper .image-previewer-box {
    margin-right: 0;
  }

  .image-previewer-box img {
    max-height: 100%;
    max-width: 100%;
  }

  .add-item-btn {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #dedede;
    background: #fff;
    padding: 0 1rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .add-item-btn .dtable-icon-add-table {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(1px);
  }

  .image-footer-choice {
    height: 30px;
    width: 100%;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    bottom: 0;
    position: absolute;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    padding:0 3px;
    justify-content: space-between;
    align-items: center;
  }
  
  .image-footer-choice .image-footer-title {
    width: 68%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .image-footer-choice .image-footer-icon {
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .image-footer-choice .image-footer-icon span {
    cursor: pointer;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    color: #dbdbdb;
  }
  
  .image-footer-choice .image-footer-icon span:hover {
    color: #fff
  }
  
  .image-footer-choice .image-footer-icon span i {
    font-size: 14px;
    display: inline-block;
  }

  .image-editor-view .image-previewer-wrapper .image-previewer-box {
    margin-right: 0;
  }

  .image-editor-view .image-previewer-wrapper .image-previewer-box:nth-child(even) {
    margin-left: 15px;
  }
}

@media screen and (max-width: 766.8px) {

  .share-form-item-image img {
    max-width: 100%;
    max-height: 100%;
  }

  .grid-cell-type-image .share-form-item-image {
    margin: 14px 14px 0 0;
  }

  .grid-cell-type-image .share-form-item-image:nth-child(3n) {
    margin-right: 0px;
  }

}

.form-image-container .image-editor-wrapper {
  width: 100px;
  height: 100px;
  background: #f0f0f0;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  margin: 10px 14px 10px 0;
}

.form-image-container .image-editor-wrapper.image-editor-wrapper-active {
  background: #dbdbdb;
}

.form-image-container .image-editor-wrapper:hover {
  background: #dbdbdb;
}

.form-image-container .image-editor-wrapper .image-tip-addition {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 10px 0;
}

.form-image-container .image-editor-wrapper .image-tip-addition .image-add-icon {
  font-size: 30px;
  position: relative;
  height: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.form-image-container .image-editor-wrapper .image-tip-addition i {
  font-size: 25px;
  color: #686868;
}

.form-image-container .image-wrapper {
  height: 100px;
  width: 100px;
  border: 1px solid #ededed;
  border-radius: 4px;
  position: relative;
  margin: 10px 14px 10px 0;
}

.form-image-container .image-add-span {
  font-size: 14px;
  margin-top: 5px;
  color: #686868;
}

.form-image-container .image-tip-addition .image-add-icon input {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  top: 0;
  font-size: 0;
  cursor: pointer;
}

.form-image-container .image-tip-addition .image-editor-paste {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 3;
}

.form-image-container .mobile-image-editor-wrapper {
  width: 105px;
  height: 105px;
  background: #f0f0f0;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  margin: 14px 14px 0 0;
}

.mobile-image-editor-wrapper .mobile-image-tip-addition {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px 0;
  justify-content: center;
}

.mobile-image-editor-wrapper .mobile-image-tip-addition .mobile-image-add-icon {
  font-size: 30px;
  position: relative;
  height: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.mobile-image-editor-wrapper .mobile-image-tip-addition i {
  font-size: 25px;
  color: #686868;
}

.mobile-image-editor-wrapper .mobile-image-add-span {
  font-size: 14px;
  margin-top: 5px;
  color: #686868;
}

.form-image-container .mobile-image-wrapper {
  height: 105px;
  width: 105px;
  border: 1px solid #ededed;
  border-radius: 4px;
  position: relative;
  margin: 10px 14px 0 0;
}

.form-image-container .mobile-image-wrapper:nth-child(3n) {
  margin-right: 0;
}
