.link-editor-container {
  width: 100%;
}

.link-editor-container .link-error-tips {
  background-color: #f0f0f0;
  min-height: 38px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.link-editor-container.focus {
  width: fit-content;
  border: 2px solid #3B88FD;
}

.link-editor-container .add-link-record {
  min-width: 80px;
  max-width: 100%;
  height: 28px;
  padding: 0 10px;
  background-color: #f0f0f0;
  border-radius: 3px;
  color: #666;
  font-size: 14px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.link-editor-container .add-link-record:hover {
  background-color: #dbdbdb;
  color: #666666;
  cursor: pointer;
}

.link-editor-container .link-items-container {
  display: flex;
  flex-wrap: wrap;
}

.link-items-container .link-item {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  padding: 2px 6px;
  margin: 0 4px 4px 0;
  max-width: 100%;
  border-radius: 4px;
  background-color: #eceff4;
  cursor: pointer;
}

.link-items-container .link-item .link-remove-icon {
  margin-left: 4px;
  color: #666;
}

.link-items-container .link-item .link-remove-icon:hover {
  color: #666;
}

.link-editor-container .link-records-picker {
  width: 320px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px #ccc;
  background-color: #fff;
  z-index: 10;
  overflow: hidden;
}

.link-records-picker .link-search-container {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.link-search-container .link-search {
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.link-search-container .search {
  width: 100%;
  height: 32px;
  padding: 0 0 0 10px;
  color: #666;
}

.link-editor-container .link-records-picker .link-records-container {
  flex: 1;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
  max-height: 200px;
  min-height: 160px;
}

.link-records-picker .records-tips {
  background-color: #f0f0f0;
  min-height: 38px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.link-records-picker .link-record-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 5px;
}

.link-records-picker .link-record-item .option-info {
  display: flex;
  align-items: center;
  flex: 1 1;
}

.link-records-picker .link-record-item .option-checked {
  width: 20px;
  text-align: center;
  color: #798d99;
}

.link-records-picker .link-record-item.hovered,
.link-records-picker .link-record-item:hover {
  background-color: #f5f5f5;
}

.link-records-picker .link-record-item .record-content {
  display: inline-block;
  max-width: 260px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  background-color: #eceff4;
  border-radius: 4px;
}

.link-formatter-item {
  position: relative;
  display: flex;
  align-items: center;
}

.link-formatter-item .select-option {
  padding-right: 25px;
}

.link-formatter-item .link-remove-icon {
  position: absolute;
  right: 5px;
  padding: 5px;
  height: 100%;
  font-size: 14px;
  vertical-align: middle;
  color: #666;
  cursor: pointer;
}

.link-formatter-item .link-remove-icon:hover {
  color: #666;
}
