.seaqa-project-ticket .seaqa-project-ticket-header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 86px;
  width: 100%;
  padding: 16px 0 12px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
  gap: 8px;
}

.seaqa-project-ticket .seaqa-project-ticket-header .seaqa-project-ticket-title-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 28px;
  width: 100%;
}

.seaqa-project-ticket .seaqa-project-ticket-header .seaqa-project-ticket-title-wrapper-left {
  flex: 1;
  margin-right: 16px;
}

.seaqa-project-ticket .seaqa-project-ticket-header .seaqa-project-ticket-title-wrapper-right {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}

.seaqa-project-ticket .seaqa-project-ticket-title-number {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: fit-content;
}

.seaqa-project-ticket .seaqa-project-ticket-title-prefix {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 8px;
}

.seaqa-project-ticket .seaqa-project-ticket-header:has(.seaqa-project-ticket-title-prefix):not(.seaqa-project-ticket-simple-info-wrapper-sticky) {
  height: auto;
  min-height: 86px;
}

.seaqa-project-ticket .seaqa-project-ticket-header:has(.seaqa-project-ticket-title-prefix):not(.seaqa-project-ticket-simple-info-wrapper-sticky) .seaqa-project-ticket-title-wrapper {
  height: auto;
  min-height: 28px;
}

.seaqa-project-ticket .seaqa-project-ticket-title-prefix .seaqa-project-ticket-title-back-btn {
  flex-shrink: 0;
  height: 20px;
  width: 20px;
}

.seaqa-project-ticket .seaqa-project-ticket-title-prefix .seaqa-project-ticket-title-back-btn .seaqa-icon-svg {
  height: 16px !important;
  width: 16px !important;
}

.seaqa-project-ticket .seaqa-project-ticket-title {
  display: inline-block;
  overflow: hidden;
  flex: 1;
  width: fit-content;
  margin-right: 8px;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seaqa-project-ticket .seaqa-project-ticket-header:not(.seaqa-project-ticket-simple-info-wrapper-sticky) .seaqa-project-ticket-title-prefix ~ .seaqa-project-ticket-title {
  display: -webkit-box;
  min-width: 0;
  white-space: normal;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.seaqa-project-ticket .seaqa-project-ticket-header:not(.seaqa-project-ticket-simple-info-wrapper-sticky) .seaqa-project-ticket-title-prefix ~ .seaqa-project-ticket-number {
  align-self: flex-end;
}

.seaqa-project-ticket .seaqa-project-ticket-number {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: var(--bs-sf-grey-text);
}

.seaqa-project-ticket .seaqa-project-ticket-header .seaqa-project-ticket-copy {
  height: 24px;
  width: 24px;
}

.seaqa-project-ticket .seaqa-project-ticket-header .seaqa-project-ticket-rename-btn {
  display: inline-flex;
  margin-left: 8px;
}

.seaqa-project-ticket .seaqa-project-ticket-header .seaqa-project-ticket-title-input,
.seaqa-project-ticket .seaqa-project-ticket-header .seaqa-project-ticket-title-cancel-btn,
.seaqa-project-ticket .seaqa-project-ticket-header .seaqa-project-ticket-title-submit-btn {
  height: 28px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1;
}

.seaqa-project-ticket .seaqa-project-ticket-header .seaqa-project-ticket-title-cancel-btn {
  margin-right: 10px;
}

.seaqa-project-ticket .seaqa-project-ticket-header .seaqa-project-ticket-state-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.seaqa-project-ticket-status {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 10px 0 2px;
  background-color: var(--ticket-close-color);
  border-radius: 10px;
  font-size: 13px;
  line-height: 1;
  color: #fff;
  gap: 5px;
}

.seaqa-project-ticket-status.open {
  background-color: var(--ticket-open-color);
}
