.analyze-add-filter {
  position: relative;
}

.analyze-add-filter-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  padding: 0px 6px;
  line-height: 32px;
  height: 32px;
  width: fit-content;
  border-radius: 3px;
}

.analyze-add-filter-btn:hover {
  background-color: var(--bs-hover-bg);
}

.analyze-add-filter-btn.active {
  color: var(--bs-orange);
}

.analyze-add-filter-btn.disabled {
  color: #bbb;
  cursor: not-allowed;
  background-color: transparent;
}

/* Filter panel styles */
.analyze-filter-option-editor .popover {
  width: 120px;
  min-height: fit-content;
}

.analyze-filter-option-editor .option-editor-container,
.analyze-filter-option-editor .option-editor-content {
  min-height: fit-content;
}
