.analyze-filter-panel {
  height: 40px;
}

.analyze-add-filter {
  position: relative;
}

.analyze-add-filter-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  line-height: 24px;
  height: 24px;
  width: fit-content;
  border-radius: 3px;
  padding: 0px 4px;
}

.analyze-add-filter-btn:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.analyze-add-filter-btn.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.analyze-add-filter-btn .seaqa-icon-svg {
  color: var(--bs-body-secondary-color);
}

/* Filter panel styles */
.analyze-filter-option-editor .popover {
  width: 120px;
  min-height: fit-content;
}

.analyze-filter-option-editor .option-editor-container {
  min-height: fit-content;
}

.analyze-filter-option-editor .option-editor-content {
  min-height: fit-content;
}

.analyze-filter-option-editor .option-editor-option {
  padding: 0 8px;
}
