.seaqa-email-to-container {
  flex: 1;
  display: flex;
  overflow: hidden;
  height: 38px;
  border: 1px solid var(--bs-border-color);
  border-radius: 3px;
  padding: 0 .75rem;
  gap: 8px;
}

.seaqa-email-to-container .seaqa-email-to-value {
  max-width: 70%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.seaqa-email-to-container .seaqa-email-to-value .seaqa-email-to-user {
  height: 24px;
  max-width: 240px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  padding: 0 4px 0 8px;
  border-radius: 4px;
  background-color: #F7F7F5;
  flex-shrink: 0;
  cursor: pointer;
}

.seaqa-email-to-container .seaqa-email-to-user .seaqa-email-to-user-email {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seaqa-email-to-container .seaqa-email-to-user .seaqa-email-to-user-remove-btn {
  display: flex;
  margin-left: 6px;
}

.seaqa-email-to-container .seaqa-email-to-user .seaqa-email-to-user-remove-btn .seaqa-icon-svg,
.seaqa-email-to-container .seaqa-email-to-user .seaqa-email-to-user-remove-btn:hover .seaqa-icon-svg {
  color: var(--bs-icon-color) !important;
}

.seaqa-email-to-container .seaqa-email-to-user .seaqa-email-to-user-remove-btn:hover {
  background-color: var(--option-bg-color);
}

.seaqa-email-to-container .seaqa-email-to-user .seaqa-email-to-user-remove-btn .seaqa-icon-svg {
  margin-top: 0;
}

.seaqa-email-to-container .seaqa-email-to-user-input {
  padding: 0;
  height: 100%;
  border: none;
  border-radius: 0;
}

.seaqa-email-to-container .seaqa-email-to-user-input:focus {
  box-shadow: none;
}
