.seaqa-customize-table-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  flex: 1;
}

.seaqa-customize-table-wrapper-divider {
  background-color: #eaeaea;
  height: 1px;
  width: 100%;
}

