.ticket-rate-formatter {
  min-height: 38px;
  width: 100%;
  padding: 6px 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
}

.ticket-rate-formatter .seaqa-icon-svg-priority-01 {
  fill: #ff8000;
}

.sea-ticket-priority-settings-popover .popover {
  margin-left: 6px;
}
