.seaqa-ai-tokens-chart .seaqa-ai-tokens-chart-tooltip {
  position: fixed;
  box-sizing: 'border-box';
  min-width: 178px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  background: var(--bs-body-bg);
  padding: 8px 0;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  transition: left 0.3s cubic-bezier(0.23, 1, 0.32, 1), top 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: .95;
}

.seaqa-ai-tokens-chart .seaqa-ai-tokens-chart-tooltip .seaqa-ai-tokens-chart-tooltip-header {
  font-size: 14px;
  max-width: 100%;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid var(--bs-border-color);
  padding: 0 8px 8px;
}

.seaqa-ai-tokens-chart .seaqa-ai-tokens-chart-tooltip .seaqa-ai-tokens-chart-tooltip-item {
  display: flex;
  padding: 8px;
}

.seaqa-ai-tokens-chart .seaqa-ai-tokens-chart-tooltip .seaqa-ai-tokens-chart-tooltip-footer {
  font-size: 14px;
  max-width: 100%;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid var(--bs-border-color);
  padding: 8px 8px 0 8px;
}
