.prompt-settings-option .seaqa-project-settings-item-body .prompt-preview {
  background-color: var(--bs-th-secondary-bg);
  border-radius: 4px;
  border: 1px solid var(--bs-border-tertiary-color);
  width: 100%;
  height: fit-content;
}

.prompt-preview-content {
  word-break: break-word;
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 22px;
  --mask: linear-gradient(to bottom, var(--bs-th-secondary-bg) calc(100% - 24px), #0000);
  mask-image: var(--mask);
  overflow-y: auto;
  max-height: 112px;
  width: 100%;
}

.seaqa-project-prompt-edit-btn {
  height: 32px;
  font-weight: normal;
  padding: 0 12px;
}
