.seaqa-secondary-btn {
  height: 38px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  color: #Ed7109;
  background-color: var(--bs-body-bg);
  gap: 8px;
}

.seaqa-secondary-btn.disabled {
  opacity: .65;
  cursor: default;
}

.seaqa-secondary-btn:not(.disabled):hover {
  background-color: var(--bs-body-secondary-bg);
  cursor: pointer;
}

.seaqa-secondary-btn:not(.disabled):active {
  background-color: #E9E9E9;
}

.seaqa-secondary-btn.seaqa-secondary-small-btn {
  font-size: 12px;
  color: var(--bs-body-color);
  height: 26px;
  padding: 0 8px;
  gap: 4px;
}

.seaqa-secondary-btn .seaqa-icon-svg {
  height: 12px;
  width: 12px;
  color: var(--bs-icon-color);
}

.seaqa-secondary-btn .seaqa-loading-icon {
  height: 12px;
  width: 12px;
  margin: 0;
}

.seaqa-secondary-btn.doing {
  color: var(--bs-body-secondary-color);
}

.seaqa-secondary-btn.doing:hover,
.seaqa-secondary-btn.doing:active {
  cursor: default;
  background-color: var(--bs-body-bg);
}
