.option-editor-empty-tip {
  min-height: 100%;
}

.option-editor-empty-tip .no-items-img-tip {
  width: 76px !important;
  height: 76px !important;
  margin-bottom: 12px;
  flex-shrink: 0;
}

.option-editor-empty-tip .empty-tip-text {
  margin-top: 0;
  line-height: 20px;
  color: #666;
  font-size: 14px;
}

.option-editor-start-searching-tip .empty-tip-text {
  max-width: 180px;
}
