.seaqa-ui-option {
  height: 20px;
  line-height: 20px;
  border-width: 1px;
  border-style: solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-width: min(calc(100%), 250px);
  width: fit-content;
  overflow: hidden;
  padding: 0 8px;
  gap: 4px;
  flex-shrink: 0;
}
