.sea-connection-record-details {
  flex: 1;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  position: relative;
}

.sea-connection-record-details .sea-connection-record-details-header {
  overflow: hidden;
  width: 100%;
  font-size: 24px;
  line-height: 1.5;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  position: sticky;
  top: 0;
  background-color: var(--bs-body-bg);
  z-index: 103;
}

.sea-connection-record-details .sea-connection-record-details-header .sea-connection-record-details-header-left {
  align-items: center;
  display: flex;
  gap: 8px;
  flex: 1;
  max-width: calc(100% - 32px);
}

.sea-connection-record-details .sea-connection-record-details-body {
  display: flex;
  width: 100%;
  padding: 16px 0 50px 0;
  flex-shrink: 0;
  height: fit-content;
  min-height: calc(100% - 57px);
  gap: 24px;
}

.sea-connection-record-details .sea-connection-record-details-body.empty {
  height: 100%;
  padding: 0;
}

.sea-connection-record-details .sea-connection-record-details-body.empty .sea-connection-record-details-container {
  width: 100%;
}

.sea-connection-record-details .sea-connection-record-details-body .sea-connection-record-details-container {
  width: calc((100% - 16px) * 0.8);
}

.sea-connection-record-details .sea-connection-record-details-body .sea-connection-record-details-others {
  width: calc((100% - 16px) * 0.2);
  display: flex;
  flex-direction: column;
}

/* small */
.sea-connection-record-details.small .sea-connection-record-details-body {
  flex-direction: column;
  min-height: fit-content;
  gap: 0;
}

.sea-connection-record-details.small .sea-connection-record-details-body .sea-connection-record-details-container {
  width: 100%;
}

.sea-connection-record-details.small .sea-connection-record-details-body .sea-connection-record-details-others {
  width: 100%;
}

/* customize css */
/* github | email | discourse_forum */
.sea-connection-record-details .sea-ticket-connection-github_issue-resource-details,
.sea-connection-record-details .sea-ticket-connection-email-resource-details,
.sea-connection-record-details .sea-ticket-connection-discourse_forum-resource-details {
  padding: 0 !important;
}

.sea-connection-record-details .sea-ticket-connection-email-resource-details {
  overflow-y: unset;
  padding-bottom: 28px !important;
}

.sea-connection-record-details .sea-ticket-connection-email-resource-details.last-record-expand {
  padding-bottom: 0 !important;
}

.sea-connection-record-details .sea-ticket-connection-github_issue-resource-details .sf-slate-viewer-article-container .article {
  padding: 10px 16px 24px 16px !important;
  border: unset;
  height: auto;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  background-color: #FDFDFD;
}

/* seafile */
.sea-connection-record-details .sea-ticket-connection-seafile-resource-details .sf-slate-viewer-article-container .article,
.sea-connection-record-details .sea-ticket-connection-site-resource-details .sf-slate-viewer-article-container .article {
  max-width: 100%;
  padding: 0 !important;
}

.sea-connection-record-details .sea-connection-record-outdated-option {
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  border-radius: 12px;
  border: none;
  margin-right: 4px;
}

.sea-connection-record-details .sea-connection-record-outdated-option .seaqa-ui-option-name {
  font-size: 14px;
}
