.sea-metadata-tags-selector-popover {
  min-width: 200px;
  padding: 0;
  min-height: 100px;
  overflow: hidden;
  opacity: 1;
  position: absolute;
}


.sea-qa-tags-selector-popover.option-editor-popover .option-editor-container {
  min-height: 100px;
}

.sea-qa-tags-selector-popover.option-editor-popover:not(.hide-description) .option-editor-content .option-editor-option {
  height: fit-content;
  padding: 8px 10px;
}

.sea-qa-tags-selector-popover.option-editor-popover .option-editor-content .option-editor-option {
  align-items: flex-start;
  gap: 8px;
}

.sea-qa-tags-selector-popover.option-editor-popover.hide-description .option-editor-content .option-editor-option {
  align-items: center;
}
