.sea-metadata-tags-selector-popover {
  min-width: 200px;
  padding: 0;
  min-height: 100px;
  overflow: hidden;
  opacity: 1;
  background: var(--bs-body-bg);
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0 #dedede;
  position: absolute;
}

.sea-qa-tags-selector-popover.option-editor-popover .option-editor-container {
  min-height: 100px;
}

.sea-qa-tags-selector-popover.option-editor-popover .option-editor-content .option-editor-option {
  height: fit-content;
  align-items: flex-start;
  padding: 8px 10px;
  gap: 8px;
}

.sea-qa-tags-selector-popover.option-editor-popover.hide-description .option-editor-content .option-editor-option {
  align-items: center;
}
