.seaqa-link-settings-formatter {
  padding: 6px 0;
  margin-bottom: 8px;
}

.seaqa-link-settings-formatter.valid {
  padding: 5px 0;
}

.seaqa-link-settings-formatter.valid .link-item .link-item-name {
  max-width: 100%;
}
