.sea-qa-project-table .empty-tip {
  flex: 1;
  overflow: hidden;
}

/* cell formatter */
.sea-qa-project-table .sea-qa-project-custom-table-long_text-cell {
  display: flex;
  align-items: center;
}

