/* Basic styles */
body {
  overflow: hidden;
}

#wrapper {
  height: 100%;
}

/* Main container styles */
.profile-settings {
  background-color: #f7f7f5;
  padding: 0 1.5rem;
  padding-left: 12px;
}

.profile-settings .top-header {
  padding: 12px 0rem 12px 4px;
  flex-shrink: 0;
}

/* Default side-panel width is 240px, but here profile-settings has a padding-left: 12px, so width 240 - 12 = 228 */
.profile-settings .side-panel {
  width: 228px;
  padding-right: 20px;
}

.profile-settings .main-panel {
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  width: calc(100% - 228px);
}

.profile-settings .heading {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
  font-size: 18px;
  font-weight: 500;
}

.profile-settings .content {
  padding: 0rem 1rem 8rem;
  overflow: auto;
}

/* Setting item styles */
.profile-settings .setting-item {
  margin: 1em 0 2em;
}

.setting-item-heading {
  padding-bottom: 0.2em;
  margin-bottom: 0.7em;
  font-size: 1rem;
  font-weight: normal;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

/* User avatar related */
.user-avatar {
  border-radius: 50%;
}

.avatar-edit {
  position: absolute;
  left: 0.75rem;
  top: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}

.avatar-edit.seaqa-icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.avatar-edit.seaqa-icon-btn .seaqa-icon-svg {
  width: 24px;
  height: 24px;
  color: #fff;
}

/* Navigation menu styles */
.user-setting-nav .nav-item {
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
}

.user-setting-nav .nav-item .seaqa-icon-svg {
  color: var(--bs-icon-color);
}

.user-setting-nav .nav-item .nav-link {
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  flex: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Form and input styles */
.input-tip {
  padding-top: calc(0.375rem + 1px);
  color: #666;
}

.language-selector {
  width: 260px;
}

.profile-settings .btn {
  min-width: 60px;
}

/* Session logs table styles */
.logged-in-session-table .logged-state {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(96, 196, 76);
}

.logged-in-session-table .seaqa-dropdown-more {
  color: #999;
  cursor: pointer;
}

.logged-in-session-table .seaqa-dropdown-more:hover {
  color: #666;
}

.logged-in-session-table thead tr {
  height: 0;
}

.logged-in-session-table thead th {
  padding: 0;
}

.logged-in-session-table thead th,
.logged-in-session-table tbody td {
  border: none;
}

.logged-in-session-table tbody td .seaqa-icon-svg-more-vertical {
  transform: rotate(90deg);
}

/* Responsive design */
@media (min-width: 768px) {
  .input-tip {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .logged-in-session-table thead tr {
    display: flex;
  }
}
