.seaqa-connection-email-record {
  display: flex;
  flex-direction: column;
}

.seaqa-connection-email-record-details {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  transition: margin .2s;
}

.seaqa-connection-email-record-details .email-avatar {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  height: 60px;
  width: 60px;
}

.seaqa-connection-email-record-details .email-avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.seaqa-connection-email-record-details .email-record-info {
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
}

.seaqa-connection-email-record-details .email-record-info .email-record-info-container {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
  gap: 4px;
}

.seaqa-connection-email-record-details .email-record-info .email-record-info-sender {
  flex-shrink: 0;
  width: fit-content;
  font-weight: 500;
}

.seaqa-connection-email-record-details .email-record-info-to {
  overflow: hidden;
  flex: 1;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seaqa-connection-email-record-details .email-record-info .email-record-info-content {
  flex: 1;
  color: var(--bs-sf-grey-text);
}

.seaqa-connection-email-record-details .email-record-info .email-record-info-time {
  flex-shrink: 0;
  width: fit-content;
  margin-left: 12px;
  text-align: right;
}

.seaqa-connection-email-record-details .email-record-info .seaqa-reply-text-btn {
  margin-left: 4px;
}

.seaqa-connection-email-record-details .email-record-info .seaqa-reply-text-btn .seaqa-icon-svg {
  height: 14px;
  width: 14px;
}

.seaqa-connection-email-record-details .email-record-read-status-wrapper {
  display: flex;
  height: 24px;
  width: 24px;
  margin: 0px;
}

.seaqa-connection-email-record-details .read-status {
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: 1.5px solid var(--bs-icon-secondary-color);
  border-radius: 50%;
}

.seaqa-connection-email-record-details .read-status.unread {
  background-color: #fc6440;
  border-color: #fc6440;
}

/* collapsed */
.seaqa-connection-email-record-details.collapsed {
  margin-bottom: -27px;
  cursor: pointer;
}

/* expanded */
.seaqa-connection-email-record-details.expanded {
  flex-direction: column;
  margin-bottom: 16px;
  padding-right: 0;
  box-shadow: 0 3px 8px rgba(16, 19, 24, .1);
  scroll-margin-top: 16px;
}

.seaqa-connection-email-record-details.expanded:last-child {
  margin-bottom: 0;
}

.seaqa-connection-email-record-details.expanded .email-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  cursor: pointer;
}

.seaqa-connection-email-record-details.expanded .email-body {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #eee;
  font-size: 14px;
}

.seaqa-connection-email-record-details.expanded .email-body .email-item-toggle-btn {
  height: 18px;
  width: 32px;
  background-color: var(--bs-body-secondary-bg);
  outline: 0;
  font-size: 13px;
  line-height: 15px;
}

.seaqa-connection-email-record-details.expanded .email-body .email-item-toggle-btn:hover {
  background-color: #e5e5e5 !important;
}

.seaqa-connection-email-record-details.expanded .email-body .email-content-detail {
  overflow-x: auto;
}

.seaqa-connection-email-record-details.expanded .email-body .email-content-detail img {
  height: auto !important;
  max-width: calc(100% - 2px) !important;
  object-fit: contain;
}

.seaqa-connection-email-record-details.expanded .email-body table .row {
  margin-left: 0;
  margin-right: 0;
}

/* more */
.seaqa-connection-email-record-details.more .email-avatar {
  align-items: flex-start;
}

.seaqa-connection-email-record-details.more .email-avatar .more-tip {
  height: 20px;
  width: 20px;
  margin-top: 9px;
}

.seaqa-connection-email-record-details.more .email-avatar .more-tip .seaqa-icon-svg-more {
  height: 20px;
  width: 20px;
}

.seaqa-connection-email-record-details.more .email-record-info-more-count {
  font-weight: 600;
}

.seaqa-connection-email-record-details .email-record-info-to-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
