.seaqa-log {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;
  margin-top: 4px;
  position: relative;
}

.seaqa-log:not(.d-none-after)::after {
  content: '';
  position: absolute;
  left: 16px;
  top: 28px;
  width: 1px;
  bottom: -16px;
  background-color: var(--bs-border-secondary-color);
}

.seaqa-log.s {
  padding-left: 16px;
}

.seaqa-log.s:not(.d-none-after)::after {
  left: 28px;
  top: 28px;
}

.seaqa-log .seaqa-log-type-container {
  width: 32px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.seaqa-log.s .seaqa-log-type-container {
  width: 24px;
  display: flex;
  justify-content: center;
}

.seaqa-log .seaqa-log-btn {
  background-color: #f7f7f5;
  border: 1px solid var(--bs-border-tertiary-color);
  border-radius: 50%;
}

.seaqa-log.s .seaqa-log-icon {
  display: none;
}

.seaqa-log .seaqa-log-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2px;
  gap: 4px;
  font-size: 13px;
  color: var(--bs-body-secondary-color);
  line-height: 1.5;
}

.seaqa-log-creator {
  background: unset;
  padding: 0;
  font-weight: 600;
  color: var(--bs-body-color);
  border-radius: 0;
}

.seaqa-log-time {
  font-size: 12px;
  margin-left: 8px;
}

.seaqa-log .collaborator {
  max-width: 240px;
}

.seaqa-log-removed {
  opacity: .65;
}

.seaqa-log-inline-link {
  padding: 0;
  border: 0;
  background: transparent;
  color: var(--bs-link-color);
}

.seaqa-log-inline-link:hover {
  color: var(--bs-link-hover-color);
  text-decoration: underline;
  cursor: pointer;
}
