.seaqa-log {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  margin-top: 4px;
  gap: 16px;
}

.seaqa-log:not(.d-none-after)::after {
  bottom: -16px;
  content: '';
  left: 16px;
  position: absolute;
  top: 28px;
  width: 1px;
  background-color: var(--bs-border-secondary-color);
}

.seaqa-log.s {
  padding-left: 16px;
}

.seaqa-log.s:not(.d-none-after)::after {
  left: 28px;
  top: 28px;
}

.seaqa-log .seaqa-log-type-container {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 32px;
}

.seaqa-log.s .seaqa-log-type-container {
  display: flex;
  justify-content: center;
  width: 24px;
}

.seaqa-log .seaqa-log-btn {
  background-color: var(--bs-body-third-bg);
  border: 1px solid var(--bs-border-tertiary-color);
  border-radius: 50%;
}

.seaqa-log.s .seaqa-log-icon {
  display: none;
}

.seaqa-log .seaqa-log-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2px;
  font-size: 13px;
  line-height: 1.5;
  color: var(--bs-body-secondary-color);
  gap: 4px;
}

.seaqa-log-creator {
  padding: 0;
  background: unset;
  border-radius: 0;
  font-weight: 600;
  color: var(--bs-body-color);
}

.seaqa-log-time {
  margin-left: 8px;
  font-size: 12px;
}

.seaqa-log-date {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 200px;
  margin-right: 4px;
  padding: 4px 8px;
  background-color: #f7f7f5;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.25;
  color: var(--bs-body-color);
  vertical-align: middle;
}

.seaqa-log-date-icon {
  flex: 0 0 14px;
  height: 14px;
  width: 14px;
  margin-right: 4px;
  color: var(--bs-icon-color);
}

.seaqa-log-date-text {
  font-size: 13px;
}

.seaqa-log .collaborator {
  max-width: 240px;
}

.seaqa-log-removed {
  opacity: .65;
}

.seaqa-log-text-removed {
  text-decoration: line-through;
}
