.ticket-due-date-formatter {
  min-height: 38px;
  width: 100%;
  padding: 6px 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.ticket-due-date-formatter .ticket-due-date-content {
  height: 24px;
}

.ticket-due-date-formatter .ticket-due-date-content .ticket-due-date-value {
  line-height: 24px;
}
