.sea-qa-ai-chat-resolve-type-select-editor .popover {
  min-height: fit-content;
  min-width: 12rem;
  width: 12rem;
}

.sea-qa-ai-chat-resolve-type-select-editor .option-editor-content {
  min-height: fit-content;
  padding: 8px 0 !important;
}

.sea-qa-ai-chat-resolve-type-select-editor .option-editor-option {
  height: 32px !important;
  min-width: 100%;
  padding: .25rem 1rem !important;
  border-radius: 0 !important;
}

.sea-qa-ai-chat-resolve-type-select-editor .option-editor-option:hover {
  background-color: #20a0ff !important;
  color: #fff !important;
}

.sea-qa-ai-chat-resolve-type-select-editor .option-editor-option .sea-qa-icon-btn .sea-qa-icon-svg-check {
  height: 14px;
  width: 14px;
}

.sea-qa-ai-chat-resolve-type-select-editor .option-editor-option:hover .sea-qa-icon-btn .sea-qa-icon-svg-check {
  color: #fff !important;
}
