.folder-tree {
  width: 260px;
  padding: 10px;
  border-right: 1px solid #e9ecef;
  overflow: auto;
}

.folder-tree .folder-tree-workspace-name .dtable-font {
  margin-right: 6px;
  color: #999;
}

.folder-tree .folder-item {
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  border-radius: 4px;
}

.folder-tree .folder-item.folder-item-selected {
  color: #fff;
  background-color: #ED7109!important;
}

.folder-tree .folder-item.folder-item-selected .action-icon,
.folder-tree .folder-item.folder-item-selected .attr-action-icon {
  color: #fff !important;
}

.folder-tree .folder-item .folder-name {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  font-size: 14px;
}

.folder-tree .folder-tree-footer {
  font-weight: 400;
  padding: 6px 8px;
  border: none;
  width: 100%;
  text-align: left;
  text-decoration: none;
}

.folder-tree .folder-tree-footer:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.folder-tree .folder-tree-footer .dtable-font {
  font-size: 13px;
  width: 16px;
  display: inline-block;
  text-align: center;
}

.folder-tree .virtual-table {
  height: 36px;
  padding: 4px 0;
}

.folder-tree .virtual-table img {
  width: 16px;
}

.folder-tree .virtual-table div {
  display: inline;
}

.folder-tree .virtual-table input {
  width: 120px;
  font-size: 14px;
}

.folder-tree .virtual-table.table-item>div:first-child {
  margin-left: 0;
  padding-left: 0.5rem;
}
