.folder-items-dialog-dirpath {
  height: 32px;
  line-height: 32px;
  padding: 0px 8px;
  display: flex;
}

.folder-items-dialog-dirpath>span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
}

.folder-items-dialog-dirpath .path-link {
  text-decoration: none;
  cursor: pointer;
  max-width: 200px;
}

.folder-items-dialog-dirpath .path-split {
  display: inline-block;
  padding: 0 5px;
  color: #818a91;
}
