.sea-qa-project-navigation-item {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  padding: 0 .5rem;
  border-radius: 3px;
  cursor: pointer;
  flex-shrink: 0;
}

.sea-qa-project-navigation-item:not(.sea-qa-project-navigation-item-level0):hover {
  background-color: #EFEFED;
}

.sea-qa-project-navigation-item.sea-qa-project-navigation-item-active,
.sea-qa-project-navigation-item:has(> .sea-qa-project-navigation-item-more-operation.show) {
  background-color: #EDEDEA;
  position: relative;
}

.sea-qa-project-navigation-item .sea-qa-project-navigation-item-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sea-qa-project-navigation-item .sea-qa-project-navigation-item-more-btn {
  opacity: 0;
}

.sea-qa-project-navigation-item:hover .sea-qa-project-navigation-item-more-btn,
.sea-qa-project-navigation-item-more-operation.show .sea-qa-project-navigation-item-more-btn {
  opacity: 1;
}

.sea-qa-project-navigation-item-level0 {
  padding: 0 .5rem;
  font-size: 14px;
  color: #666666;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sea-qa-project-navigation-item .sea-qa-project-navigation-item-icon {
  height: 16px;
  width: 16px;
  color: #666;
  margin-right: 8px;
}
