.seaqa-project-navigation-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 32px;
  width: 100%;
  padding: 0 .5rem;
  border-radius: 3px;
  cursor: pointer;
}

.seaqa-project-navigation-item.seaqa-project-navigation-item-active,
.seaqa-project-navigation-item:hover {
  background-color: #EDEDEA;
}

.seaqa-project-navigation-item .seaqa-project-navigation-item-name {
  overflow: hidden;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seaqa-project-navigation-item .seaqa-project-navigation-item-icon {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  color: var(--bs-icon-color);
}

.seaqa-project-navigation-item .seaqa-icon-btn:hover {
  background-color: var(--bs-hover-tertiary-bg) !important;
}
