.sea-qa-tickets-more-nav .dropdown-menu {
  margin-left: 12px;
}

.sea-qa-tickets-more-nav .sea-qa-icon-svg {
  color: #666;
}

.sea-qa-tickets-more-nav .sea-qa-dropdown-item:hover .sea-qa-icon-svg {
  color: #fff;
}
