.sea-qa-ai-ask-wrapper {
  width: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

.sea-qa-ai-ask-chats-wrapper {
  flex: 1;
  overflow: auto;
  width: 100%;
  mask-image: linear-gradient(to bottom, #f5f5f5 calc(100% - 24px), transparent);
}

.sea-qa-ai-ask-chat-input-wrapper-shell {
  padding: 16px;
}

.sea-qa-ai-ask-chats-wrapper::-webkit-scrollbar {
  display: none;
}

.sea-qa-ai-ask-chats {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 16px 16px 24px;
}

.sea-qa-ai-ask-wrapper.large .sea-qa-ai-ask-chats {
  padding: 16px calc(100% / 7) 24px;
}

.sea-qa-ai-ask-wrapper.large .sea-qa-ai-ask-chat-input-wrapper-shell {
   padding: 16px calc(100% / 7);
}

.sea-qa-ai-ask-wrapper.large .sea-qa-ai-ask-chat {
  width: 100% !important;
}

.sea-qa-ai-ask-wrapper.large .sea-qa-ai-ask-chat.user-input-chat {
  margin-left: 0 !important;
}

.sea-qa-ai-ask-wrapper .sea-qa-ai-ask-chat:not(.user-input-chat) .sea-qa-ai-ask-chat-message-content {
  max-width: 300px;
}

.sea-qa-ai-ask-wrapper.large .sea-qa-ai-ask-chat:not(.user-input-chat) .sea-qa-ai-ask-chat-message-content {
  max-width: 400px;
}

.sea-qa-ai-ask-chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 18px);
  height: fit-content;
  margin-top: 20px;
}

.sea-qa-ai-ask-chat:first-child {
  margin-top: 0;
}

.sea-qa-ai-ask-chat.user-input-chat {
  justify-content: flex-end;
  margin-left: 18px;
}

.sea-qa-ai-ask-chat-assistant-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0;
}

.sea-qa-ai-ask-chat-time {
  flex-shrink: 0;
}

.sea-qa-ai-ask-chat-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  width: 100%;
}

.user-input-chat .sea-qa-ai-ask-chat-main {
  align-items: flex-end;
}

.sea-qa-ai-ask-chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #212529;
}

.sea-qa-ai-ask-chat.user-input-chat .sea-qa-ai-ask-chat-header {
  justify-content: flex-end;
}

.sea-qa-ai-ask-chat-assistant-name {
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sea-qa-ai-ask-message-content {
  max-width: 100%;
  min-width: 48px;
  min-height: 40px;
  width: fit-content;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: auto;
  margin-top: 8px;
  padding: 10px;
  font-size: 14px;
  border-radius: 0 6px 6px 6px;
  color: #212529;
  background-color: #fff;
}

.user-input-chat .sea-qa-ai-ask-message-content {
  background-color: #ED7109;
  color: #fafafa;
  border-radius: 6px 0 6px 6px;
}

.sea-qa-ai-ask .send-chat-btn {
  flex-shrink: 0;
}

.sea-qa-ai-ask-chats .sea-qa-ai-ask-message-content .sea-ai-outline-btn {
  margin-top: 10px;
}
