/* filters */
.seaqa-project-search .seaqa-project-search-filter-wrapper {
  display: flex;
  align-items: center;
  height: 52px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.seaqa-project-search .seaqa-project-search-filter-wrapper .seaqa-project-search-filter {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: 8px;
  padding: 2px 4px;
  border-radius: 3px;
}

.seaqa-project-search .seaqa-project-search-filter .seaqa-project-search-filter-value {
  display: inline-block;
  overflow: hidden;
  max-width: 120px;
  width: fit-content;
  margin-right: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seaqa-project-search .seaqa-project-search-filter .seaqa-icon-svg {
  height: 12px;
  width: 12px;
  color: var(--bs-sf-grey-text);
}

.seaqa-project-search .seaqa-project-search-filter-wrapper .seaqa-project-search-filter:hover {
  background-color: #efefef;
  cursor: pointer;
}

.seaqa-project-search .seaqa-project-search-result-empty-tip,
.seaqa-project-search .seaqa-project-search-value-empty-tip,
.seaqa-project-search .seaqa-project-search-loading-tip {
  flex: 1;
  width: 100%;
}

.seaqa-project-search .seaqa-project-search-result-list {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  margin: 8px 0;
}
