.seaqa-project-search-result-list-item {
  display: flex;
  width: 100%;
  padding: 12px;
  cursor: pointer;
}

.seaqa-project-search-result-list-item:hover {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.seaqa-project-search-result-list-item-icon {
  width: 20px;
  margin-right: 12px;
  margin-top: 2px;
}

.seaqa-project-search-result-list-item-icon .seaqa-project-connection-type-icon {
  height: 20px;
  width: 20px;
}

.seaqa-project-search-result-list-item-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}

.seaqa-project-search-result-list-item-content .seaqa-project-search-result-list-item-title {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.seaqa-project-search-result-list-item-content .seaqa-project-search-result-list-item-title .seaqa-project-search-result-list-item-title-content {
  flex: 1;
}

.seaqa-project-search-result-list-item-content .seaqa-project-search-result-list-item-score {
  flex-shrink: 0;
  height: 18px;
  padding: 0px 6px;
  background-color: var(--bs-border-tertiary-color);
  border-radius: 9px;
  font-size: 12px;
  color: #888;
}

.seaqa-project-search-result-list-item-content .seaqa-project-search-result-list-item-path {
  overflow: hidden;
  margin-top: 2px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--bs-sf-grey-text);
}

.seaqa-project-search-result-list-item-content .seaqa-project-search-result-list-item-time {
  margin-top: 2px;
  font-size: 13px;
  color: var(--bs-sf-grey-text);
}

.seaqa-project-search-result-list-item-content .seaqa-project-search-result-list-item-detail {
  display: -webkit-box;
  overflow: hidden;
  margin-top: 2px;
  font-size: 13px;
  line-height: 20px;
  text-overflow: ellipsis;
  color: var(--bs-sf-grey-text);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.seaqa-project-search-result-list-item-content .seaqa-project-search-result-list-item-detail pre {
  display: -webkit-box;
  overflow-y: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.seaqa-project-search-result-list-item-content .seaqa-project-search-result-list-item-detail svg {
  max-height: 20px;
  max-width: 20px;
}

.seaqa-project-search-result-list-item-detail-dialog .modal-body {
  overflow-y: auto;
  max-height: calc(100vh - 160px);
}

.seaqa-project-search-result-list-item-detail-dialog .modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seaqa-project-search-result-list-item-detail-dialog .seaqa-project-search-result-list-item-title-content {
  max-width: 500px;
  margin-right: 0.5rem;
}
