.search-filters-container {
  height: 48px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.search-filters-container .search-filter {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: 12px;
}

.search-filters-container .search-filter .search-filter-toggle,
.search-filter-menu .search-filter-toggle {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
}

.search-filters-container .search-filter .search-filter-toggle:hover,
.search-filter-menu .search-filter-toggle:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.search-filters-container .search-filter .filter-label {
  width: fit-content;
}

.search-filters-container .search-filter.filter-by-suffix-container .filter-label {
  max-width: 120px;
}

.search-filter-menu.filter-by-text-menu,
.search-filter-menu.filter-by-creator-menu {
  width: 280px;
}

.search-filter-menu.filter-by-date-menu {
  width: 300px;
}

.search-filter-menu.filter-by-suffix-menu {
  position: relative;
  width: 400px;
}

.search-filter-menu.filter-by-suffix-menu .clear-icon-right {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  margin: 9px;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  color: var(--bs-sf-grey-text);
}

.search-filter-menu.filter-by-suffix-menu .clear-icon-right:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.search-filter-menu {
  z-index: 1050;
}

.search-filter-menu .input-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 28px;
  margin: 8px 16px;
  padding: 4px 6px;
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 4px;
  gap: 4px;
}

.search-filter-menu .input-container.focus {
  background: var(--bs-body-bg);
  border-color: var(--bs-custom-select-focus-border-color);
  outline: 0;
  color: #495057;
}

.search-filter-menu .input-container .search-input-wrapper {
  display: flex;
  align-items: center;
  flex: 1 1 60px;
  min-width: 60px;
  width: auto;
  padding: 0px;
  background: transparent;
  border: none;
  border-radius: 4px;
  font-size: inherit;
  line-height: 20px;
}

.search-filter-menu .input-container input {
  display: block;
  height: 20px;
  width: 100%;
  padding: 0px;
  border: none;
  outline: none;
  resize: none;
}

.search-filter-menu .user-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
}

.search-filter-menu .user-item .user-avatar {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  border-radius: 50%;
}

.search-filter-menu .input-container .user-item {
  margin-right: 2px;
  padding: 0 4px 0 2px;
  background-color: var(--bs-border-tertiary-color);
  border-radius: 10px;
  font-size: 13px;
}

.filter-by-date-menu .filter-by-date-menu-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
}

.filter-by-date-menu .filter-by-date-menu-toolbar .filter-by-date-type-toggle {
  display: flex;
  align-items: center;
}

.filter-by-date-menu .filter-by-date-menu-toolbar .filter-by-date-type-toggle .filter-label {
  color: #7d7d7d;
}

.filter-by-date-menu .filter-by-date-menu-toolbar .delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  color: var(--bs-sf-grey-text);
  cursor: pointer;
}

.search-filters-container .search-filter-toggle.active:hover,
.search-filters-container .search-filter-toggle.highlighted:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.search-filters-container .search-filter-toggle.highlighted .seaqa-icon-svg,
.search-filters-container .search-filter-toggle.highlighted {
  font-weight: 500;
  color: var(--bs-sf-orange);
}

.search-filters-container .search-filter-toggle .seaqa-icon-svg {
  color: var(--bs-icon-color);
}
