.seaqa-support-portal-view {
  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 16px;
}

.seaqa-support-portal-view .seaqa-support-portal-tip-img,
.seaqa-support-portal-view .seaqa-support-portal-tip-img img {
  height: 240px;
  width: 400px;
}

.seaqa-support-portal-view .seaqa-support-portal-tip-title {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.seaqa-support-portal-view .seaqa-support-portal-tip-text {
  max-width: 800px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.seaqa-support-portal-view .seaqa-support-portal-tip-pages {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
}

.seaqa-support-portal-view .seaqa-support-portal-tip-pages button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  font-size: 14px;
}

.seaqa-support-portal-view .seaqa-support-portal-tip-pages button svg {
  height: 14px;
  width: 14px;
}
