.chat-header-title-content {
  font-weight: 500;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sea-qa-ai-ask-chats-header .chat-header-divider {
  height: 12px;
  width: 1px;
  background-color: #eaeaea;
  margin: 0 12px;
}

.sea-qa-ai-ask-chats-header .sea-qa-tooltip-icon-btn .sea-qa-icon-svg {
  color: var(--bs-icon-color);
}

.sea-qa-ai-ask-chats-header .chat-header-operation-wrapper {
  margin-left: auto;
}
