.chat-header-title-content {
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seaqa-ai-ask-chats-header .chat-header-divider {
  height: 12px;
  width: 1px;
  margin: 0 12px;
  background-color: var(--bs-border-tertiary-color);
}

.seaqa-ai-ask-chats-header .seaqa-tooltip-icon-btn .seaqa-icon-svg {
  color: var(--bs-icon-color);
}
