{% load seahub_tags i18n static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Authentication successful" %}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="icon" href="{{ MEDIA_URL }}{{ favicon_path }}">
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}{{ favicon_path }}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seaqa-ui.css?t=20260917" />
    <style>
        .sea-qa-authentication-icon-container,
        .sea-qa-authentication-icon-container svg {
            height: 64px;
            width: 64px;
            color: var(--bs-success);
        }
        .sea-qa-authentication-title {
            line-height: 24px;
        }
        .sea-qa-authentication-text {
            line-height: 22px;
            color: var(--bs-sf-grey-text);
        }
    </style>
</head>
<body class="d-flex flex-column h-100 w-100 o-auto align-items-center justify-content-center gap-1 p-4">
    <div class="sea-qa-authentication-icon-container d-flex align-items-center justify-content-center mb-3">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 1.5C24.0081 1.5 30.5 7.99187 30.5 16C30.5 24.0081 24.0081 30.5 16 30.5C7.99187 30.5 1.5 24.0081 1.5 16C1.5 7.99187 7.99187 1.5 16 1.5ZM14.5605 17.9395L10.5605 13.9395L8.43945 16.0605L14.4395 22.0605L24.4961 13.1211L22.5039 10.8789L14.5605 17.9395Z" fill="currentcolor"/>
        </svg>
    </div>
    <div class="sea-qa-authentication-title font-size-16 font-weight-500">
        {% trans 'Authentication successful' %}
    </div>
    <div class="sea-qa-authentication-text font-size-14">
        {% trans 'This window will close automatically in a few seconds' %}
    </div>
    <script src="{{ STATIC_URL }}scripts/i18n/{{ LANGUAGE_CODE }}/djangojs.js?v={{ version }}"></script>

    <script>
        setTimeout(function() {
            window.close();
        }, 5000);
    </script>
</body>
</html>