{% load seahub_tags i18n static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% block sub_title %}{% endblock %}{{ site_title }}</title>
<meta property="og:title" content={% if og_title %} "{{ og_title }}" {% else %} "SeaTicket" {% endif %} />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content={% if og_image %} "{{ og_image }}" {% else %} "{{ MEDIA_URL }}img/og-seaqa-logo.png" {% endif %} />
<meta property="og:description" content={% if og_description %} "{{ og_description }}" {% else %} "{% trans "SeaTicket - Solving issues with AI" %}" {% endif %} />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{% trans "File, Collaboration, Team, Organization" %}" />
{% block viewport %}
{% if request.is_mobile or request.is_tablet %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
{% else %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endif %}
{% endblock %}
{% block extra_ogp_tags %}{% endblock %}
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="shortcut icon" href="{{ MEDIA_URL }}{{ favicon_path }}" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/sea-qa-ui.css?t=20260130" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/customize.css?t=20260304" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seahub_python.css?t=20260306" />
{% if branding_css != '' %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{ branding_css }}" />{% endif %}
{% if enable_branding_css %}<link rel="stylesheet" type="text/css" href="{% url 'custom_css' %}" />{% endif %}
</head>
{% block extra_style %}
{% render_bundle 'downIcon' 'css' %}
{% render_bundle 'checkMarkIcon' 'css' %}
<style type="text/css">
html, body, #wrapper {
  height: 100%;
}

#wrapper {
  background: url('{{ MEDIA_URL }}{{login_bg_image_path}}') center top no-repeat scroll;
  background-size: cover;
  padding-top: 1px;
}

#lang {
  margin: 0;
}

#lang-context {
  font-weight: normal;
  font-size: 12px;
}

#lang-context-selector {
  text-align: left;
}

.sea-qa-container-fluid {
  padding-top: 70px;
  padding-bottom: 10px;
  overflow-y: auto;
}

.sea-qa-container-layout {
  padding: 0px;
  height: 100%;
}

.head-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem 0.75rem 1rem;
  width: fit-content;
}

{% block private_style %} {% endblock %}
</style>
{% endblock %}
<body>
  <div id="wrapper" class="{{ LANGUAGE_CODE }} d-flex flex-column">
    <div id="header" class="hide">
      {# for non-logged-in user #}
      <div id="lang">
        <a href="#" id="lang-context" data-lang="{{ LANGUAGE_CODE }}">{{ LANGUAGE_CODE|language_name_local|capfirst }} <span id="down-icon-wrapper"></span></a>
        <div id="lang-context-selector" class="sf-popover hide">
          <ul class="sf-popover-con">
            {% for LANG in LANGUAGES %}
            <li class="d-flex align-items-center justify-content-between">
              <a href="{% url 'i18n' %}?lang={{ LANG.0 }}">{{ LANG.1 }}</a>
              {% if LANG.0 == LANGUAGE_CODE %}
              <span id="check-mark-icon-wrapper"></span>
              {% else %}
              <span class="un-check-mark" id="un-check-mark-icon-wrapper"></span>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div id="main" class="container-fluid sea-qa-container-fluid sea-qa-container-layout">
      <div class="head-logo-container">
        <img class="login-logo" src="{{ MEDIA_URL }}{{ logo_path }}" title="{{ site_title }}" alt="logo" height="40" />
      </div>
      {% block main_content %}
      {% endblock %}
    </div>
  </div>
  <script type="text/javascript">
    var SEAFILE_GLOBAL = {
      csrfCookieName: '{{ CSRF_COOKIE_NAME }}'
    };
    var app = {
      ui: {
        currentDropdown: false,
        currentHighlightedItem: false,
        freezeItemHightlight: false
      }
    }
    </script>
    <script type="text/javascript" src="{% static "scripts/lib/jquery-3.7.0.min.js" %}" id="jquery"></script>{# 'id="jquery"' is for pdf file view with pdf2html #}
    <script type="text/javascript">
      {# for non-logged-in user #}
        (function() {
          var lang_context = $('#lang-context');
          var lang_selector = $('#lang-context-selector');

          lang_context.parent().css({'position':'relative'});

          lang_context.on('click', function() {
            lang_selector.toggleClass('hide');
            return false;
          });

          $(document).on('click', function(e) {
            var element = e.target || e.srcElement;
            if (element.id != 'lang-context-selector' && element.id != 'lang-context') {
              lang_selector.addClass('hide');
            }
          });

          lang_selector.on('click', 'li', function(e) {
            if ($(e.target).closest('a').length) return;
            var $a = $(this).find('a[href]').first();
            if (!$a.length) return;
            window.location.href = $a.attr('href');
          });
        })();
    </script>
    {% block extra_script %}{% endblock %}
    {% render_bundle 'downIcon' 'js' %}
    {% render_bundle 'checkMarkIcon' 'js' %}
</body>
</html>
