{% extends "base_clean.html" %}
{% load i18n %}
{% block sub_title %}{% trans "Signup" %} - {% endblock %}

{% block main_content %}
<div class="login-panel-outer-container mt-6">
    <div class="login-panel">
        <h1 class="login-panel-hd">{% trans "Signup" %}</h1>
        <div class="d-flex justify-content-center pb-4">
            <div id="personal" class="login-panel-register-type">
                <img src="{{MEDIA_URL}}img/personal.png" width="48" alt="" title="个人版" />
                <span class="mt-3">个人版</span>
            </div>
            <div id="org" class="login-panel-register-type ml-4">
                <img src="{{MEDIA_URL}}img/team.png" width="48" alt="" title="团队版" />
                <span class="mt-3">团队版</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}{{block.super}}
<script type="text/javascript">
$('#personal').on('click', function() {
    location.href = "{% if use_phone_registration_by_default %}{% url 'sms_register'%}{% else %}{% url 'registration_register'%}{% endif %}";
});
$('#org').on('click', function() {
    location.href = "{% if use_phone_registration_by_default %}{% url 'sms_org_register'%}{% else %}{% url 'org_register'%}{% endif %}";
});
</script>
{% endblock %}
