<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>SeaQA</title>

  <meta name="wpk-bid" content="dta_2_108878">
  <script>
    var isDingtalk = navigator && /DingTalk/.test(navigator.userAgent);
    var isProductEnv = window && window.location && window.location.host
      && window.location.host.indexOf('//127.0.0.1') === -1
      && window.location.host.indexOf('//localhost') === -1
      && window.location.host.indexOf('//192.168.') === -1
    if (isProductEnv) {
      !(function (c, i, e, b) {
        var h = i.createElement("script");
        var f = i.getElementsByTagName("script")[0];
        h.type = "text/javascript";
        h.crossorigin = true;
        h.onload = function () {
          c[b] || (c[b] = new c.wpkReporter({ bid: "dta_2_108878" }));
          c[b].installAll()
        };
        f.parentNode.insertBefore(h, f);
        h.src = e
      })(window, document, "https://g.alicdn.com/woodpeckerx/jssdk??wpkReporter.js", "__wpk");
    }
  </script>

  <style type="text/css">
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;
    }
  </style>

</head>

<body>
  <h3 class="center">正在登录...</h3>

  <script type="text/javascript" src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.13.42/dingtalk.open.js"></script>
  <script type="text/javascript">
    dd.ready(function () {
      var currentUrl = document.location.toString();
      var corpId = currentUrl.split("corpId=")[1];  // corpId
      dd.runtime.permission.requestAuthCode({
        corpId: corpId,
        onSuccess: function (info) {
          var code = info.code;  // code
          window.location.href="https://cloud.seatable.cn/org-dingtalk/oauth-callback/?authCode=" + code + '&corpId=' + corpId +'&logonFree=true';
        }
      });
    });
  </script>

</body>

</html>
