{% extends "base_for_react.html" %}
{% load seahub_tags i18n static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% block sub_title %}{% endblock %}{{ site_title }}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{% trans "File Collaboration Team Organization" %}" />
{% if request.is_mobile or request.is_tablet %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
{% else %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endif %}
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="shortcut icon" href="{{ MEDIA_URL }}{{ favicon_path }}" />
{% block mobile_style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/antd-mobile-v2.3.1.min.css" />
{% endblock %}
{% block extra_style %}
{% render_bundle 'dtableEditCollectionTableView' 'css' %}
{% endblock %}
</head>

<body>
    <div id="wrapper" class="{{ LANGUAGE_CODE }}"></div>
    <div id="modal-wrapper" class="{{ LANGUAGE_CODE }}"></div>
    {% block extra_script %}
    <script type="text/javascript">
        window.shared = {
            pageOptions: {
                dtableMetadata: '{{ dtable_metadata | escapejs }}',
                dtableName: '{{ dtable_name | escapejs }}',
                dtableUuid: '{{ dtable_uuid }}',
                workspaceID: '{{ workspace_id }}',
                formConfig: '{{ config | escapejs}}',
                dtableWebURL: '{{ dtable_web_service_url }}',
                collectionTableToken: '{{ token }}',
                shareType: '{{ share_type }}',
                sharedGroups: '{{ shared_groups | escapejs }}',
            }
        };
    </script>
    {% render_bundle 'dtableEditCollectionTableView' 'js' %}
    {% endblock %}
</body>
</html>
