{% extends 'base.html' %}
{% load i18n %}

{% block extra_style %}
<style type="text/css">
.head-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.universal-app-icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.univer-app-icon {
  font-size: 20px;
}

.universal-app-name {
  margin: 0 0.5rem;
  font-size: 28px;
  font-weight: 700;
  color: rgb(33, 37, 41);
}

.no-access-logo {
  margin-bottom: 1em;
}

.copyright-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#universal-app-icon {
  border: 0 !important;
  width: 40px;
  height: 40px;
}

</style>
{% endblock %}

{% block header_css_class %}d-none{% endblock %}
{% block main_content %}
<div class="head-logo-container">
  <div class='universal-app-icon-container'>
    {% if app_icon %}
      <img id="universal-app-icon" src="{{ MEDIA_URL }}img/app-universal/{{ app_icon }}.png"></img>
    {% elif use_custom_icon == True and custom_app_icon %}
      <img class="login-logo" src="{{ custom_app_icon }}" title="{{ site_title }}" alt="logo" height="40" />
    {% endif %}
  </div>
  <p class="universal-app-name"> {{app_name}} </p>
</div>
<div class="text-panel external-app-tip">
  <img class="no-access-logo" src="{{ MEDIA_URL }}{{ no_access_logo }}" title="{{ site_title }}" alt="no-access-logo" height="140" />
  <p>{{ error_msg }}</p>
</div>
<div class="copyright-container">
  {% trans "Powered by" %}
  <a href="{% if powered_by_link %}{{ powered_by_link }}{% else %}https://seatable.cn/{% endif %}">{% trans "SeaTable" %}</a>
</div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  var ICON_COLOR_MATRIX = [
    ['FACF55', 'F6AB2F'],
    ['F652B6', 'E91E63'],
    ['FE52E9', 'EB00B1'],
    ['B154FF', '7626FD'],
    ['D661E7', '972CB0'],
    ['5AF95A', '00D500'],
    ['66E16D', '4CAF50'],
    ['05E1FF', '02C0FF'],
    ['00E9E6', '00C9C7'],
    ['35BEFE', '1688FC'],
  ];
  var colors = ICON_COLOR_MATRIX[{{icon_color_index}}];
  var iconContainer = document.getElementsByClassName('universal-app-icon-container')[0];
  iconContainer.setAttribute('style', `background: linear-gradient(to left, #${colors[0]}, #${colors[1]})`);
</script>
{% endblock %}
