{% load i18n %}
<div style="background:#f2f2f2;padding:40px 0;">
<div style="max-width:600px; background:#fff; border: 1px solid #EEEEEE; border-radius:8px; margin:0 auto;">
    <img src="{{ url_base }}{{media_url}}{{logo_path}}" height="24" alt="" style="display:block;margin:20px 0 20px 32px;" />
    <div style="margin: 0 32px; padding: 48px 0px 64px 0px; min-height:300px; border-top:1px solid #EEEEEE;">
        {% block email_con %}{% endblock %}

        <p style="font-size:14px;color:#666666;line-height:22px;margin-top:48px;margin-bottom: 8px;">
        {% trans "Thanks for using our site!" %}
        </p>

        <p style="font-size:14px;color:#666666;line-height:22px;margin: 0px;">
        {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
        </p>
    </div>
</div>
</div>
