{% extends "base_for_small_panel.html" %}
{% load i18n %}
{% block sub_title %}{% trans "External link" %} - {% endblock %}
{% block main_content %}
    <div class="mt-9 mb-4 mx-auto small-panel">
    <p class="intro">{% trans "This base is password protected. Enter password to view it." %}</p>
    <form action="{% url view_name token %}" method="post" id="share-passwd-form">
        {% csrf_token %}
        <input type="hidden" name="token" value="{{ token }}" />
        <div class="form-group">
        <label for="password">{% trans "Password" %}</label>
        <input type="password" name="password" id="password" class="form-control" autofocus />
        </div>
        {% if err_msg %}
        <p class="error">{{ err_msg }}</p>
        {% endif %}
        <button type="submit" class="btn btn-primary sf-btn-submit">{% trans "Submit" %}</button>
    </form>
    </div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript">
</script>
{% endblock %}
