{% load seahub_tags i18n static %}
{% load render_bundle from webpack_loader %}
{% load pwa %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<title>{{ site_title }}</title>
{% progressive_web_app_meta %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
{% if request.is_mobile or request.is_tablet %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
{% else %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endif %}
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="keywords" content="{% trans "File, Collaboration, Team, Organization" %}" />
<link rel="icon" href="{{ MEDIA_URL }}{{ favicon_path }}">
<link rel="apple-touch-icon" href="{{ MEDIA_URL }}{{ favicon_path }}">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/project-icon.css?v={{ version }}" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/sea-qa-ui.css?t=20260130" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/customize.css?t=20260205" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seahub_react.css?t=20260122" />
{% render_bundle 'home' 'css' %}
{% if branding_css != '' %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{ branding_css }}" />{% endif %}
{% if enable_branding_css %}<link rel="stylesheet" type="text/css" href="{% url 'custom_css' %}" />{% endif %}
</head>

<body>
    <div id="wrapper" class="{{ LANGUAGE_CODE }}"></div>
    <div id="modal-wrapper" class="{{ LANGUAGE_CODE }}"></div>

<script type="text/javascript">
    window.app = {
        config: {
            version: '{{ version }}',
            siteRoot: '{{ SITE_ROOT }}',
            loginUrl: '{{ LOGIN_URL }}',
            mediaUrl: '{{ MEDIA_URL }}',
            lang: '{{ LANGUAGE_CODE }}',
            logoPath: '{{ logo_path }}',
            logoWidth: '{{ logo_width }}',
            logoHeight: '{{ logo_height }}',
            isPro: '{{ is_pro }}'
        },
        pageOptions: {
            server: '{{ service_url }}',
            csrfToken: "{{ csrf_token }}",
            name: "{{request.user.username|email2nickname|escapejs}}",
            userId: "{{request.user.id|escapejs}}",
            username: "{{request.user.username|escapejs}}",
            contactEmail: "{{request.user.username|email2contact_email|escapejs}}",
            avatarURL: '{{ avatar_url }}',

            canAddGroup: {% if user.permissions.can_add_group %} true {% else %} false {% endif %},
            canAddProject: {% if user.permissions.can_add_project %} true {% else %} false {% endif %},
            canUseAdvancedPerms: {% if user.permissions.can_use_advanced_permissions %} true {% else %} false {% endif %},
            canUseAdvancedCustomization: {% if user.permissions.can_use_advanced_customization %} true {% else %} false {% endif %},

            cloudMode: {% if cloud_mode %} true {% else %} false {% endif %},
            isOrgContext: {% if org is not None %} true {% else %} false {% endif %},
            orgName: {% if org is not None %} '{{ org.org_name|escapejs }}' {% else %} '' {% endif %},
            orgID: {% if org is not None %} '{{ org.org_id|escapejs }}' {% else %} -1 {% endif %},
            langCode: "{{LANGUAGE_CODE|escapejs}}",
            customNavItems: {% if custom_nav_items %} JSON.parse('{{ custom_nav_items | escapejs }}') {% else %} {{'[]'}} {% endif %},
            hasBoundPhone: {% if has_bound_phone %} true {% else %} false {% endif %},
            disableAddingPersonalProjects: {% if disable_adding_personal_projects %} true {% else %} false {% endif %},
            trashCleanExpireDays: '{{trash_clean_expire_days}}',
        }
     };
    var performance = window.performance;
    var timing = performance.timing;
    console.log(timing.responseStart - timing.navigationStart);
</script>
<script src="{{ STATIC_URL }}scripts/i18n/{{ LANGUAGE_CODE }}/djangojs.js?v={{ version }}"></script>
<script src="{{ MEDIA_URL }}js/init-scroll-bar.js" ></script>
{% render_bundle 'home' 'js' %}
</body>
</html>

