{% load i18n %}
<style>
.privacy-policy-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  line-height: 48px;
  background-color: #f7f7f5;
  border: 1px solid var(--bs-border-secondary-color);
  border-top: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.privacy-policy-link a:hover {
  color: #e16c07;
}

.privacy-policy-link-text {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
}

.privacy-policy-link-split {
  width: 1px;
  background-color: var(--bs-border-tertiary-color);
  height: 12px;
  margin: 0px 16px;
}
</style>

{% if privacy_policy_link or terms_of_service_link %}
	<div class="privacy-policy-link">
		{% if privacy_policy_link and terms_of_service_link %}
			<a href="{{ privacy_policy_link }}" class="privacy-policy-link-text">{% trans "Privacy policy" %}</a>
			<span class="privacy-policy-link-split"></span>
			<a href="{{ terms_of_service_link }}" class="privacy-policy-link-text">{% trans "Terms of service" %}</a>
		{% elif privacy_policy_link %}
			<a href="{{ privacy_policy_link }}" class="privacy-policy-link-text">{% trans "Privacy policy" %}</a>
		{% elif terms_of_service_link %}
			<a href="{{ terms_of_service_link }}" class="privacy-policy-link-text">{% trans "Terms of service" %}</a>
		{% endif %}
	</div>
{% endif %}
