{% load i18n %}
<style>
.privacy-policy-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  gap: 8px;
}

.privacy-policy-link a:hover {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04)
}

.privacy-policy-link-text {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  line-height: 22px;
  height: 30px;
}
</style>

{% if privacy_policy_link or terms_of_service_link %}
<style>
.login-panel-wrapper .login-panel-bottom-panel-layout {
  justify-content: space-between !important;
}
</style>
{% endif %}

{% if privacy_policy_link or terms_of_service_link %}
  <div class="privacy-policy-link">
	  {% if privacy_policy_link and terms_of_service_link %}
		  <a href="{{ privacy_policy_link }}" class="privacy-policy-link-text">{% trans "Privacy" %}</a>
		  <a href="{{ terms_of_service_link }}" class="privacy-policy-link-text">{% trans "Terms" %}</a>
	  {% elif privacy_policy_link %}
		  <a href="{{ privacy_policy_link }}" class="privacy-policy-link-text">{% trans "Privacy" %}</a>
	  {% elif terms_of_service_link %}
		  <a href="{{ terms_of_service_link }}" class="privacy-policy-link-text">{% trans "Terms" %}</a>
	  {% endif %}
  </div>
{% endif %}
