{% load seahub_tags i18n static %}
{% load render_bundle from webpack_loader %}
{% load pwa %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<title>{{ project_name }}</title>
{% progressive_web_app_meta %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
{% if request.is_mobile or request.is_tablet %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
{% else %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endif %}
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="keywords" content="{% trans "File, Collaboration, Team, Organization" %}" />
<link rel="icon" href="{{ MEDIA_URL }}{{ favicon_path }}">
<link rel="apple-touch-icon" href="{{ MEDIA_URL }}{{ favicon_path }}">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/sea-qa-ui.css?t=20260402" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/customize.css?t=20260304" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/project-icon.css?t=20250723" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seafile-editor-font.css?t=20260330" />
{% render_bundle 'project' 'css' %}
</head>

<body>
    <div id="wrapper" class="{{ LANGUAGE_CODE }}"></div>
    <div id="modal-wrapper" class="{{ LANGUAGE_CODE }}"></div>
    <div id="widget-wrapper" class="{{ LANGUAGE_CODE }}"></div>

<script type="text/javascript">
    window.app = {
        config: {
            version: '{{ version }}',
            siteRoot: '{{ SITE_ROOT }}',
            mediaUrl: '{{ media_url }}',
            lang: '{{ LANGUAGE_CODE }}',
            loginUrl: '{{ LOGIN_URL }}',
            faviconPath: '{{ favicon_path }}',
        },
        pageOptions: {
            server: '{{ service_url }}',
            fileServerRoot: '{{ file_server_root }}',
            csrfToken: "{{ csrf_token }}",
            name: "{{request.user.username|email2nickname|escapejs}}",
            username: "{{request.user.username|escapejs}}",
            contactEmail: "{{request.user.username|email2contact_email|escapejs}}",
            avatarURL: '{{ avatar_url }}',
            isOrgStaff: {% if is_org_staff %} true {% else %} false {% endif %},
            isProjectAdmin: {% if is_project_admin %} true {% else %} false {% endif %},
            permission: '{{ permission }}',
            projectName: '{{ project_name|escapejs }}',
            workspaceID: '{{ workspace_id }}',
            projectUuid: '{{ project_uuid }}',
            icon: '{{ icon|escapejs }}',
            settings: '{{ settings|escapejs }}',
            langCode: "{{LANGUAGE_CODE|escapejs}}",
            llmModels: {{ llm_models|safe }},
        }
     };
</script>
<script src="{{ STATIC_URL }}scripts/i18n/{{ LANGUAGE_CODE }}/djangojs.js?v={{ version }}"></script>
<script src="{{ MEDIA_URL }}js/init-scroll-bar.js" ></script>
{% render_bundle 'project' 'js' %}
</body>
</html>
