{% extends 'file_view_react.html' %}
{% load render_bundle from webpack_loader %}
{% load seahub_tags i18n static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}sdoc-editor/sdoc-editor-font.css">
{% render_bundle 'viewFileSdoc' 'css' %}
{% endblock %}

{% block render_bundle %}
<script src="{{ MEDIA_URL }}js/init-scroll-bar.js"></script>
<script type="text/javascript">
  window.app.pageOptions = {
        // repoID: '{{ repo.id }}',
        name: '{{request.user.username|email2nickname|escapejs}}',
        username: '{{ request.user.username }}',

        isPro: '{{ is_pro }}',
        docPath: '{{ path|escapejs }}',
        docName: '{{ filename|escapejs }}',
        docUuid: '{{ file_uuid }}',
        assetsUrl: '{{ assets_url }}',
        seadocAccessToken: '{{ seadoc_access_token }}',
        seadocServerUrl: '{{ seadoc_server_url }}',
        filePerm: '{{ file_perm }}',
        canEditFile: {% if can_edit_file %} true {% else %} false {% endif %},
    };
</script>
{% render_bundle 'viewFileSdoc' 'js' %}
{% endblock %}
