{% extends 'base.html' %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/share_form_permission_error.css" />
{% endblock %}

{% block main_content %}
<div class="text-panel share-form-no-permission">
    <img class="model-no-permission-img" src="{{ MEDIA_URL }}img/seatable_share_form_no_permission.png" alt="" />
    <div class="requires-login-tip">{{ error_msg }}</div>
    {% if url %}
        <a id="re-login" class="log-in-immediately btn btn-primary btn-block" href="{{ SITE_ROOT }}accounts/login?next={{ url }}">{{ log_in }}</a>
    {% endif %}
</div>
{% endblock %}
