.seaqa-home-header {
  height: 56px;
  display: flex;
}

#main {
  flex: 1;
  display: flex;
  min-height: 0;
}

#main .home-page-resize-bar,
#main .home-page-resize-bar .resize-bar-content {
  background-color: var(--bs-body-third-bg);
}

.seaqa-nav-list .seaqa-nav-item {
  line-height: 38px;
  border-radius: 4px;
  padding: 0 12px;
}

.seaqa-nav-list .seaqa-nav-item .seaqa-nav-link {
  margin: 0;
  width: 100%;
  color: var(--bs-icon-secondary-color);
  border: none;
  padding: 0;
}

.seaqa-nav-list .seaqa-nav-item .seaqa-nav-link:hover {
  background-color: var(--bs-body-secondary-bg);
}

.seaqa-nav-list .seaqa-nav-link .nav-icon {
  margin-right: 0.5rem;
}

.seaqa-nav-list .seaqa-nav-link .nav-text {
  color: var(--bs-body-color);
  flex: 1;
  font-size: 16px;
}

.seaqa-nav-list .nav-toggle-icon {
  width: 20px;
  height: 20px;
  color: var(--bs-icon-color);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.seaqa-nav-list .nav-toggle-icon-spin {
  transform: rotate(90deg);
}

.seaqa-nav-list .nav-toggle-container {
  position: relative;
  width: 24px !important;
}

.seaqa-nav-list .nav-toggle-container:hover {
  background-color: var(--bs-hover-tertiary-bg) !important;
  cursor: pointer;
}

.seaqa-nav-list .nav-toggle-container .nav-toggle-icon {
  width: 12px !important;
  height: 12px !important;
}

.seaqa-nav-list .seaqa-nav-item.projects-nav .seaqa-nav-link:hover {
  background-color: unset;
}

.seaqa-nav-list .projects-nav:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.seaqa-nav-list .projects-nav .nav-link {
  width: calc(100% - 24px) !important;
}

.seaqa-nav-list .seaqa-nav-link .seaqa-icon-svg {
  height: 20px;
  width: 20px;
}

.project-center .cur-view-header {
  line-height: 50px;
  font-size: 1.5rem;
  padding: 0 16px;
}

.project-center .cur-view-header .cur-view-title {
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.workspace {
  margin-top: 30px;
}

.workspace:last-child {
  margin-bottom: 150px;
}

@media (max-width: 767px) {
  .workspace:last-child {
    margin-bottom: 30px;
  }
}

.workspace .workspace-name {
  font-weight: 400;
  padding: 2px;
  border-bottom: 2px solid #e3e3e3;
  font-size: 1rem;
}

.workspace .project-workspace-icon {
  margin-right: 6px;
  color: var(--bs-icon-secondary-color);
  margin-top: -1px;
}

.add-workspace {
  color: var(--bs-icon-secondary-color);
}

.add-workspace:hover {
  color: var(--bs-body-color);
}

.add-project-dropdown-menu {
  flex: 1;
}

.add-project-dropdown-menu .dropdown-menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  cursor: pointer;
}

.search .project-item,
.workspace .project-item-container .project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search .project-item {
  height: 48px;
  width: 100%;
  justify-content: left;
  padding: 0px 8px;
  border-radius: 4px;
}

.search .project-item:hover {
  background-color: var(--bs-body-secondary-bg);
}

.search .project-item-selected,
.search .project-item-selected:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.workspace .project-item-container .project-item .project-item-wrapper {
  padding-left: 12px;
}

.workspace .project-item-container .virtual-table {
  justify-content: flex-start;
}

.project-item {
  cursor: pointer;
}

.project-item .icon-add {
  color: var(--bs-icon-secondary-color);
}

.project-item .project-name {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.project-item .project-item-icon-more-toggle-btn {
  margin-top: -6px;
  margin-right: -6px;
}

.project-item .project-item-icon-more-toggle-btn.seaqa-icon-btn.active,
.project-item .project-item-icon-more-toggle-btn.seaqa-icon-btn:active,
.project-item .project-item-icon-more-toggle-btn.seaqa-icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.workspace .project-item span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.workspace .dataset-mobile-item .dataset-mobile-name a,
.workspace .project-item .a-simulate,
.workspace .table-mobile-item .a-simulate,
.workspace .table-mobile-item a,
.workspace .project-item a {
  color: var(--bs-body-color) !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-mobile-name .table-href,
.workspace .project-name .table-href {
  display: inline-block;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.workspace .project-item .project-dropdown-menu {
  width: 70px;
  text-align: right;
  position: relative;
  flex: 1;
}

.workspace .project-item .project-dropdown-menu .project-dropdown-menu-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-item-more-operation i {
  color: var(--bs-icon-color);
  cursor: pointer;
  padding: 4px;
}

.project-item-more-operation a:hover {
  text-decoration: none;
}

.project-name .share-tip,
.table-mobile-name .share-tip {
  display: inline-block;
  height: 20px;
  padding: 0 6px;
  margin-left: 6px;
  border: 1px solid var(--bs-hover-tertiary-bg);
  border-radius: 15px;
  font-size: 12px;
  color: var(--bs-sf-grey-text);
  background-color: #fff;
  user-select: none;
}

.project-name .star,
.table-mobile-name .star {
  padding-left: 8px;
  color: var(--bs-icon-color);
}

.workspace-header .group-admin {
  padding: 1px 6px 1px 6px;
  margin-left: 8px;
  background-color: #f4a74c;
  color: #fff;
  height: 20px;
  font-size: 14px;
  border-radius: 2px;
}

.table-mobile-name .table-href {
  display: inline-block;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-item-wrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem 0px;
  width: calc(100% - 70px);
}

/* main page font size */
.project-center .project-org-title .project-org-icon {
  height: 20px;
  width: 20px;
}

.project-center .project-org-title .project-org-title-left {
  flex: 1;
  padding-right: 16px;
  display: flex;
  align-items: center;
  height: 100%;
}

.workspace .workspace-header {
  font-size: 16px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  max-width: 100%;
  width: fit-content;
}

.project-side-nav,
.side-panel-footer .side-nav-footer {
  font-size: 15px;
}

.project-item .project-name {
  font-size: 14px;
}
