.seaqa-email-reply-to {
  width: 100%;
  display: flex;
  gap: 8px;
  border-bottom: 1px solid var(--bs-border-color);
  padding: 8px 0;
}

.seaqa-email-reply-to.focus:not(.readonly) {
  border-color: var(--bs-input-focus-border-color);
}

.seaqa-email-reply-to .seaqa-email-reply-to-title {
  height: 32px;
  line-height: 32px;
  min-width: 48px;
  flex-shrink: 0;
}

.seaqa-email-reply-to .seaqa-email-reply-to-users {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  min-height: 32px;
  gap: 8px;
}

.seaqa-email-reply-to .seaqa-email-reply-to-users .seaqa-email-to-user {
  height: 32px;
  max-width: 240px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 4px;
  color: var(--bs-body-color);
  background-color: var(--bs-body-third-bg);
  flex-shrink: 0;
  cursor: pointer;
  gap: 4px;
}

.seaqa-email-reply-to .seaqa-email-reply-to-users .seaqa-email-to-user.invalid {
  color: var(--bs-text-danger);
}

.seaqa-email-reply-to .seaqa-email-to-user .seaqa-email-to-user-remove-btn:hover {
  background-color: var(--option-bg-color);
}

.seaqa-email-reply-to .seaqa-email-reply-to-users .seaqa-email-to-user-input {
  padding: 0;
  height: 32px;
  border: none;
  border-radius: 0;
  flex: 1;
  min-width: 300px;
}

.seaqa-email-reply-to .seaqa-email-reply-to-expand-btn-container {
  height: 32px;
}

/* small */
.seaqa-email-reply-to.s .seaqa-email-reply-to-title {
  height: 24px;
  line-height: 24px;
}

.seaqa-email-reply-to.s .seaqa-email-reply-to-users {
  min-height: 24px;
}

.seaqa-email-reply-to.s .seaqa-email-reply-to-users .seaqa-email-to-user,
.seaqa-email-reply-to.s .seaqa-email-reply-to-expand-btn-container {
  height: 24px;
}

.seaqa-email-reply-to.s .seaqa-email-reply-to-users .seaqa-email-to-user {
  padding: 0 8px;
}
