.workflow-app-nodes-content .workflow-paths-container {
  height: calc(100% - 50px);
  overflow: scroll;
}

.workflow-app-nodes-content .workflow-paths-content {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

/* workflow node */
.workflow-app-nodes-content .workflow-app-node {
  border: 1px solid rgb(225, 227, 229);
  background-color: rgb(247, 249, 254);
  border-radius: 3px;
  cursor: pointer;
  padding: 4px 4px 4px 8px;
  flex-shrink: 0;
}

.workflow-app-nodes-content .workflow-app-node.workflow-app-empty-node {
  background-color: unset;
  border: unset;
  cursor: default;
}

.workflow-app-nodes-content .workflow-app-node.selected {
  border: 1px solid rgb(118, 187, 235);
  background-color: rgb(227, 246, 255);
}

.workflow-app-nodes-content .workflow-app-node.editing-name.selected {
  border: none;
}

.workflow-app-nodes-content .workflow-app-node .workflow-app-node-name-content {
  height: 100%;
  flex: 1;
  text-align: left;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* rename */
.workflow-app-nodes-content .workflow-app-node .rename-workflow-node {
  height: 100%;
  width: 100%;
  padding: 4px 4px 4px 8px;
}

/* line: route */
.workflow-app-nodes-content .workflow-path-line,
.workflow-app-nodes-content .workflow-path-line-arrow-left,
.workflow-app-nodes-content .workflow-path-line-arrow-right {
  background-color: #d9d9d9;
}

.workflow-app-nodes-content .workflow-path-line-group-selected .workflow-path-line,
.workflow-app-nodes-content .workflow-path-line-group-selected .workflow-path-line-arrow-left,
.workflow-app-nodes-content .workflow-path-line-group-selected .workflow-path-line-arrow-right {
  background-color: rgb(30, 184, 172);
}

.workflow-app-nodes-content .workflow-path-line-arrow-left,
.workflow-app-nodes-content .workflow-path-line-arrow-right {
  height: 10px;
  width: 3px;
  position: absolute;
  border-radius: 1.5px;
}

.workflow-app-nodes-content .workflow-path-line-arrow-left {
  transform: rotate(-45deg);
  bottom: -1px;
  left: 1px;
}

.workflow-app-nodes-content .workflow-path-line-arrow-right {
  transform: rotate(-135deg);
  top: -9px;
  left: 8px;
}

/* add node button */
.workflow-app-nodes-content .workflow-path-line-add-node {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  position: absolute;
  left: calc(50% - 9.5px);
  top: 17px;
  text-align: center;
  line-height: 20px;
}

.workflow-app-nodes-content .workflow-path-line-add-node:hover {
  background-color: #aaa;
  cursor: pointer;
}

.workflow-app-nodes-content .workflow-path-line-add-node .workflow-path-line-add-horizontal {
  height: 10px;
  width: 2px;
  position: absolute;
  left: 9px;
  top: 5px;
  background-color: #fff;
}

.workflow-app-nodes-content .workflow-path-line-add-node .workflow-path-line-add-vertical {
  height: 2px;
  width: 10px;
  position: absolute;
  top: 9px;
  left: 5px;
  background-color: #fff;
}

.workflow-path-line-add-tooltip.tooltip.show {
  opacity: 0.9;
}

/* outside nodes */
.workflow-app-nodes-content .workflow-paths-container .workflow-outside-nodes {
  flex-direction: column;
  margin-top: 40px;
}

/* node direction: TB */
.workflow-app-nodes-content .workflow-paths-TB-container .workflow-paths-content {
  flex-wrap: nowrap;
}

.workflow-app-nodes-content .workflow-paths-container .workflow-outside-nodes {
  min-width: 100%;
}

.workflow-app-nodes-content .workflow-paths-TB-container .path-item {
  height: fit-content;
  flex-direction: column;
}
