.workflow-app-container .workflow-app-header .logo img,
.workflow-app-container .workflow-app-header .option-item {
  margin-right: 10px;
}

.workflow-app-container .workflow-app-header .option-item:last-child {
  margin-right: 0;
}

.workflow-app-container .workflow-app-header .logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
  overflow: hidden;
}

.workflow-app-container .workflow-app-header .workflow-app-icon-content {
  height: 24px;
  width: 24px;
  border-radius: 6px;
  overflow: hidden;
}

.workflow-app-container .workflow-app-header .dtable-icon-color-white {
  color: #fff;
}

.workflow-app-container .workflow-app-header .tip-message {
  margin-left: 12px;
  font-size: 12px;
  color: #666666;
  width: max-content;
  white-space: nowrap;
}

.nav-tabs .nav-link {
  border-bottom: 0.125rem solid transparent;
}
