.workflow-end-remark-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.workflow-end-remark-container .workflow-end-remark-content {
  max-width: 80%;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 20px;
  overflow: hidden;
  word-break: break-all;
}
