.seaqa-ai-chat-customize-more-definition {
  width: 40px;
}

.seaqa-ai-chat-customize-more-definition .more-definition-content {
  align-self: center;
  height: 20px;
  line-height: 20px;
  transform: translateY(51px);
}

.seaqa-ai-chat-customize-definitions-popover .popover {
  left: 0;
  position: absolute;
  z-index: 9999;
  max-width: fit-content;
  min-height: 160px;
  width: fit-content;
}

.seaqa-ai-chat-customize-definitions-popover .seaqa-ai-chat-customize-definitions-container {
  display: flex;
  flex-direction: column;
}

.seaqa-ai-chat-customize-definitions-popover .seaqa-ai-chat-customize-definitions-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 32px;
  width: 100%;
  padding: 0 12px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.seaqa-ai-chat-customize-definitions-popover .seaqa-ai-chat-customize-definitions-title .seaqa-ai-chat-customize-definitions-index {
  flex: 1;
  font-size: 14px;
  text-align: center;
}

.seaqa-ai-chat-customize-definitions-popover .seaqa-ai-chat-customize-definitions-title .seaqa-ai-chat-customize-definitions-index .sources-count-text {
  color: var(--bs-body-secondary-color);
}

.seaqa-ai-chat-customize-definitions-popover .seaqa-ai-chat-customize-definitions-title .seaqa-ai-chat-customize-definitions-index-btn {
  height: 24px;
  width: 24px;
}

.seaqa-ai-chat-customize-definitions-popover .seaqa-ai-chat-customize-definitions-title .seaqa-ai-chat-customize-definitions-index-btn:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.seaqa-ai-chat-customize-definitions-popover .seaqa-ai-chat-customize-definitions-title .seaqa-ai-chat-customize-definitions-index-btn .seaqa-icon-svg {
  height: 14px;
  width: 14px;
}

.seaqa-ai-chat-customize-definitions-popover .seaqa-ai-chat-customize-definition {
  height: 152px;
  width: 100%;
  margin: 0 !important;
  padding-top: 12px;
  background-color: inherit;
  box-shadow: none;
}

.seaqa-ai-chat-customize-definitions-popover .seaqa-ai-chat-customize-definition:hover {
  background-color: inherit;
}

.seaqa-ai-chat-customize-definitions-popover .seaqa-ai-chat-customize-definition-content-divider {
  border-bottom: 1px solid var(--bs-border-secondary-color);
}
