.collaborator-editor-popover .collaborator-editor-selected-container {
  background-color: #f6f6f6;
  border-bottom: 1px solid #dde2ea;
  border-radius: 3px 3px 0 0;
  min-height: 32px;
  padding: 5px 10px 3px;
}

.collaborator-editor-popover .collaborator-editor-search-wrapper {
  padding: 12px 12px 8px 12px;
}

.collaborator-editor-popover .collaborator-editor-content {
  max-height: 200px;
  overflow: auto;
  padding: 0 12px 12px;
}

.collaborator-editor-popover .collaborator-editor-content.search-enabled {
  padding-bottom: 12px;
}


.collaborator-editor-popover .collaborator-editor-content .collaborator-editor-no-results-tip {
  min-height: 140px;
  justify-content: flex-start;
}

.collaborator-editor-popover .collaborator-editor-content .collaborator-editor-no-results-tip .no-items-img-tip {
  height: 48px !important;
  width: 48px !important;
  margin-top: 24px;
  margin-bottom: 0;
}

.collaborator-editor-popover .collaborator-editor-content .collaborator-editor-option {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 32px;
  width: 100%;
  padding: 0 12px;
}

.collaborator-editor-popover .collaborator-editor-content .collaborator-editor-option:hover,
.collaborator-editor-popover .collaborator-editor-content .collaborator-editor-option.active {
  background-color: var(--option-bg-color);
  cursor: pointer;
  border-radius: 4px;
}

.collaborator-editor-popover .collaborator-editor-option .collaborator {
  background-color: unset;
  flex: 1;
  padding: 0;
  margin-right: 0;
}

.collaborator-editor-popover .collaborator-editor-option .option-editor-option-check-btn,
.collaborator-editor-popover .collaborator-editor-option .option-editor-option-check-btn .sea-qa-icon-svg {
  height: 14px;
  width: 14px;
}
