.seaqa-project-settings-tabs {
  border-bottom: 1px solid var(--bs-border-secondary-color);
  margin: 0 16px;
  width: calc(100% - 32px);
}

.seaqa-project-settings-body-container {
  overflow-y: auto;
  width: 100%;
  padding: 16px;
  gap: 24px;
}
