.seaqa-ai-ask-chat.seaqa-ai-ask-chat-thinking .seaqa-ai-ask-message-content {
  border: unset;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  min-height: unset;
  height: fit-content;
}

.seaqa-ai-ask-chat.seaqa-ai-ask-chat-thinking .seaqa-loading-tip {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.seaqa-ai-ask-chat.seaqa-ai-ask-chat-thinking .seaqa-tip-default {
  font-size: 12px;
}
