.seaqa-ai-chat-customize-link-reference {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 4px;
  background-color: var(--bs-border-tertiary-color);
  border-radius: 50%;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--bs-body-secondary-color);
  cursor: pointer;
}
