{% extends "base_for_react.html" %}
{% load render_bundle from webpack_loader %}

{% block extra_style %}
{% render_bundle 'orgAdmin' 'css' %}
{% endblock %}

{% block extra_script %}
   <script type="text/javascript">
     window.org = {
       pageOptions: {
         orgID: '{{ org_id }}',
         groupID: '{{ group_id }}',
         invitationLink: '{{ invitation_link|escapejs }}',
         enableMultiSAML: {% if enable_multi_saml %} true {% else %} false {% endif %},
         canUseSAML: {% if can_use_saml %} true {% else %} false {% endif %},
         enable_org_logo: {% if enable_org_logo %} true {% else %} false {% endif %},
         orgMemberQuotaEnabled: '{{ org_member_quota_enabled }}',
         displayTwoFactorAuth: {% if display_two_factor_auth %} true {% else %} false {% endif %},
         twoFactorAuthEnabled: {% if two_factor_auth_enabled %} true {% else %} false {% endif %},
       }
      };
      window.app.pageOptions = Object.assign(window.app.pageOptions, {
        isOrgContext: true,
        orgName: '{{ org_name }}',
        trashCleanExpireDays: '{{trash_clean_expire_days}}',
        canUseAdvancedCustomization: {% if user.permissions.can_use_advanced_customization %} true {% else %} false {% endif %},
      });
    </script>

    {% render_bundle 'orgAdmin' 'js' %}
{% endblock %}
