{% extends "base_clean.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% block sub_title %}{% trans "Signup" %} - {% endblock %}

{% block main_content %}
<div class="login-panel-outer-container">
  <div class="org-register-panel-wrapper">
    <div class="org-register-panel-content">
      <div class="org-register-panel-header d-flex justify-content-center align-items-center">
        <div class="org-register-title">{% trans "Sign up" %}</div>
      </div>
      <form class="login-form-wrapper" action="" method="post" id="signup-form">{% csrf_token %}
        <input id="org_name" type="text" name="org_name"  placeholder="{% trans "Team name" %}" value="{{ form.org_name.value|default_if_none:"" }}" class="input form-item-input" />
        {{ form.org_name.errors }}

        {% if form.name.field.required %}
        <input id="name" type="text" placeholder="{% trans "Admin name" %}" name="name" maxlength="255" value="{{ form.name.value|default_if_none:"" }}" class="input form-item-input" />
        {{ form.name.errors }}
        {% endif %}

        <input id="email" type="text" name="email" placeholder="{% trans "Admin email" %}" maxlength="255" value="{{ form.email.value|default_if_none:"" }}" class="input form-item-input" />
        {{ form.email.errors }}

        <div class="position-relative">
          <input id="password1" type="password" placeholder="{% trans "Password" %}" name="password1" value="" class="input form-item-input" />
          {{ form.password1.errors }}
          <div class="password-toggle" id="eye-icon-wrapper">
            <span class="eye-icon seaqa-html-icon-svg">{% include "svg/eye.svg" %}</span>
            <span class="eye-slash-icon seaqa-html-icon-svg">{% include "svg/eye-slash.svg" %}</span>
          </div>
        </div>
        <input id="password2" type="password" placeholder="{% trans "Confirm password" %}" name="password2" value="" class="input form-item-input" />
        {{ form.password2.errors }}

        {{ form.non_field_errors }}
        <div class="form-check mt-1 d-flex align-items-center">
          <input type="checkbox" id="newsletter" name="newsletter" class="form-check-input mr-2 mt-0">
          <label for="newsletter">{% trans "Subscribe to our newsletter" %}</label>
        </div>
        <button id="org-register-submit" type="submit" class="submit btn btn-primary btn-block">{% trans "Submit" %}</button>
      </form>
    </div>
    <div class="login-panel-bottom-container">
      {# language will be shown here #}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.login-panel-bottom-container').append($('#lang').removeClass('fright'));

$("body").on('click', '.password-toggle', function(){
    var $pass1 = document.getElementById("password1");
    var $pass2 = document.getElementById("password2");
    var toggle = $(this).toggleClass("password-show");
    [$pass1, $pass2].forEach(function($passwords) {
        if ($passwords.type === "password") {
            $passwords.type = "text";
            toggle.toggleClass()
        } else {
            $passwords.type = "password";
        }
    })
});

$('#lang-context').on('click', function() {
    var langTop = $('#lang').offset().top;
    var langSelectorTop;
    var langSelectorHeight = $('#lang-context-selector').outerHeight();
    if (langSelectorHeight > langTop) {
        langSelectorTop = '-' + (langTop - 4) + 'px';
    } else {
        langSelectorTop = '-' + (langSelectorHeight + 4) + 'px';
    }
    $('#lang-context-selector').css({
        'top': langSelectorTop,
        'left': 0
    });
    $('#lang-context-selector .sf-popover-con').css({
        'max-height': $('#lang').offset().top - 10
    });
});
</script>
{% endblock %}
