{% extends 'base_for_react.html' %}
{% load seahub_tags avatar_tags i18n %}
{% load render_bundle from webpack_loader %}

{% block sub_title %}{% trans "Personal settings" %} - {% endblock %}

{% block extra_style %}
{% render_bundle 'settings' 'css' %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
// overwrite the one in base_for_react.html
window.app.pageOptions = {
  avatarURL: '{% avatar_url request.user 160 %}',
  csrfToken: '{{ csrf_token }}',

  enableUpdateUserInfo: {% if ENABLE_UPDATE_USER_INFO %} true {% else %} false {% endif %},
  enableMemberModifyName: {% if enable_member_modify_name %} true {% else %} false {% endif %},
  nameLabel: "{% trans "Name:" context "true name" %}",
  enableUserSetContactEmail: {% if ENABLE_USER_SET_CONTACT_EMAIL %} true {% else %} false {% endif %},
  enableUserSetName: {% if ENABLE_USER_SET_NAME %} true {% else %} false {% endif %},

  
  canUpdatePassword: {% if can_update_password %} true {% else %} false {% endif %},
  userStrongPasswordRequired: {% if strong_password_required %} true {% else %} false {% endif %},
  {% if can_update_password %}
  userUnusablePassword: {% if user_unusable_password %} true {% else %} false {% endif %},
  passwordOperationText: {% if user_unusable_password %}"{% trans "Set password" %}"{% else %}"{% trans "Update" %}"{% endif %},
  {% endif %}

  enableWebdavSecret: {% if ENABLE_WEBDAV_SECRET %} true {% else %} false {% endif %},
  {% if ENABLE_WEBDAV_SECRET %}
  webdavPasswd: '{{ webdav_passwd|escapejs }}',
  {% endif %}

  currentLang: {
    langCode: '{{ LANGUAGE_CODE|escapejs }}',
    langName: '{{ LANGUAGE_CODE|language_name_local|capfirst|escapejs }}'
  },
  langList: (function() {
    var list = [];
    {% for LANG in LANGUAGES %}
    list.push({
      langCode: '{{LANG.0|escapejs}}',
      langName: '{{LANG.1|escapejs}}'
    });
    {% endfor %}
    return list;
  })(),

  initialProjectUpdatesEmailInterval: {{ project_updates_email_interval }},
  initialCollaborateEmailInterval: {{ collaborate_email_interval }},

  twoFactorAuthEnabled: {% if two_factor_auth_enabled %} true {% else %} false {% endif %},
  {% if two_factor_auth_enabled %}
  defaultDevice: {% if default_device %} true {% else %} false {% endif %},
  backupTokens: {{backup_tokens}},
  {% endif %}

  langCode: "{{LANGUAGE_CODE|escapejs}}",
  socialNextPage: "{{ social_next_page|escapejs }}",

  orgID: "{{ org_id }}",

  useExternalTeamAdmin: {% if use_external_team_admin %} true {% else %} false {% endif %},

  enableSAML: {% if enable_saml %} true {% else %} false {% endif %},
  {% if enable_saml %}
  samlConnected: {% if saml_connected %} true {% else %} false {% endif %},
  {% endif %}

  canUseSAML: {% if can_use_saml %} true {% else %} false {% endif %},

  enableMultiSAML: {% if enable_multi_saml %} true {% else %} false {% endif %},
  {% if enable_multi_saml or can_use_saml %}
  orgSamlConnected: {% if org_saml_connected %} true {% else %} false {% endif %},
  {% endif %}

  enableConvertToTeamAccount: {% if ENABLE_CONVERT_TO_TEAM_ACCOUNT %} true {% else %} false {% endif %},

  enableDeleteAccount: {% if ENABLE_DELETE_ACCOUNT %} true {% else %} false {% endif %},

  isOrgContext: {% if org is not None %} true {% else %} false {% endif %},
};
</script>
{% render_bundle 'settings' 'js' %}
{% endblock %}
