.dtable-select {
  position: relative;
}

.dtable-select.custom-select {
  display: flex;
  padding: 0 10px;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
}

.dtable-select.custom-select.focus {
  border-color: #1991eb;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.dtable-select.custom-select.focus:hover {
  border-color: #1991eb;
}

.dtable-select.custom-select:hover {
  cursor: pointer;
  border-color: rgb(179, 179, 179);
}
.dtable-select.custom-select.disabled:focus,
.dtable-select.custom-select.focus.disabled,
.dtable-select.custom-select.disabled:hover {
  border-color: rgba(0, 40, 100, 0.12) !important;
  box-shadow: unset;
  cursor: default;
}

.dtable-select .dtable-icon-down3 {
  display: inline-block;
  color: #999;
  transform: translateY(2px);
  transition: all 0.1s;
}

.dtable-select .dtable-icon-down3:hover {
  color: #555;
}

.dtable-select .selected-option {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.dtable-select .selected-option-show {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dtable-select .select-placeholder {
  line-height: 1;
  font-size: 14px;
  color: #666666;
}
