{% extends 'email_base.html' %}

{% load i18n seahub_tags %}

{% block email_con %}

<script type="text/javascript">
    
</script>

<p style="font-size:14px; line-height: 1.5; color:#121214; margin:.2em 0 12px;">{% trans "Hi," %} {{ name }}</p>
<p style="font-size:14px; line-height: 1.5; color:#434144; margin:.2em 0;">
{% blocktrans %}
You've got {{num}} table updates on {{ site_name }}:
{% endblocktrans %}
</p>

<table style="width:100%; margin:12px 0 20px; table-layout:fixed; border-spacing: 0; border-collapse: collapse;">
<tr>
<th width="45%" style="padding: 5px 3px; border-bottom: 1px solid #eee; font-size:13px; text-align: left; font-weight: normal; color: #666;"></th>
<th width="55%" style="padding: 5px 3px; border-bottom: 1px solid #eee; font-size:13px; text-align: left; font-weight: normal; color: #666;"></th>
</tr>

{% autoescape off %}
{% for ele in updates %}
<tr>

<td style="padding: 5px 3px; border-bottom: 1px solid #eee; font-size: 13px; color: #212529; word-wrap: break-word;">
<div>
<span>{{ele.dtable_name}}</span>
</div>
</td>

<td style="padding: 5px 3px; border-bottom: 1px solid #eee; font-size: 13px; color: #212529; word-wrap: break-word;">
{% if ele.insert_row > 0 %}
<span>
{% blocktrans count count=ele.insert_row %}
inserted {{ count }} row
{% plural %}
inserted {{ count }} rows
{% endblocktrans %}
{% if ele.modify_row > 0 or ele.delete_row > 0 %} | {% endif %}
</span>
{% endif %}
{% if ele.modify_row > 0 %}
<span>
{% blocktrans count count=ele.modify_row %}
modified {{ count }} row
{% plural %}
modified {{ count }} rows
{% endblocktrans %}
{% if ele.delete_row > 0 %} | {% endif %}
</span>
{% endif %}
{% if ele.delete_row > 0 %}
<span>
{% blocktrans count count=ele.delete_row %}
deleted {{ count }} row
{% plural %}
deleted {{ count }} rows
{% endblocktrans %}
</span>
{% endif %}
</td>

</tr>
{% endfor %}
{% endautoescape %}

</table>

<p><a href="{{ activities_url }}" target="_blank">{% trans "View details" %}</a></p>

{% endblock %}
