.seaqa-project-ticket-comment {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  gap: 16px;
}

.seaqa-project-ticket-comment:first-child {
  margin-top: 0;
}

.seaqa-project-ticket-comment:not(.d-none-after)::after {
  bottom: -20px;
  content: '';
  left: 16px;
  position: absolute;
  top: 36px;
  width: 1px;
  background-color: var(--bs-border-secondary-color);
}

.seaqa-project-ticket-comment.s:not(.d-none-after)::after {
  left: 28px;
  top: calc(100% + 4px);
}

.seaqa-project-ticket-comment .seaqa-project-ticket-comment-user-avatar,
.seaqa-project-ticket-comment .seaqa-project-ticket-comment-user-avatar img {
  overflow: hidden;
  flex-shrink: 0;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.seaqa-project-ticket-comment .seaqa-project-ticket-comment-container {
  overflow: hidden;
  flex: 1;
  height: fit-content;
  border: 1px solid #ddd;
  border-radius: 8px;
  scroll-margin-top: 16px;
}

.seaqa-project-ticket-comment .seaqa-project-ticket-comment-op {
  height: 38px;
  width: 100%;
  padding: 4px 4px 4px 16px;
  background-color: var(--bs-body-third-bg);
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  line-height: 30px;
  color: #59636e;
}

.seaqa-project-ticket-comment.editing .seaqa-project-ticket-comment-op {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px 4px 16px;
}

.seaqa-project-ticket-comment .seaqa-project-ticket-comment-user-name {
  font-weight: 600;
  color: var(--bs-body-color);
}

.seaqa-project-ticket-comment .seaqa-project-ticket-comment-content {
  display: flex;
  min-height: 40px;
  width: 100%;
}

.seaqa-project-ticket-comment .seaqa-project-ticket-comment-content:not(.editing) .article p:last-child {
  margin-bottom: 0;
}

.seaqa-project-ticket-comment .seaqa-project-ticket-comment-content.editing {
  flex-direction: column;
}

/* small */
.seaqa-project-ticket-comment.s .seaqa-project-ticket-comment-op-log {
  display: inline-flex;
  align-items: center;
}

.seaqa-project-ticket-comment.s .seaqa-project-ticket-comment-user-avatar {
  display: inline-flex;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  line-height: 24px;
}

.seaqa-project-ticket-comment.s .seaqa-project-ticket-comment-user-avatar img {
  height: 24px;
  width: 24px;
}
