.ticket-types-formatter {
  min-height: 38px;
  width: 100%;
  padding: 6px 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  border-radius: 3px;
}

.ticket-types-formatter.valid {
  padding: 5px 0 ;
}

.ticket-types-formatter .option {
  margin-bottom: 4px;
  margin-top: 4px;
}
