.sea-metadata-views { 
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 8px 0 16px;
  overflow: hidden;
}

.sea-metadata-views .sea-metadata-views-nav-container {
  height: 100%;
  margin-right: 8px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  scrollbar-width: none;
  display: inline-flex;
}

.sea-metadata-views .sea-metadata-views-nav-scroll-control {
  display: flex;
  align-items: center;
}

.sea-metadata-views .sea-metadata-views-nav-scroll-control .scroll-active {
  background-color: #efefef;
}
