.sea-metadata-basic-filters-select.sea-qa-customize-select {
  width: fit-content;
  max-width: 100%;
  background-image: none;
  border: none;
  padding: 0 6px;
  margin-left: -6px;
  height: 28px;
}

.sea-metadata-basic-filters-select.sea-qa-customize-select:hover,
.sea-metadata-basic-filters-select.sea-qa-customize-select.highlighted:hover {
  background: var(--bs-hover-bg);
}

.sea-metadata-basic-filters-select.sea-qa-customize-select .selected-option {
  background-color: transparent;
}

.sea-metadata-basic-filters-select.sea-qa-customize-select .selected-option .sea-qa-icon-svg-down,
.sea-metadata-basic-filters-select.sea-metadata-basic-filter-tags-select .sea-qa-icon-svg-down {
  margin-left: 0;
}

.sea-metadata-basic-filters-select.sea-qa-customize-select.focus {
  border-color: unset;
  box-shadow: none;
}

.sea-metadata-basic-filters-select.highlighted .selected-option .selected-option-show,
.sea-metadata-basic-filters-select.highlighted .selected-option .sea-qa-icon-svg-down {
  color: #ed7109;
}

.sea-metadata-basic-filters-select.sea-qa-customize-select .selected-option .selected-option-show {
  width: 100%;
}

.sea-metadata-basic-filters-select .selected-option-show,
.sea-metadata-basic-filters-select .select-placeholder {
  margin-right: 4px;
}

.sea-metadata-basic-filters-select .selected-option .custom-select-dropdown-icon {
  margin-left: 0;
}

.select-basic-filter-option {
  width: 100%;
  display: flex;
  align-items: center;
}

.select-basic-filter-option .select-basic-filter-option-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-basic-filter-option .select-basic-filter-option-check-icon {
  display: inline-flex;
  align-items: center;
  height: 20px;
  width: 20px;
  text-align: center;
  flex-shrink: 0;
  margin-left: 10px;
}

.sea-qa-select-option.active .sea-qa-icon-svg-check-mark {
  color: #fff;
}

.filter-group-basic .sea-metadata-filters-list {
  min-height: unset;
  display: flex;
}

.sea-metadata-table-view-basic-checkbox-select .sea-qa-select-option {
  padding: 0.25rem 1rem;
}

.sea-metadata-table-view-basic-checkbox-select .select-basic-filter-option .select-basic-filter-option-checkbox {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.sea-metadata-table-view-basic-checkbox-select .select-basic-filter-option .select-basic-filter-option-checkbox,
.sea-metadata-table-view-basic-checkbox-select .select-basic-filter-option .select-basic-filter-option-checkbox input {
  cursor: inherit;
}

.sea-metadata-basic-filter-tags-selector {
  width: 400px;
  top: 28px;
  left: unset;
  right: 0;
  z-index: 10001;
}
