.sea-metadata-basic-filters-select.seaqa-customize-select {
  width: fit-content;
  max-width: 100%;
  height: 24px;
}

.sea-metadata-basic-filters-select.seaqa-customize-select:first-child {
  margin-left: -6px;
}

.sea-metadata-basic-filters-select.seaqa-customize-select .seaqa-select-container {
  background-image: none;
  border: none;
  padding: 0;
}

.sea-metadata-basic-filters-select.seaqa-customize-select .selected-option {
  border-radius: 4px;
  height: 100%;
  width: auto;
  line-height: 1.5;
  overflow-x: auto;
  padding: 0 4px;
  gap: 4px;
}

.sea-metadata-basic-filters-select.seaqa-customize-select .selected-option:hover {
  background: var(--bs-hover-bg);
}

.sea-metadata-basic-filters-select.highlighted .selected-option .selected-option-show,
.sea-metadata-basic-filters-select.highlighted .selected-option .seaqa-icon-svg-arrow-down {
  color: var(--bs-sf-orange);
  font-weight: 500;
}

.sea-metadata-basic-filters-select.seaqa-customize-select .selected-option .selected-option-show {
  width: calc(100% - 16px);
}

.filter-group-basic .sea-metadata-filters-list {
  min-height: unset;
  display: flex;
  align-items: center;
  gap: 12px;
}
